/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// DeviceManagementDeviceManagementTroubleshootingEventApiService DeviceManagementDeviceManagementTroubleshootingEventApi service
type DeviceManagementDeviceManagementTroubleshootingEventApiService service

type ApiDeviceManagementCreateTroubleshootingEventsRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementDeviceManagementTroubleshootingEventApiService
	microsoftGraphDeviceManagementTroubleshootingEvent *MicrosoftGraphDeviceManagementTroubleshootingEvent
}

// New navigation property
func (r ApiDeviceManagementCreateTroubleshootingEventsRequest) MicrosoftGraphDeviceManagementTroubleshootingEvent(microsoftGraphDeviceManagementTroubleshootingEvent MicrosoftGraphDeviceManagementTroubleshootingEvent) ApiDeviceManagementCreateTroubleshootingEventsRequest {
	r.microsoftGraphDeviceManagementTroubleshootingEvent = &microsoftGraphDeviceManagementTroubleshootingEvent
	return r
}

func (r ApiDeviceManagementCreateTroubleshootingEventsRequest) Execute() (MicrosoftGraphDeviceManagementTroubleshootingEvent, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementCreateTroubleshootingEventsExecute(r)
}

/*
DeviceManagementCreateTroubleshootingEvents Create new navigation property to troubleshootingEvents for deviceManagement

The list of troubleshooting events for the tenant.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceManagementCreateTroubleshootingEventsRequest
*/
func (a *DeviceManagementDeviceManagementTroubleshootingEventApiService) DeviceManagementCreateTroubleshootingEvents(ctx _context.Context) ApiDeviceManagementCreateTroubleshootingEventsRequest {
	return ApiDeviceManagementCreateTroubleshootingEventsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphDeviceManagementTroubleshootingEvent
func (a *DeviceManagementDeviceManagementTroubleshootingEventApiService) DeviceManagementCreateTroubleshootingEventsExecute(r ApiDeviceManagementCreateTroubleshootingEventsRequest) (MicrosoftGraphDeviceManagementTroubleshootingEvent, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphDeviceManagementTroubleshootingEvent
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementDeviceManagementTroubleshootingEventApiService.DeviceManagementCreateTroubleshootingEvents")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/troubleshootingEvents"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphDeviceManagementTroubleshootingEvent == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphDeviceManagementTroubleshootingEvent is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphDeviceManagementTroubleshootingEvent
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementDeleteTroubleshootingEventsRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementDeviceManagementTroubleshootingEventApiService
	deviceManagementTroubleshootingEventId string
	ifMatch *string
}

// ETag
func (r ApiDeviceManagementDeleteTroubleshootingEventsRequest) IfMatch(ifMatch string) ApiDeviceManagementDeleteTroubleshootingEventsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiDeviceManagementDeleteTroubleshootingEventsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceManagementDeleteTroubleshootingEventsExecute(r)
}

/*
DeviceManagementDeleteTroubleshootingEvents Delete navigation property troubleshootingEvents for deviceManagement

The list of troubleshooting events for the tenant.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param deviceManagementTroubleshootingEventId key: id of deviceManagementTroubleshootingEvent
 @return ApiDeviceManagementDeleteTroubleshootingEventsRequest
*/
func (a *DeviceManagementDeviceManagementTroubleshootingEventApiService) DeviceManagementDeleteTroubleshootingEvents(ctx _context.Context, deviceManagementTroubleshootingEventId string) ApiDeviceManagementDeleteTroubleshootingEventsRequest {
	return ApiDeviceManagementDeleteTroubleshootingEventsRequest{
		ApiService: a,
		ctx: ctx,
		deviceManagementTroubleshootingEventId: deviceManagementTroubleshootingEventId,
	}
}

// Execute executes the request
func (a *DeviceManagementDeviceManagementTroubleshootingEventApiService) DeviceManagementDeleteTroubleshootingEventsExecute(r ApiDeviceManagementDeleteTroubleshootingEventsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementDeviceManagementTroubleshootingEventApiService.DeviceManagementDeleteTroubleshootingEvents")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/troubleshootingEvents/{deviceManagementTroubleshootingEvent-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"deviceManagementTroubleshootingEvent-id"+"}", _neturl.PathEscape(parameterToString(r.deviceManagementTroubleshootingEventId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeviceManagementGetTroubleshootingEventsRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementDeviceManagementTroubleshootingEventApiService
	deviceManagementTroubleshootingEventId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiDeviceManagementGetTroubleshootingEventsRequest) Select_(select_ []string) ApiDeviceManagementGetTroubleshootingEventsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceManagementGetTroubleshootingEventsRequest) Expand(expand []string) ApiDeviceManagementGetTroubleshootingEventsRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceManagementGetTroubleshootingEventsRequest) Execute() (MicrosoftGraphDeviceManagementTroubleshootingEvent, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementGetTroubleshootingEventsExecute(r)
}

/*
DeviceManagementGetTroubleshootingEvents Get troubleshootingEvents from deviceManagement

The list of troubleshooting events for the tenant.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param deviceManagementTroubleshootingEventId key: id of deviceManagementTroubleshootingEvent
 @return ApiDeviceManagementGetTroubleshootingEventsRequest
*/
func (a *DeviceManagementDeviceManagementTroubleshootingEventApiService) DeviceManagementGetTroubleshootingEvents(ctx _context.Context, deviceManagementTroubleshootingEventId string) ApiDeviceManagementGetTroubleshootingEventsRequest {
	return ApiDeviceManagementGetTroubleshootingEventsRequest{
		ApiService: a,
		ctx: ctx,
		deviceManagementTroubleshootingEventId: deviceManagementTroubleshootingEventId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphDeviceManagementTroubleshootingEvent
func (a *DeviceManagementDeviceManagementTroubleshootingEventApiService) DeviceManagementGetTroubleshootingEventsExecute(r ApiDeviceManagementGetTroubleshootingEventsRequest) (MicrosoftGraphDeviceManagementTroubleshootingEvent, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphDeviceManagementTroubleshootingEvent
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementDeviceManagementTroubleshootingEventApiService.DeviceManagementGetTroubleshootingEvents")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/troubleshootingEvents/{deviceManagementTroubleshootingEvent-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"deviceManagementTroubleshootingEvent-id"+"}", _neturl.PathEscape(parameterToString(r.deviceManagementTroubleshootingEventId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementListTroubleshootingEventsRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementDeviceManagementTroubleshootingEventApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiDeviceManagementListTroubleshootingEventsRequest) Top(top int32) ApiDeviceManagementListTroubleshootingEventsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiDeviceManagementListTroubleshootingEventsRequest) Skip(skip int32) ApiDeviceManagementListTroubleshootingEventsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiDeviceManagementListTroubleshootingEventsRequest) Search(search string) ApiDeviceManagementListTroubleshootingEventsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiDeviceManagementListTroubleshootingEventsRequest) Filter(filter string) ApiDeviceManagementListTroubleshootingEventsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiDeviceManagementListTroubleshootingEventsRequest) Count(count bool) ApiDeviceManagementListTroubleshootingEventsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiDeviceManagementListTroubleshootingEventsRequest) Orderby(orderby []string) ApiDeviceManagementListTroubleshootingEventsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiDeviceManagementListTroubleshootingEventsRequest) Select_(select_ []string) ApiDeviceManagementListTroubleshootingEventsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceManagementListTroubleshootingEventsRequest) Expand(expand []string) ApiDeviceManagementListTroubleshootingEventsRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceManagementListTroubleshootingEventsRequest) Execute() (CollectionOfDeviceManagementTroubleshootingEvent, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementListTroubleshootingEventsExecute(r)
}

/*
DeviceManagementListTroubleshootingEvents Get troubleshootingEvents from deviceManagement

The list of troubleshooting events for the tenant.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceManagementListTroubleshootingEventsRequest
*/
func (a *DeviceManagementDeviceManagementTroubleshootingEventApiService) DeviceManagementListTroubleshootingEvents(ctx _context.Context) ApiDeviceManagementListTroubleshootingEventsRequest {
	return ApiDeviceManagementListTroubleshootingEventsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfDeviceManagementTroubleshootingEvent
func (a *DeviceManagementDeviceManagementTroubleshootingEventApiService) DeviceManagementListTroubleshootingEventsExecute(r ApiDeviceManagementListTroubleshootingEventsRequest) (CollectionOfDeviceManagementTroubleshootingEvent, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfDeviceManagementTroubleshootingEvent
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementDeviceManagementTroubleshootingEventApiService.DeviceManagementListTroubleshootingEvents")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/troubleshootingEvents"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementUpdateTroubleshootingEventsRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementDeviceManagementTroubleshootingEventApiService
	deviceManagementTroubleshootingEventId string
	microsoftGraphDeviceManagementTroubleshootingEvent *MicrosoftGraphDeviceManagementTroubleshootingEvent
}

// New navigation property values
func (r ApiDeviceManagementUpdateTroubleshootingEventsRequest) MicrosoftGraphDeviceManagementTroubleshootingEvent(microsoftGraphDeviceManagementTroubleshootingEvent MicrosoftGraphDeviceManagementTroubleshootingEvent) ApiDeviceManagementUpdateTroubleshootingEventsRequest {
	r.microsoftGraphDeviceManagementTroubleshootingEvent = &microsoftGraphDeviceManagementTroubleshootingEvent
	return r
}

func (r ApiDeviceManagementUpdateTroubleshootingEventsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceManagementUpdateTroubleshootingEventsExecute(r)
}

/*
DeviceManagementUpdateTroubleshootingEvents Update the navigation property troubleshootingEvents in deviceManagement

The list of troubleshooting events for the tenant.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param deviceManagementTroubleshootingEventId key: id of deviceManagementTroubleshootingEvent
 @return ApiDeviceManagementUpdateTroubleshootingEventsRequest
*/
func (a *DeviceManagementDeviceManagementTroubleshootingEventApiService) DeviceManagementUpdateTroubleshootingEvents(ctx _context.Context, deviceManagementTroubleshootingEventId string) ApiDeviceManagementUpdateTroubleshootingEventsRequest {
	return ApiDeviceManagementUpdateTroubleshootingEventsRequest{
		ApiService: a,
		ctx: ctx,
		deviceManagementTroubleshootingEventId: deviceManagementTroubleshootingEventId,
	}
}

// Execute executes the request
func (a *DeviceManagementDeviceManagementTroubleshootingEventApiService) DeviceManagementUpdateTroubleshootingEventsExecute(r ApiDeviceManagementUpdateTroubleshootingEventsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementDeviceManagementTroubleshootingEventApiService.DeviceManagementUpdateTroubleshootingEvents")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/troubleshootingEvents/{deviceManagementTroubleshootingEvent-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"deviceManagementTroubleshootingEvent-id"+"}", _neturl.PathEscape(parameterToString(r.deviceManagementTroubleshootingEventId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphDeviceManagementTroubleshootingEvent == nil {
		return nil, reportError("microsoftGraphDeviceManagementTroubleshootingEvent is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphDeviceManagementTroubleshootingEvent
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
