/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// ConnectionsConnectionOperationApiService ConnectionsConnectionOperationApi service
type ConnectionsConnectionOperationApiService service

type ApiConnectionsCreateOperationsRequest struct {
	ctx _context.Context
	ApiService *ConnectionsConnectionOperationApiService
	externalConnectionId string
	microsoftGraphExternalConnectorsConnectionOperation *MicrosoftGraphExternalConnectorsConnectionOperation
}

// New navigation property
func (r ApiConnectionsCreateOperationsRequest) MicrosoftGraphExternalConnectorsConnectionOperation(microsoftGraphExternalConnectorsConnectionOperation MicrosoftGraphExternalConnectorsConnectionOperation) ApiConnectionsCreateOperationsRequest {
	r.microsoftGraphExternalConnectorsConnectionOperation = &microsoftGraphExternalConnectorsConnectionOperation
	return r
}

func (r ApiConnectionsCreateOperationsRequest) Execute() (MicrosoftGraphExternalConnectorsConnectionOperation, *_nethttp.Response, error) {
	return r.ApiService.ConnectionsCreateOperationsExecute(r)
}

/*
ConnectionsCreateOperations Create new navigation property to operations for connections

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param externalConnectionId key: id of externalConnection
 @return ApiConnectionsCreateOperationsRequest
*/
func (a *ConnectionsConnectionOperationApiService) ConnectionsCreateOperations(ctx _context.Context, externalConnectionId string) ApiConnectionsCreateOperationsRequest {
	return ApiConnectionsCreateOperationsRequest{
		ApiService: a,
		ctx: ctx,
		externalConnectionId: externalConnectionId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphExternalConnectorsConnectionOperation
func (a *ConnectionsConnectionOperationApiService) ConnectionsCreateOperationsExecute(r ApiConnectionsCreateOperationsRequest) (MicrosoftGraphExternalConnectorsConnectionOperation, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphExternalConnectorsConnectionOperation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectionsConnectionOperationApiService.ConnectionsCreateOperations")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/connections/{externalConnection-id}/operations"
	localVarPath = strings.Replace(localVarPath, "{"+"externalConnection-id"+"}", _neturl.PathEscape(parameterToString(r.externalConnectionId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphExternalConnectorsConnectionOperation == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphExternalConnectorsConnectionOperation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphExternalConnectorsConnectionOperation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConnectionsDeleteOperationsRequest struct {
	ctx _context.Context
	ApiService *ConnectionsConnectionOperationApiService
	externalConnectionId string
	connectionOperationId string
	ifMatch *string
}

// ETag
func (r ApiConnectionsDeleteOperationsRequest) IfMatch(ifMatch string) ApiConnectionsDeleteOperationsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiConnectionsDeleteOperationsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.ConnectionsDeleteOperationsExecute(r)
}

/*
ConnectionsDeleteOperations Delete navigation property operations for connections

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param externalConnectionId key: id of externalConnection
 @param connectionOperationId key: id of connectionOperation
 @return ApiConnectionsDeleteOperationsRequest
*/
func (a *ConnectionsConnectionOperationApiService) ConnectionsDeleteOperations(ctx _context.Context, externalConnectionId string, connectionOperationId string) ApiConnectionsDeleteOperationsRequest {
	return ApiConnectionsDeleteOperationsRequest{
		ApiService: a,
		ctx: ctx,
		externalConnectionId: externalConnectionId,
		connectionOperationId: connectionOperationId,
	}
}

// Execute executes the request
func (a *ConnectionsConnectionOperationApiService) ConnectionsDeleteOperationsExecute(r ApiConnectionsDeleteOperationsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectionsConnectionOperationApiService.ConnectionsDeleteOperations")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/connections/{externalConnection-id}/operations/{connectionOperation-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"externalConnection-id"+"}", _neturl.PathEscape(parameterToString(r.externalConnectionId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connectionOperation-id"+"}", _neturl.PathEscape(parameterToString(r.connectionOperationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiConnectionsGetOperationsRequest struct {
	ctx _context.Context
	ApiService *ConnectionsConnectionOperationApiService
	externalConnectionId string
	connectionOperationId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiConnectionsGetOperationsRequest) Select_(select_ []string) ApiConnectionsGetOperationsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiConnectionsGetOperationsRequest) Expand(expand []string) ApiConnectionsGetOperationsRequest {
	r.expand = &expand
	return r
}

func (r ApiConnectionsGetOperationsRequest) Execute() (MicrosoftGraphExternalConnectorsConnectionOperation, *_nethttp.Response, error) {
	return r.ApiService.ConnectionsGetOperationsExecute(r)
}

/*
ConnectionsGetOperations Get operations from connections

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param externalConnectionId key: id of externalConnection
 @param connectionOperationId key: id of connectionOperation
 @return ApiConnectionsGetOperationsRequest
*/
func (a *ConnectionsConnectionOperationApiService) ConnectionsGetOperations(ctx _context.Context, externalConnectionId string, connectionOperationId string) ApiConnectionsGetOperationsRequest {
	return ApiConnectionsGetOperationsRequest{
		ApiService: a,
		ctx: ctx,
		externalConnectionId: externalConnectionId,
		connectionOperationId: connectionOperationId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphExternalConnectorsConnectionOperation
func (a *ConnectionsConnectionOperationApiService) ConnectionsGetOperationsExecute(r ApiConnectionsGetOperationsRequest) (MicrosoftGraphExternalConnectorsConnectionOperation, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphExternalConnectorsConnectionOperation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectionsConnectionOperationApiService.ConnectionsGetOperations")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/connections/{externalConnection-id}/operations/{connectionOperation-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"externalConnection-id"+"}", _neturl.PathEscape(parameterToString(r.externalConnectionId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connectionOperation-id"+"}", _neturl.PathEscape(parameterToString(r.connectionOperationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConnectionsListOperationsRequest struct {
	ctx _context.Context
	ApiService *ConnectionsConnectionOperationApiService
	externalConnectionId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiConnectionsListOperationsRequest) Top(top int32) ApiConnectionsListOperationsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiConnectionsListOperationsRequest) Skip(skip int32) ApiConnectionsListOperationsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiConnectionsListOperationsRequest) Search(search string) ApiConnectionsListOperationsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiConnectionsListOperationsRequest) Filter(filter string) ApiConnectionsListOperationsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiConnectionsListOperationsRequest) Count(count bool) ApiConnectionsListOperationsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiConnectionsListOperationsRequest) Orderby(orderby []string) ApiConnectionsListOperationsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiConnectionsListOperationsRequest) Select_(select_ []string) ApiConnectionsListOperationsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiConnectionsListOperationsRequest) Expand(expand []string) ApiConnectionsListOperationsRequest {
	r.expand = &expand
	return r
}

func (r ApiConnectionsListOperationsRequest) Execute() (CollectionOfConnectionOperation, *_nethttp.Response, error) {
	return r.ApiService.ConnectionsListOperationsExecute(r)
}

/*
ConnectionsListOperations Get operations from connections

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param externalConnectionId key: id of externalConnection
 @return ApiConnectionsListOperationsRequest
*/
func (a *ConnectionsConnectionOperationApiService) ConnectionsListOperations(ctx _context.Context, externalConnectionId string) ApiConnectionsListOperationsRequest {
	return ApiConnectionsListOperationsRequest{
		ApiService: a,
		ctx: ctx,
		externalConnectionId: externalConnectionId,
	}
}

// Execute executes the request
//  @return CollectionOfConnectionOperation
func (a *ConnectionsConnectionOperationApiService) ConnectionsListOperationsExecute(r ApiConnectionsListOperationsRequest) (CollectionOfConnectionOperation, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfConnectionOperation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectionsConnectionOperationApiService.ConnectionsListOperations")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/connections/{externalConnection-id}/operations"
	localVarPath = strings.Replace(localVarPath, "{"+"externalConnection-id"+"}", _neturl.PathEscape(parameterToString(r.externalConnectionId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConnectionsUpdateOperationsRequest struct {
	ctx _context.Context
	ApiService *ConnectionsConnectionOperationApiService
	externalConnectionId string
	connectionOperationId string
	microsoftGraphExternalConnectorsConnectionOperation *MicrosoftGraphExternalConnectorsConnectionOperation
}

// New navigation property values
func (r ApiConnectionsUpdateOperationsRequest) MicrosoftGraphExternalConnectorsConnectionOperation(microsoftGraphExternalConnectorsConnectionOperation MicrosoftGraphExternalConnectorsConnectionOperation) ApiConnectionsUpdateOperationsRequest {
	r.microsoftGraphExternalConnectorsConnectionOperation = &microsoftGraphExternalConnectorsConnectionOperation
	return r
}

func (r ApiConnectionsUpdateOperationsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.ConnectionsUpdateOperationsExecute(r)
}

/*
ConnectionsUpdateOperations Update the navigation property operations in connections

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param externalConnectionId key: id of externalConnection
 @param connectionOperationId key: id of connectionOperation
 @return ApiConnectionsUpdateOperationsRequest
*/
func (a *ConnectionsConnectionOperationApiService) ConnectionsUpdateOperations(ctx _context.Context, externalConnectionId string, connectionOperationId string) ApiConnectionsUpdateOperationsRequest {
	return ApiConnectionsUpdateOperationsRequest{
		ApiService: a,
		ctx: ctx,
		externalConnectionId: externalConnectionId,
		connectionOperationId: connectionOperationId,
	}
}

// Execute executes the request
func (a *ConnectionsConnectionOperationApiService) ConnectionsUpdateOperationsExecute(r ApiConnectionsUpdateOperationsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ConnectionsConnectionOperationApiService.ConnectionsUpdateOperations")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/connections/{externalConnection-id}/operations/{connectionOperation-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"externalConnection-id"+"}", _neturl.PathEscape(parameterToString(r.externalConnectionId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connectionOperation-id"+"}", _neturl.PathEscape(parameterToString(r.connectionOperationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphExternalConnectorsConnectionOperation == nil {
		return nil, reportError("microsoftGraphExternalConnectorsConnectionOperation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphExternalConnectorsConnectionOperation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
