/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// IdentityIdentityUserFlowAttributeApiService IdentityIdentityUserFlowAttributeApi service
type IdentityIdentityUserFlowAttributeApiService service

type ApiIdentityCreateUserFlowAttributesRequest struct {
	ctx _context.Context
	ApiService *IdentityIdentityUserFlowAttributeApiService
	microsoftGraphIdentityUserFlowAttribute *MicrosoftGraphIdentityUserFlowAttribute
}

// New navigation property
func (r ApiIdentityCreateUserFlowAttributesRequest) MicrosoftGraphIdentityUserFlowAttribute(microsoftGraphIdentityUserFlowAttribute MicrosoftGraphIdentityUserFlowAttribute) ApiIdentityCreateUserFlowAttributesRequest {
	r.microsoftGraphIdentityUserFlowAttribute = &microsoftGraphIdentityUserFlowAttribute
	return r
}

func (r ApiIdentityCreateUserFlowAttributesRequest) Execute() (MicrosoftGraphIdentityUserFlowAttribute, *_nethttp.Response, error) {
	return r.ApiService.IdentityCreateUserFlowAttributesExecute(r)
}

/*
IdentityCreateUserFlowAttributes Create new navigation property to userFlowAttributes for identity

Represents entry point for identity userflow attributes.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIdentityCreateUserFlowAttributesRequest
*/
func (a *IdentityIdentityUserFlowAttributeApiService) IdentityCreateUserFlowAttributes(ctx _context.Context) ApiIdentityCreateUserFlowAttributesRequest {
	return ApiIdentityCreateUserFlowAttributesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphIdentityUserFlowAttribute
func (a *IdentityIdentityUserFlowAttributeApiService) IdentityCreateUserFlowAttributesExecute(r ApiIdentityCreateUserFlowAttributesRequest) (MicrosoftGraphIdentityUserFlowAttribute, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphIdentityUserFlowAttribute
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityIdentityUserFlowAttributeApiService.IdentityCreateUserFlowAttributes")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/userFlowAttributes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphIdentityUserFlowAttribute == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphIdentityUserFlowAttribute is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphIdentityUserFlowAttribute
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdentityDeleteUserFlowAttributesRequest struct {
	ctx _context.Context
	ApiService *IdentityIdentityUserFlowAttributeApiService
	identityUserFlowAttributeId string
	ifMatch *string
}

// ETag
func (r ApiIdentityDeleteUserFlowAttributesRequest) IfMatch(ifMatch string) ApiIdentityDeleteUserFlowAttributesRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiIdentityDeleteUserFlowAttributesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.IdentityDeleteUserFlowAttributesExecute(r)
}

/*
IdentityDeleteUserFlowAttributes Delete navigation property userFlowAttributes for identity

Represents entry point for identity userflow attributes.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param identityUserFlowAttributeId key: id of identityUserFlowAttribute
 @return ApiIdentityDeleteUserFlowAttributesRequest
*/
func (a *IdentityIdentityUserFlowAttributeApiService) IdentityDeleteUserFlowAttributes(ctx _context.Context, identityUserFlowAttributeId string) ApiIdentityDeleteUserFlowAttributesRequest {
	return ApiIdentityDeleteUserFlowAttributesRequest{
		ApiService: a,
		ctx: ctx,
		identityUserFlowAttributeId: identityUserFlowAttributeId,
	}
}

// Execute executes the request
func (a *IdentityIdentityUserFlowAttributeApiService) IdentityDeleteUserFlowAttributesExecute(r ApiIdentityDeleteUserFlowAttributesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityIdentityUserFlowAttributeApiService.IdentityDeleteUserFlowAttributes")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/userFlowAttributes/{identityUserFlowAttribute-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"identityUserFlowAttribute-id"+"}", _neturl.PathEscape(parameterToString(r.identityUserFlowAttributeId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiIdentityGetUserFlowAttributesRequest struct {
	ctx _context.Context
	ApiService *IdentityIdentityUserFlowAttributeApiService
	identityUserFlowAttributeId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiIdentityGetUserFlowAttributesRequest) Select_(select_ []string) ApiIdentityGetUserFlowAttributesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiIdentityGetUserFlowAttributesRequest) Expand(expand []string) ApiIdentityGetUserFlowAttributesRequest {
	r.expand = &expand
	return r
}

func (r ApiIdentityGetUserFlowAttributesRequest) Execute() (MicrosoftGraphIdentityUserFlowAttribute, *_nethttp.Response, error) {
	return r.ApiService.IdentityGetUserFlowAttributesExecute(r)
}

/*
IdentityGetUserFlowAttributes Get userFlowAttributes from identity

Represents entry point for identity userflow attributes.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param identityUserFlowAttributeId key: id of identityUserFlowAttribute
 @return ApiIdentityGetUserFlowAttributesRequest
*/
func (a *IdentityIdentityUserFlowAttributeApiService) IdentityGetUserFlowAttributes(ctx _context.Context, identityUserFlowAttributeId string) ApiIdentityGetUserFlowAttributesRequest {
	return ApiIdentityGetUserFlowAttributesRequest{
		ApiService: a,
		ctx: ctx,
		identityUserFlowAttributeId: identityUserFlowAttributeId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphIdentityUserFlowAttribute
func (a *IdentityIdentityUserFlowAttributeApiService) IdentityGetUserFlowAttributesExecute(r ApiIdentityGetUserFlowAttributesRequest) (MicrosoftGraphIdentityUserFlowAttribute, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphIdentityUserFlowAttribute
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityIdentityUserFlowAttributeApiService.IdentityGetUserFlowAttributes")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/userFlowAttributes/{identityUserFlowAttribute-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"identityUserFlowAttribute-id"+"}", _neturl.PathEscape(parameterToString(r.identityUserFlowAttributeId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdentityListUserFlowAttributesRequest struct {
	ctx _context.Context
	ApiService *IdentityIdentityUserFlowAttributeApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiIdentityListUserFlowAttributesRequest) Top(top int32) ApiIdentityListUserFlowAttributesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiIdentityListUserFlowAttributesRequest) Skip(skip int32) ApiIdentityListUserFlowAttributesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiIdentityListUserFlowAttributesRequest) Search(search string) ApiIdentityListUserFlowAttributesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiIdentityListUserFlowAttributesRequest) Filter(filter string) ApiIdentityListUserFlowAttributesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiIdentityListUserFlowAttributesRequest) Count(count bool) ApiIdentityListUserFlowAttributesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiIdentityListUserFlowAttributesRequest) Orderby(orderby []string) ApiIdentityListUserFlowAttributesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiIdentityListUserFlowAttributesRequest) Select_(select_ []string) ApiIdentityListUserFlowAttributesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiIdentityListUserFlowAttributesRequest) Expand(expand []string) ApiIdentityListUserFlowAttributesRequest {
	r.expand = &expand
	return r
}

func (r ApiIdentityListUserFlowAttributesRequest) Execute() (CollectionOfIdentityUserFlowAttribute, *_nethttp.Response, error) {
	return r.ApiService.IdentityListUserFlowAttributesExecute(r)
}

/*
IdentityListUserFlowAttributes Get userFlowAttributes from identity

Represents entry point for identity userflow attributes.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIdentityListUserFlowAttributesRequest
*/
func (a *IdentityIdentityUserFlowAttributeApiService) IdentityListUserFlowAttributes(ctx _context.Context) ApiIdentityListUserFlowAttributesRequest {
	return ApiIdentityListUserFlowAttributesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfIdentityUserFlowAttribute
func (a *IdentityIdentityUserFlowAttributeApiService) IdentityListUserFlowAttributesExecute(r ApiIdentityListUserFlowAttributesRequest) (CollectionOfIdentityUserFlowAttribute, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfIdentityUserFlowAttribute
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityIdentityUserFlowAttributeApiService.IdentityListUserFlowAttributes")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/userFlowAttributes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdentityUpdateUserFlowAttributesRequest struct {
	ctx _context.Context
	ApiService *IdentityIdentityUserFlowAttributeApiService
	identityUserFlowAttributeId string
	microsoftGraphIdentityUserFlowAttribute *MicrosoftGraphIdentityUserFlowAttribute
}

// New navigation property values
func (r ApiIdentityUpdateUserFlowAttributesRequest) MicrosoftGraphIdentityUserFlowAttribute(microsoftGraphIdentityUserFlowAttribute MicrosoftGraphIdentityUserFlowAttribute) ApiIdentityUpdateUserFlowAttributesRequest {
	r.microsoftGraphIdentityUserFlowAttribute = &microsoftGraphIdentityUserFlowAttribute
	return r
}

func (r ApiIdentityUpdateUserFlowAttributesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.IdentityUpdateUserFlowAttributesExecute(r)
}

/*
IdentityUpdateUserFlowAttributes Update the navigation property userFlowAttributes in identity

Represents entry point for identity userflow attributes.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param identityUserFlowAttributeId key: id of identityUserFlowAttribute
 @return ApiIdentityUpdateUserFlowAttributesRequest
*/
func (a *IdentityIdentityUserFlowAttributeApiService) IdentityUpdateUserFlowAttributes(ctx _context.Context, identityUserFlowAttributeId string) ApiIdentityUpdateUserFlowAttributesRequest {
	return ApiIdentityUpdateUserFlowAttributesRequest{
		ApiService: a,
		ctx: ctx,
		identityUserFlowAttributeId: identityUserFlowAttributeId,
	}
}

// Execute executes the request
func (a *IdentityIdentityUserFlowAttributeApiService) IdentityUpdateUserFlowAttributesExecute(r ApiIdentityUpdateUserFlowAttributesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityIdentityUserFlowAttributeApiService.IdentityUpdateUserFlowAttributes")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/userFlowAttributes/{identityUserFlowAttribute-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"identityUserFlowAttribute-id"+"}", _neturl.PathEscape(parameterToString(r.identityUserFlowAttributeId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphIdentityUserFlowAttribute == nil {
		return nil, reportError("microsoftGraphIdentityUserFlowAttribute is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphIdentityUserFlowAttribute
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
