/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// WorkbooksThumbnailSetApiService WorkbooksThumbnailSetApi service
type WorkbooksThumbnailSetApiService service

type ApiWorkbooksCreateThumbnailsRequest struct {
	ctx _context.Context
	ApiService *WorkbooksThumbnailSetApiService
	driveItemId string
	microsoftGraphThumbnailSet *MicrosoftGraphThumbnailSet
}

// New navigation property
func (r ApiWorkbooksCreateThumbnailsRequest) MicrosoftGraphThumbnailSet(microsoftGraphThumbnailSet MicrosoftGraphThumbnailSet) ApiWorkbooksCreateThumbnailsRequest {
	r.microsoftGraphThumbnailSet = &microsoftGraphThumbnailSet
	return r
}

func (r ApiWorkbooksCreateThumbnailsRequest) Execute() (MicrosoftGraphThumbnailSet, *_nethttp.Response, error) {
	return r.ApiService.WorkbooksCreateThumbnailsExecute(r)
}

/*
WorkbooksCreateThumbnails Create new navigation property to thumbnails for workbooks

Collection containing [ThumbnailSet][] objects associated with the item. For more info, see [getting thumbnails][]. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param driveItemId key: id of driveItem
 @return ApiWorkbooksCreateThumbnailsRequest
*/
func (a *WorkbooksThumbnailSetApiService) WorkbooksCreateThumbnails(ctx _context.Context, driveItemId string) ApiWorkbooksCreateThumbnailsRequest {
	return ApiWorkbooksCreateThumbnailsRequest{
		ApiService: a,
		ctx: ctx,
		driveItemId: driveItemId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphThumbnailSet
func (a *WorkbooksThumbnailSetApiService) WorkbooksCreateThumbnailsExecute(r ApiWorkbooksCreateThumbnailsRequest) (MicrosoftGraphThumbnailSet, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphThumbnailSet
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkbooksThumbnailSetApiService.WorkbooksCreateThumbnails")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workbooks/{driveItem-id}/thumbnails"
	localVarPath = strings.Replace(localVarPath, "{"+"driveItem-id"+"}", _neturl.PathEscape(parameterToString(r.driveItemId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphThumbnailSet == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphThumbnailSet is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphThumbnailSet
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkbooksDeleteThumbnailsRequest struct {
	ctx _context.Context
	ApiService *WorkbooksThumbnailSetApiService
	driveItemId string
	thumbnailSetId string
	ifMatch *string
}

// ETag
func (r ApiWorkbooksDeleteThumbnailsRequest) IfMatch(ifMatch string) ApiWorkbooksDeleteThumbnailsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiWorkbooksDeleteThumbnailsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.WorkbooksDeleteThumbnailsExecute(r)
}

/*
WorkbooksDeleteThumbnails Delete navigation property thumbnails for workbooks

Collection containing [ThumbnailSet][] objects associated with the item. For more info, see [getting thumbnails][]. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param driveItemId key: id of driveItem
 @param thumbnailSetId key: id of thumbnailSet
 @return ApiWorkbooksDeleteThumbnailsRequest
*/
func (a *WorkbooksThumbnailSetApiService) WorkbooksDeleteThumbnails(ctx _context.Context, driveItemId string, thumbnailSetId string) ApiWorkbooksDeleteThumbnailsRequest {
	return ApiWorkbooksDeleteThumbnailsRequest{
		ApiService: a,
		ctx: ctx,
		driveItemId: driveItemId,
		thumbnailSetId: thumbnailSetId,
	}
}

// Execute executes the request
func (a *WorkbooksThumbnailSetApiService) WorkbooksDeleteThumbnailsExecute(r ApiWorkbooksDeleteThumbnailsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkbooksThumbnailSetApiService.WorkbooksDeleteThumbnails")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workbooks/{driveItem-id}/thumbnails/{thumbnailSet-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"driveItem-id"+"}", _neturl.PathEscape(parameterToString(r.driveItemId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"thumbnailSet-id"+"}", _neturl.PathEscape(parameterToString(r.thumbnailSetId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiWorkbooksGetThumbnailsRequest struct {
	ctx _context.Context
	ApiService *WorkbooksThumbnailSetApiService
	driveItemId string
	thumbnailSetId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiWorkbooksGetThumbnailsRequest) Select_(select_ []string) ApiWorkbooksGetThumbnailsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiWorkbooksGetThumbnailsRequest) Expand(expand []string) ApiWorkbooksGetThumbnailsRequest {
	r.expand = &expand
	return r
}

func (r ApiWorkbooksGetThumbnailsRequest) Execute() (MicrosoftGraphThumbnailSet, *_nethttp.Response, error) {
	return r.ApiService.WorkbooksGetThumbnailsExecute(r)
}

/*
WorkbooksGetThumbnails Get thumbnails from workbooks

Collection containing [ThumbnailSet][] objects associated with the item. For more info, see [getting thumbnails][]. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param driveItemId key: id of driveItem
 @param thumbnailSetId key: id of thumbnailSet
 @return ApiWorkbooksGetThumbnailsRequest
*/
func (a *WorkbooksThumbnailSetApiService) WorkbooksGetThumbnails(ctx _context.Context, driveItemId string, thumbnailSetId string) ApiWorkbooksGetThumbnailsRequest {
	return ApiWorkbooksGetThumbnailsRequest{
		ApiService: a,
		ctx: ctx,
		driveItemId: driveItemId,
		thumbnailSetId: thumbnailSetId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphThumbnailSet
func (a *WorkbooksThumbnailSetApiService) WorkbooksGetThumbnailsExecute(r ApiWorkbooksGetThumbnailsRequest) (MicrosoftGraphThumbnailSet, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphThumbnailSet
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkbooksThumbnailSetApiService.WorkbooksGetThumbnails")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workbooks/{driveItem-id}/thumbnails/{thumbnailSet-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"driveItem-id"+"}", _neturl.PathEscape(parameterToString(r.driveItemId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"thumbnailSet-id"+"}", _neturl.PathEscape(parameterToString(r.thumbnailSetId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkbooksListThumbnailsRequest struct {
	ctx _context.Context
	ApiService *WorkbooksThumbnailSetApiService
	driveItemId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiWorkbooksListThumbnailsRequest) Top(top int32) ApiWorkbooksListThumbnailsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiWorkbooksListThumbnailsRequest) Skip(skip int32) ApiWorkbooksListThumbnailsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiWorkbooksListThumbnailsRequest) Search(search string) ApiWorkbooksListThumbnailsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiWorkbooksListThumbnailsRequest) Filter(filter string) ApiWorkbooksListThumbnailsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiWorkbooksListThumbnailsRequest) Count(count bool) ApiWorkbooksListThumbnailsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiWorkbooksListThumbnailsRequest) Orderby(orderby []string) ApiWorkbooksListThumbnailsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiWorkbooksListThumbnailsRequest) Select_(select_ []string) ApiWorkbooksListThumbnailsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiWorkbooksListThumbnailsRequest) Expand(expand []string) ApiWorkbooksListThumbnailsRequest {
	r.expand = &expand
	return r
}

func (r ApiWorkbooksListThumbnailsRequest) Execute() (CollectionOfThumbnailSet, *_nethttp.Response, error) {
	return r.ApiService.WorkbooksListThumbnailsExecute(r)
}

/*
WorkbooksListThumbnails Get thumbnails from workbooks

Collection containing [ThumbnailSet][] objects associated with the item. For more info, see [getting thumbnails][]. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param driveItemId key: id of driveItem
 @return ApiWorkbooksListThumbnailsRequest
*/
func (a *WorkbooksThumbnailSetApiService) WorkbooksListThumbnails(ctx _context.Context, driveItemId string) ApiWorkbooksListThumbnailsRequest {
	return ApiWorkbooksListThumbnailsRequest{
		ApiService: a,
		ctx: ctx,
		driveItemId: driveItemId,
	}
}

// Execute executes the request
//  @return CollectionOfThumbnailSet
func (a *WorkbooksThumbnailSetApiService) WorkbooksListThumbnailsExecute(r ApiWorkbooksListThumbnailsRequest) (CollectionOfThumbnailSet, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfThumbnailSet
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkbooksThumbnailSetApiService.WorkbooksListThumbnails")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workbooks/{driveItem-id}/thumbnails"
	localVarPath = strings.Replace(localVarPath, "{"+"driveItem-id"+"}", _neturl.PathEscape(parameterToString(r.driveItemId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiWorkbooksUpdateThumbnailsRequest struct {
	ctx _context.Context
	ApiService *WorkbooksThumbnailSetApiService
	driveItemId string
	thumbnailSetId string
	microsoftGraphThumbnailSet *MicrosoftGraphThumbnailSet
}

// New navigation property values
func (r ApiWorkbooksUpdateThumbnailsRequest) MicrosoftGraphThumbnailSet(microsoftGraphThumbnailSet MicrosoftGraphThumbnailSet) ApiWorkbooksUpdateThumbnailsRequest {
	r.microsoftGraphThumbnailSet = &microsoftGraphThumbnailSet
	return r
}

func (r ApiWorkbooksUpdateThumbnailsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.WorkbooksUpdateThumbnailsExecute(r)
}

/*
WorkbooksUpdateThumbnails Update the navigation property thumbnails in workbooks

Collection containing [ThumbnailSet][] objects associated with the item. For more info, see [getting thumbnails][]. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param driveItemId key: id of driveItem
 @param thumbnailSetId key: id of thumbnailSet
 @return ApiWorkbooksUpdateThumbnailsRequest
*/
func (a *WorkbooksThumbnailSetApiService) WorkbooksUpdateThumbnails(ctx _context.Context, driveItemId string, thumbnailSetId string) ApiWorkbooksUpdateThumbnailsRequest {
	return ApiWorkbooksUpdateThumbnailsRequest{
		ApiService: a,
		ctx: ctx,
		driveItemId: driveItemId,
		thumbnailSetId: thumbnailSetId,
	}
}

// Execute executes the request
func (a *WorkbooksThumbnailSetApiService) WorkbooksUpdateThumbnailsExecute(r ApiWorkbooksUpdateThumbnailsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkbooksThumbnailSetApiService.WorkbooksUpdateThumbnails")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workbooks/{driveItem-id}/thumbnails/{thumbnailSet-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"driveItem-id"+"}", _neturl.PathEscape(parameterToString(r.driveItemId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"thumbnailSet-id"+"}", _neturl.PathEscape(parameterToString(r.thumbnailSetId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphThumbnailSet == nil {
		return nil, reportError("microsoftGraphThumbnailSet is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphThumbnailSet
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
