/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// MeDeviceManagementTroubleshootingEventApiService MeDeviceManagementTroubleshootingEventApi service
type MeDeviceManagementTroubleshootingEventApiService service

type ApiMeCreateDeviceManagementTroubleshootingEventsRequest struct {
	ctx _context.Context
	ApiService *MeDeviceManagementTroubleshootingEventApiService
	microsoftGraphDeviceManagementTroubleshootingEvent *MicrosoftGraphDeviceManagementTroubleshootingEvent
}

// New navigation property
func (r ApiMeCreateDeviceManagementTroubleshootingEventsRequest) MicrosoftGraphDeviceManagementTroubleshootingEvent(microsoftGraphDeviceManagementTroubleshootingEvent MicrosoftGraphDeviceManagementTroubleshootingEvent) ApiMeCreateDeviceManagementTroubleshootingEventsRequest {
	r.microsoftGraphDeviceManagementTroubleshootingEvent = &microsoftGraphDeviceManagementTroubleshootingEvent
	return r
}

func (r ApiMeCreateDeviceManagementTroubleshootingEventsRequest) Execute() (MicrosoftGraphDeviceManagementTroubleshootingEvent, *_nethttp.Response, error) {
	return r.ApiService.MeCreateDeviceManagementTroubleshootingEventsExecute(r)
}

/*
MeCreateDeviceManagementTroubleshootingEvents Create new navigation property to deviceManagementTroubleshootingEvents for me

The list of troubleshooting events for this user.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMeCreateDeviceManagementTroubleshootingEventsRequest
*/
func (a *MeDeviceManagementTroubleshootingEventApiService) MeCreateDeviceManagementTroubleshootingEvents(ctx _context.Context) ApiMeCreateDeviceManagementTroubleshootingEventsRequest {
	return ApiMeCreateDeviceManagementTroubleshootingEventsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphDeviceManagementTroubleshootingEvent
func (a *MeDeviceManagementTroubleshootingEventApiService) MeCreateDeviceManagementTroubleshootingEventsExecute(r ApiMeCreateDeviceManagementTroubleshootingEventsRequest) (MicrosoftGraphDeviceManagementTroubleshootingEvent, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphDeviceManagementTroubleshootingEvent
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeDeviceManagementTroubleshootingEventApiService.MeCreateDeviceManagementTroubleshootingEvents")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/deviceManagementTroubleshootingEvents"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphDeviceManagementTroubleshootingEvent == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphDeviceManagementTroubleshootingEvent is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphDeviceManagementTroubleshootingEvent
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeDeleteDeviceManagementTroubleshootingEventsRequest struct {
	ctx _context.Context
	ApiService *MeDeviceManagementTroubleshootingEventApiService
	deviceManagementTroubleshootingEventId string
	ifMatch *string
}

// ETag
func (r ApiMeDeleteDeviceManagementTroubleshootingEventsRequest) IfMatch(ifMatch string) ApiMeDeleteDeviceManagementTroubleshootingEventsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiMeDeleteDeviceManagementTroubleshootingEventsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.MeDeleteDeviceManagementTroubleshootingEventsExecute(r)
}

/*
MeDeleteDeviceManagementTroubleshootingEvents Delete navigation property deviceManagementTroubleshootingEvents for me

The list of troubleshooting events for this user.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param deviceManagementTroubleshootingEventId key: id of deviceManagementTroubleshootingEvent
 @return ApiMeDeleteDeviceManagementTroubleshootingEventsRequest
*/
func (a *MeDeviceManagementTroubleshootingEventApiService) MeDeleteDeviceManagementTroubleshootingEvents(ctx _context.Context, deviceManagementTroubleshootingEventId string) ApiMeDeleteDeviceManagementTroubleshootingEventsRequest {
	return ApiMeDeleteDeviceManagementTroubleshootingEventsRequest{
		ApiService: a,
		ctx: ctx,
		deviceManagementTroubleshootingEventId: deviceManagementTroubleshootingEventId,
	}
}

// Execute executes the request
func (a *MeDeviceManagementTroubleshootingEventApiService) MeDeleteDeviceManagementTroubleshootingEventsExecute(r ApiMeDeleteDeviceManagementTroubleshootingEventsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeDeviceManagementTroubleshootingEventApiService.MeDeleteDeviceManagementTroubleshootingEvents")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/deviceManagementTroubleshootingEvents/{deviceManagementTroubleshootingEvent-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"deviceManagementTroubleshootingEvent-id"+"}", _neturl.PathEscape(parameterToString(r.deviceManagementTroubleshootingEventId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiMeGetDeviceManagementTroubleshootingEventsRequest struct {
	ctx _context.Context
	ApiService *MeDeviceManagementTroubleshootingEventApiService
	deviceManagementTroubleshootingEventId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiMeGetDeviceManagementTroubleshootingEventsRequest) Select_(select_ []string) ApiMeGetDeviceManagementTroubleshootingEventsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiMeGetDeviceManagementTroubleshootingEventsRequest) Expand(expand []string) ApiMeGetDeviceManagementTroubleshootingEventsRequest {
	r.expand = &expand
	return r
}

func (r ApiMeGetDeviceManagementTroubleshootingEventsRequest) Execute() (MicrosoftGraphDeviceManagementTroubleshootingEvent, *_nethttp.Response, error) {
	return r.ApiService.MeGetDeviceManagementTroubleshootingEventsExecute(r)
}

/*
MeGetDeviceManagementTroubleshootingEvents Get deviceManagementTroubleshootingEvents from me

The list of troubleshooting events for this user.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param deviceManagementTroubleshootingEventId key: id of deviceManagementTroubleshootingEvent
 @return ApiMeGetDeviceManagementTroubleshootingEventsRequest
*/
func (a *MeDeviceManagementTroubleshootingEventApiService) MeGetDeviceManagementTroubleshootingEvents(ctx _context.Context, deviceManagementTroubleshootingEventId string) ApiMeGetDeviceManagementTroubleshootingEventsRequest {
	return ApiMeGetDeviceManagementTroubleshootingEventsRequest{
		ApiService: a,
		ctx: ctx,
		deviceManagementTroubleshootingEventId: deviceManagementTroubleshootingEventId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphDeviceManagementTroubleshootingEvent
func (a *MeDeviceManagementTroubleshootingEventApiService) MeGetDeviceManagementTroubleshootingEventsExecute(r ApiMeGetDeviceManagementTroubleshootingEventsRequest) (MicrosoftGraphDeviceManagementTroubleshootingEvent, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphDeviceManagementTroubleshootingEvent
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeDeviceManagementTroubleshootingEventApiService.MeGetDeviceManagementTroubleshootingEvents")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/deviceManagementTroubleshootingEvents/{deviceManagementTroubleshootingEvent-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"deviceManagementTroubleshootingEvent-id"+"}", _neturl.PathEscape(parameterToString(r.deviceManagementTroubleshootingEventId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeListDeviceManagementTroubleshootingEventsRequest struct {
	ctx _context.Context
	ApiService *MeDeviceManagementTroubleshootingEventApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiMeListDeviceManagementTroubleshootingEventsRequest) Top(top int32) ApiMeListDeviceManagementTroubleshootingEventsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiMeListDeviceManagementTroubleshootingEventsRequest) Skip(skip int32) ApiMeListDeviceManagementTroubleshootingEventsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiMeListDeviceManagementTroubleshootingEventsRequest) Search(search string) ApiMeListDeviceManagementTroubleshootingEventsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiMeListDeviceManagementTroubleshootingEventsRequest) Filter(filter string) ApiMeListDeviceManagementTroubleshootingEventsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiMeListDeviceManagementTroubleshootingEventsRequest) Count(count bool) ApiMeListDeviceManagementTroubleshootingEventsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiMeListDeviceManagementTroubleshootingEventsRequest) Orderby(orderby []string) ApiMeListDeviceManagementTroubleshootingEventsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiMeListDeviceManagementTroubleshootingEventsRequest) Select_(select_ []string) ApiMeListDeviceManagementTroubleshootingEventsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiMeListDeviceManagementTroubleshootingEventsRequest) Expand(expand []string) ApiMeListDeviceManagementTroubleshootingEventsRequest {
	r.expand = &expand
	return r
}

func (r ApiMeListDeviceManagementTroubleshootingEventsRequest) Execute() (CollectionOfDeviceManagementTroubleshootingEvent, *_nethttp.Response, error) {
	return r.ApiService.MeListDeviceManagementTroubleshootingEventsExecute(r)
}

/*
MeListDeviceManagementTroubleshootingEvents Get deviceManagementTroubleshootingEvents from me

The list of troubleshooting events for this user.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMeListDeviceManagementTroubleshootingEventsRequest
*/
func (a *MeDeviceManagementTroubleshootingEventApiService) MeListDeviceManagementTroubleshootingEvents(ctx _context.Context) ApiMeListDeviceManagementTroubleshootingEventsRequest {
	return ApiMeListDeviceManagementTroubleshootingEventsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfDeviceManagementTroubleshootingEvent
func (a *MeDeviceManagementTroubleshootingEventApiService) MeListDeviceManagementTroubleshootingEventsExecute(r ApiMeListDeviceManagementTroubleshootingEventsRequest) (CollectionOfDeviceManagementTroubleshootingEvent, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfDeviceManagementTroubleshootingEvent
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeDeviceManagementTroubleshootingEventApiService.MeListDeviceManagementTroubleshootingEvents")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/deviceManagementTroubleshootingEvents"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeUpdateDeviceManagementTroubleshootingEventsRequest struct {
	ctx _context.Context
	ApiService *MeDeviceManagementTroubleshootingEventApiService
	deviceManagementTroubleshootingEventId string
	microsoftGraphDeviceManagementTroubleshootingEvent *MicrosoftGraphDeviceManagementTroubleshootingEvent
}

// New navigation property values
func (r ApiMeUpdateDeviceManagementTroubleshootingEventsRequest) MicrosoftGraphDeviceManagementTroubleshootingEvent(microsoftGraphDeviceManagementTroubleshootingEvent MicrosoftGraphDeviceManagementTroubleshootingEvent) ApiMeUpdateDeviceManagementTroubleshootingEventsRequest {
	r.microsoftGraphDeviceManagementTroubleshootingEvent = &microsoftGraphDeviceManagementTroubleshootingEvent
	return r
}

func (r ApiMeUpdateDeviceManagementTroubleshootingEventsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.MeUpdateDeviceManagementTroubleshootingEventsExecute(r)
}

/*
MeUpdateDeviceManagementTroubleshootingEvents Update the navigation property deviceManagementTroubleshootingEvents in me

The list of troubleshooting events for this user.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param deviceManagementTroubleshootingEventId key: id of deviceManagementTroubleshootingEvent
 @return ApiMeUpdateDeviceManagementTroubleshootingEventsRequest
*/
func (a *MeDeviceManagementTroubleshootingEventApiService) MeUpdateDeviceManagementTroubleshootingEvents(ctx _context.Context, deviceManagementTroubleshootingEventId string) ApiMeUpdateDeviceManagementTroubleshootingEventsRequest {
	return ApiMeUpdateDeviceManagementTroubleshootingEventsRequest{
		ApiService: a,
		ctx: ctx,
		deviceManagementTroubleshootingEventId: deviceManagementTroubleshootingEventId,
	}
}

// Execute executes the request
func (a *MeDeviceManagementTroubleshootingEventApiService) MeUpdateDeviceManagementTroubleshootingEventsExecute(r ApiMeUpdateDeviceManagementTroubleshootingEventsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeDeviceManagementTroubleshootingEventApiService.MeUpdateDeviceManagementTroubleshootingEvents")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/deviceManagementTroubleshootingEvents/{deviceManagementTroubleshootingEvent-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"deviceManagementTroubleshootingEvent-id"+"}", _neturl.PathEscape(parameterToString(r.deviceManagementTroubleshootingEventId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphDeviceManagementTroubleshootingEvent == nil {
		return nil, reportError("microsoftGraphDeviceManagementTroubleshootingEvent is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphDeviceManagementTroubleshootingEvent
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
