/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// UsersManagedAppRegistrationApiService UsersManagedAppRegistrationApi service
type UsersManagedAppRegistrationApiService service

type ApiUsersCreateRefManagedAppRegistrationsRequest struct {
	ctx _context.Context
	ApiService *UsersManagedAppRegistrationApiService
	userId string
	requestBody *map[string]map[string]interface{}
}

// New navigation property ref value
func (r ApiUsersCreateRefManagedAppRegistrationsRequest) RequestBody(requestBody map[string]map[string]interface{}) ApiUsersCreateRefManagedAppRegistrationsRequest {
	r.requestBody = &requestBody
	return r
}

func (r ApiUsersCreateRefManagedAppRegistrationsRequest) Execute() (map[string]interface{}, *_nethttp.Response, error) {
	return r.ApiService.UsersCreateRefManagedAppRegistrationsExecute(r)
}

/*
UsersCreateRefManagedAppRegistrations Create new navigation property ref to managedAppRegistrations for users

Zero or more managed app registrations that belong to the user.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userId key: id of user
 @return ApiUsersCreateRefManagedAppRegistrationsRequest
*/
func (a *UsersManagedAppRegistrationApiService) UsersCreateRefManagedAppRegistrations(ctx _context.Context, userId string) ApiUsersCreateRefManagedAppRegistrationsRequest {
	return ApiUsersCreateRefManagedAppRegistrationsRequest{
		ApiService: a,
		ctx: ctx,
		userId: userId,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *UsersManagedAppRegistrationApiService) UsersCreateRefManagedAppRegistrationsExecute(r ApiUsersCreateRefManagedAppRegistrationsRequest) (map[string]interface{}, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersManagedAppRegistrationApiService.UsersCreateRefManagedAppRegistrations")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/{user-id}/managedAppRegistrations/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"user-id"+"}", _neturl.PathEscape(parameterToString(r.userId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUsersListManagedAppRegistrationsRequest struct {
	ctx _context.Context
	ApiService *UsersManagedAppRegistrationApiService
	userId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiUsersListManagedAppRegistrationsRequest) Top(top int32) ApiUsersListManagedAppRegistrationsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiUsersListManagedAppRegistrationsRequest) Skip(skip int32) ApiUsersListManagedAppRegistrationsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiUsersListManagedAppRegistrationsRequest) Search(search string) ApiUsersListManagedAppRegistrationsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiUsersListManagedAppRegistrationsRequest) Filter(filter string) ApiUsersListManagedAppRegistrationsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiUsersListManagedAppRegistrationsRequest) Count(count bool) ApiUsersListManagedAppRegistrationsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiUsersListManagedAppRegistrationsRequest) Orderby(orderby []string) ApiUsersListManagedAppRegistrationsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiUsersListManagedAppRegistrationsRequest) Select_(select_ []string) ApiUsersListManagedAppRegistrationsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiUsersListManagedAppRegistrationsRequest) Expand(expand []string) ApiUsersListManagedAppRegistrationsRequest {
	r.expand = &expand
	return r
}

func (r ApiUsersListManagedAppRegistrationsRequest) Execute() (CollectionOfManagedAppRegistration, *_nethttp.Response, error) {
	return r.ApiService.UsersListManagedAppRegistrationsExecute(r)
}

/*
UsersListManagedAppRegistrations Get managedAppRegistrations from users

Zero or more managed app registrations that belong to the user.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userId key: id of user
 @return ApiUsersListManagedAppRegistrationsRequest
*/
func (a *UsersManagedAppRegistrationApiService) UsersListManagedAppRegistrations(ctx _context.Context, userId string) ApiUsersListManagedAppRegistrationsRequest {
	return ApiUsersListManagedAppRegistrationsRequest{
		ApiService: a,
		ctx: ctx,
		userId: userId,
	}
}

// Execute executes the request
//  @return CollectionOfManagedAppRegistration
func (a *UsersManagedAppRegistrationApiService) UsersListManagedAppRegistrationsExecute(r ApiUsersListManagedAppRegistrationsRequest) (CollectionOfManagedAppRegistration, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfManagedAppRegistration
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersManagedAppRegistrationApiService.UsersListManagedAppRegistrations")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/{user-id}/managedAppRegistrations"
	localVarPath = strings.Replace(localVarPath, "{"+"user-id"+"}", _neturl.PathEscape(parameterToString(r.userId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUsersListRefManagedAppRegistrationsRequest struct {
	ctx _context.Context
	ApiService *UsersManagedAppRegistrationApiService
	userId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
}

// Show only the first n items
func (r ApiUsersListRefManagedAppRegistrationsRequest) Top(top int32) ApiUsersListRefManagedAppRegistrationsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiUsersListRefManagedAppRegistrationsRequest) Skip(skip int32) ApiUsersListRefManagedAppRegistrationsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiUsersListRefManagedAppRegistrationsRequest) Search(search string) ApiUsersListRefManagedAppRegistrationsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiUsersListRefManagedAppRegistrationsRequest) Filter(filter string) ApiUsersListRefManagedAppRegistrationsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiUsersListRefManagedAppRegistrationsRequest) Count(count bool) ApiUsersListRefManagedAppRegistrationsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiUsersListRefManagedAppRegistrationsRequest) Orderby(orderby []string) ApiUsersListRefManagedAppRegistrationsRequest {
	r.orderby = &orderby
	return r
}

func (r ApiUsersListRefManagedAppRegistrationsRequest) Execute() (CollectionOfLinksOfManagedAppRegistration, *_nethttp.Response, error) {
	return r.ApiService.UsersListRefManagedAppRegistrationsExecute(r)
}

/*
UsersListRefManagedAppRegistrations Get ref of managedAppRegistrations from users

Zero or more managed app registrations that belong to the user.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userId key: id of user
 @return ApiUsersListRefManagedAppRegistrationsRequest
*/
func (a *UsersManagedAppRegistrationApiService) UsersListRefManagedAppRegistrations(ctx _context.Context, userId string) ApiUsersListRefManagedAppRegistrationsRequest {
	return ApiUsersListRefManagedAppRegistrationsRequest{
		ApiService: a,
		ctx: ctx,
		userId: userId,
	}
}

// Execute executes the request
//  @return CollectionOfLinksOfManagedAppRegistration
func (a *UsersManagedAppRegistrationApiService) UsersListRefManagedAppRegistrationsExecute(r ApiUsersListRefManagedAppRegistrationsRequest) (CollectionOfLinksOfManagedAppRegistration, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfLinksOfManagedAppRegistration
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersManagedAppRegistrationApiService.UsersListRefManagedAppRegistrations")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/{user-id}/managedAppRegistrations/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"user-id"+"}", _neturl.PathEscape(parameterToString(r.userId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
