/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// OrganizationOrganizationApiService OrganizationOrganizationApi service
type OrganizationOrganizationApiService service

type ApiOrganizationOrganizationCreateOrganizationRequest struct {
	ctx _context.Context
	ApiService *OrganizationOrganizationApiService
	microsoftGraphOrganization *MicrosoftGraphOrganization
}

// New entity
func (r ApiOrganizationOrganizationCreateOrganizationRequest) MicrosoftGraphOrganization(microsoftGraphOrganization MicrosoftGraphOrganization) ApiOrganizationOrganizationCreateOrganizationRequest {
	r.microsoftGraphOrganization = &microsoftGraphOrganization
	return r
}

func (r ApiOrganizationOrganizationCreateOrganizationRequest) Execute() (MicrosoftGraphOrganization, *_nethttp.Response, error) {
	return r.ApiService.OrganizationOrganizationCreateOrganizationExecute(r)
}

/*
OrganizationOrganizationCreateOrganization Add new entity to organization

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOrganizationOrganizationCreateOrganizationRequest
*/
func (a *OrganizationOrganizationApiService) OrganizationOrganizationCreateOrganization(ctx _context.Context) ApiOrganizationOrganizationCreateOrganizationRequest {
	return ApiOrganizationOrganizationCreateOrganizationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphOrganization
func (a *OrganizationOrganizationApiService) OrganizationOrganizationCreateOrganizationExecute(r ApiOrganizationOrganizationCreateOrganizationRequest) (MicrosoftGraphOrganization, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphOrganization
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationOrganizationApiService.OrganizationOrganizationCreateOrganization")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organization"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphOrganization == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphOrganization is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphOrganization
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOrganizationOrganizationDeleteOrganizationRequest struct {
	ctx _context.Context
	ApiService *OrganizationOrganizationApiService
	organizationId string
	ifMatch *string
}

// ETag
func (r ApiOrganizationOrganizationDeleteOrganizationRequest) IfMatch(ifMatch string) ApiOrganizationOrganizationDeleteOrganizationRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiOrganizationOrganizationDeleteOrganizationRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.OrganizationOrganizationDeleteOrganizationExecute(r)
}

/*
OrganizationOrganizationDeleteOrganization Delete entity from organization

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId key: id of organization
 @return ApiOrganizationOrganizationDeleteOrganizationRequest
*/
func (a *OrganizationOrganizationApiService) OrganizationOrganizationDeleteOrganization(ctx _context.Context, organizationId string) ApiOrganizationOrganizationDeleteOrganizationRequest {
	return ApiOrganizationOrganizationDeleteOrganizationRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
func (a *OrganizationOrganizationApiService) OrganizationOrganizationDeleteOrganizationExecute(r ApiOrganizationOrganizationDeleteOrganizationRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationOrganizationApiService.OrganizationOrganizationDeleteOrganization")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organization/{organization-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"organization-id"+"}", _neturl.PathEscape(parameterToString(r.organizationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiOrganizationOrganizationGetOrganizationRequest struct {
	ctx _context.Context
	ApiService *OrganizationOrganizationApiService
	organizationId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiOrganizationOrganizationGetOrganizationRequest) Select_(select_ []string) ApiOrganizationOrganizationGetOrganizationRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiOrganizationOrganizationGetOrganizationRequest) Expand(expand []string) ApiOrganizationOrganizationGetOrganizationRequest {
	r.expand = &expand
	return r
}

func (r ApiOrganizationOrganizationGetOrganizationRequest) Execute() (MicrosoftGraphOrganization, *_nethttp.Response, error) {
	return r.ApiService.OrganizationOrganizationGetOrganizationExecute(r)
}

/*
OrganizationOrganizationGetOrganization Get entity from organization by key

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId key: id of organization
 @return ApiOrganizationOrganizationGetOrganizationRequest
*/
func (a *OrganizationOrganizationApiService) OrganizationOrganizationGetOrganization(ctx _context.Context, organizationId string) ApiOrganizationOrganizationGetOrganizationRequest {
	return ApiOrganizationOrganizationGetOrganizationRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphOrganization
func (a *OrganizationOrganizationApiService) OrganizationOrganizationGetOrganizationExecute(r ApiOrganizationOrganizationGetOrganizationRequest) (MicrosoftGraphOrganization, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphOrganization
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationOrganizationApiService.OrganizationOrganizationGetOrganization")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organization/{organization-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"organization-id"+"}", _neturl.PathEscape(parameterToString(r.organizationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOrganizationOrganizationListOrganizationRequest struct {
	ctx _context.Context
	ApiService *OrganizationOrganizationApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiOrganizationOrganizationListOrganizationRequest) Top(top int32) ApiOrganizationOrganizationListOrganizationRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiOrganizationOrganizationListOrganizationRequest) Skip(skip int32) ApiOrganizationOrganizationListOrganizationRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiOrganizationOrganizationListOrganizationRequest) Search(search string) ApiOrganizationOrganizationListOrganizationRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiOrganizationOrganizationListOrganizationRequest) Filter(filter string) ApiOrganizationOrganizationListOrganizationRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiOrganizationOrganizationListOrganizationRequest) Count(count bool) ApiOrganizationOrganizationListOrganizationRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiOrganizationOrganizationListOrganizationRequest) Orderby(orderby []string) ApiOrganizationOrganizationListOrganizationRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiOrganizationOrganizationListOrganizationRequest) Select_(select_ []string) ApiOrganizationOrganizationListOrganizationRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiOrganizationOrganizationListOrganizationRequest) Expand(expand []string) ApiOrganizationOrganizationListOrganizationRequest {
	r.expand = &expand
	return r
}

func (r ApiOrganizationOrganizationListOrganizationRequest) Execute() (CollectionOfOrganization, *_nethttp.Response, error) {
	return r.ApiService.OrganizationOrganizationListOrganizationExecute(r)
}

/*
OrganizationOrganizationListOrganization Get entities from organization

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOrganizationOrganizationListOrganizationRequest
*/
func (a *OrganizationOrganizationApiService) OrganizationOrganizationListOrganization(ctx _context.Context) ApiOrganizationOrganizationListOrganizationRequest {
	return ApiOrganizationOrganizationListOrganizationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfOrganization
func (a *OrganizationOrganizationApiService) OrganizationOrganizationListOrganizationExecute(r ApiOrganizationOrganizationListOrganizationRequest) (CollectionOfOrganization, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfOrganization
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationOrganizationApiService.OrganizationOrganizationListOrganization")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organization"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOrganizationOrganizationUpdateOrganizationRequest struct {
	ctx _context.Context
	ApiService *OrganizationOrganizationApiService
	organizationId string
	microsoftGraphOrganization *MicrosoftGraphOrganization
}

// New property values
func (r ApiOrganizationOrganizationUpdateOrganizationRequest) MicrosoftGraphOrganization(microsoftGraphOrganization MicrosoftGraphOrganization) ApiOrganizationOrganizationUpdateOrganizationRequest {
	r.microsoftGraphOrganization = &microsoftGraphOrganization
	return r
}

func (r ApiOrganizationOrganizationUpdateOrganizationRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.OrganizationOrganizationUpdateOrganizationExecute(r)
}

/*
OrganizationOrganizationUpdateOrganization Update entity in organization

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId key: id of organization
 @return ApiOrganizationOrganizationUpdateOrganizationRequest
*/
func (a *OrganizationOrganizationApiService) OrganizationOrganizationUpdateOrganization(ctx _context.Context, organizationId string) ApiOrganizationOrganizationUpdateOrganizationRequest {
	return ApiOrganizationOrganizationUpdateOrganizationRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
func (a *OrganizationOrganizationApiService) OrganizationOrganizationUpdateOrganizationExecute(r ApiOrganizationOrganizationUpdateOrganizationRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrganizationOrganizationApiService.OrganizationOrganizationUpdateOrganization")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organization/{organization-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"organization-id"+"}", _neturl.PathEscape(parameterToString(r.organizationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphOrganization == nil {
		return nil, reportError("microsoftGraphOrganization is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphOrganization
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
