/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// PlacesPlaceApiService PlacesPlaceApi service
type PlacesPlaceApiService service

type ApiPlacesPlaceCreatePlaceRequest struct {
	ctx _context.Context
	ApiService *PlacesPlaceApiService
	microsoftGraphPlace *MicrosoftGraphPlace
}

// New entity
func (r ApiPlacesPlaceCreatePlaceRequest) MicrosoftGraphPlace(microsoftGraphPlace MicrosoftGraphPlace) ApiPlacesPlaceCreatePlaceRequest {
	r.microsoftGraphPlace = &microsoftGraphPlace
	return r
}

func (r ApiPlacesPlaceCreatePlaceRequest) Execute() (MicrosoftGraphPlace, *_nethttp.Response, error) {
	return r.ApiService.PlacesPlaceCreatePlaceExecute(r)
}

/*
PlacesPlaceCreatePlace Add new entity to places

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPlacesPlaceCreatePlaceRequest
*/
func (a *PlacesPlaceApiService) PlacesPlaceCreatePlace(ctx _context.Context) ApiPlacesPlaceCreatePlaceRequest {
	return ApiPlacesPlaceCreatePlaceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphPlace
func (a *PlacesPlaceApiService) PlacesPlaceCreatePlaceExecute(r ApiPlacesPlaceCreatePlaceRequest) (MicrosoftGraphPlace, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphPlace
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlacesPlaceApiService.PlacesPlaceCreatePlace")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/places"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphPlace == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphPlace is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphPlace
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPlacesPlaceDeletePlaceRequest struct {
	ctx _context.Context
	ApiService *PlacesPlaceApiService
	placeId string
	ifMatch *string
}

// ETag
func (r ApiPlacesPlaceDeletePlaceRequest) IfMatch(ifMatch string) ApiPlacesPlaceDeletePlaceRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiPlacesPlaceDeletePlaceRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.PlacesPlaceDeletePlaceExecute(r)
}

/*
PlacesPlaceDeletePlace Delete entity from places

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param placeId key: id of place
 @return ApiPlacesPlaceDeletePlaceRequest
*/
func (a *PlacesPlaceApiService) PlacesPlaceDeletePlace(ctx _context.Context, placeId string) ApiPlacesPlaceDeletePlaceRequest {
	return ApiPlacesPlaceDeletePlaceRequest{
		ApiService: a,
		ctx: ctx,
		placeId: placeId,
	}
}

// Execute executes the request
func (a *PlacesPlaceApiService) PlacesPlaceDeletePlaceExecute(r ApiPlacesPlaceDeletePlaceRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlacesPlaceApiService.PlacesPlaceDeletePlace")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/places/{place-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"place-id"+"}", _neturl.PathEscape(parameterToString(r.placeId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPlacesPlaceGetPlaceRequest struct {
	ctx _context.Context
	ApiService *PlacesPlaceApiService
	placeId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiPlacesPlaceGetPlaceRequest) Select_(select_ []string) ApiPlacesPlaceGetPlaceRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiPlacesPlaceGetPlaceRequest) Expand(expand []string) ApiPlacesPlaceGetPlaceRequest {
	r.expand = &expand
	return r
}

func (r ApiPlacesPlaceGetPlaceRequest) Execute() (MicrosoftGraphPlace, *_nethttp.Response, error) {
	return r.ApiService.PlacesPlaceGetPlaceExecute(r)
}

/*
PlacesPlaceGetPlace Get entity from places by key

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param placeId key: id of place
 @return ApiPlacesPlaceGetPlaceRequest
*/
func (a *PlacesPlaceApiService) PlacesPlaceGetPlace(ctx _context.Context, placeId string) ApiPlacesPlaceGetPlaceRequest {
	return ApiPlacesPlaceGetPlaceRequest{
		ApiService: a,
		ctx: ctx,
		placeId: placeId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphPlace
func (a *PlacesPlaceApiService) PlacesPlaceGetPlaceExecute(r ApiPlacesPlaceGetPlaceRequest) (MicrosoftGraphPlace, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphPlace
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlacesPlaceApiService.PlacesPlaceGetPlace")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/places/{place-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"place-id"+"}", _neturl.PathEscape(parameterToString(r.placeId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPlacesPlaceListPlaceRequest struct {
	ctx _context.Context
	ApiService *PlacesPlaceApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiPlacesPlaceListPlaceRequest) Top(top int32) ApiPlacesPlaceListPlaceRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiPlacesPlaceListPlaceRequest) Skip(skip int32) ApiPlacesPlaceListPlaceRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiPlacesPlaceListPlaceRequest) Search(search string) ApiPlacesPlaceListPlaceRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiPlacesPlaceListPlaceRequest) Filter(filter string) ApiPlacesPlaceListPlaceRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiPlacesPlaceListPlaceRequest) Count(count bool) ApiPlacesPlaceListPlaceRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiPlacesPlaceListPlaceRequest) Orderby(orderby []string) ApiPlacesPlaceListPlaceRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiPlacesPlaceListPlaceRequest) Select_(select_ []string) ApiPlacesPlaceListPlaceRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiPlacesPlaceListPlaceRequest) Expand(expand []string) ApiPlacesPlaceListPlaceRequest {
	r.expand = &expand
	return r
}

func (r ApiPlacesPlaceListPlaceRequest) Execute() (CollectionOfPlace, *_nethttp.Response, error) {
	return r.ApiService.PlacesPlaceListPlaceExecute(r)
}

/*
PlacesPlaceListPlace Get entities from places

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPlacesPlaceListPlaceRequest
*/
func (a *PlacesPlaceApiService) PlacesPlaceListPlace(ctx _context.Context) ApiPlacesPlaceListPlaceRequest {
	return ApiPlacesPlaceListPlaceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfPlace
func (a *PlacesPlaceApiService) PlacesPlaceListPlaceExecute(r ApiPlacesPlaceListPlaceRequest) (CollectionOfPlace, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfPlace
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlacesPlaceApiService.PlacesPlaceListPlace")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/places"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPlacesPlaceUpdatePlaceRequest struct {
	ctx _context.Context
	ApiService *PlacesPlaceApiService
	placeId string
	microsoftGraphPlace *MicrosoftGraphPlace
}

// New property values
func (r ApiPlacesPlaceUpdatePlaceRequest) MicrosoftGraphPlace(microsoftGraphPlace MicrosoftGraphPlace) ApiPlacesPlaceUpdatePlaceRequest {
	r.microsoftGraphPlace = &microsoftGraphPlace
	return r
}

func (r ApiPlacesPlaceUpdatePlaceRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.PlacesPlaceUpdatePlaceExecute(r)
}

/*
PlacesPlaceUpdatePlace Update entity in places

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param placeId key: id of place
 @return ApiPlacesPlaceUpdatePlaceRequest
*/
func (a *PlacesPlaceApiService) PlacesPlaceUpdatePlace(ctx _context.Context, placeId string) ApiPlacesPlaceUpdatePlaceRequest {
	return ApiPlacesPlaceUpdatePlaceRequest{
		ApiService: a,
		ctx: ctx,
		placeId: placeId,
	}
}

// Execute executes the request
func (a *PlacesPlaceApiService) PlacesPlaceUpdatePlaceExecute(r ApiPlacesPlaceUpdatePlaceRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlacesPlaceApiService.PlacesPlaceUpdatePlace")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/places/{place-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"place-id"+"}", _neturl.PathEscape(parameterToString(r.placeId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphPlace == nil {
		return nil, reportError("microsoftGraphPlace is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphPlace
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
