/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// MeAppRoleAssignmentApiService MeAppRoleAssignmentApi service
type MeAppRoleAssignmentApiService service

type ApiMeCreateAppRoleAssignmentsRequest struct {
	ctx _context.Context
	ApiService *MeAppRoleAssignmentApiService
	microsoftGraphAppRoleAssignment *MicrosoftGraphAppRoleAssignment
}

// New navigation property
func (r ApiMeCreateAppRoleAssignmentsRequest) MicrosoftGraphAppRoleAssignment(microsoftGraphAppRoleAssignment MicrosoftGraphAppRoleAssignment) ApiMeCreateAppRoleAssignmentsRequest {
	r.microsoftGraphAppRoleAssignment = &microsoftGraphAppRoleAssignment
	return r
}

func (r ApiMeCreateAppRoleAssignmentsRequest) Execute() (MicrosoftGraphAppRoleAssignment, *_nethttp.Response, error) {
	return r.ApiService.MeCreateAppRoleAssignmentsExecute(r)
}

/*
MeCreateAppRoleAssignments Create new navigation property to appRoleAssignments for me

Represents the app roles a user has been granted for an application. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMeCreateAppRoleAssignmentsRequest
*/
func (a *MeAppRoleAssignmentApiService) MeCreateAppRoleAssignments(ctx _context.Context) ApiMeCreateAppRoleAssignmentsRequest {
	return ApiMeCreateAppRoleAssignmentsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphAppRoleAssignment
func (a *MeAppRoleAssignmentApiService) MeCreateAppRoleAssignmentsExecute(r ApiMeCreateAppRoleAssignmentsRequest) (MicrosoftGraphAppRoleAssignment, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphAppRoleAssignment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeAppRoleAssignmentApiService.MeCreateAppRoleAssignments")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/appRoleAssignments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphAppRoleAssignment == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphAppRoleAssignment is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphAppRoleAssignment
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeDeleteAppRoleAssignmentsRequest struct {
	ctx _context.Context
	ApiService *MeAppRoleAssignmentApiService
	appRoleAssignmentId string
	ifMatch *string
}

// ETag
func (r ApiMeDeleteAppRoleAssignmentsRequest) IfMatch(ifMatch string) ApiMeDeleteAppRoleAssignmentsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiMeDeleteAppRoleAssignmentsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.MeDeleteAppRoleAssignmentsExecute(r)
}

/*
MeDeleteAppRoleAssignments Delete navigation property appRoleAssignments for me

Represents the app roles a user has been granted for an application. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appRoleAssignmentId key: id of appRoleAssignment
 @return ApiMeDeleteAppRoleAssignmentsRequest
*/
func (a *MeAppRoleAssignmentApiService) MeDeleteAppRoleAssignments(ctx _context.Context, appRoleAssignmentId string) ApiMeDeleteAppRoleAssignmentsRequest {
	return ApiMeDeleteAppRoleAssignmentsRequest{
		ApiService: a,
		ctx: ctx,
		appRoleAssignmentId: appRoleAssignmentId,
	}
}

// Execute executes the request
func (a *MeAppRoleAssignmentApiService) MeDeleteAppRoleAssignmentsExecute(r ApiMeDeleteAppRoleAssignmentsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeAppRoleAssignmentApiService.MeDeleteAppRoleAssignments")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/appRoleAssignments/{appRoleAssignment-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"appRoleAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.appRoleAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiMeGetAppRoleAssignmentsRequest struct {
	ctx _context.Context
	ApiService *MeAppRoleAssignmentApiService
	appRoleAssignmentId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiMeGetAppRoleAssignmentsRequest) Select_(select_ []string) ApiMeGetAppRoleAssignmentsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiMeGetAppRoleAssignmentsRequest) Expand(expand []string) ApiMeGetAppRoleAssignmentsRequest {
	r.expand = &expand
	return r
}

func (r ApiMeGetAppRoleAssignmentsRequest) Execute() (MicrosoftGraphAppRoleAssignment, *_nethttp.Response, error) {
	return r.ApiService.MeGetAppRoleAssignmentsExecute(r)
}

/*
MeGetAppRoleAssignments Get appRoleAssignments from me

Represents the app roles a user has been granted for an application. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appRoleAssignmentId key: id of appRoleAssignment
 @return ApiMeGetAppRoleAssignmentsRequest
*/
func (a *MeAppRoleAssignmentApiService) MeGetAppRoleAssignments(ctx _context.Context, appRoleAssignmentId string) ApiMeGetAppRoleAssignmentsRequest {
	return ApiMeGetAppRoleAssignmentsRequest{
		ApiService: a,
		ctx: ctx,
		appRoleAssignmentId: appRoleAssignmentId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphAppRoleAssignment
func (a *MeAppRoleAssignmentApiService) MeGetAppRoleAssignmentsExecute(r ApiMeGetAppRoleAssignmentsRequest) (MicrosoftGraphAppRoleAssignment, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphAppRoleAssignment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeAppRoleAssignmentApiService.MeGetAppRoleAssignments")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/appRoleAssignments/{appRoleAssignment-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"appRoleAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.appRoleAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeListAppRoleAssignmentsRequest struct {
	ctx _context.Context
	ApiService *MeAppRoleAssignmentApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiMeListAppRoleAssignmentsRequest) Top(top int32) ApiMeListAppRoleAssignmentsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiMeListAppRoleAssignmentsRequest) Skip(skip int32) ApiMeListAppRoleAssignmentsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiMeListAppRoleAssignmentsRequest) Search(search string) ApiMeListAppRoleAssignmentsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiMeListAppRoleAssignmentsRequest) Filter(filter string) ApiMeListAppRoleAssignmentsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiMeListAppRoleAssignmentsRequest) Count(count bool) ApiMeListAppRoleAssignmentsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiMeListAppRoleAssignmentsRequest) Orderby(orderby []string) ApiMeListAppRoleAssignmentsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiMeListAppRoleAssignmentsRequest) Select_(select_ []string) ApiMeListAppRoleAssignmentsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiMeListAppRoleAssignmentsRequest) Expand(expand []string) ApiMeListAppRoleAssignmentsRequest {
	r.expand = &expand
	return r
}

func (r ApiMeListAppRoleAssignmentsRequest) Execute() (CollectionOfAppRoleAssignment, *_nethttp.Response, error) {
	return r.ApiService.MeListAppRoleAssignmentsExecute(r)
}

/*
MeListAppRoleAssignments Get appRoleAssignments from me

Represents the app roles a user has been granted for an application. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMeListAppRoleAssignmentsRequest
*/
func (a *MeAppRoleAssignmentApiService) MeListAppRoleAssignments(ctx _context.Context) ApiMeListAppRoleAssignmentsRequest {
	return ApiMeListAppRoleAssignmentsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfAppRoleAssignment
func (a *MeAppRoleAssignmentApiService) MeListAppRoleAssignmentsExecute(r ApiMeListAppRoleAssignmentsRequest) (CollectionOfAppRoleAssignment, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfAppRoleAssignment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeAppRoleAssignmentApiService.MeListAppRoleAssignments")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/appRoleAssignments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeUpdateAppRoleAssignmentsRequest struct {
	ctx _context.Context
	ApiService *MeAppRoleAssignmentApiService
	appRoleAssignmentId string
	microsoftGraphAppRoleAssignment *MicrosoftGraphAppRoleAssignment
}

// New navigation property values
func (r ApiMeUpdateAppRoleAssignmentsRequest) MicrosoftGraphAppRoleAssignment(microsoftGraphAppRoleAssignment MicrosoftGraphAppRoleAssignment) ApiMeUpdateAppRoleAssignmentsRequest {
	r.microsoftGraphAppRoleAssignment = &microsoftGraphAppRoleAssignment
	return r
}

func (r ApiMeUpdateAppRoleAssignmentsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.MeUpdateAppRoleAssignmentsExecute(r)
}

/*
MeUpdateAppRoleAssignments Update the navigation property appRoleAssignments in me

Represents the app roles a user has been granted for an application. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appRoleAssignmentId key: id of appRoleAssignment
 @return ApiMeUpdateAppRoleAssignmentsRequest
*/
func (a *MeAppRoleAssignmentApiService) MeUpdateAppRoleAssignments(ctx _context.Context, appRoleAssignmentId string) ApiMeUpdateAppRoleAssignmentsRequest {
	return ApiMeUpdateAppRoleAssignmentsRequest{
		ApiService: a,
		ctx: ctx,
		appRoleAssignmentId: appRoleAssignmentId,
	}
}

// Execute executes the request
func (a *MeAppRoleAssignmentApiService) MeUpdateAppRoleAssignmentsExecute(r ApiMeUpdateAppRoleAssignmentsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeAppRoleAssignmentApiService.MeUpdateAppRoleAssignments")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/appRoleAssignments/{appRoleAssignment-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"appRoleAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.appRoleAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphAppRoleAssignment == nil {
		return nil, reportError("microsoftGraphAppRoleAssignment is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphAppRoleAssignment
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
