/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// DeviceManagementWindowsInformationProtectionAppLearningSummaryApiService DeviceManagementWindowsInformationProtectionAppLearningSummaryApi service
type DeviceManagementWindowsInformationProtectionAppLearningSummaryApiService service

type ApiDeviceManagementCreateWindowsInformationProtectionAppLearningSummariesRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementWindowsInformationProtectionAppLearningSummaryApiService
	microsoftGraphWindowsInformationProtectionAppLearningSummary *MicrosoftGraphWindowsInformationProtectionAppLearningSummary
}

// New navigation property
func (r ApiDeviceManagementCreateWindowsInformationProtectionAppLearningSummariesRequest) MicrosoftGraphWindowsInformationProtectionAppLearningSummary(microsoftGraphWindowsInformationProtectionAppLearningSummary MicrosoftGraphWindowsInformationProtectionAppLearningSummary) ApiDeviceManagementCreateWindowsInformationProtectionAppLearningSummariesRequest {
	r.microsoftGraphWindowsInformationProtectionAppLearningSummary = &microsoftGraphWindowsInformationProtectionAppLearningSummary
	return r
}

func (r ApiDeviceManagementCreateWindowsInformationProtectionAppLearningSummariesRequest) Execute() (MicrosoftGraphWindowsInformationProtectionAppLearningSummary, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementCreateWindowsInformationProtectionAppLearningSummariesExecute(r)
}

/*
DeviceManagementCreateWindowsInformationProtectionAppLearningSummaries Create new navigation property to windowsInformationProtectionAppLearningSummaries for deviceManagement

The windows information protection app learning summaries.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceManagementCreateWindowsInformationProtectionAppLearningSummariesRequest
*/
func (a *DeviceManagementWindowsInformationProtectionAppLearningSummaryApiService) DeviceManagementCreateWindowsInformationProtectionAppLearningSummaries(ctx _context.Context) ApiDeviceManagementCreateWindowsInformationProtectionAppLearningSummariesRequest {
	return ApiDeviceManagementCreateWindowsInformationProtectionAppLearningSummariesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphWindowsInformationProtectionAppLearningSummary
func (a *DeviceManagementWindowsInformationProtectionAppLearningSummaryApiService) DeviceManagementCreateWindowsInformationProtectionAppLearningSummariesExecute(r ApiDeviceManagementCreateWindowsInformationProtectionAppLearningSummariesRequest) (MicrosoftGraphWindowsInformationProtectionAppLearningSummary, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphWindowsInformationProtectionAppLearningSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementWindowsInformationProtectionAppLearningSummaryApiService.DeviceManagementCreateWindowsInformationProtectionAppLearningSummaries")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/windowsInformationProtectionAppLearningSummaries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphWindowsInformationProtectionAppLearningSummary == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphWindowsInformationProtectionAppLearningSummary is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphWindowsInformationProtectionAppLearningSummary
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementDeleteWindowsInformationProtectionAppLearningSummariesRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementWindowsInformationProtectionAppLearningSummaryApiService
	windowsInformationProtectionAppLearningSummaryId string
	ifMatch *string
}

// ETag
func (r ApiDeviceManagementDeleteWindowsInformationProtectionAppLearningSummariesRequest) IfMatch(ifMatch string) ApiDeviceManagementDeleteWindowsInformationProtectionAppLearningSummariesRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiDeviceManagementDeleteWindowsInformationProtectionAppLearningSummariesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceManagementDeleteWindowsInformationProtectionAppLearningSummariesExecute(r)
}

/*
DeviceManagementDeleteWindowsInformationProtectionAppLearningSummaries Delete navigation property windowsInformationProtectionAppLearningSummaries for deviceManagement

The windows information protection app learning summaries.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param windowsInformationProtectionAppLearningSummaryId key: id of windowsInformationProtectionAppLearningSummary
 @return ApiDeviceManagementDeleteWindowsInformationProtectionAppLearningSummariesRequest
*/
func (a *DeviceManagementWindowsInformationProtectionAppLearningSummaryApiService) DeviceManagementDeleteWindowsInformationProtectionAppLearningSummaries(ctx _context.Context, windowsInformationProtectionAppLearningSummaryId string) ApiDeviceManagementDeleteWindowsInformationProtectionAppLearningSummariesRequest {
	return ApiDeviceManagementDeleteWindowsInformationProtectionAppLearningSummariesRequest{
		ApiService: a,
		ctx: ctx,
		windowsInformationProtectionAppLearningSummaryId: windowsInformationProtectionAppLearningSummaryId,
	}
}

// Execute executes the request
func (a *DeviceManagementWindowsInformationProtectionAppLearningSummaryApiService) DeviceManagementDeleteWindowsInformationProtectionAppLearningSummariesExecute(r ApiDeviceManagementDeleteWindowsInformationProtectionAppLearningSummariesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementWindowsInformationProtectionAppLearningSummaryApiService.DeviceManagementDeleteWindowsInformationProtectionAppLearningSummaries")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/windowsInformationProtectionAppLearningSummaries/{windowsInformationProtectionAppLearningSummary-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"windowsInformationProtectionAppLearningSummary-id"+"}", _neturl.PathEscape(parameterToString(r.windowsInformationProtectionAppLearningSummaryId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeviceManagementGetWindowsInformationProtectionAppLearningSummariesRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementWindowsInformationProtectionAppLearningSummaryApiService
	windowsInformationProtectionAppLearningSummaryId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiDeviceManagementGetWindowsInformationProtectionAppLearningSummariesRequest) Select_(select_ []string) ApiDeviceManagementGetWindowsInformationProtectionAppLearningSummariesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceManagementGetWindowsInformationProtectionAppLearningSummariesRequest) Expand(expand []string) ApiDeviceManagementGetWindowsInformationProtectionAppLearningSummariesRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceManagementGetWindowsInformationProtectionAppLearningSummariesRequest) Execute() (MicrosoftGraphWindowsInformationProtectionAppLearningSummary, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementGetWindowsInformationProtectionAppLearningSummariesExecute(r)
}

/*
DeviceManagementGetWindowsInformationProtectionAppLearningSummaries Get windowsInformationProtectionAppLearningSummaries from deviceManagement

The windows information protection app learning summaries.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param windowsInformationProtectionAppLearningSummaryId key: id of windowsInformationProtectionAppLearningSummary
 @return ApiDeviceManagementGetWindowsInformationProtectionAppLearningSummariesRequest
*/
func (a *DeviceManagementWindowsInformationProtectionAppLearningSummaryApiService) DeviceManagementGetWindowsInformationProtectionAppLearningSummaries(ctx _context.Context, windowsInformationProtectionAppLearningSummaryId string) ApiDeviceManagementGetWindowsInformationProtectionAppLearningSummariesRequest {
	return ApiDeviceManagementGetWindowsInformationProtectionAppLearningSummariesRequest{
		ApiService: a,
		ctx: ctx,
		windowsInformationProtectionAppLearningSummaryId: windowsInformationProtectionAppLearningSummaryId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphWindowsInformationProtectionAppLearningSummary
func (a *DeviceManagementWindowsInformationProtectionAppLearningSummaryApiService) DeviceManagementGetWindowsInformationProtectionAppLearningSummariesExecute(r ApiDeviceManagementGetWindowsInformationProtectionAppLearningSummariesRequest) (MicrosoftGraphWindowsInformationProtectionAppLearningSummary, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphWindowsInformationProtectionAppLearningSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementWindowsInformationProtectionAppLearningSummaryApiService.DeviceManagementGetWindowsInformationProtectionAppLearningSummaries")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/windowsInformationProtectionAppLearningSummaries/{windowsInformationProtectionAppLearningSummary-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"windowsInformationProtectionAppLearningSummary-id"+"}", _neturl.PathEscape(parameterToString(r.windowsInformationProtectionAppLearningSummaryId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementListWindowsInformationProtectionAppLearningSummariesRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementWindowsInformationProtectionAppLearningSummaryApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiDeviceManagementListWindowsInformationProtectionAppLearningSummariesRequest) Top(top int32) ApiDeviceManagementListWindowsInformationProtectionAppLearningSummariesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiDeviceManagementListWindowsInformationProtectionAppLearningSummariesRequest) Skip(skip int32) ApiDeviceManagementListWindowsInformationProtectionAppLearningSummariesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiDeviceManagementListWindowsInformationProtectionAppLearningSummariesRequest) Search(search string) ApiDeviceManagementListWindowsInformationProtectionAppLearningSummariesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiDeviceManagementListWindowsInformationProtectionAppLearningSummariesRequest) Filter(filter string) ApiDeviceManagementListWindowsInformationProtectionAppLearningSummariesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiDeviceManagementListWindowsInformationProtectionAppLearningSummariesRequest) Count(count bool) ApiDeviceManagementListWindowsInformationProtectionAppLearningSummariesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiDeviceManagementListWindowsInformationProtectionAppLearningSummariesRequest) Orderby(orderby []string) ApiDeviceManagementListWindowsInformationProtectionAppLearningSummariesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiDeviceManagementListWindowsInformationProtectionAppLearningSummariesRequest) Select_(select_ []string) ApiDeviceManagementListWindowsInformationProtectionAppLearningSummariesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceManagementListWindowsInformationProtectionAppLearningSummariesRequest) Expand(expand []string) ApiDeviceManagementListWindowsInformationProtectionAppLearningSummariesRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceManagementListWindowsInformationProtectionAppLearningSummariesRequest) Execute() (CollectionOfWindowsInformationProtectionAppLearningSummary, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementListWindowsInformationProtectionAppLearningSummariesExecute(r)
}

/*
DeviceManagementListWindowsInformationProtectionAppLearningSummaries Get windowsInformationProtectionAppLearningSummaries from deviceManagement

The windows information protection app learning summaries.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceManagementListWindowsInformationProtectionAppLearningSummariesRequest
*/
func (a *DeviceManagementWindowsInformationProtectionAppLearningSummaryApiService) DeviceManagementListWindowsInformationProtectionAppLearningSummaries(ctx _context.Context) ApiDeviceManagementListWindowsInformationProtectionAppLearningSummariesRequest {
	return ApiDeviceManagementListWindowsInformationProtectionAppLearningSummariesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfWindowsInformationProtectionAppLearningSummary
func (a *DeviceManagementWindowsInformationProtectionAppLearningSummaryApiService) DeviceManagementListWindowsInformationProtectionAppLearningSummariesExecute(r ApiDeviceManagementListWindowsInformationProtectionAppLearningSummariesRequest) (CollectionOfWindowsInformationProtectionAppLearningSummary, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfWindowsInformationProtectionAppLearningSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementWindowsInformationProtectionAppLearningSummaryApiService.DeviceManagementListWindowsInformationProtectionAppLearningSummaries")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/windowsInformationProtectionAppLearningSummaries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementUpdateWindowsInformationProtectionAppLearningSummariesRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementWindowsInformationProtectionAppLearningSummaryApiService
	windowsInformationProtectionAppLearningSummaryId string
	microsoftGraphWindowsInformationProtectionAppLearningSummary *MicrosoftGraphWindowsInformationProtectionAppLearningSummary
}

// New navigation property values
func (r ApiDeviceManagementUpdateWindowsInformationProtectionAppLearningSummariesRequest) MicrosoftGraphWindowsInformationProtectionAppLearningSummary(microsoftGraphWindowsInformationProtectionAppLearningSummary MicrosoftGraphWindowsInformationProtectionAppLearningSummary) ApiDeviceManagementUpdateWindowsInformationProtectionAppLearningSummariesRequest {
	r.microsoftGraphWindowsInformationProtectionAppLearningSummary = &microsoftGraphWindowsInformationProtectionAppLearningSummary
	return r
}

func (r ApiDeviceManagementUpdateWindowsInformationProtectionAppLearningSummariesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceManagementUpdateWindowsInformationProtectionAppLearningSummariesExecute(r)
}

/*
DeviceManagementUpdateWindowsInformationProtectionAppLearningSummaries Update the navigation property windowsInformationProtectionAppLearningSummaries in deviceManagement

The windows information protection app learning summaries.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param windowsInformationProtectionAppLearningSummaryId key: id of windowsInformationProtectionAppLearningSummary
 @return ApiDeviceManagementUpdateWindowsInformationProtectionAppLearningSummariesRequest
*/
func (a *DeviceManagementWindowsInformationProtectionAppLearningSummaryApiService) DeviceManagementUpdateWindowsInformationProtectionAppLearningSummaries(ctx _context.Context, windowsInformationProtectionAppLearningSummaryId string) ApiDeviceManagementUpdateWindowsInformationProtectionAppLearningSummariesRequest {
	return ApiDeviceManagementUpdateWindowsInformationProtectionAppLearningSummariesRequest{
		ApiService: a,
		ctx: ctx,
		windowsInformationProtectionAppLearningSummaryId: windowsInformationProtectionAppLearningSummaryId,
	}
}

// Execute executes the request
func (a *DeviceManagementWindowsInformationProtectionAppLearningSummaryApiService) DeviceManagementUpdateWindowsInformationProtectionAppLearningSummariesExecute(r ApiDeviceManagementUpdateWindowsInformationProtectionAppLearningSummariesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementWindowsInformationProtectionAppLearningSummaryApiService.DeviceManagementUpdateWindowsInformationProtectionAppLearningSummaries")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/windowsInformationProtectionAppLearningSummaries/{windowsInformationProtectionAppLearningSummary-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"windowsInformationProtectionAppLearningSummary-id"+"}", _neturl.PathEscape(parameterToString(r.windowsInformationProtectionAppLearningSummaryId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphWindowsInformationProtectionAppLearningSummary == nil {
		return nil, reportError("microsoftGraphWindowsInformationProtectionAppLearningSummary is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphWindowsInformationProtectionAppLearningSummary
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
