/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// IdentityIdentityApiConnectorApiService IdentityIdentityApiConnectorApi service
type IdentityIdentityApiConnectorApiService service

type ApiIdentityCreateApiConnectorsRequest struct {
	ctx _context.Context
	ApiService *IdentityIdentityApiConnectorApiService
	microsoftGraphIdentityApiConnector *MicrosoftGraphIdentityApiConnector
}

// New navigation property
func (r ApiIdentityCreateApiConnectorsRequest) MicrosoftGraphIdentityApiConnector(microsoftGraphIdentityApiConnector MicrosoftGraphIdentityApiConnector) ApiIdentityCreateApiConnectorsRequest {
	r.microsoftGraphIdentityApiConnector = &microsoftGraphIdentityApiConnector
	return r
}

func (r ApiIdentityCreateApiConnectorsRequest) Execute() (MicrosoftGraphIdentityApiConnector, *_nethttp.Response, error) {
	return r.ApiService.IdentityCreateApiConnectorsExecute(r)
}

/*
IdentityCreateApiConnectors Create new navigation property to apiConnectors for identity

Represents entry point for API connectors.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIdentityCreateApiConnectorsRequest
*/
func (a *IdentityIdentityApiConnectorApiService) IdentityCreateApiConnectors(ctx _context.Context) ApiIdentityCreateApiConnectorsRequest {
	return ApiIdentityCreateApiConnectorsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphIdentityApiConnector
func (a *IdentityIdentityApiConnectorApiService) IdentityCreateApiConnectorsExecute(r ApiIdentityCreateApiConnectorsRequest) (MicrosoftGraphIdentityApiConnector, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphIdentityApiConnector
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityIdentityApiConnectorApiService.IdentityCreateApiConnectors")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/apiConnectors"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphIdentityApiConnector == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphIdentityApiConnector is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphIdentityApiConnector
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdentityDeleteApiConnectorsRequest struct {
	ctx _context.Context
	ApiService *IdentityIdentityApiConnectorApiService
	identityApiConnectorId string
	ifMatch *string
}

// ETag
func (r ApiIdentityDeleteApiConnectorsRequest) IfMatch(ifMatch string) ApiIdentityDeleteApiConnectorsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiIdentityDeleteApiConnectorsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.IdentityDeleteApiConnectorsExecute(r)
}

/*
IdentityDeleteApiConnectors Delete navigation property apiConnectors for identity

Represents entry point for API connectors.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param identityApiConnectorId key: id of identityApiConnector
 @return ApiIdentityDeleteApiConnectorsRequest
*/
func (a *IdentityIdentityApiConnectorApiService) IdentityDeleteApiConnectors(ctx _context.Context, identityApiConnectorId string) ApiIdentityDeleteApiConnectorsRequest {
	return ApiIdentityDeleteApiConnectorsRequest{
		ApiService: a,
		ctx: ctx,
		identityApiConnectorId: identityApiConnectorId,
	}
}

// Execute executes the request
func (a *IdentityIdentityApiConnectorApiService) IdentityDeleteApiConnectorsExecute(r ApiIdentityDeleteApiConnectorsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityIdentityApiConnectorApiService.IdentityDeleteApiConnectors")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/apiConnectors/{identityApiConnector-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"identityApiConnector-id"+"}", _neturl.PathEscape(parameterToString(r.identityApiConnectorId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiIdentityGetApiConnectorsRequest struct {
	ctx _context.Context
	ApiService *IdentityIdentityApiConnectorApiService
	identityApiConnectorId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiIdentityGetApiConnectorsRequest) Select_(select_ []string) ApiIdentityGetApiConnectorsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiIdentityGetApiConnectorsRequest) Expand(expand []string) ApiIdentityGetApiConnectorsRequest {
	r.expand = &expand
	return r
}

func (r ApiIdentityGetApiConnectorsRequest) Execute() (MicrosoftGraphIdentityApiConnector, *_nethttp.Response, error) {
	return r.ApiService.IdentityGetApiConnectorsExecute(r)
}

/*
IdentityGetApiConnectors Get apiConnectors from identity

Represents entry point for API connectors.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param identityApiConnectorId key: id of identityApiConnector
 @return ApiIdentityGetApiConnectorsRequest
*/
func (a *IdentityIdentityApiConnectorApiService) IdentityGetApiConnectors(ctx _context.Context, identityApiConnectorId string) ApiIdentityGetApiConnectorsRequest {
	return ApiIdentityGetApiConnectorsRequest{
		ApiService: a,
		ctx: ctx,
		identityApiConnectorId: identityApiConnectorId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphIdentityApiConnector
func (a *IdentityIdentityApiConnectorApiService) IdentityGetApiConnectorsExecute(r ApiIdentityGetApiConnectorsRequest) (MicrosoftGraphIdentityApiConnector, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphIdentityApiConnector
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityIdentityApiConnectorApiService.IdentityGetApiConnectors")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/apiConnectors/{identityApiConnector-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"identityApiConnector-id"+"}", _neturl.PathEscape(parameterToString(r.identityApiConnectorId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdentityListApiConnectorsRequest struct {
	ctx _context.Context
	ApiService *IdentityIdentityApiConnectorApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiIdentityListApiConnectorsRequest) Top(top int32) ApiIdentityListApiConnectorsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiIdentityListApiConnectorsRequest) Skip(skip int32) ApiIdentityListApiConnectorsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiIdentityListApiConnectorsRequest) Search(search string) ApiIdentityListApiConnectorsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiIdentityListApiConnectorsRequest) Filter(filter string) ApiIdentityListApiConnectorsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiIdentityListApiConnectorsRequest) Count(count bool) ApiIdentityListApiConnectorsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiIdentityListApiConnectorsRequest) Orderby(orderby []string) ApiIdentityListApiConnectorsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiIdentityListApiConnectorsRequest) Select_(select_ []string) ApiIdentityListApiConnectorsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiIdentityListApiConnectorsRequest) Expand(expand []string) ApiIdentityListApiConnectorsRequest {
	r.expand = &expand
	return r
}

func (r ApiIdentityListApiConnectorsRequest) Execute() (CollectionOfIdentityApiConnector, *_nethttp.Response, error) {
	return r.ApiService.IdentityListApiConnectorsExecute(r)
}

/*
IdentityListApiConnectors Get apiConnectors from identity

Represents entry point for API connectors.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIdentityListApiConnectorsRequest
*/
func (a *IdentityIdentityApiConnectorApiService) IdentityListApiConnectors(ctx _context.Context) ApiIdentityListApiConnectorsRequest {
	return ApiIdentityListApiConnectorsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfIdentityApiConnector
func (a *IdentityIdentityApiConnectorApiService) IdentityListApiConnectorsExecute(r ApiIdentityListApiConnectorsRequest) (CollectionOfIdentityApiConnector, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfIdentityApiConnector
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityIdentityApiConnectorApiService.IdentityListApiConnectors")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/apiConnectors"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdentityUpdateApiConnectorsRequest struct {
	ctx _context.Context
	ApiService *IdentityIdentityApiConnectorApiService
	identityApiConnectorId string
	microsoftGraphIdentityApiConnector *MicrosoftGraphIdentityApiConnector
}

// New navigation property values
func (r ApiIdentityUpdateApiConnectorsRequest) MicrosoftGraphIdentityApiConnector(microsoftGraphIdentityApiConnector MicrosoftGraphIdentityApiConnector) ApiIdentityUpdateApiConnectorsRequest {
	r.microsoftGraphIdentityApiConnector = &microsoftGraphIdentityApiConnector
	return r
}

func (r ApiIdentityUpdateApiConnectorsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.IdentityUpdateApiConnectorsExecute(r)
}

/*
IdentityUpdateApiConnectors Update the navigation property apiConnectors in identity

Represents entry point for API connectors.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param identityApiConnectorId key: id of identityApiConnector
 @return ApiIdentityUpdateApiConnectorsRequest
*/
func (a *IdentityIdentityApiConnectorApiService) IdentityUpdateApiConnectors(ctx _context.Context, identityApiConnectorId string) ApiIdentityUpdateApiConnectorsRequest {
	return ApiIdentityUpdateApiConnectorsRequest{
		ApiService: a,
		ctx: ctx,
		identityApiConnectorId: identityApiConnectorId,
	}
}

// Execute executes the request
func (a *IdentityIdentityApiConnectorApiService) IdentityUpdateApiConnectorsExecute(r ApiIdentityUpdateApiConnectorsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityIdentityApiConnectorApiService.IdentityUpdateApiConnectors")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identity/apiConnectors/{identityApiConnector-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"identityApiConnector-id"+"}", _neturl.PathEscape(parameterToString(r.identityApiConnectorId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphIdentityApiConnector == nil {
		return nil, reportError("microsoftGraphIdentityApiConnector is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphIdentityApiConnector
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
