/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// ContactsOrgContactApiService ContactsOrgContactApi service
type ContactsOrgContactApiService service

type ApiContactsOrgContactCreateOrgContactRequest struct {
	ctx _context.Context
	ApiService *ContactsOrgContactApiService
	microsoftGraphOrgContact *MicrosoftGraphOrgContact
}

// New entity
func (r ApiContactsOrgContactCreateOrgContactRequest) MicrosoftGraphOrgContact(microsoftGraphOrgContact MicrosoftGraphOrgContact) ApiContactsOrgContactCreateOrgContactRequest {
	r.microsoftGraphOrgContact = &microsoftGraphOrgContact
	return r
}

func (r ApiContactsOrgContactCreateOrgContactRequest) Execute() (MicrosoftGraphOrgContact, *_nethttp.Response, error) {
	return r.ApiService.ContactsOrgContactCreateOrgContactExecute(r)
}

/*
ContactsOrgContactCreateOrgContact Add new entity to contacts

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiContactsOrgContactCreateOrgContactRequest
*/
func (a *ContactsOrgContactApiService) ContactsOrgContactCreateOrgContact(ctx _context.Context) ApiContactsOrgContactCreateOrgContactRequest {
	return ApiContactsOrgContactCreateOrgContactRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphOrgContact
func (a *ContactsOrgContactApiService) ContactsOrgContactCreateOrgContactExecute(r ApiContactsOrgContactCreateOrgContactRequest) (MicrosoftGraphOrgContact, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphOrgContact
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContactsOrgContactApiService.ContactsOrgContactCreateOrgContact")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/contacts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphOrgContact == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphOrgContact is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphOrgContact
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiContactsOrgContactDeleteOrgContactRequest struct {
	ctx _context.Context
	ApiService *ContactsOrgContactApiService
	orgContactId string
	ifMatch *string
}

// ETag
func (r ApiContactsOrgContactDeleteOrgContactRequest) IfMatch(ifMatch string) ApiContactsOrgContactDeleteOrgContactRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiContactsOrgContactDeleteOrgContactRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.ContactsOrgContactDeleteOrgContactExecute(r)
}

/*
ContactsOrgContactDeleteOrgContact Delete entity from contacts

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgContactId key: id of orgContact
 @return ApiContactsOrgContactDeleteOrgContactRequest
*/
func (a *ContactsOrgContactApiService) ContactsOrgContactDeleteOrgContact(ctx _context.Context, orgContactId string) ApiContactsOrgContactDeleteOrgContactRequest {
	return ApiContactsOrgContactDeleteOrgContactRequest{
		ApiService: a,
		ctx: ctx,
		orgContactId: orgContactId,
	}
}

// Execute executes the request
func (a *ContactsOrgContactApiService) ContactsOrgContactDeleteOrgContactExecute(r ApiContactsOrgContactDeleteOrgContactRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContactsOrgContactApiService.ContactsOrgContactDeleteOrgContact")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/contacts/{orgContact-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"orgContact-id"+"}", _neturl.PathEscape(parameterToString(r.orgContactId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiContactsOrgContactGetOrgContactRequest struct {
	ctx _context.Context
	ApiService *ContactsOrgContactApiService
	orgContactId string
	consistencyLevel *string
	select_ *[]string
	expand *[]string
}

// Indicates the requested consistency level. Documentation URL: https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-advanced-queries-for-directory-objects-are-now-generally-available/
func (r ApiContactsOrgContactGetOrgContactRequest) ConsistencyLevel(consistencyLevel string) ApiContactsOrgContactGetOrgContactRequest {
	r.consistencyLevel = &consistencyLevel
	return r
}
// Select properties to be returned
func (r ApiContactsOrgContactGetOrgContactRequest) Select_(select_ []string) ApiContactsOrgContactGetOrgContactRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiContactsOrgContactGetOrgContactRequest) Expand(expand []string) ApiContactsOrgContactGetOrgContactRequest {
	r.expand = &expand
	return r
}

func (r ApiContactsOrgContactGetOrgContactRequest) Execute() (MicrosoftGraphOrgContact, *_nethttp.Response, error) {
	return r.ApiService.ContactsOrgContactGetOrgContactExecute(r)
}

/*
ContactsOrgContactGetOrgContact Get entity from contacts by key

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgContactId key: id of orgContact
 @return ApiContactsOrgContactGetOrgContactRequest
*/
func (a *ContactsOrgContactApiService) ContactsOrgContactGetOrgContact(ctx _context.Context, orgContactId string) ApiContactsOrgContactGetOrgContactRequest {
	return ApiContactsOrgContactGetOrgContactRequest{
		ApiService: a,
		ctx: ctx,
		orgContactId: orgContactId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphOrgContact
func (a *ContactsOrgContactApiService) ContactsOrgContactGetOrgContactExecute(r ApiContactsOrgContactGetOrgContactRequest) (MicrosoftGraphOrgContact, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphOrgContact
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContactsOrgContactApiService.ContactsOrgContactGetOrgContact")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/contacts/{orgContact-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"orgContact-id"+"}", _neturl.PathEscape(parameterToString(r.orgContactId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.consistencyLevel != nil {
		localVarHeaderParams["ConsistencyLevel"] = parameterToString(*r.consistencyLevel, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiContactsOrgContactListOrgContactRequest struct {
	ctx _context.Context
	ApiService *ContactsOrgContactApiService
	consistencyLevel *string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Indicates the requested consistency level. Documentation URL: https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-advanced-queries-for-directory-objects-are-now-generally-available/
func (r ApiContactsOrgContactListOrgContactRequest) ConsistencyLevel(consistencyLevel string) ApiContactsOrgContactListOrgContactRequest {
	r.consistencyLevel = &consistencyLevel
	return r
}
// Show only the first n items
func (r ApiContactsOrgContactListOrgContactRequest) Top(top int32) ApiContactsOrgContactListOrgContactRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiContactsOrgContactListOrgContactRequest) Skip(skip int32) ApiContactsOrgContactListOrgContactRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiContactsOrgContactListOrgContactRequest) Search(search string) ApiContactsOrgContactListOrgContactRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiContactsOrgContactListOrgContactRequest) Filter(filter string) ApiContactsOrgContactListOrgContactRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiContactsOrgContactListOrgContactRequest) Count(count bool) ApiContactsOrgContactListOrgContactRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiContactsOrgContactListOrgContactRequest) Orderby(orderby []string) ApiContactsOrgContactListOrgContactRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiContactsOrgContactListOrgContactRequest) Select_(select_ []string) ApiContactsOrgContactListOrgContactRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiContactsOrgContactListOrgContactRequest) Expand(expand []string) ApiContactsOrgContactListOrgContactRequest {
	r.expand = &expand
	return r
}

func (r ApiContactsOrgContactListOrgContactRequest) Execute() (CollectionOfOrgContact, *_nethttp.Response, error) {
	return r.ApiService.ContactsOrgContactListOrgContactExecute(r)
}

/*
ContactsOrgContactListOrgContact Get entities from contacts

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiContactsOrgContactListOrgContactRequest
*/
func (a *ContactsOrgContactApiService) ContactsOrgContactListOrgContact(ctx _context.Context) ApiContactsOrgContactListOrgContactRequest {
	return ApiContactsOrgContactListOrgContactRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfOrgContact
func (a *ContactsOrgContactApiService) ContactsOrgContactListOrgContactExecute(r ApiContactsOrgContactListOrgContactRequest) (CollectionOfOrgContact, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfOrgContact
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContactsOrgContactApiService.ContactsOrgContactListOrgContact")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/contacts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.consistencyLevel != nil {
		localVarHeaderParams["ConsistencyLevel"] = parameterToString(*r.consistencyLevel, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiContactsOrgContactUpdateOrgContactRequest struct {
	ctx _context.Context
	ApiService *ContactsOrgContactApiService
	orgContactId string
	microsoftGraphOrgContact *MicrosoftGraphOrgContact
}

// New property values
func (r ApiContactsOrgContactUpdateOrgContactRequest) MicrosoftGraphOrgContact(microsoftGraphOrgContact MicrosoftGraphOrgContact) ApiContactsOrgContactUpdateOrgContactRequest {
	r.microsoftGraphOrgContact = &microsoftGraphOrgContact
	return r
}

func (r ApiContactsOrgContactUpdateOrgContactRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.ContactsOrgContactUpdateOrgContactExecute(r)
}

/*
ContactsOrgContactUpdateOrgContact Update entity in contacts

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgContactId key: id of orgContact
 @return ApiContactsOrgContactUpdateOrgContactRequest
*/
func (a *ContactsOrgContactApiService) ContactsOrgContactUpdateOrgContact(ctx _context.Context, orgContactId string) ApiContactsOrgContactUpdateOrgContactRequest {
	return ApiContactsOrgContactUpdateOrgContactRequest{
		ApiService: a,
		ctx: ctx,
		orgContactId: orgContactId,
	}
}

// Execute executes the request
func (a *ContactsOrgContactApiService) ContactsOrgContactUpdateOrgContactExecute(r ApiContactsOrgContactUpdateOrgContactRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContactsOrgContactApiService.ContactsOrgContactUpdateOrgContact")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/contacts/{orgContact-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"orgContact-id"+"}", _neturl.PathEscape(parameterToString(r.orgContactId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphOrgContact == nil {
		return nil, reportError("microsoftGraphOrgContact is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphOrgContact
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
