/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// DeviceManagementComplianceManagementPartnerApiService DeviceManagementComplianceManagementPartnerApi service
type DeviceManagementComplianceManagementPartnerApiService service

type ApiDeviceManagementCreateComplianceManagementPartnersRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementComplianceManagementPartnerApiService
	microsoftGraphComplianceManagementPartner *MicrosoftGraphComplianceManagementPartner
}

// New navigation property
func (r ApiDeviceManagementCreateComplianceManagementPartnersRequest) MicrosoftGraphComplianceManagementPartner(microsoftGraphComplianceManagementPartner MicrosoftGraphComplianceManagementPartner) ApiDeviceManagementCreateComplianceManagementPartnersRequest {
	r.microsoftGraphComplianceManagementPartner = &microsoftGraphComplianceManagementPartner
	return r
}

func (r ApiDeviceManagementCreateComplianceManagementPartnersRequest) Execute() (MicrosoftGraphComplianceManagementPartner, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementCreateComplianceManagementPartnersExecute(r)
}

/*
DeviceManagementCreateComplianceManagementPartners Create new navigation property to complianceManagementPartners for deviceManagement

The list of Compliance Management Partners configured by the tenant.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceManagementCreateComplianceManagementPartnersRequest
*/
func (a *DeviceManagementComplianceManagementPartnerApiService) DeviceManagementCreateComplianceManagementPartners(ctx _context.Context) ApiDeviceManagementCreateComplianceManagementPartnersRequest {
	return ApiDeviceManagementCreateComplianceManagementPartnersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphComplianceManagementPartner
func (a *DeviceManagementComplianceManagementPartnerApiService) DeviceManagementCreateComplianceManagementPartnersExecute(r ApiDeviceManagementCreateComplianceManagementPartnersRequest) (MicrosoftGraphComplianceManagementPartner, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphComplianceManagementPartner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementComplianceManagementPartnerApiService.DeviceManagementCreateComplianceManagementPartners")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/complianceManagementPartners"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphComplianceManagementPartner == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphComplianceManagementPartner is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphComplianceManagementPartner
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementDeleteComplianceManagementPartnersRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementComplianceManagementPartnerApiService
	complianceManagementPartnerId string
	ifMatch *string
}

// ETag
func (r ApiDeviceManagementDeleteComplianceManagementPartnersRequest) IfMatch(ifMatch string) ApiDeviceManagementDeleteComplianceManagementPartnersRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiDeviceManagementDeleteComplianceManagementPartnersRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceManagementDeleteComplianceManagementPartnersExecute(r)
}

/*
DeviceManagementDeleteComplianceManagementPartners Delete navigation property complianceManagementPartners for deviceManagement

The list of Compliance Management Partners configured by the tenant.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param complianceManagementPartnerId key: id of complianceManagementPartner
 @return ApiDeviceManagementDeleteComplianceManagementPartnersRequest
*/
func (a *DeviceManagementComplianceManagementPartnerApiService) DeviceManagementDeleteComplianceManagementPartners(ctx _context.Context, complianceManagementPartnerId string) ApiDeviceManagementDeleteComplianceManagementPartnersRequest {
	return ApiDeviceManagementDeleteComplianceManagementPartnersRequest{
		ApiService: a,
		ctx: ctx,
		complianceManagementPartnerId: complianceManagementPartnerId,
	}
}

// Execute executes the request
func (a *DeviceManagementComplianceManagementPartnerApiService) DeviceManagementDeleteComplianceManagementPartnersExecute(r ApiDeviceManagementDeleteComplianceManagementPartnersRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementComplianceManagementPartnerApiService.DeviceManagementDeleteComplianceManagementPartners")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/complianceManagementPartners/{complianceManagementPartner-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"complianceManagementPartner-id"+"}", _neturl.PathEscape(parameterToString(r.complianceManagementPartnerId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeviceManagementGetComplianceManagementPartnersRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementComplianceManagementPartnerApiService
	complianceManagementPartnerId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiDeviceManagementGetComplianceManagementPartnersRequest) Select_(select_ []string) ApiDeviceManagementGetComplianceManagementPartnersRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceManagementGetComplianceManagementPartnersRequest) Expand(expand []string) ApiDeviceManagementGetComplianceManagementPartnersRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceManagementGetComplianceManagementPartnersRequest) Execute() (MicrosoftGraphComplianceManagementPartner, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementGetComplianceManagementPartnersExecute(r)
}

/*
DeviceManagementGetComplianceManagementPartners Get complianceManagementPartners from deviceManagement

The list of Compliance Management Partners configured by the tenant.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param complianceManagementPartnerId key: id of complianceManagementPartner
 @return ApiDeviceManagementGetComplianceManagementPartnersRequest
*/
func (a *DeviceManagementComplianceManagementPartnerApiService) DeviceManagementGetComplianceManagementPartners(ctx _context.Context, complianceManagementPartnerId string) ApiDeviceManagementGetComplianceManagementPartnersRequest {
	return ApiDeviceManagementGetComplianceManagementPartnersRequest{
		ApiService: a,
		ctx: ctx,
		complianceManagementPartnerId: complianceManagementPartnerId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphComplianceManagementPartner
func (a *DeviceManagementComplianceManagementPartnerApiService) DeviceManagementGetComplianceManagementPartnersExecute(r ApiDeviceManagementGetComplianceManagementPartnersRequest) (MicrosoftGraphComplianceManagementPartner, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphComplianceManagementPartner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementComplianceManagementPartnerApiService.DeviceManagementGetComplianceManagementPartners")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/complianceManagementPartners/{complianceManagementPartner-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"complianceManagementPartner-id"+"}", _neturl.PathEscape(parameterToString(r.complianceManagementPartnerId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementListComplianceManagementPartnersRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementComplianceManagementPartnerApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiDeviceManagementListComplianceManagementPartnersRequest) Top(top int32) ApiDeviceManagementListComplianceManagementPartnersRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiDeviceManagementListComplianceManagementPartnersRequest) Skip(skip int32) ApiDeviceManagementListComplianceManagementPartnersRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiDeviceManagementListComplianceManagementPartnersRequest) Search(search string) ApiDeviceManagementListComplianceManagementPartnersRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiDeviceManagementListComplianceManagementPartnersRequest) Filter(filter string) ApiDeviceManagementListComplianceManagementPartnersRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiDeviceManagementListComplianceManagementPartnersRequest) Count(count bool) ApiDeviceManagementListComplianceManagementPartnersRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiDeviceManagementListComplianceManagementPartnersRequest) Orderby(orderby []string) ApiDeviceManagementListComplianceManagementPartnersRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiDeviceManagementListComplianceManagementPartnersRequest) Select_(select_ []string) ApiDeviceManagementListComplianceManagementPartnersRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceManagementListComplianceManagementPartnersRequest) Expand(expand []string) ApiDeviceManagementListComplianceManagementPartnersRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceManagementListComplianceManagementPartnersRequest) Execute() (CollectionOfComplianceManagementPartner, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementListComplianceManagementPartnersExecute(r)
}

/*
DeviceManagementListComplianceManagementPartners Get complianceManagementPartners from deviceManagement

The list of Compliance Management Partners configured by the tenant.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceManagementListComplianceManagementPartnersRequest
*/
func (a *DeviceManagementComplianceManagementPartnerApiService) DeviceManagementListComplianceManagementPartners(ctx _context.Context) ApiDeviceManagementListComplianceManagementPartnersRequest {
	return ApiDeviceManagementListComplianceManagementPartnersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfComplianceManagementPartner
func (a *DeviceManagementComplianceManagementPartnerApiService) DeviceManagementListComplianceManagementPartnersExecute(r ApiDeviceManagementListComplianceManagementPartnersRequest) (CollectionOfComplianceManagementPartner, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfComplianceManagementPartner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementComplianceManagementPartnerApiService.DeviceManagementListComplianceManagementPartners")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/complianceManagementPartners"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementUpdateComplianceManagementPartnersRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementComplianceManagementPartnerApiService
	complianceManagementPartnerId string
	microsoftGraphComplianceManagementPartner *MicrosoftGraphComplianceManagementPartner
}

// New navigation property values
func (r ApiDeviceManagementUpdateComplianceManagementPartnersRequest) MicrosoftGraphComplianceManagementPartner(microsoftGraphComplianceManagementPartner MicrosoftGraphComplianceManagementPartner) ApiDeviceManagementUpdateComplianceManagementPartnersRequest {
	r.microsoftGraphComplianceManagementPartner = &microsoftGraphComplianceManagementPartner
	return r
}

func (r ApiDeviceManagementUpdateComplianceManagementPartnersRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceManagementUpdateComplianceManagementPartnersExecute(r)
}

/*
DeviceManagementUpdateComplianceManagementPartners Update the navigation property complianceManagementPartners in deviceManagement

The list of Compliance Management Partners configured by the tenant.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param complianceManagementPartnerId key: id of complianceManagementPartner
 @return ApiDeviceManagementUpdateComplianceManagementPartnersRequest
*/
func (a *DeviceManagementComplianceManagementPartnerApiService) DeviceManagementUpdateComplianceManagementPartners(ctx _context.Context, complianceManagementPartnerId string) ApiDeviceManagementUpdateComplianceManagementPartnersRequest {
	return ApiDeviceManagementUpdateComplianceManagementPartnersRequest{
		ApiService: a,
		ctx: ctx,
		complianceManagementPartnerId: complianceManagementPartnerId,
	}
}

// Execute executes the request
func (a *DeviceManagementComplianceManagementPartnerApiService) DeviceManagementUpdateComplianceManagementPartnersExecute(r ApiDeviceManagementUpdateComplianceManagementPartnersRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementComplianceManagementPartnerApiService.DeviceManagementUpdateComplianceManagementPartners")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/complianceManagementPartners/{complianceManagementPartner-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"complianceManagementPartner-id"+"}", _neturl.PathEscape(parameterToString(r.complianceManagementPartnerId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphComplianceManagementPartner == nil {
		return nil, reportError("microsoftGraphComplianceManagementPartner is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphComplianceManagementPartner
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
