/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// MeLicenseDetailsApiService MeLicenseDetailsApi service
type MeLicenseDetailsApiService service

type ApiMeCreateLicenseDetailsRequest struct {
	ctx _context.Context
	ApiService *MeLicenseDetailsApiService
	microsoftGraphLicenseDetails *MicrosoftGraphLicenseDetails
}

// New navigation property
func (r ApiMeCreateLicenseDetailsRequest) MicrosoftGraphLicenseDetails(microsoftGraphLicenseDetails MicrosoftGraphLicenseDetails) ApiMeCreateLicenseDetailsRequest {
	r.microsoftGraphLicenseDetails = &microsoftGraphLicenseDetails
	return r
}

func (r ApiMeCreateLicenseDetailsRequest) Execute() (MicrosoftGraphLicenseDetails, *_nethttp.Response, error) {
	return r.ApiService.MeCreateLicenseDetailsExecute(r)
}

/*
MeCreateLicenseDetails Create new navigation property to licenseDetails for me

A collection of this user's license details. Read-only.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMeCreateLicenseDetailsRequest
*/
func (a *MeLicenseDetailsApiService) MeCreateLicenseDetails(ctx _context.Context) ApiMeCreateLicenseDetailsRequest {
	return ApiMeCreateLicenseDetailsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphLicenseDetails
func (a *MeLicenseDetailsApiService) MeCreateLicenseDetailsExecute(r ApiMeCreateLicenseDetailsRequest) (MicrosoftGraphLicenseDetails, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphLicenseDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeLicenseDetailsApiService.MeCreateLicenseDetails")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/licenseDetails"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphLicenseDetails == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphLicenseDetails is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphLicenseDetails
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeDeleteLicenseDetailsRequest struct {
	ctx _context.Context
	ApiService *MeLicenseDetailsApiService
	licenseDetailsId string
	ifMatch *string
}

// ETag
func (r ApiMeDeleteLicenseDetailsRequest) IfMatch(ifMatch string) ApiMeDeleteLicenseDetailsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiMeDeleteLicenseDetailsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.MeDeleteLicenseDetailsExecute(r)
}

/*
MeDeleteLicenseDetails Delete navigation property licenseDetails for me

A collection of this user's license details. Read-only.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param licenseDetailsId key: id of licenseDetails
 @return ApiMeDeleteLicenseDetailsRequest
*/
func (a *MeLicenseDetailsApiService) MeDeleteLicenseDetails(ctx _context.Context, licenseDetailsId string) ApiMeDeleteLicenseDetailsRequest {
	return ApiMeDeleteLicenseDetailsRequest{
		ApiService: a,
		ctx: ctx,
		licenseDetailsId: licenseDetailsId,
	}
}

// Execute executes the request
func (a *MeLicenseDetailsApiService) MeDeleteLicenseDetailsExecute(r ApiMeDeleteLicenseDetailsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeLicenseDetailsApiService.MeDeleteLicenseDetails")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/licenseDetails/{licenseDetails-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"licenseDetails-id"+"}", _neturl.PathEscape(parameterToString(r.licenseDetailsId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiMeGetLicenseDetailsRequest struct {
	ctx _context.Context
	ApiService *MeLicenseDetailsApiService
	licenseDetailsId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiMeGetLicenseDetailsRequest) Select_(select_ []string) ApiMeGetLicenseDetailsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiMeGetLicenseDetailsRequest) Expand(expand []string) ApiMeGetLicenseDetailsRequest {
	r.expand = &expand
	return r
}

func (r ApiMeGetLicenseDetailsRequest) Execute() (MicrosoftGraphLicenseDetails, *_nethttp.Response, error) {
	return r.ApiService.MeGetLicenseDetailsExecute(r)
}

/*
MeGetLicenseDetails Get licenseDetails from me

A collection of this user's license details. Read-only.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param licenseDetailsId key: id of licenseDetails
 @return ApiMeGetLicenseDetailsRequest
*/
func (a *MeLicenseDetailsApiService) MeGetLicenseDetails(ctx _context.Context, licenseDetailsId string) ApiMeGetLicenseDetailsRequest {
	return ApiMeGetLicenseDetailsRequest{
		ApiService: a,
		ctx: ctx,
		licenseDetailsId: licenseDetailsId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphLicenseDetails
func (a *MeLicenseDetailsApiService) MeGetLicenseDetailsExecute(r ApiMeGetLicenseDetailsRequest) (MicrosoftGraphLicenseDetails, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphLicenseDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeLicenseDetailsApiService.MeGetLicenseDetails")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/licenseDetails/{licenseDetails-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"licenseDetails-id"+"}", _neturl.PathEscape(parameterToString(r.licenseDetailsId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeListLicenseDetailsRequest struct {
	ctx _context.Context
	ApiService *MeLicenseDetailsApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiMeListLicenseDetailsRequest) Top(top int32) ApiMeListLicenseDetailsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiMeListLicenseDetailsRequest) Skip(skip int32) ApiMeListLicenseDetailsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiMeListLicenseDetailsRequest) Search(search string) ApiMeListLicenseDetailsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiMeListLicenseDetailsRequest) Filter(filter string) ApiMeListLicenseDetailsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiMeListLicenseDetailsRequest) Count(count bool) ApiMeListLicenseDetailsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiMeListLicenseDetailsRequest) Orderby(orderby []string) ApiMeListLicenseDetailsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiMeListLicenseDetailsRequest) Select_(select_ []string) ApiMeListLicenseDetailsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiMeListLicenseDetailsRequest) Expand(expand []string) ApiMeListLicenseDetailsRequest {
	r.expand = &expand
	return r
}

func (r ApiMeListLicenseDetailsRequest) Execute() (CollectionOfLicenseDetails, *_nethttp.Response, error) {
	return r.ApiService.MeListLicenseDetailsExecute(r)
}

/*
MeListLicenseDetails Get licenseDetails from me

A collection of this user's license details. Read-only.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMeListLicenseDetailsRequest
*/
func (a *MeLicenseDetailsApiService) MeListLicenseDetails(ctx _context.Context) ApiMeListLicenseDetailsRequest {
	return ApiMeListLicenseDetailsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfLicenseDetails
func (a *MeLicenseDetailsApiService) MeListLicenseDetailsExecute(r ApiMeListLicenseDetailsRequest) (CollectionOfLicenseDetails, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfLicenseDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeLicenseDetailsApiService.MeListLicenseDetails")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/licenseDetails"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeUpdateLicenseDetailsRequest struct {
	ctx _context.Context
	ApiService *MeLicenseDetailsApiService
	licenseDetailsId string
	microsoftGraphLicenseDetails *MicrosoftGraphLicenseDetails
}

// New navigation property values
func (r ApiMeUpdateLicenseDetailsRequest) MicrosoftGraphLicenseDetails(microsoftGraphLicenseDetails MicrosoftGraphLicenseDetails) ApiMeUpdateLicenseDetailsRequest {
	r.microsoftGraphLicenseDetails = &microsoftGraphLicenseDetails
	return r
}

func (r ApiMeUpdateLicenseDetailsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.MeUpdateLicenseDetailsExecute(r)
}

/*
MeUpdateLicenseDetails Update the navigation property licenseDetails in me

A collection of this user's license details. Read-only.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param licenseDetailsId key: id of licenseDetails
 @return ApiMeUpdateLicenseDetailsRequest
*/
func (a *MeLicenseDetailsApiService) MeUpdateLicenseDetails(ctx _context.Context, licenseDetailsId string) ApiMeUpdateLicenseDetailsRequest {
	return ApiMeUpdateLicenseDetailsRequest{
		ApiService: a,
		ctx: ctx,
		licenseDetailsId: licenseDetailsId,
	}
}

// Execute executes the request
func (a *MeLicenseDetailsApiService) MeUpdateLicenseDetailsExecute(r ApiMeUpdateLicenseDetailsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeLicenseDetailsApiService.MeUpdateLicenseDetails")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/licenseDetails/{licenseDetails-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"licenseDetails-id"+"}", _neturl.PathEscape(parameterToString(r.licenseDetailsId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphLicenseDetails == nil {
		return nil, reportError("microsoftGraphLicenseDetails is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphLicenseDetails
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
