/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// ServicePrincipalsClaimsMappingPolicyApiService ServicePrincipalsClaimsMappingPolicyApi service
type ServicePrincipalsClaimsMappingPolicyApiService service

type ApiServicePrincipalsCreateRefClaimsMappingPoliciesRequest struct {
	ctx _context.Context
	ApiService *ServicePrincipalsClaimsMappingPolicyApiService
	servicePrincipalId string
	requestBody *map[string]map[string]interface{}
}

// New navigation property ref value
func (r ApiServicePrincipalsCreateRefClaimsMappingPoliciesRequest) RequestBody(requestBody map[string]map[string]interface{}) ApiServicePrincipalsCreateRefClaimsMappingPoliciesRequest {
	r.requestBody = &requestBody
	return r
}

func (r ApiServicePrincipalsCreateRefClaimsMappingPoliciesRequest) Execute() (map[string]interface{}, *_nethttp.Response, error) {
	return r.ApiService.ServicePrincipalsCreateRefClaimsMappingPoliciesExecute(r)
}

/*
ServicePrincipalsCreateRefClaimsMappingPolicies Create new navigation property ref to claimsMappingPolicies for servicePrincipals

The claimsMappingPolicies assigned to this service principal. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param servicePrincipalId key: id of servicePrincipal
 @return ApiServicePrincipalsCreateRefClaimsMappingPoliciesRequest
*/
func (a *ServicePrincipalsClaimsMappingPolicyApiService) ServicePrincipalsCreateRefClaimsMappingPolicies(ctx _context.Context, servicePrincipalId string) ApiServicePrincipalsCreateRefClaimsMappingPoliciesRequest {
	return ApiServicePrincipalsCreateRefClaimsMappingPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		servicePrincipalId: servicePrincipalId,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ServicePrincipalsClaimsMappingPolicyApiService) ServicePrincipalsCreateRefClaimsMappingPoliciesExecute(r ApiServicePrincipalsCreateRefClaimsMappingPoliciesRequest) (map[string]interface{}, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServicePrincipalsClaimsMappingPolicyApiService.ServicePrincipalsCreateRefClaimsMappingPolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servicePrincipals/{servicePrincipal-id}/claimsMappingPolicies/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"servicePrincipal-id"+"}", _neturl.PathEscape(parameterToString(r.servicePrincipalId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiServicePrincipalsListClaimsMappingPoliciesRequest struct {
	ctx _context.Context
	ApiService *ServicePrincipalsClaimsMappingPolicyApiService
	servicePrincipalId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiServicePrincipalsListClaimsMappingPoliciesRequest) Top(top int32) ApiServicePrincipalsListClaimsMappingPoliciesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiServicePrincipalsListClaimsMappingPoliciesRequest) Skip(skip int32) ApiServicePrincipalsListClaimsMappingPoliciesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiServicePrincipalsListClaimsMappingPoliciesRequest) Search(search string) ApiServicePrincipalsListClaimsMappingPoliciesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiServicePrincipalsListClaimsMappingPoliciesRequest) Filter(filter string) ApiServicePrincipalsListClaimsMappingPoliciesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiServicePrincipalsListClaimsMappingPoliciesRequest) Count(count bool) ApiServicePrincipalsListClaimsMappingPoliciesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiServicePrincipalsListClaimsMappingPoliciesRequest) Orderby(orderby []string) ApiServicePrincipalsListClaimsMappingPoliciesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiServicePrincipalsListClaimsMappingPoliciesRequest) Select_(select_ []string) ApiServicePrincipalsListClaimsMappingPoliciesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiServicePrincipalsListClaimsMappingPoliciesRequest) Expand(expand []string) ApiServicePrincipalsListClaimsMappingPoliciesRequest {
	r.expand = &expand
	return r
}

func (r ApiServicePrincipalsListClaimsMappingPoliciesRequest) Execute() (CollectionOfClaimsMappingPolicy, *_nethttp.Response, error) {
	return r.ApiService.ServicePrincipalsListClaimsMappingPoliciesExecute(r)
}

/*
ServicePrincipalsListClaimsMappingPolicies Get claimsMappingPolicies from servicePrincipals

The claimsMappingPolicies assigned to this service principal. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param servicePrincipalId key: id of servicePrincipal
 @return ApiServicePrincipalsListClaimsMappingPoliciesRequest
*/
func (a *ServicePrincipalsClaimsMappingPolicyApiService) ServicePrincipalsListClaimsMappingPolicies(ctx _context.Context, servicePrincipalId string) ApiServicePrincipalsListClaimsMappingPoliciesRequest {
	return ApiServicePrincipalsListClaimsMappingPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		servicePrincipalId: servicePrincipalId,
	}
}

// Execute executes the request
//  @return CollectionOfClaimsMappingPolicy
func (a *ServicePrincipalsClaimsMappingPolicyApiService) ServicePrincipalsListClaimsMappingPoliciesExecute(r ApiServicePrincipalsListClaimsMappingPoliciesRequest) (CollectionOfClaimsMappingPolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfClaimsMappingPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServicePrincipalsClaimsMappingPolicyApiService.ServicePrincipalsListClaimsMappingPolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servicePrincipals/{servicePrincipal-id}/claimsMappingPolicies"
	localVarPath = strings.Replace(localVarPath, "{"+"servicePrincipal-id"+"}", _neturl.PathEscape(parameterToString(r.servicePrincipalId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiServicePrincipalsListRefClaimsMappingPoliciesRequest struct {
	ctx _context.Context
	ApiService *ServicePrincipalsClaimsMappingPolicyApiService
	servicePrincipalId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
}

// Show only the first n items
func (r ApiServicePrincipalsListRefClaimsMappingPoliciesRequest) Top(top int32) ApiServicePrincipalsListRefClaimsMappingPoliciesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiServicePrincipalsListRefClaimsMappingPoliciesRequest) Skip(skip int32) ApiServicePrincipalsListRefClaimsMappingPoliciesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiServicePrincipalsListRefClaimsMappingPoliciesRequest) Search(search string) ApiServicePrincipalsListRefClaimsMappingPoliciesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiServicePrincipalsListRefClaimsMappingPoliciesRequest) Filter(filter string) ApiServicePrincipalsListRefClaimsMappingPoliciesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiServicePrincipalsListRefClaimsMappingPoliciesRequest) Count(count bool) ApiServicePrincipalsListRefClaimsMappingPoliciesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiServicePrincipalsListRefClaimsMappingPoliciesRequest) Orderby(orderby []string) ApiServicePrincipalsListRefClaimsMappingPoliciesRequest {
	r.orderby = &orderby
	return r
}

func (r ApiServicePrincipalsListRefClaimsMappingPoliciesRequest) Execute() (CollectionOfLinksOfClaimsMappingPolicy, *_nethttp.Response, error) {
	return r.ApiService.ServicePrincipalsListRefClaimsMappingPoliciesExecute(r)
}

/*
ServicePrincipalsListRefClaimsMappingPolicies Get ref of claimsMappingPolicies from servicePrincipals

The claimsMappingPolicies assigned to this service principal. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param servicePrincipalId key: id of servicePrincipal
 @return ApiServicePrincipalsListRefClaimsMappingPoliciesRequest
*/
func (a *ServicePrincipalsClaimsMappingPolicyApiService) ServicePrincipalsListRefClaimsMappingPolicies(ctx _context.Context, servicePrincipalId string) ApiServicePrincipalsListRefClaimsMappingPoliciesRequest {
	return ApiServicePrincipalsListRefClaimsMappingPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		servicePrincipalId: servicePrincipalId,
	}
}

// Execute executes the request
//  @return CollectionOfLinksOfClaimsMappingPolicy
func (a *ServicePrincipalsClaimsMappingPolicyApiService) ServicePrincipalsListRefClaimsMappingPoliciesExecute(r ApiServicePrincipalsListRefClaimsMappingPoliciesRequest) (CollectionOfLinksOfClaimsMappingPolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfLinksOfClaimsMappingPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServicePrincipalsClaimsMappingPolicyApiService.ServicePrincipalsListRefClaimsMappingPolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servicePrincipals/{servicePrincipal-id}/claimsMappingPolicies/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"servicePrincipal-id"+"}", _neturl.PathEscape(parameterToString(r.servicePrincipalId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
