/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
)

// Linger please
var (
	_ _context.Context
)

// MeAgreementAcceptanceApiService MeAgreementAcceptanceApi service
type MeAgreementAcceptanceApiService service

type ApiMeCreateRefAgreementAcceptancesRequest struct {
	ctx _context.Context
	ApiService *MeAgreementAcceptanceApiService
	requestBody *map[string]map[string]interface{}
}

// New navigation property ref value
func (r ApiMeCreateRefAgreementAcceptancesRequest) RequestBody(requestBody map[string]map[string]interface{}) ApiMeCreateRefAgreementAcceptancesRequest {
	r.requestBody = &requestBody
	return r
}

func (r ApiMeCreateRefAgreementAcceptancesRequest) Execute() (map[string]interface{}, *_nethttp.Response, error) {
	return r.ApiService.MeCreateRefAgreementAcceptancesExecute(r)
}

/*
MeCreateRefAgreementAcceptances Create new navigation property ref to agreementAcceptances for me

The user's terms of use acceptance statuses. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMeCreateRefAgreementAcceptancesRequest
*/
func (a *MeAgreementAcceptanceApiService) MeCreateRefAgreementAcceptances(ctx _context.Context) ApiMeCreateRefAgreementAcceptancesRequest {
	return ApiMeCreateRefAgreementAcceptancesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *MeAgreementAcceptanceApiService) MeCreateRefAgreementAcceptancesExecute(r ApiMeCreateRefAgreementAcceptancesRequest) (map[string]interface{}, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeAgreementAcceptanceApiService.MeCreateRefAgreementAcceptances")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/agreementAcceptances/$ref"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeListAgreementAcceptancesRequest struct {
	ctx _context.Context
	ApiService *MeAgreementAcceptanceApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiMeListAgreementAcceptancesRequest) Top(top int32) ApiMeListAgreementAcceptancesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiMeListAgreementAcceptancesRequest) Skip(skip int32) ApiMeListAgreementAcceptancesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiMeListAgreementAcceptancesRequest) Search(search string) ApiMeListAgreementAcceptancesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiMeListAgreementAcceptancesRequest) Filter(filter string) ApiMeListAgreementAcceptancesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiMeListAgreementAcceptancesRequest) Count(count bool) ApiMeListAgreementAcceptancesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiMeListAgreementAcceptancesRequest) Orderby(orderby []string) ApiMeListAgreementAcceptancesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiMeListAgreementAcceptancesRequest) Select_(select_ []string) ApiMeListAgreementAcceptancesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiMeListAgreementAcceptancesRequest) Expand(expand []string) ApiMeListAgreementAcceptancesRequest {
	r.expand = &expand
	return r
}

func (r ApiMeListAgreementAcceptancesRequest) Execute() (CollectionOfAgreementAcceptance, *_nethttp.Response, error) {
	return r.ApiService.MeListAgreementAcceptancesExecute(r)
}

/*
MeListAgreementAcceptances Get agreementAcceptances from me

The user's terms of use acceptance statuses. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMeListAgreementAcceptancesRequest
*/
func (a *MeAgreementAcceptanceApiService) MeListAgreementAcceptances(ctx _context.Context) ApiMeListAgreementAcceptancesRequest {
	return ApiMeListAgreementAcceptancesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfAgreementAcceptance
func (a *MeAgreementAcceptanceApiService) MeListAgreementAcceptancesExecute(r ApiMeListAgreementAcceptancesRequest) (CollectionOfAgreementAcceptance, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfAgreementAcceptance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeAgreementAcceptanceApiService.MeListAgreementAcceptances")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/agreementAcceptances"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeListRefAgreementAcceptancesRequest struct {
	ctx _context.Context
	ApiService *MeAgreementAcceptanceApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
}

// Show only the first n items
func (r ApiMeListRefAgreementAcceptancesRequest) Top(top int32) ApiMeListRefAgreementAcceptancesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiMeListRefAgreementAcceptancesRequest) Skip(skip int32) ApiMeListRefAgreementAcceptancesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiMeListRefAgreementAcceptancesRequest) Search(search string) ApiMeListRefAgreementAcceptancesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiMeListRefAgreementAcceptancesRequest) Filter(filter string) ApiMeListRefAgreementAcceptancesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiMeListRefAgreementAcceptancesRequest) Count(count bool) ApiMeListRefAgreementAcceptancesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiMeListRefAgreementAcceptancesRequest) Orderby(orderby []string) ApiMeListRefAgreementAcceptancesRequest {
	r.orderby = &orderby
	return r
}

func (r ApiMeListRefAgreementAcceptancesRequest) Execute() (CollectionOfLinksOfAgreementAcceptance, *_nethttp.Response, error) {
	return r.ApiService.MeListRefAgreementAcceptancesExecute(r)
}

/*
MeListRefAgreementAcceptances Get ref of agreementAcceptances from me

The user's terms of use acceptance statuses. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMeListRefAgreementAcceptancesRequest
*/
func (a *MeAgreementAcceptanceApiService) MeListRefAgreementAcceptances(ctx _context.Context) ApiMeListRefAgreementAcceptancesRequest {
	return ApiMeListRefAgreementAcceptancesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfLinksOfAgreementAcceptance
func (a *MeAgreementAcceptanceApiService) MeListRefAgreementAcceptancesExecute(r ApiMeListRefAgreementAcceptancesRequest) (CollectionOfLinksOfAgreementAcceptance, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfLinksOfAgreementAcceptance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeAgreementAcceptanceApiService.MeListRefAgreementAcceptances")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/agreementAcceptances/$ref"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
