/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// DeviceManagementIosUpdateDeviceStatusApiService DeviceManagementIosUpdateDeviceStatusApi service
type DeviceManagementIosUpdateDeviceStatusApiService service

type ApiDeviceManagementCreateIosUpdateStatusesRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementIosUpdateDeviceStatusApiService
	microsoftGraphIosUpdateDeviceStatus *MicrosoftGraphIosUpdateDeviceStatus
}

// New navigation property
func (r ApiDeviceManagementCreateIosUpdateStatusesRequest) MicrosoftGraphIosUpdateDeviceStatus(microsoftGraphIosUpdateDeviceStatus MicrosoftGraphIosUpdateDeviceStatus) ApiDeviceManagementCreateIosUpdateStatusesRequest {
	r.microsoftGraphIosUpdateDeviceStatus = &microsoftGraphIosUpdateDeviceStatus
	return r
}

func (r ApiDeviceManagementCreateIosUpdateStatusesRequest) Execute() (MicrosoftGraphIosUpdateDeviceStatus, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementCreateIosUpdateStatusesExecute(r)
}

/*
DeviceManagementCreateIosUpdateStatuses Create new navigation property to iosUpdateStatuses for deviceManagement

The IOS software update installation statuses for this account.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceManagementCreateIosUpdateStatusesRequest
*/
func (a *DeviceManagementIosUpdateDeviceStatusApiService) DeviceManagementCreateIosUpdateStatuses(ctx _context.Context) ApiDeviceManagementCreateIosUpdateStatusesRequest {
	return ApiDeviceManagementCreateIosUpdateStatusesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphIosUpdateDeviceStatus
func (a *DeviceManagementIosUpdateDeviceStatusApiService) DeviceManagementCreateIosUpdateStatusesExecute(r ApiDeviceManagementCreateIosUpdateStatusesRequest) (MicrosoftGraphIosUpdateDeviceStatus, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphIosUpdateDeviceStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementIosUpdateDeviceStatusApiService.DeviceManagementCreateIosUpdateStatuses")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/iosUpdateStatuses"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphIosUpdateDeviceStatus == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphIosUpdateDeviceStatus is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphIosUpdateDeviceStatus
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementDeleteIosUpdateStatusesRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementIosUpdateDeviceStatusApiService
	iosUpdateDeviceStatusId string
	ifMatch *string
}

// ETag
func (r ApiDeviceManagementDeleteIosUpdateStatusesRequest) IfMatch(ifMatch string) ApiDeviceManagementDeleteIosUpdateStatusesRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiDeviceManagementDeleteIosUpdateStatusesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceManagementDeleteIosUpdateStatusesExecute(r)
}

/*
DeviceManagementDeleteIosUpdateStatuses Delete navigation property iosUpdateStatuses for deviceManagement

The IOS software update installation statuses for this account.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param iosUpdateDeviceStatusId key: id of iosUpdateDeviceStatus
 @return ApiDeviceManagementDeleteIosUpdateStatusesRequest
*/
func (a *DeviceManagementIosUpdateDeviceStatusApiService) DeviceManagementDeleteIosUpdateStatuses(ctx _context.Context, iosUpdateDeviceStatusId string) ApiDeviceManagementDeleteIosUpdateStatusesRequest {
	return ApiDeviceManagementDeleteIosUpdateStatusesRequest{
		ApiService: a,
		ctx: ctx,
		iosUpdateDeviceStatusId: iosUpdateDeviceStatusId,
	}
}

// Execute executes the request
func (a *DeviceManagementIosUpdateDeviceStatusApiService) DeviceManagementDeleteIosUpdateStatusesExecute(r ApiDeviceManagementDeleteIosUpdateStatusesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementIosUpdateDeviceStatusApiService.DeviceManagementDeleteIosUpdateStatuses")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/iosUpdateStatuses/{iosUpdateDeviceStatus-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"iosUpdateDeviceStatus-id"+"}", _neturl.PathEscape(parameterToString(r.iosUpdateDeviceStatusId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeviceManagementGetIosUpdateStatusesRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementIosUpdateDeviceStatusApiService
	iosUpdateDeviceStatusId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiDeviceManagementGetIosUpdateStatusesRequest) Select_(select_ []string) ApiDeviceManagementGetIosUpdateStatusesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceManagementGetIosUpdateStatusesRequest) Expand(expand []string) ApiDeviceManagementGetIosUpdateStatusesRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceManagementGetIosUpdateStatusesRequest) Execute() (MicrosoftGraphIosUpdateDeviceStatus, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementGetIosUpdateStatusesExecute(r)
}

/*
DeviceManagementGetIosUpdateStatuses Get iosUpdateStatuses from deviceManagement

The IOS software update installation statuses for this account.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param iosUpdateDeviceStatusId key: id of iosUpdateDeviceStatus
 @return ApiDeviceManagementGetIosUpdateStatusesRequest
*/
func (a *DeviceManagementIosUpdateDeviceStatusApiService) DeviceManagementGetIosUpdateStatuses(ctx _context.Context, iosUpdateDeviceStatusId string) ApiDeviceManagementGetIosUpdateStatusesRequest {
	return ApiDeviceManagementGetIosUpdateStatusesRequest{
		ApiService: a,
		ctx: ctx,
		iosUpdateDeviceStatusId: iosUpdateDeviceStatusId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphIosUpdateDeviceStatus
func (a *DeviceManagementIosUpdateDeviceStatusApiService) DeviceManagementGetIosUpdateStatusesExecute(r ApiDeviceManagementGetIosUpdateStatusesRequest) (MicrosoftGraphIosUpdateDeviceStatus, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphIosUpdateDeviceStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementIosUpdateDeviceStatusApiService.DeviceManagementGetIosUpdateStatuses")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/iosUpdateStatuses/{iosUpdateDeviceStatus-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"iosUpdateDeviceStatus-id"+"}", _neturl.PathEscape(parameterToString(r.iosUpdateDeviceStatusId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementListIosUpdateStatusesRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementIosUpdateDeviceStatusApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiDeviceManagementListIosUpdateStatusesRequest) Top(top int32) ApiDeviceManagementListIosUpdateStatusesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiDeviceManagementListIosUpdateStatusesRequest) Skip(skip int32) ApiDeviceManagementListIosUpdateStatusesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiDeviceManagementListIosUpdateStatusesRequest) Search(search string) ApiDeviceManagementListIosUpdateStatusesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiDeviceManagementListIosUpdateStatusesRequest) Filter(filter string) ApiDeviceManagementListIosUpdateStatusesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiDeviceManagementListIosUpdateStatusesRequest) Count(count bool) ApiDeviceManagementListIosUpdateStatusesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiDeviceManagementListIosUpdateStatusesRequest) Orderby(orderby []string) ApiDeviceManagementListIosUpdateStatusesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiDeviceManagementListIosUpdateStatusesRequest) Select_(select_ []string) ApiDeviceManagementListIosUpdateStatusesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceManagementListIosUpdateStatusesRequest) Expand(expand []string) ApiDeviceManagementListIosUpdateStatusesRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceManagementListIosUpdateStatusesRequest) Execute() (CollectionOfIosUpdateDeviceStatus, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementListIosUpdateStatusesExecute(r)
}

/*
DeviceManagementListIosUpdateStatuses Get iosUpdateStatuses from deviceManagement

The IOS software update installation statuses for this account.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceManagementListIosUpdateStatusesRequest
*/
func (a *DeviceManagementIosUpdateDeviceStatusApiService) DeviceManagementListIosUpdateStatuses(ctx _context.Context) ApiDeviceManagementListIosUpdateStatusesRequest {
	return ApiDeviceManagementListIosUpdateStatusesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfIosUpdateDeviceStatus
func (a *DeviceManagementIosUpdateDeviceStatusApiService) DeviceManagementListIosUpdateStatusesExecute(r ApiDeviceManagementListIosUpdateStatusesRequest) (CollectionOfIosUpdateDeviceStatus, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfIosUpdateDeviceStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementIosUpdateDeviceStatusApiService.DeviceManagementListIosUpdateStatuses")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/iosUpdateStatuses"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementUpdateIosUpdateStatusesRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementIosUpdateDeviceStatusApiService
	iosUpdateDeviceStatusId string
	microsoftGraphIosUpdateDeviceStatus *MicrosoftGraphIosUpdateDeviceStatus
}

// New navigation property values
func (r ApiDeviceManagementUpdateIosUpdateStatusesRequest) MicrosoftGraphIosUpdateDeviceStatus(microsoftGraphIosUpdateDeviceStatus MicrosoftGraphIosUpdateDeviceStatus) ApiDeviceManagementUpdateIosUpdateStatusesRequest {
	r.microsoftGraphIosUpdateDeviceStatus = &microsoftGraphIosUpdateDeviceStatus
	return r
}

func (r ApiDeviceManagementUpdateIosUpdateStatusesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceManagementUpdateIosUpdateStatusesExecute(r)
}

/*
DeviceManagementUpdateIosUpdateStatuses Update the navigation property iosUpdateStatuses in deviceManagement

The IOS software update installation statuses for this account.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param iosUpdateDeviceStatusId key: id of iosUpdateDeviceStatus
 @return ApiDeviceManagementUpdateIosUpdateStatusesRequest
*/
func (a *DeviceManagementIosUpdateDeviceStatusApiService) DeviceManagementUpdateIosUpdateStatuses(ctx _context.Context, iosUpdateDeviceStatusId string) ApiDeviceManagementUpdateIosUpdateStatusesRequest {
	return ApiDeviceManagementUpdateIosUpdateStatusesRequest{
		ApiService: a,
		ctx: ctx,
		iosUpdateDeviceStatusId: iosUpdateDeviceStatusId,
	}
}

// Execute executes the request
func (a *DeviceManagementIosUpdateDeviceStatusApiService) DeviceManagementUpdateIosUpdateStatusesExecute(r ApiDeviceManagementUpdateIosUpdateStatusesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementIosUpdateDeviceStatusApiService.DeviceManagementUpdateIosUpdateStatuses")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/iosUpdateStatuses/{iosUpdateDeviceStatus-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"iosUpdateDeviceStatus-id"+"}", _neturl.PathEscape(parameterToString(r.iosUpdateDeviceStatusId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphIosUpdateDeviceStatus == nil {
		return nil, reportError("microsoftGraphIosUpdateDeviceStatus is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphIosUpdateDeviceStatus
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
