/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// UsersLicenseDetailsApiService UsersLicenseDetailsApi service
type UsersLicenseDetailsApiService service

type ApiUsersCreateLicenseDetailsRequest struct {
	ctx _context.Context
	ApiService *UsersLicenseDetailsApiService
	userId string
	microsoftGraphLicenseDetails *MicrosoftGraphLicenseDetails
}

// New navigation property
func (r ApiUsersCreateLicenseDetailsRequest) MicrosoftGraphLicenseDetails(microsoftGraphLicenseDetails MicrosoftGraphLicenseDetails) ApiUsersCreateLicenseDetailsRequest {
	r.microsoftGraphLicenseDetails = &microsoftGraphLicenseDetails
	return r
}

func (r ApiUsersCreateLicenseDetailsRequest) Execute() (MicrosoftGraphLicenseDetails, *_nethttp.Response, error) {
	return r.ApiService.UsersCreateLicenseDetailsExecute(r)
}

/*
UsersCreateLicenseDetails Create new navigation property to licenseDetails for users

A collection of this user's license details. Read-only.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userId key: id of user
 @return ApiUsersCreateLicenseDetailsRequest
*/
func (a *UsersLicenseDetailsApiService) UsersCreateLicenseDetails(ctx _context.Context, userId string) ApiUsersCreateLicenseDetailsRequest {
	return ApiUsersCreateLicenseDetailsRequest{
		ApiService: a,
		ctx: ctx,
		userId: userId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphLicenseDetails
func (a *UsersLicenseDetailsApiService) UsersCreateLicenseDetailsExecute(r ApiUsersCreateLicenseDetailsRequest) (MicrosoftGraphLicenseDetails, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphLicenseDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersLicenseDetailsApiService.UsersCreateLicenseDetails")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/{user-id}/licenseDetails"
	localVarPath = strings.Replace(localVarPath, "{"+"user-id"+"}", _neturl.PathEscape(parameterToString(r.userId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphLicenseDetails == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphLicenseDetails is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphLicenseDetails
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUsersDeleteLicenseDetailsRequest struct {
	ctx _context.Context
	ApiService *UsersLicenseDetailsApiService
	userId string
	licenseDetailsId string
	ifMatch *string
}

// ETag
func (r ApiUsersDeleteLicenseDetailsRequest) IfMatch(ifMatch string) ApiUsersDeleteLicenseDetailsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiUsersDeleteLicenseDetailsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.UsersDeleteLicenseDetailsExecute(r)
}

/*
UsersDeleteLicenseDetails Delete navigation property licenseDetails for users

A collection of this user's license details. Read-only.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userId key: id of user
 @param licenseDetailsId key: id of licenseDetails
 @return ApiUsersDeleteLicenseDetailsRequest
*/
func (a *UsersLicenseDetailsApiService) UsersDeleteLicenseDetails(ctx _context.Context, userId string, licenseDetailsId string) ApiUsersDeleteLicenseDetailsRequest {
	return ApiUsersDeleteLicenseDetailsRequest{
		ApiService: a,
		ctx: ctx,
		userId: userId,
		licenseDetailsId: licenseDetailsId,
	}
}

// Execute executes the request
func (a *UsersLicenseDetailsApiService) UsersDeleteLicenseDetailsExecute(r ApiUsersDeleteLicenseDetailsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersLicenseDetailsApiService.UsersDeleteLicenseDetails")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/{user-id}/licenseDetails/{licenseDetails-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"user-id"+"}", _neturl.PathEscape(parameterToString(r.userId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"licenseDetails-id"+"}", _neturl.PathEscape(parameterToString(r.licenseDetailsId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiUsersGetLicenseDetailsRequest struct {
	ctx _context.Context
	ApiService *UsersLicenseDetailsApiService
	userId string
	licenseDetailsId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiUsersGetLicenseDetailsRequest) Select_(select_ []string) ApiUsersGetLicenseDetailsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiUsersGetLicenseDetailsRequest) Expand(expand []string) ApiUsersGetLicenseDetailsRequest {
	r.expand = &expand
	return r
}

func (r ApiUsersGetLicenseDetailsRequest) Execute() (MicrosoftGraphLicenseDetails, *_nethttp.Response, error) {
	return r.ApiService.UsersGetLicenseDetailsExecute(r)
}

/*
UsersGetLicenseDetails Get licenseDetails from users

A collection of this user's license details. Read-only.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userId key: id of user
 @param licenseDetailsId key: id of licenseDetails
 @return ApiUsersGetLicenseDetailsRequest
*/
func (a *UsersLicenseDetailsApiService) UsersGetLicenseDetails(ctx _context.Context, userId string, licenseDetailsId string) ApiUsersGetLicenseDetailsRequest {
	return ApiUsersGetLicenseDetailsRequest{
		ApiService: a,
		ctx: ctx,
		userId: userId,
		licenseDetailsId: licenseDetailsId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphLicenseDetails
func (a *UsersLicenseDetailsApiService) UsersGetLicenseDetailsExecute(r ApiUsersGetLicenseDetailsRequest) (MicrosoftGraphLicenseDetails, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphLicenseDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersLicenseDetailsApiService.UsersGetLicenseDetails")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/{user-id}/licenseDetails/{licenseDetails-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"user-id"+"}", _neturl.PathEscape(parameterToString(r.userId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"licenseDetails-id"+"}", _neturl.PathEscape(parameterToString(r.licenseDetailsId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUsersListLicenseDetailsRequest struct {
	ctx _context.Context
	ApiService *UsersLicenseDetailsApiService
	userId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiUsersListLicenseDetailsRequest) Top(top int32) ApiUsersListLicenseDetailsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiUsersListLicenseDetailsRequest) Skip(skip int32) ApiUsersListLicenseDetailsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiUsersListLicenseDetailsRequest) Search(search string) ApiUsersListLicenseDetailsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiUsersListLicenseDetailsRequest) Filter(filter string) ApiUsersListLicenseDetailsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiUsersListLicenseDetailsRequest) Count(count bool) ApiUsersListLicenseDetailsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiUsersListLicenseDetailsRequest) Orderby(orderby []string) ApiUsersListLicenseDetailsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiUsersListLicenseDetailsRequest) Select_(select_ []string) ApiUsersListLicenseDetailsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiUsersListLicenseDetailsRequest) Expand(expand []string) ApiUsersListLicenseDetailsRequest {
	r.expand = &expand
	return r
}

func (r ApiUsersListLicenseDetailsRequest) Execute() (CollectionOfLicenseDetails, *_nethttp.Response, error) {
	return r.ApiService.UsersListLicenseDetailsExecute(r)
}

/*
UsersListLicenseDetails Get licenseDetails from users

A collection of this user's license details. Read-only.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userId key: id of user
 @return ApiUsersListLicenseDetailsRequest
*/
func (a *UsersLicenseDetailsApiService) UsersListLicenseDetails(ctx _context.Context, userId string) ApiUsersListLicenseDetailsRequest {
	return ApiUsersListLicenseDetailsRequest{
		ApiService: a,
		ctx: ctx,
		userId: userId,
	}
}

// Execute executes the request
//  @return CollectionOfLicenseDetails
func (a *UsersLicenseDetailsApiService) UsersListLicenseDetailsExecute(r ApiUsersListLicenseDetailsRequest) (CollectionOfLicenseDetails, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfLicenseDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersLicenseDetailsApiService.UsersListLicenseDetails")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/{user-id}/licenseDetails"
	localVarPath = strings.Replace(localVarPath, "{"+"user-id"+"}", _neturl.PathEscape(parameterToString(r.userId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUsersUpdateLicenseDetailsRequest struct {
	ctx _context.Context
	ApiService *UsersLicenseDetailsApiService
	userId string
	licenseDetailsId string
	microsoftGraphLicenseDetails *MicrosoftGraphLicenseDetails
}

// New navigation property values
func (r ApiUsersUpdateLicenseDetailsRequest) MicrosoftGraphLicenseDetails(microsoftGraphLicenseDetails MicrosoftGraphLicenseDetails) ApiUsersUpdateLicenseDetailsRequest {
	r.microsoftGraphLicenseDetails = &microsoftGraphLicenseDetails
	return r
}

func (r ApiUsersUpdateLicenseDetailsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.UsersUpdateLicenseDetailsExecute(r)
}

/*
UsersUpdateLicenseDetails Update the navigation property licenseDetails in users

A collection of this user's license details. Read-only.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userId key: id of user
 @param licenseDetailsId key: id of licenseDetails
 @return ApiUsersUpdateLicenseDetailsRequest
*/
func (a *UsersLicenseDetailsApiService) UsersUpdateLicenseDetails(ctx _context.Context, userId string, licenseDetailsId string) ApiUsersUpdateLicenseDetailsRequest {
	return ApiUsersUpdateLicenseDetailsRequest{
		ApiService: a,
		ctx: ctx,
		userId: userId,
		licenseDetailsId: licenseDetailsId,
	}
}

// Execute executes the request
func (a *UsersLicenseDetailsApiService) UsersUpdateLicenseDetailsExecute(r ApiUsersUpdateLicenseDetailsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersLicenseDetailsApiService.UsersUpdateLicenseDetails")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/{user-id}/licenseDetails/{licenseDetails-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"user-id"+"}", _neturl.PathEscape(parameterToString(r.userId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"licenseDetails-id"+"}", _neturl.PathEscape(parameterToString(r.licenseDetailsId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphLicenseDetails == nil {
		return nil, reportError("microsoftGraphLicenseDetails is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphLicenseDetails
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
