/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// ApplicationsTokenLifetimePolicyApiService ApplicationsTokenLifetimePolicyApi service
type ApplicationsTokenLifetimePolicyApiService service

type ApiApplicationsCreateRefTokenLifetimePoliciesRequest struct {
	ctx _context.Context
	ApiService *ApplicationsTokenLifetimePolicyApiService
	applicationId string
	requestBody *map[string]map[string]interface{}
}

// New navigation property ref value
func (r ApiApplicationsCreateRefTokenLifetimePoliciesRequest) RequestBody(requestBody map[string]map[string]interface{}) ApiApplicationsCreateRefTokenLifetimePoliciesRequest {
	r.requestBody = &requestBody
	return r
}

func (r ApiApplicationsCreateRefTokenLifetimePoliciesRequest) Execute() (map[string]interface{}, *_nethttp.Response, error) {
	return r.ApiService.ApplicationsCreateRefTokenLifetimePoliciesExecute(r)
}

/*
ApplicationsCreateRefTokenLifetimePolicies Create new navigation property ref to tokenLifetimePolicies for applications

The tokenLifetimePolicies assigned to this application. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param applicationId key: id of application
 @return ApiApplicationsCreateRefTokenLifetimePoliciesRequest
*/
func (a *ApplicationsTokenLifetimePolicyApiService) ApplicationsCreateRefTokenLifetimePolicies(ctx _context.Context, applicationId string) ApiApplicationsCreateRefTokenLifetimePoliciesRequest {
	return ApiApplicationsCreateRefTokenLifetimePoliciesRequest{
		ApiService: a,
		ctx: ctx,
		applicationId: applicationId,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ApplicationsTokenLifetimePolicyApiService) ApplicationsCreateRefTokenLifetimePoliciesExecute(r ApiApplicationsCreateRefTokenLifetimePoliciesRequest) (map[string]interface{}, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsTokenLifetimePolicyApiService.ApplicationsCreateRefTokenLifetimePolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/applications/{application-id}/tokenLifetimePolicies/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"application-id"+"}", _neturl.PathEscape(parameterToString(r.applicationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApplicationsListRefTokenLifetimePoliciesRequest struct {
	ctx _context.Context
	ApiService *ApplicationsTokenLifetimePolicyApiService
	applicationId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
}

// Show only the first n items
func (r ApiApplicationsListRefTokenLifetimePoliciesRequest) Top(top int32) ApiApplicationsListRefTokenLifetimePoliciesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiApplicationsListRefTokenLifetimePoliciesRequest) Skip(skip int32) ApiApplicationsListRefTokenLifetimePoliciesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiApplicationsListRefTokenLifetimePoliciesRequest) Search(search string) ApiApplicationsListRefTokenLifetimePoliciesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiApplicationsListRefTokenLifetimePoliciesRequest) Filter(filter string) ApiApplicationsListRefTokenLifetimePoliciesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiApplicationsListRefTokenLifetimePoliciesRequest) Count(count bool) ApiApplicationsListRefTokenLifetimePoliciesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiApplicationsListRefTokenLifetimePoliciesRequest) Orderby(orderby []string) ApiApplicationsListRefTokenLifetimePoliciesRequest {
	r.orderby = &orderby
	return r
}

func (r ApiApplicationsListRefTokenLifetimePoliciesRequest) Execute() (CollectionOfLinksOfTokenLifetimePolicy, *_nethttp.Response, error) {
	return r.ApiService.ApplicationsListRefTokenLifetimePoliciesExecute(r)
}

/*
ApplicationsListRefTokenLifetimePolicies Get ref of tokenLifetimePolicies from applications

The tokenLifetimePolicies assigned to this application. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param applicationId key: id of application
 @return ApiApplicationsListRefTokenLifetimePoliciesRequest
*/
func (a *ApplicationsTokenLifetimePolicyApiService) ApplicationsListRefTokenLifetimePolicies(ctx _context.Context, applicationId string) ApiApplicationsListRefTokenLifetimePoliciesRequest {
	return ApiApplicationsListRefTokenLifetimePoliciesRequest{
		ApiService: a,
		ctx: ctx,
		applicationId: applicationId,
	}
}

// Execute executes the request
//  @return CollectionOfLinksOfTokenLifetimePolicy
func (a *ApplicationsTokenLifetimePolicyApiService) ApplicationsListRefTokenLifetimePoliciesExecute(r ApiApplicationsListRefTokenLifetimePoliciesRequest) (CollectionOfLinksOfTokenLifetimePolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfLinksOfTokenLifetimePolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsTokenLifetimePolicyApiService.ApplicationsListRefTokenLifetimePolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/applications/{application-id}/tokenLifetimePolicies/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"application-id"+"}", _neturl.PathEscape(parameterToString(r.applicationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApplicationsListTokenLifetimePoliciesRequest struct {
	ctx _context.Context
	ApiService *ApplicationsTokenLifetimePolicyApiService
	applicationId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiApplicationsListTokenLifetimePoliciesRequest) Top(top int32) ApiApplicationsListTokenLifetimePoliciesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiApplicationsListTokenLifetimePoliciesRequest) Skip(skip int32) ApiApplicationsListTokenLifetimePoliciesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiApplicationsListTokenLifetimePoliciesRequest) Search(search string) ApiApplicationsListTokenLifetimePoliciesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiApplicationsListTokenLifetimePoliciesRequest) Filter(filter string) ApiApplicationsListTokenLifetimePoliciesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiApplicationsListTokenLifetimePoliciesRequest) Count(count bool) ApiApplicationsListTokenLifetimePoliciesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiApplicationsListTokenLifetimePoliciesRequest) Orderby(orderby []string) ApiApplicationsListTokenLifetimePoliciesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiApplicationsListTokenLifetimePoliciesRequest) Select_(select_ []string) ApiApplicationsListTokenLifetimePoliciesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiApplicationsListTokenLifetimePoliciesRequest) Expand(expand []string) ApiApplicationsListTokenLifetimePoliciesRequest {
	r.expand = &expand
	return r
}

func (r ApiApplicationsListTokenLifetimePoliciesRequest) Execute() (CollectionOfTokenLifetimePolicy, *_nethttp.Response, error) {
	return r.ApiService.ApplicationsListTokenLifetimePoliciesExecute(r)
}

/*
ApplicationsListTokenLifetimePolicies Get tokenLifetimePolicies from applications

The tokenLifetimePolicies assigned to this application. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param applicationId key: id of application
 @return ApiApplicationsListTokenLifetimePoliciesRequest
*/
func (a *ApplicationsTokenLifetimePolicyApiService) ApplicationsListTokenLifetimePolicies(ctx _context.Context, applicationId string) ApiApplicationsListTokenLifetimePoliciesRequest {
	return ApiApplicationsListTokenLifetimePoliciesRequest{
		ApiService: a,
		ctx: ctx,
		applicationId: applicationId,
	}
}

// Execute executes the request
//  @return CollectionOfTokenLifetimePolicy
func (a *ApplicationsTokenLifetimePolicyApiService) ApplicationsListTokenLifetimePoliciesExecute(r ApiApplicationsListTokenLifetimePoliciesRequest) (CollectionOfTokenLifetimePolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfTokenLifetimePolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsTokenLifetimePolicyApiService.ApplicationsListTokenLifetimePolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/applications/{application-id}/tokenLifetimePolicies"
	localVarPath = strings.Replace(localVarPath, "{"+"application-id"+"}", _neturl.PathEscape(parameterToString(r.applicationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
