/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// GroupSettingTemplatesGroupSettingTemplateApiService GroupSettingTemplatesGroupSettingTemplateApi service
type GroupSettingTemplatesGroupSettingTemplateApiService service

type ApiGroupSettingTemplatesGroupSettingTemplateCreateGroupSettingTemplateRequest struct {
	ctx _context.Context
	ApiService *GroupSettingTemplatesGroupSettingTemplateApiService
	microsoftGraphGroupSettingTemplate *MicrosoftGraphGroupSettingTemplate
}

// New entity
func (r ApiGroupSettingTemplatesGroupSettingTemplateCreateGroupSettingTemplateRequest) MicrosoftGraphGroupSettingTemplate(microsoftGraphGroupSettingTemplate MicrosoftGraphGroupSettingTemplate) ApiGroupSettingTemplatesGroupSettingTemplateCreateGroupSettingTemplateRequest {
	r.microsoftGraphGroupSettingTemplate = &microsoftGraphGroupSettingTemplate
	return r
}

func (r ApiGroupSettingTemplatesGroupSettingTemplateCreateGroupSettingTemplateRequest) Execute() (MicrosoftGraphGroupSettingTemplate, *_nethttp.Response, error) {
	return r.ApiService.GroupSettingTemplatesGroupSettingTemplateCreateGroupSettingTemplateExecute(r)
}

/*
GroupSettingTemplatesGroupSettingTemplateCreateGroupSettingTemplate Add new entity to groupSettingTemplates

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGroupSettingTemplatesGroupSettingTemplateCreateGroupSettingTemplateRequest
*/
func (a *GroupSettingTemplatesGroupSettingTemplateApiService) GroupSettingTemplatesGroupSettingTemplateCreateGroupSettingTemplate(ctx _context.Context) ApiGroupSettingTemplatesGroupSettingTemplateCreateGroupSettingTemplateRequest {
	return ApiGroupSettingTemplatesGroupSettingTemplateCreateGroupSettingTemplateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphGroupSettingTemplate
func (a *GroupSettingTemplatesGroupSettingTemplateApiService) GroupSettingTemplatesGroupSettingTemplateCreateGroupSettingTemplateExecute(r ApiGroupSettingTemplatesGroupSettingTemplateCreateGroupSettingTemplateRequest) (MicrosoftGraphGroupSettingTemplate, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphGroupSettingTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupSettingTemplatesGroupSettingTemplateApiService.GroupSettingTemplatesGroupSettingTemplateCreateGroupSettingTemplate")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groupSettingTemplates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphGroupSettingTemplate == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphGroupSettingTemplate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphGroupSettingTemplate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGroupSettingTemplatesGroupSettingTemplateDeleteGroupSettingTemplateRequest struct {
	ctx _context.Context
	ApiService *GroupSettingTemplatesGroupSettingTemplateApiService
	groupSettingTemplateId string
	ifMatch *string
}

// ETag
func (r ApiGroupSettingTemplatesGroupSettingTemplateDeleteGroupSettingTemplateRequest) IfMatch(ifMatch string) ApiGroupSettingTemplatesGroupSettingTemplateDeleteGroupSettingTemplateRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiGroupSettingTemplatesGroupSettingTemplateDeleteGroupSettingTemplateRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.GroupSettingTemplatesGroupSettingTemplateDeleteGroupSettingTemplateExecute(r)
}

/*
GroupSettingTemplatesGroupSettingTemplateDeleteGroupSettingTemplate Delete entity from groupSettingTemplates

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupSettingTemplateId key: id of groupSettingTemplate
 @return ApiGroupSettingTemplatesGroupSettingTemplateDeleteGroupSettingTemplateRequest
*/
func (a *GroupSettingTemplatesGroupSettingTemplateApiService) GroupSettingTemplatesGroupSettingTemplateDeleteGroupSettingTemplate(ctx _context.Context, groupSettingTemplateId string) ApiGroupSettingTemplatesGroupSettingTemplateDeleteGroupSettingTemplateRequest {
	return ApiGroupSettingTemplatesGroupSettingTemplateDeleteGroupSettingTemplateRequest{
		ApiService: a,
		ctx: ctx,
		groupSettingTemplateId: groupSettingTemplateId,
	}
}

// Execute executes the request
func (a *GroupSettingTemplatesGroupSettingTemplateApiService) GroupSettingTemplatesGroupSettingTemplateDeleteGroupSettingTemplateExecute(r ApiGroupSettingTemplatesGroupSettingTemplateDeleteGroupSettingTemplateRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupSettingTemplatesGroupSettingTemplateApiService.GroupSettingTemplatesGroupSettingTemplateDeleteGroupSettingTemplate")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groupSettingTemplates/{groupSettingTemplate-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"groupSettingTemplate-id"+"}", _neturl.PathEscape(parameterToString(r.groupSettingTemplateId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGroupSettingTemplatesGroupSettingTemplateGetGroupSettingTemplateRequest struct {
	ctx _context.Context
	ApiService *GroupSettingTemplatesGroupSettingTemplateApiService
	groupSettingTemplateId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiGroupSettingTemplatesGroupSettingTemplateGetGroupSettingTemplateRequest) Select_(select_ []string) ApiGroupSettingTemplatesGroupSettingTemplateGetGroupSettingTemplateRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiGroupSettingTemplatesGroupSettingTemplateGetGroupSettingTemplateRequest) Expand(expand []string) ApiGroupSettingTemplatesGroupSettingTemplateGetGroupSettingTemplateRequest {
	r.expand = &expand
	return r
}

func (r ApiGroupSettingTemplatesGroupSettingTemplateGetGroupSettingTemplateRequest) Execute() (MicrosoftGraphGroupSettingTemplate, *_nethttp.Response, error) {
	return r.ApiService.GroupSettingTemplatesGroupSettingTemplateGetGroupSettingTemplateExecute(r)
}

/*
GroupSettingTemplatesGroupSettingTemplateGetGroupSettingTemplate Get entity from groupSettingTemplates by key

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupSettingTemplateId key: id of groupSettingTemplate
 @return ApiGroupSettingTemplatesGroupSettingTemplateGetGroupSettingTemplateRequest
*/
func (a *GroupSettingTemplatesGroupSettingTemplateApiService) GroupSettingTemplatesGroupSettingTemplateGetGroupSettingTemplate(ctx _context.Context, groupSettingTemplateId string) ApiGroupSettingTemplatesGroupSettingTemplateGetGroupSettingTemplateRequest {
	return ApiGroupSettingTemplatesGroupSettingTemplateGetGroupSettingTemplateRequest{
		ApiService: a,
		ctx: ctx,
		groupSettingTemplateId: groupSettingTemplateId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphGroupSettingTemplate
func (a *GroupSettingTemplatesGroupSettingTemplateApiService) GroupSettingTemplatesGroupSettingTemplateGetGroupSettingTemplateExecute(r ApiGroupSettingTemplatesGroupSettingTemplateGetGroupSettingTemplateRequest) (MicrosoftGraphGroupSettingTemplate, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphGroupSettingTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupSettingTemplatesGroupSettingTemplateApiService.GroupSettingTemplatesGroupSettingTemplateGetGroupSettingTemplate")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groupSettingTemplates/{groupSettingTemplate-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"groupSettingTemplate-id"+"}", _neturl.PathEscape(parameterToString(r.groupSettingTemplateId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateRequest struct {
	ctx _context.Context
	ApiService *GroupSettingTemplatesGroupSettingTemplateApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiGroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateRequest) Top(top int32) ApiGroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiGroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateRequest) Skip(skip int32) ApiGroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiGroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateRequest) Search(search string) ApiGroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiGroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateRequest) Filter(filter string) ApiGroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiGroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateRequest) Count(count bool) ApiGroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiGroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateRequest) Orderby(orderby []string) ApiGroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiGroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateRequest) Select_(select_ []string) ApiGroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiGroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateRequest) Expand(expand []string) ApiGroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateRequest {
	r.expand = &expand
	return r
}

func (r ApiGroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateRequest) Execute() (CollectionOfGroupSettingTemplate, *_nethttp.Response, error) {
	return r.ApiService.GroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateExecute(r)
}

/*
GroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplate Get entities from groupSettingTemplates

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateRequest
*/
func (a *GroupSettingTemplatesGroupSettingTemplateApiService) GroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplate(ctx _context.Context) ApiGroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateRequest {
	return ApiGroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfGroupSettingTemplate
func (a *GroupSettingTemplatesGroupSettingTemplateApiService) GroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateExecute(r ApiGroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplateRequest) (CollectionOfGroupSettingTemplate, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfGroupSettingTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupSettingTemplatesGroupSettingTemplateApiService.GroupSettingTemplatesGroupSettingTemplateListGroupSettingTemplate")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groupSettingTemplates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGroupSettingTemplatesGroupSettingTemplateUpdateGroupSettingTemplateRequest struct {
	ctx _context.Context
	ApiService *GroupSettingTemplatesGroupSettingTemplateApiService
	groupSettingTemplateId string
	microsoftGraphGroupSettingTemplate *MicrosoftGraphGroupSettingTemplate
}

// New property values
func (r ApiGroupSettingTemplatesGroupSettingTemplateUpdateGroupSettingTemplateRequest) MicrosoftGraphGroupSettingTemplate(microsoftGraphGroupSettingTemplate MicrosoftGraphGroupSettingTemplate) ApiGroupSettingTemplatesGroupSettingTemplateUpdateGroupSettingTemplateRequest {
	r.microsoftGraphGroupSettingTemplate = &microsoftGraphGroupSettingTemplate
	return r
}

func (r ApiGroupSettingTemplatesGroupSettingTemplateUpdateGroupSettingTemplateRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.GroupSettingTemplatesGroupSettingTemplateUpdateGroupSettingTemplateExecute(r)
}

/*
GroupSettingTemplatesGroupSettingTemplateUpdateGroupSettingTemplate Update entity in groupSettingTemplates

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupSettingTemplateId key: id of groupSettingTemplate
 @return ApiGroupSettingTemplatesGroupSettingTemplateUpdateGroupSettingTemplateRequest
*/
func (a *GroupSettingTemplatesGroupSettingTemplateApiService) GroupSettingTemplatesGroupSettingTemplateUpdateGroupSettingTemplate(ctx _context.Context, groupSettingTemplateId string) ApiGroupSettingTemplatesGroupSettingTemplateUpdateGroupSettingTemplateRequest {
	return ApiGroupSettingTemplatesGroupSettingTemplateUpdateGroupSettingTemplateRequest{
		ApiService: a,
		ctx: ctx,
		groupSettingTemplateId: groupSettingTemplateId,
	}
}

// Execute executes the request
func (a *GroupSettingTemplatesGroupSettingTemplateApiService) GroupSettingTemplatesGroupSettingTemplateUpdateGroupSettingTemplateExecute(r ApiGroupSettingTemplatesGroupSettingTemplateUpdateGroupSettingTemplateRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupSettingTemplatesGroupSettingTemplateApiService.GroupSettingTemplatesGroupSettingTemplateUpdateGroupSettingTemplate")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groupSettingTemplates/{groupSettingTemplate-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"groupSettingTemplate-id"+"}", _neturl.PathEscape(parameterToString(r.groupSettingTemplateId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphGroupSettingTemplate == nil {
		return nil, reportError("microsoftGraphGroupSettingTemplate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphGroupSettingTemplate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
