/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// PoliciesConditionalAccessPolicyApiService PoliciesConditionalAccessPolicyApi service
type PoliciesConditionalAccessPolicyApiService service

type ApiPoliciesCreateConditionalAccessPoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesConditionalAccessPolicyApiService
	microsoftGraphConditionalAccessPolicy *MicrosoftGraphConditionalAccessPolicy
}

// New navigation property
func (r ApiPoliciesCreateConditionalAccessPoliciesRequest) MicrosoftGraphConditionalAccessPolicy(microsoftGraphConditionalAccessPolicy MicrosoftGraphConditionalAccessPolicy) ApiPoliciesCreateConditionalAccessPoliciesRequest {
	r.microsoftGraphConditionalAccessPolicy = &microsoftGraphConditionalAccessPolicy
	return r
}

func (r ApiPoliciesCreateConditionalAccessPoliciesRequest) Execute() (MicrosoftGraphConditionalAccessPolicy, *_nethttp.Response, error) {
	return r.ApiService.PoliciesCreateConditionalAccessPoliciesExecute(r)
}

/*
PoliciesCreateConditionalAccessPolicies Create new navigation property to conditionalAccessPolicies for policies

The custom rules that define an access scenario.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPoliciesCreateConditionalAccessPoliciesRequest
*/
func (a *PoliciesConditionalAccessPolicyApiService) PoliciesCreateConditionalAccessPolicies(ctx _context.Context) ApiPoliciesCreateConditionalAccessPoliciesRequest {
	return ApiPoliciesCreateConditionalAccessPoliciesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphConditionalAccessPolicy
func (a *PoliciesConditionalAccessPolicyApiService) PoliciesCreateConditionalAccessPoliciesExecute(r ApiPoliciesCreateConditionalAccessPoliciesRequest) (MicrosoftGraphConditionalAccessPolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphConditionalAccessPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesConditionalAccessPolicyApiService.PoliciesCreateConditionalAccessPolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/conditionalAccessPolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphConditionalAccessPolicy == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphConditionalAccessPolicy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphConditionalAccessPolicy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPoliciesDeleteConditionalAccessPoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesConditionalAccessPolicyApiService
	conditionalAccessPolicyId string
	ifMatch *string
}

// ETag
func (r ApiPoliciesDeleteConditionalAccessPoliciesRequest) IfMatch(ifMatch string) ApiPoliciesDeleteConditionalAccessPoliciesRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiPoliciesDeleteConditionalAccessPoliciesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.PoliciesDeleteConditionalAccessPoliciesExecute(r)
}

/*
PoliciesDeleteConditionalAccessPolicies Delete navigation property conditionalAccessPolicies for policies

The custom rules that define an access scenario.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param conditionalAccessPolicyId key: id of conditionalAccessPolicy
 @return ApiPoliciesDeleteConditionalAccessPoliciesRequest
*/
func (a *PoliciesConditionalAccessPolicyApiService) PoliciesDeleteConditionalAccessPolicies(ctx _context.Context, conditionalAccessPolicyId string) ApiPoliciesDeleteConditionalAccessPoliciesRequest {
	return ApiPoliciesDeleteConditionalAccessPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		conditionalAccessPolicyId: conditionalAccessPolicyId,
	}
}

// Execute executes the request
func (a *PoliciesConditionalAccessPolicyApiService) PoliciesDeleteConditionalAccessPoliciesExecute(r ApiPoliciesDeleteConditionalAccessPoliciesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesConditionalAccessPolicyApiService.PoliciesDeleteConditionalAccessPolicies")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/conditionalAccessPolicies/{conditionalAccessPolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"conditionalAccessPolicy-id"+"}", _neturl.PathEscape(parameterToString(r.conditionalAccessPolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPoliciesGetConditionalAccessPoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesConditionalAccessPolicyApiService
	conditionalAccessPolicyId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiPoliciesGetConditionalAccessPoliciesRequest) Select_(select_ []string) ApiPoliciesGetConditionalAccessPoliciesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiPoliciesGetConditionalAccessPoliciesRequest) Expand(expand []string) ApiPoliciesGetConditionalAccessPoliciesRequest {
	r.expand = &expand
	return r
}

func (r ApiPoliciesGetConditionalAccessPoliciesRequest) Execute() (MicrosoftGraphConditionalAccessPolicy, *_nethttp.Response, error) {
	return r.ApiService.PoliciesGetConditionalAccessPoliciesExecute(r)
}

/*
PoliciesGetConditionalAccessPolicies Get conditionalAccessPolicies from policies

The custom rules that define an access scenario.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param conditionalAccessPolicyId key: id of conditionalAccessPolicy
 @return ApiPoliciesGetConditionalAccessPoliciesRequest
*/
func (a *PoliciesConditionalAccessPolicyApiService) PoliciesGetConditionalAccessPolicies(ctx _context.Context, conditionalAccessPolicyId string) ApiPoliciesGetConditionalAccessPoliciesRequest {
	return ApiPoliciesGetConditionalAccessPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		conditionalAccessPolicyId: conditionalAccessPolicyId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphConditionalAccessPolicy
func (a *PoliciesConditionalAccessPolicyApiService) PoliciesGetConditionalAccessPoliciesExecute(r ApiPoliciesGetConditionalAccessPoliciesRequest) (MicrosoftGraphConditionalAccessPolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphConditionalAccessPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesConditionalAccessPolicyApiService.PoliciesGetConditionalAccessPolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/conditionalAccessPolicies/{conditionalAccessPolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"conditionalAccessPolicy-id"+"}", _neturl.PathEscape(parameterToString(r.conditionalAccessPolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPoliciesListConditionalAccessPoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesConditionalAccessPolicyApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiPoliciesListConditionalAccessPoliciesRequest) Top(top int32) ApiPoliciesListConditionalAccessPoliciesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiPoliciesListConditionalAccessPoliciesRequest) Skip(skip int32) ApiPoliciesListConditionalAccessPoliciesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiPoliciesListConditionalAccessPoliciesRequest) Search(search string) ApiPoliciesListConditionalAccessPoliciesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiPoliciesListConditionalAccessPoliciesRequest) Filter(filter string) ApiPoliciesListConditionalAccessPoliciesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiPoliciesListConditionalAccessPoliciesRequest) Count(count bool) ApiPoliciesListConditionalAccessPoliciesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiPoliciesListConditionalAccessPoliciesRequest) Orderby(orderby []string) ApiPoliciesListConditionalAccessPoliciesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiPoliciesListConditionalAccessPoliciesRequest) Select_(select_ []string) ApiPoliciesListConditionalAccessPoliciesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiPoliciesListConditionalAccessPoliciesRequest) Expand(expand []string) ApiPoliciesListConditionalAccessPoliciesRequest {
	r.expand = &expand
	return r
}

func (r ApiPoliciesListConditionalAccessPoliciesRequest) Execute() (CollectionOfConditionalAccessPolicy, *_nethttp.Response, error) {
	return r.ApiService.PoliciesListConditionalAccessPoliciesExecute(r)
}

/*
PoliciesListConditionalAccessPolicies Get conditionalAccessPolicies from policies

The custom rules that define an access scenario.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPoliciesListConditionalAccessPoliciesRequest
*/
func (a *PoliciesConditionalAccessPolicyApiService) PoliciesListConditionalAccessPolicies(ctx _context.Context) ApiPoliciesListConditionalAccessPoliciesRequest {
	return ApiPoliciesListConditionalAccessPoliciesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfConditionalAccessPolicy
func (a *PoliciesConditionalAccessPolicyApiService) PoliciesListConditionalAccessPoliciesExecute(r ApiPoliciesListConditionalAccessPoliciesRequest) (CollectionOfConditionalAccessPolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfConditionalAccessPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesConditionalAccessPolicyApiService.PoliciesListConditionalAccessPolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/conditionalAccessPolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPoliciesUpdateConditionalAccessPoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesConditionalAccessPolicyApiService
	conditionalAccessPolicyId string
	microsoftGraphConditionalAccessPolicy *MicrosoftGraphConditionalAccessPolicy
}

// New navigation property values
func (r ApiPoliciesUpdateConditionalAccessPoliciesRequest) MicrosoftGraphConditionalAccessPolicy(microsoftGraphConditionalAccessPolicy MicrosoftGraphConditionalAccessPolicy) ApiPoliciesUpdateConditionalAccessPoliciesRequest {
	r.microsoftGraphConditionalAccessPolicy = &microsoftGraphConditionalAccessPolicy
	return r
}

func (r ApiPoliciesUpdateConditionalAccessPoliciesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.PoliciesUpdateConditionalAccessPoliciesExecute(r)
}

/*
PoliciesUpdateConditionalAccessPolicies Update the navigation property conditionalAccessPolicies in policies

The custom rules that define an access scenario.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param conditionalAccessPolicyId key: id of conditionalAccessPolicy
 @return ApiPoliciesUpdateConditionalAccessPoliciesRequest
*/
func (a *PoliciesConditionalAccessPolicyApiService) PoliciesUpdateConditionalAccessPolicies(ctx _context.Context, conditionalAccessPolicyId string) ApiPoliciesUpdateConditionalAccessPoliciesRequest {
	return ApiPoliciesUpdateConditionalAccessPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		conditionalAccessPolicyId: conditionalAccessPolicyId,
	}
}

// Execute executes the request
func (a *PoliciesConditionalAccessPolicyApiService) PoliciesUpdateConditionalAccessPoliciesExecute(r ApiPoliciesUpdateConditionalAccessPoliciesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesConditionalAccessPolicyApiService.PoliciesUpdateConditionalAccessPolicies")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/conditionalAccessPolicies/{conditionalAccessPolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"conditionalAccessPolicy-id"+"}", _neturl.PathEscape(parameterToString(r.conditionalAccessPolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphConditionalAccessPolicy == nil {
		return nil, reportError("microsoftGraphConditionalAccessPolicy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphConditionalAccessPolicy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
