/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// DeviceManagementWindowsInformationProtectionNetworkLearningSummaryApiService DeviceManagementWindowsInformationProtectionNetworkLearningSummaryApi service
type DeviceManagementWindowsInformationProtectionNetworkLearningSummaryApiService service

type ApiDeviceManagementCreateWindowsInformationProtectionNetworkLearningSummariesRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementWindowsInformationProtectionNetworkLearningSummaryApiService
	microsoftGraphWindowsInformationProtectionNetworkLearningSummary *MicrosoftGraphWindowsInformationProtectionNetworkLearningSummary
}

// New navigation property
func (r ApiDeviceManagementCreateWindowsInformationProtectionNetworkLearningSummariesRequest) MicrosoftGraphWindowsInformationProtectionNetworkLearningSummary(microsoftGraphWindowsInformationProtectionNetworkLearningSummary MicrosoftGraphWindowsInformationProtectionNetworkLearningSummary) ApiDeviceManagementCreateWindowsInformationProtectionNetworkLearningSummariesRequest {
	r.microsoftGraphWindowsInformationProtectionNetworkLearningSummary = &microsoftGraphWindowsInformationProtectionNetworkLearningSummary
	return r
}

func (r ApiDeviceManagementCreateWindowsInformationProtectionNetworkLearningSummariesRequest) Execute() (MicrosoftGraphWindowsInformationProtectionNetworkLearningSummary, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementCreateWindowsInformationProtectionNetworkLearningSummariesExecute(r)
}

/*
DeviceManagementCreateWindowsInformationProtectionNetworkLearningSummaries Create new navigation property to windowsInformationProtectionNetworkLearningSummaries for deviceManagement

The windows information protection network learning summaries.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceManagementCreateWindowsInformationProtectionNetworkLearningSummariesRequest
*/
func (a *DeviceManagementWindowsInformationProtectionNetworkLearningSummaryApiService) DeviceManagementCreateWindowsInformationProtectionNetworkLearningSummaries(ctx _context.Context) ApiDeviceManagementCreateWindowsInformationProtectionNetworkLearningSummariesRequest {
	return ApiDeviceManagementCreateWindowsInformationProtectionNetworkLearningSummariesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphWindowsInformationProtectionNetworkLearningSummary
func (a *DeviceManagementWindowsInformationProtectionNetworkLearningSummaryApiService) DeviceManagementCreateWindowsInformationProtectionNetworkLearningSummariesExecute(r ApiDeviceManagementCreateWindowsInformationProtectionNetworkLearningSummariesRequest) (MicrosoftGraphWindowsInformationProtectionNetworkLearningSummary, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphWindowsInformationProtectionNetworkLearningSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementWindowsInformationProtectionNetworkLearningSummaryApiService.DeviceManagementCreateWindowsInformationProtectionNetworkLearningSummaries")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/windowsInformationProtectionNetworkLearningSummaries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphWindowsInformationProtectionNetworkLearningSummary == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphWindowsInformationProtectionNetworkLearningSummary is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphWindowsInformationProtectionNetworkLearningSummary
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementDeleteWindowsInformationProtectionNetworkLearningSummariesRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementWindowsInformationProtectionNetworkLearningSummaryApiService
	windowsInformationProtectionNetworkLearningSummaryId string
	ifMatch *string
}

// ETag
func (r ApiDeviceManagementDeleteWindowsInformationProtectionNetworkLearningSummariesRequest) IfMatch(ifMatch string) ApiDeviceManagementDeleteWindowsInformationProtectionNetworkLearningSummariesRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiDeviceManagementDeleteWindowsInformationProtectionNetworkLearningSummariesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceManagementDeleteWindowsInformationProtectionNetworkLearningSummariesExecute(r)
}

/*
DeviceManagementDeleteWindowsInformationProtectionNetworkLearningSummaries Delete navigation property windowsInformationProtectionNetworkLearningSummaries for deviceManagement

The windows information protection network learning summaries.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param windowsInformationProtectionNetworkLearningSummaryId key: id of windowsInformationProtectionNetworkLearningSummary
 @return ApiDeviceManagementDeleteWindowsInformationProtectionNetworkLearningSummariesRequest
*/
func (a *DeviceManagementWindowsInformationProtectionNetworkLearningSummaryApiService) DeviceManagementDeleteWindowsInformationProtectionNetworkLearningSummaries(ctx _context.Context, windowsInformationProtectionNetworkLearningSummaryId string) ApiDeviceManagementDeleteWindowsInformationProtectionNetworkLearningSummariesRequest {
	return ApiDeviceManagementDeleteWindowsInformationProtectionNetworkLearningSummariesRequest{
		ApiService: a,
		ctx: ctx,
		windowsInformationProtectionNetworkLearningSummaryId: windowsInformationProtectionNetworkLearningSummaryId,
	}
}

// Execute executes the request
func (a *DeviceManagementWindowsInformationProtectionNetworkLearningSummaryApiService) DeviceManagementDeleteWindowsInformationProtectionNetworkLearningSummariesExecute(r ApiDeviceManagementDeleteWindowsInformationProtectionNetworkLearningSummariesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementWindowsInformationProtectionNetworkLearningSummaryApiService.DeviceManagementDeleteWindowsInformationProtectionNetworkLearningSummaries")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/windowsInformationProtectionNetworkLearningSummaries/{windowsInformationProtectionNetworkLearningSummary-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"windowsInformationProtectionNetworkLearningSummary-id"+"}", _neturl.PathEscape(parameterToString(r.windowsInformationProtectionNetworkLearningSummaryId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeviceManagementGetWindowsInformationProtectionNetworkLearningSummariesRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementWindowsInformationProtectionNetworkLearningSummaryApiService
	windowsInformationProtectionNetworkLearningSummaryId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiDeviceManagementGetWindowsInformationProtectionNetworkLearningSummariesRequest) Select_(select_ []string) ApiDeviceManagementGetWindowsInformationProtectionNetworkLearningSummariesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceManagementGetWindowsInformationProtectionNetworkLearningSummariesRequest) Expand(expand []string) ApiDeviceManagementGetWindowsInformationProtectionNetworkLearningSummariesRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceManagementGetWindowsInformationProtectionNetworkLearningSummariesRequest) Execute() (MicrosoftGraphWindowsInformationProtectionNetworkLearningSummary, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementGetWindowsInformationProtectionNetworkLearningSummariesExecute(r)
}

/*
DeviceManagementGetWindowsInformationProtectionNetworkLearningSummaries Get windowsInformationProtectionNetworkLearningSummaries from deviceManagement

The windows information protection network learning summaries.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param windowsInformationProtectionNetworkLearningSummaryId key: id of windowsInformationProtectionNetworkLearningSummary
 @return ApiDeviceManagementGetWindowsInformationProtectionNetworkLearningSummariesRequest
*/
func (a *DeviceManagementWindowsInformationProtectionNetworkLearningSummaryApiService) DeviceManagementGetWindowsInformationProtectionNetworkLearningSummaries(ctx _context.Context, windowsInformationProtectionNetworkLearningSummaryId string) ApiDeviceManagementGetWindowsInformationProtectionNetworkLearningSummariesRequest {
	return ApiDeviceManagementGetWindowsInformationProtectionNetworkLearningSummariesRequest{
		ApiService: a,
		ctx: ctx,
		windowsInformationProtectionNetworkLearningSummaryId: windowsInformationProtectionNetworkLearningSummaryId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphWindowsInformationProtectionNetworkLearningSummary
func (a *DeviceManagementWindowsInformationProtectionNetworkLearningSummaryApiService) DeviceManagementGetWindowsInformationProtectionNetworkLearningSummariesExecute(r ApiDeviceManagementGetWindowsInformationProtectionNetworkLearningSummariesRequest) (MicrosoftGraphWindowsInformationProtectionNetworkLearningSummary, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphWindowsInformationProtectionNetworkLearningSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementWindowsInformationProtectionNetworkLearningSummaryApiService.DeviceManagementGetWindowsInformationProtectionNetworkLearningSummaries")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/windowsInformationProtectionNetworkLearningSummaries/{windowsInformationProtectionNetworkLearningSummary-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"windowsInformationProtectionNetworkLearningSummary-id"+"}", _neturl.PathEscape(parameterToString(r.windowsInformationProtectionNetworkLearningSummaryId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementListWindowsInformationProtectionNetworkLearningSummariesRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementWindowsInformationProtectionNetworkLearningSummaryApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiDeviceManagementListWindowsInformationProtectionNetworkLearningSummariesRequest) Top(top int32) ApiDeviceManagementListWindowsInformationProtectionNetworkLearningSummariesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiDeviceManagementListWindowsInformationProtectionNetworkLearningSummariesRequest) Skip(skip int32) ApiDeviceManagementListWindowsInformationProtectionNetworkLearningSummariesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiDeviceManagementListWindowsInformationProtectionNetworkLearningSummariesRequest) Search(search string) ApiDeviceManagementListWindowsInformationProtectionNetworkLearningSummariesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiDeviceManagementListWindowsInformationProtectionNetworkLearningSummariesRequest) Filter(filter string) ApiDeviceManagementListWindowsInformationProtectionNetworkLearningSummariesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiDeviceManagementListWindowsInformationProtectionNetworkLearningSummariesRequest) Count(count bool) ApiDeviceManagementListWindowsInformationProtectionNetworkLearningSummariesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiDeviceManagementListWindowsInformationProtectionNetworkLearningSummariesRequest) Orderby(orderby []string) ApiDeviceManagementListWindowsInformationProtectionNetworkLearningSummariesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiDeviceManagementListWindowsInformationProtectionNetworkLearningSummariesRequest) Select_(select_ []string) ApiDeviceManagementListWindowsInformationProtectionNetworkLearningSummariesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceManagementListWindowsInformationProtectionNetworkLearningSummariesRequest) Expand(expand []string) ApiDeviceManagementListWindowsInformationProtectionNetworkLearningSummariesRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceManagementListWindowsInformationProtectionNetworkLearningSummariesRequest) Execute() (CollectionOfWindowsInformationProtectionNetworkLearningSummary, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementListWindowsInformationProtectionNetworkLearningSummariesExecute(r)
}

/*
DeviceManagementListWindowsInformationProtectionNetworkLearningSummaries Get windowsInformationProtectionNetworkLearningSummaries from deviceManagement

The windows information protection network learning summaries.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceManagementListWindowsInformationProtectionNetworkLearningSummariesRequest
*/
func (a *DeviceManagementWindowsInformationProtectionNetworkLearningSummaryApiService) DeviceManagementListWindowsInformationProtectionNetworkLearningSummaries(ctx _context.Context) ApiDeviceManagementListWindowsInformationProtectionNetworkLearningSummariesRequest {
	return ApiDeviceManagementListWindowsInformationProtectionNetworkLearningSummariesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfWindowsInformationProtectionNetworkLearningSummary
func (a *DeviceManagementWindowsInformationProtectionNetworkLearningSummaryApiService) DeviceManagementListWindowsInformationProtectionNetworkLearningSummariesExecute(r ApiDeviceManagementListWindowsInformationProtectionNetworkLearningSummariesRequest) (CollectionOfWindowsInformationProtectionNetworkLearningSummary, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfWindowsInformationProtectionNetworkLearningSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementWindowsInformationProtectionNetworkLearningSummaryApiService.DeviceManagementListWindowsInformationProtectionNetworkLearningSummaries")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/windowsInformationProtectionNetworkLearningSummaries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementUpdateWindowsInformationProtectionNetworkLearningSummariesRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementWindowsInformationProtectionNetworkLearningSummaryApiService
	windowsInformationProtectionNetworkLearningSummaryId string
	microsoftGraphWindowsInformationProtectionNetworkLearningSummary *MicrosoftGraphWindowsInformationProtectionNetworkLearningSummary
}

// New navigation property values
func (r ApiDeviceManagementUpdateWindowsInformationProtectionNetworkLearningSummariesRequest) MicrosoftGraphWindowsInformationProtectionNetworkLearningSummary(microsoftGraphWindowsInformationProtectionNetworkLearningSummary MicrosoftGraphWindowsInformationProtectionNetworkLearningSummary) ApiDeviceManagementUpdateWindowsInformationProtectionNetworkLearningSummariesRequest {
	r.microsoftGraphWindowsInformationProtectionNetworkLearningSummary = &microsoftGraphWindowsInformationProtectionNetworkLearningSummary
	return r
}

func (r ApiDeviceManagementUpdateWindowsInformationProtectionNetworkLearningSummariesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceManagementUpdateWindowsInformationProtectionNetworkLearningSummariesExecute(r)
}

/*
DeviceManagementUpdateWindowsInformationProtectionNetworkLearningSummaries Update the navigation property windowsInformationProtectionNetworkLearningSummaries in deviceManagement

The windows information protection network learning summaries.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param windowsInformationProtectionNetworkLearningSummaryId key: id of windowsInformationProtectionNetworkLearningSummary
 @return ApiDeviceManagementUpdateWindowsInformationProtectionNetworkLearningSummariesRequest
*/
func (a *DeviceManagementWindowsInformationProtectionNetworkLearningSummaryApiService) DeviceManagementUpdateWindowsInformationProtectionNetworkLearningSummaries(ctx _context.Context, windowsInformationProtectionNetworkLearningSummaryId string) ApiDeviceManagementUpdateWindowsInformationProtectionNetworkLearningSummariesRequest {
	return ApiDeviceManagementUpdateWindowsInformationProtectionNetworkLearningSummariesRequest{
		ApiService: a,
		ctx: ctx,
		windowsInformationProtectionNetworkLearningSummaryId: windowsInformationProtectionNetworkLearningSummaryId,
	}
}

// Execute executes the request
func (a *DeviceManagementWindowsInformationProtectionNetworkLearningSummaryApiService) DeviceManagementUpdateWindowsInformationProtectionNetworkLearningSummariesExecute(r ApiDeviceManagementUpdateWindowsInformationProtectionNetworkLearningSummariesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementWindowsInformationProtectionNetworkLearningSummaryApiService.DeviceManagementUpdateWindowsInformationProtectionNetworkLearningSummaries")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/windowsInformationProtectionNetworkLearningSummaries/{windowsInformationProtectionNetworkLearningSummary-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"windowsInformationProtectionNetworkLearningSummary-id"+"}", _neturl.PathEscape(parameterToString(r.windowsInformationProtectionNetworkLearningSummaryId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphWindowsInformationProtectionNetworkLearningSummary == nil {
		return nil, reportError("microsoftGraphWindowsInformationProtectionNetworkLearningSummary is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphWindowsInformationProtectionNetworkLearningSummary
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
