/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// ServicePrincipalsOAuth2PermissionGrantApiService ServicePrincipalsOAuth2PermissionGrantApi service
type ServicePrincipalsOAuth2PermissionGrantApiService service

type ApiServicePrincipalsCreateRefOauth2PermissionGrantsRequest struct {
	ctx _context.Context
	ApiService *ServicePrincipalsOAuth2PermissionGrantApiService
	servicePrincipalId string
	requestBody *map[string]map[string]interface{}
}

// New navigation property ref value
func (r ApiServicePrincipalsCreateRefOauth2PermissionGrantsRequest) RequestBody(requestBody map[string]map[string]interface{}) ApiServicePrincipalsCreateRefOauth2PermissionGrantsRequest {
	r.requestBody = &requestBody
	return r
}

func (r ApiServicePrincipalsCreateRefOauth2PermissionGrantsRequest) Execute() (map[string]interface{}, *_nethttp.Response, error) {
	return r.ApiService.ServicePrincipalsCreateRefOauth2PermissionGrantsExecute(r)
}

/*
ServicePrincipalsCreateRefOauth2PermissionGrants Create new navigation property ref to oauth2PermissionGrants for servicePrincipals

Delegated permission grants authorizing this service principal to access an API on behalf of a signed-in user. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param servicePrincipalId key: id of servicePrincipal
 @return ApiServicePrincipalsCreateRefOauth2PermissionGrantsRequest
*/
func (a *ServicePrincipalsOAuth2PermissionGrantApiService) ServicePrincipalsCreateRefOauth2PermissionGrants(ctx _context.Context, servicePrincipalId string) ApiServicePrincipalsCreateRefOauth2PermissionGrantsRequest {
	return ApiServicePrincipalsCreateRefOauth2PermissionGrantsRequest{
		ApiService: a,
		ctx: ctx,
		servicePrincipalId: servicePrincipalId,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ServicePrincipalsOAuth2PermissionGrantApiService) ServicePrincipalsCreateRefOauth2PermissionGrantsExecute(r ApiServicePrincipalsCreateRefOauth2PermissionGrantsRequest) (map[string]interface{}, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServicePrincipalsOAuth2PermissionGrantApiService.ServicePrincipalsCreateRefOauth2PermissionGrants")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servicePrincipals/{servicePrincipal-id}/oauth2PermissionGrants/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"servicePrincipal-id"+"}", _neturl.PathEscape(parameterToString(r.servicePrincipalId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiServicePrincipalsListOauth2PermissionGrantsRequest struct {
	ctx _context.Context
	ApiService *ServicePrincipalsOAuth2PermissionGrantApiService
	servicePrincipalId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiServicePrincipalsListOauth2PermissionGrantsRequest) Top(top int32) ApiServicePrincipalsListOauth2PermissionGrantsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiServicePrincipalsListOauth2PermissionGrantsRequest) Skip(skip int32) ApiServicePrincipalsListOauth2PermissionGrantsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiServicePrincipalsListOauth2PermissionGrantsRequest) Search(search string) ApiServicePrincipalsListOauth2PermissionGrantsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiServicePrincipalsListOauth2PermissionGrantsRequest) Filter(filter string) ApiServicePrincipalsListOauth2PermissionGrantsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiServicePrincipalsListOauth2PermissionGrantsRequest) Count(count bool) ApiServicePrincipalsListOauth2PermissionGrantsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiServicePrincipalsListOauth2PermissionGrantsRequest) Orderby(orderby []string) ApiServicePrincipalsListOauth2PermissionGrantsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiServicePrincipalsListOauth2PermissionGrantsRequest) Select_(select_ []string) ApiServicePrincipalsListOauth2PermissionGrantsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiServicePrincipalsListOauth2PermissionGrantsRequest) Expand(expand []string) ApiServicePrincipalsListOauth2PermissionGrantsRequest {
	r.expand = &expand
	return r
}

func (r ApiServicePrincipalsListOauth2PermissionGrantsRequest) Execute() (CollectionOfOAuth2PermissionGrant, *_nethttp.Response, error) {
	return r.ApiService.ServicePrincipalsListOauth2PermissionGrantsExecute(r)
}

/*
ServicePrincipalsListOauth2PermissionGrants Get oauth2PermissionGrants from servicePrincipals

Delegated permission grants authorizing this service principal to access an API on behalf of a signed-in user. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param servicePrincipalId key: id of servicePrincipal
 @return ApiServicePrincipalsListOauth2PermissionGrantsRequest
*/
func (a *ServicePrincipalsOAuth2PermissionGrantApiService) ServicePrincipalsListOauth2PermissionGrants(ctx _context.Context, servicePrincipalId string) ApiServicePrincipalsListOauth2PermissionGrantsRequest {
	return ApiServicePrincipalsListOauth2PermissionGrantsRequest{
		ApiService: a,
		ctx: ctx,
		servicePrincipalId: servicePrincipalId,
	}
}

// Execute executes the request
//  @return CollectionOfOAuth2PermissionGrant
func (a *ServicePrincipalsOAuth2PermissionGrantApiService) ServicePrincipalsListOauth2PermissionGrantsExecute(r ApiServicePrincipalsListOauth2PermissionGrantsRequest) (CollectionOfOAuth2PermissionGrant, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfOAuth2PermissionGrant
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServicePrincipalsOAuth2PermissionGrantApiService.ServicePrincipalsListOauth2PermissionGrants")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servicePrincipals/{servicePrincipal-id}/oauth2PermissionGrants"
	localVarPath = strings.Replace(localVarPath, "{"+"servicePrincipal-id"+"}", _neturl.PathEscape(parameterToString(r.servicePrincipalId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiServicePrincipalsListRefOauth2PermissionGrantsRequest struct {
	ctx _context.Context
	ApiService *ServicePrincipalsOAuth2PermissionGrantApiService
	servicePrincipalId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
}

// Show only the first n items
func (r ApiServicePrincipalsListRefOauth2PermissionGrantsRequest) Top(top int32) ApiServicePrincipalsListRefOauth2PermissionGrantsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiServicePrincipalsListRefOauth2PermissionGrantsRequest) Skip(skip int32) ApiServicePrincipalsListRefOauth2PermissionGrantsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiServicePrincipalsListRefOauth2PermissionGrantsRequest) Search(search string) ApiServicePrincipalsListRefOauth2PermissionGrantsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiServicePrincipalsListRefOauth2PermissionGrantsRequest) Filter(filter string) ApiServicePrincipalsListRefOauth2PermissionGrantsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiServicePrincipalsListRefOauth2PermissionGrantsRequest) Count(count bool) ApiServicePrincipalsListRefOauth2PermissionGrantsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiServicePrincipalsListRefOauth2PermissionGrantsRequest) Orderby(orderby []string) ApiServicePrincipalsListRefOauth2PermissionGrantsRequest {
	r.orderby = &orderby
	return r
}

func (r ApiServicePrincipalsListRefOauth2PermissionGrantsRequest) Execute() (CollectionOfLinksOfOAuth2PermissionGrant, *_nethttp.Response, error) {
	return r.ApiService.ServicePrincipalsListRefOauth2PermissionGrantsExecute(r)
}

/*
ServicePrincipalsListRefOauth2PermissionGrants Get ref of oauth2PermissionGrants from servicePrincipals

Delegated permission grants authorizing this service principal to access an API on behalf of a signed-in user. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param servicePrincipalId key: id of servicePrincipal
 @return ApiServicePrincipalsListRefOauth2PermissionGrantsRequest
*/
func (a *ServicePrincipalsOAuth2PermissionGrantApiService) ServicePrincipalsListRefOauth2PermissionGrants(ctx _context.Context, servicePrincipalId string) ApiServicePrincipalsListRefOauth2PermissionGrantsRequest {
	return ApiServicePrincipalsListRefOauth2PermissionGrantsRequest{
		ApiService: a,
		ctx: ctx,
		servicePrincipalId: servicePrincipalId,
	}
}

// Execute executes the request
//  @return CollectionOfLinksOfOAuth2PermissionGrant
func (a *ServicePrincipalsOAuth2PermissionGrantApiService) ServicePrincipalsListRefOauth2PermissionGrantsExecute(r ApiServicePrincipalsListRefOauth2PermissionGrantsRequest) (CollectionOfLinksOfOAuth2PermissionGrant, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfLinksOfOAuth2PermissionGrant
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServicePrincipalsOAuth2PermissionGrantApiService.ServicePrincipalsListRefOauth2PermissionGrants")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servicePrincipals/{servicePrincipal-id}/oauth2PermissionGrants/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"servicePrincipal-id"+"}", _neturl.PathEscape(parameterToString(r.servicePrincipalId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
