/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// PrintPrintOperationApiService PrintPrintOperationApi service
type PrintPrintOperationApiService service

type ApiPrintCreateOperationsRequest struct {
	ctx _context.Context
	ApiService *PrintPrintOperationApiService
	microsoftGraphPrintOperation *MicrosoftGraphPrintOperation
}

// New navigation property
func (r ApiPrintCreateOperationsRequest) MicrosoftGraphPrintOperation(microsoftGraphPrintOperation MicrosoftGraphPrintOperation) ApiPrintCreateOperationsRequest {
	r.microsoftGraphPrintOperation = &microsoftGraphPrintOperation
	return r
}

func (r ApiPrintCreateOperationsRequest) Execute() (MicrosoftGraphPrintOperation, *_nethttp.Response, error) {
	return r.ApiService.PrintCreateOperationsExecute(r)
}

/*
PrintCreateOperations Create new navigation property to operations for print

The list of print long running operations.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPrintCreateOperationsRequest
*/
func (a *PrintPrintOperationApiService) PrintCreateOperations(ctx _context.Context) ApiPrintCreateOperationsRequest {
	return ApiPrintCreateOperationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphPrintOperation
func (a *PrintPrintOperationApiService) PrintCreateOperationsExecute(r ApiPrintCreateOperationsRequest) (MicrosoftGraphPrintOperation, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphPrintOperation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrintPrintOperationApiService.PrintCreateOperations")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/print/operations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphPrintOperation == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphPrintOperation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphPrintOperation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPrintDeleteOperationsRequest struct {
	ctx _context.Context
	ApiService *PrintPrintOperationApiService
	printOperationId string
	ifMatch *string
}

// ETag
func (r ApiPrintDeleteOperationsRequest) IfMatch(ifMatch string) ApiPrintDeleteOperationsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiPrintDeleteOperationsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.PrintDeleteOperationsExecute(r)
}

/*
PrintDeleteOperations Delete navigation property operations for print

The list of print long running operations.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param printOperationId key: id of printOperation
 @return ApiPrintDeleteOperationsRequest
*/
func (a *PrintPrintOperationApiService) PrintDeleteOperations(ctx _context.Context, printOperationId string) ApiPrintDeleteOperationsRequest {
	return ApiPrintDeleteOperationsRequest{
		ApiService: a,
		ctx: ctx,
		printOperationId: printOperationId,
	}
}

// Execute executes the request
func (a *PrintPrintOperationApiService) PrintDeleteOperationsExecute(r ApiPrintDeleteOperationsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrintPrintOperationApiService.PrintDeleteOperations")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/print/operations/{printOperation-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"printOperation-id"+"}", _neturl.PathEscape(parameterToString(r.printOperationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPrintGetOperationsRequest struct {
	ctx _context.Context
	ApiService *PrintPrintOperationApiService
	printOperationId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiPrintGetOperationsRequest) Select_(select_ []string) ApiPrintGetOperationsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiPrintGetOperationsRequest) Expand(expand []string) ApiPrintGetOperationsRequest {
	r.expand = &expand
	return r
}

func (r ApiPrintGetOperationsRequest) Execute() (MicrosoftGraphPrintOperation, *_nethttp.Response, error) {
	return r.ApiService.PrintGetOperationsExecute(r)
}

/*
PrintGetOperations Get operations from print

The list of print long running operations.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param printOperationId key: id of printOperation
 @return ApiPrintGetOperationsRequest
*/
func (a *PrintPrintOperationApiService) PrintGetOperations(ctx _context.Context, printOperationId string) ApiPrintGetOperationsRequest {
	return ApiPrintGetOperationsRequest{
		ApiService: a,
		ctx: ctx,
		printOperationId: printOperationId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphPrintOperation
func (a *PrintPrintOperationApiService) PrintGetOperationsExecute(r ApiPrintGetOperationsRequest) (MicrosoftGraphPrintOperation, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphPrintOperation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrintPrintOperationApiService.PrintGetOperations")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/print/operations/{printOperation-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"printOperation-id"+"}", _neturl.PathEscape(parameterToString(r.printOperationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPrintListOperationsRequest struct {
	ctx _context.Context
	ApiService *PrintPrintOperationApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiPrintListOperationsRequest) Top(top int32) ApiPrintListOperationsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiPrintListOperationsRequest) Skip(skip int32) ApiPrintListOperationsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiPrintListOperationsRequest) Search(search string) ApiPrintListOperationsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiPrintListOperationsRequest) Filter(filter string) ApiPrintListOperationsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiPrintListOperationsRequest) Count(count bool) ApiPrintListOperationsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiPrintListOperationsRequest) Orderby(orderby []string) ApiPrintListOperationsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiPrintListOperationsRequest) Select_(select_ []string) ApiPrintListOperationsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiPrintListOperationsRequest) Expand(expand []string) ApiPrintListOperationsRequest {
	r.expand = &expand
	return r
}

func (r ApiPrintListOperationsRequest) Execute() (CollectionOfPrintOperation, *_nethttp.Response, error) {
	return r.ApiService.PrintListOperationsExecute(r)
}

/*
PrintListOperations Get operations from print

The list of print long running operations.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPrintListOperationsRequest
*/
func (a *PrintPrintOperationApiService) PrintListOperations(ctx _context.Context) ApiPrintListOperationsRequest {
	return ApiPrintListOperationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfPrintOperation
func (a *PrintPrintOperationApiService) PrintListOperationsExecute(r ApiPrintListOperationsRequest) (CollectionOfPrintOperation, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfPrintOperation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrintPrintOperationApiService.PrintListOperations")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/print/operations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPrintUpdateOperationsRequest struct {
	ctx _context.Context
	ApiService *PrintPrintOperationApiService
	printOperationId string
	microsoftGraphPrintOperation *MicrosoftGraphPrintOperation
}

// New navigation property values
func (r ApiPrintUpdateOperationsRequest) MicrosoftGraphPrintOperation(microsoftGraphPrintOperation MicrosoftGraphPrintOperation) ApiPrintUpdateOperationsRequest {
	r.microsoftGraphPrintOperation = &microsoftGraphPrintOperation
	return r
}

func (r ApiPrintUpdateOperationsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.PrintUpdateOperationsExecute(r)
}

/*
PrintUpdateOperations Update the navigation property operations in print

The list of print long running operations.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param printOperationId key: id of printOperation
 @return ApiPrintUpdateOperationsRequest
*/
func (a *PrintPrintOperationApiService) PrintUpdateOperations(ctx _context.Context, printOperationId string) ApiPrintUpdateOperationsRequest {
	return ApiPrintUpdateOperationsRequest{
		ApiService: a,
		ctx: ctx,
		printOperationId: printOperationId,
	}
}

// Execute executes the request
func (a *PrintPrintOperationApiService) PrintUpdateOperationsExecute(r ApiPrintUpdateOperationsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrintPrintOperationApiService.PrintUpdateOperations")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/print/operations/{printOperation-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"printOperation-id"+"}", _neturl.PathEscape(parameterToString(r.printOperationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphPrintOperation == nil {
		return nil, reportError("microsoftGraphPrintOperation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphPrintOperation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
