/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// GroupsGroupLifecyclePolicyApiService GroupsGroupLifecyclePolicyApi service
type GroupsGroupLifecyclePolicyApiService service

type ApiGroupsCreateGroupLifecyclePoliciesRequest struct {
	ctx _context.Context
	ApiService *GroupsGroupLifecyclePolicyApiService
	groupId string
	microsoftGraphGroupLifecyclePolicy *MicrosoftGraphGroupLifecyclePolicy
}

// New navigation property
func (r ApiGroupsCreateGroupLifecyclePoliciesRequest) MicrosoftGraphGroupLifecyclePolicy(microsoftGraphGroupLifecyclePolicy MicrosoftGraphGroupLifecyclePolicy) ApiGroupsCreateGroupLifecyclePoliciesRequest {
	r.microsoftGraphGroupLifecyclePolicy = &microsoftGraphGroupLifecyclePolicy
	return r
}

func (r ApiGroupsCreateGroupLifecyclePoliciesRequest) Execute() (MicrosoftGraphGroupLifecyclePolicy, *_nethttp.Response, error) {
	return r.ApiService.GroupsCreateGroupLifecyclePoliciesExecute(r)
}

/*
GroupsCreateGroupLifecyclePolicies Create new navigation property to groupLifecyclePolicies for groups

The collection of lifecycle policies for this group. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupId key: id of group
 @return ApiGroupsCreateGroupLifecyclePoliciesRequest
*/
func (a *GroupsGroupLifecyclePolicyApiService) GroupsCreateGroupLifecyclePolicies(ctx _context.Context, groupId string) ApiGroupsCreateGroupLifecyclePoliciesRequest {
	return ApiGroupsCreateGroupLifecyclePoliciesRequest{
		ApiService: a,
		ctx: ctx,
		groupId: groupId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphGroupLifecyclePolicy
func (a *GroupsGroupLifecyclePolicyApiService) GroupsCreateGroupLifecyclePoliciesExecute(r ApiGroupsCreateGroupLifecyclePoliciesRequest) (MicrosoftGraphGroupLifecyclePolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphGroupLifecyclePolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsGroupLifecyclePolicyApiService.GroupsCreateGroupLifecyclePolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groups/{group-id}/groupLifecyclePolicies"
	localVarPath = strings.Replace(localVarPath, "{"+"group-id"+"}", _neturl.PathEscape(parameterToString(r.groupId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphGroupLifecyclePolicy == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphGroupLifecyclePolicy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphGroupLifecyclePolicy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGroupsDeleteGroupLifecyclePoliciesRequest struct {
	ctx _context.Context
	ApiService *GroupsGroupLifecyclePolicyApiService
	groupId string
	groupLifecyclePolicyId string
	ifMatch *string
}

// ETag
func (r ApiGroupsDeleteGroupLifecyclePoliciesRequest) IfMatch(ifMatch string) ApiGroupsDeleteGroupLifecyclePoliciesRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiGroupsDeleteGroupLifecyclePoliciesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.GroupsDeleteGroupLifecyclePoliciesExecute(r)
}

/*
GroupsDeleteGroupLifecyclePolicies Delete navigation property groupLifecyclePolicies for groups

The collection of lifecycle policies for this group. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupId key: id of group
 @param groupLifecyclePolicyId key: id of groupLifecyclePolicy
 @return ApiGroupsDeleteGroupLifecyclePoliciesRequest
*/
func (a *GroupsGroupLifecyclePolicyApiService) GroupsDeleteGroupLifecyclePolicies(ctx _context.Context, groupId string, groupLifecyclePolicyId string) ApiGroupsDeleteGroupLifecyclePoliciesRequest {
	return ApiGroupsDeleteGroupLifecyclePoliciesRequest{
		ApiService: a,
		ctx: ctx,
		groupId: groupId,
		groupLifecyclePolicyId: groupLifecyclePolicyId,
	}
}

// Execute executes the request
func (a *GroupsGroupLifecyclePolicyApiService) GroupsDeleteGroupLifecyclePoliciesExecute(r ApiGroupsDeleteGroupLifecyclePoliciesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsGroupLifecyclePolicyApiService.GroupsDeleteGroupLifecyclePolicies")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groups/{group-id}/groupLifecyclePolicies/{groupLifecyclePolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"group-id"+"}", _neturl.PathEscape(parameterToString(r.groupId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"groupLifecyclePolicy-id"+"}", _neturl.PathEscape(parameterToString(r.groupLifecyclePolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGroupsGetGroupLifecyclePoliciesRequest struct {
	ctx _context.Context
	ApiService *GroupsGroupLifecyclePolicyApiService
	groupId string
	groupLifecyclePolicyId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiGroupsGetGroupLifecyclePoliciesRequest) Select_(select_ []string) ApiGroupsGetGroupLifecyclePoliciesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiGroupsGetGroupLifecyclePoliciesRequest) Expand(expand []string) ApiGroupsGetGroupLifecyclePoliciesRequest {
	r.expand = &expand
	return r
}

func (r ApiGroupsGetGroupLifecyclePoliciesRequest) Execute() (MicrosoftGraphGroupLifecyclePolicy, *_nethttp.Response, error) {
	return r.ApiService.GroupsGetGroupLifecyclePoliciesExecute(r)
}

/*
GroupsGetGroupLifecyclePolicies Get groupLifecyclePolicies from groups

The collection of lifecycle policies for this group. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupId key: id of group
 @param groupLifecyclePolicyId key: id of groupLifecyclePolicy
 @return ApiGroupsGetGroupLifecyclePoliciesRequest
*/
func (a *GroupsGroupLifecyclePolicyApiService) GroupsGetGroupLifecyclePolicies(ctx _context.Context, groupId string, groupLifecyclePolicyId string) ApiGroupsGetGroupLifecyclePoliciesRequest {
	return ApiGroupsGetGroupLifecyclePoliciesRequest{
		ApiService: a,
		ctx: ctx,
		groupId: groupId,
		groupLifecyclePolicyId: groupLifecyclePolicyId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphGroupLifecyclePolicy
func (a *GroupsGroupLifecyclePolicyApiService) GroupsGetGroupLifecyclePoliciesExecute(r ApiGroupsGetGroupLifecyclePoliciesRequest) (MicrosoftGraphGroupLifecyclePolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphGroupLifecyclePolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsGroupLifecyclePolicyApiService.GroupsGetGroupLifecyclePolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groups/{group-id}/groupLifecyclePolicies/{groupLifecyclePolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"group-id"+"}", _neturl.PathEscape(parameterToString(r.groupId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"groupLifecyclePolicy-id"+"}", _neturl.PathEscape(parameterToString(r.groupLifecyclePolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGroupsListGroupLifecyclePoliciesRequest struct {
	ctx _context.Context
	ApiService *GroupsGroupLifecyclePolicyApiService
	groupId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiGroupsListGroupLifecyclePoliciesRequest) Top(top int32) ApiGroupsListGroupLifecyclePoliciesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiGroupsListGroupLifecyclePoliciesRequest) Skip(skip int32) ApiGroupsListGroupLifecyclePoliciesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiGroupsListGroupLifecyclePoliciesRequest) Search(search string) ApiGroupsListGroupLifecyclePoliciesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiGroupsListGroupLifecyclePoliciesRequest) Filter(filter string) ApiGroupsListGroupLifecyclePoliciesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiGroupsListGroupLifecyclePoliciesRequest) Count(count bool) ApiGroupsListGroupLifecyclePoliciesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiGroupsListGroupLifecyclePoliciesRequest) Orderby(orderby []string) ApiGroupsListGroupLifecyclePoliciesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiGroupsListGroupLifecyclePoliciesRequest) Select_(select_ []string) ApiGroupsListGroupLifecyclePoliciesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiGroupsListGroupLifecyclePoliciesRequest) Expand(expand []string) ApiGroupsListGroupLifecyclePoliciesRequest {
	r.expand = &expand
	return r
}

func (r ApiGroupsListGroupLifecyclePoliciesRequest) Execute() (CollectionOfGroupLifecyclePolicy, *_nethttp.Response, error) {
	return r.ApiService.GroupsListGroupLifecyclePoliciesExecute(r)
}

/*
GroupsListGroupLifecyclePolicies Get groupLifecyclePolicies from groups

The collection of lifecycle policies for this group. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupId key: id of group
 @return ApiGroupsListGroupLifecyclePoliciesRequest
*/
func (a *GroupsGroupLifecyclePolicyApiService) GroupsListGroupLifecyclePolicies(ctx _context.Context, groupId string) ApiGroupsListGroupLifecyclePoliciesRequest {
	return ApiGroupsListGroupLifecyclePoliciesRequest{
		ApiService: a,
		ctx: ctx,
		groupId: groupId,
	}
}

// Execute executes the request
//  @return CollectionOfGroupLifecyclePolicy
func (a *GroupsGroupLifecyclePolicyApiService) GroupsListGroupLifecyclePoliciesExecute(r ApiGroupsListGroupLifecyclePoliciesRequest) (CollectionOfGroupLifecyclePolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfGroupLifecyclePolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsGroupLifecyclePolicyApiService.GroupsListGroupLifecyclePolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groups/{group-id}/groupLifecyclePolicies"
	localVarPath = strings.Replace(localVarPath, "{"+"group-id"+"}", _neturl.PathEscape(parameterToString(r.groupId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGroupsUpdateGroupLifecyclePoliciesRequest struct {
	ctx _context.Context
	ApiService *GroupsGroupLifecyclePolicyApiService
	groupId string
	groupLifecyclePolicyId string
	microsoftGraphGroupLifecyclePolicy *MicrosoftGraphGroupLifecyclePolicy
}

// New navigation property values
func (r ApiGroupsUpdateGroupLifecyclePoliciesRequest) MicrosoftGraphGroupLifecyclePolicy(microsoftGraphGroupLifecyclePolicy MicrosoftGraphGroupLifecyclePolicy) ApiGroupsUpdateGroupLifecyclePoliciesRequest {
	r.microsoftGraphGroupLifecyclePolicy = &microsoftGraphGroupLifecyclePolicy
	return r
}

func (r ApiGroupsUpdateGroupLifecyclePoliciesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.GroupsUpdateGroupLifecyclePoliciesExecute(r)
}

/*
GroupsUpdateGroupLifecyclePolicies Update the navigation property groupLifecyclePolicies in groups

The collection of lifecycle policies for this group. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupId key: id of group
 @param groupLifecyclePolicyId key: id of groupLifecyclePolicy
 @return ApiGroupsUpdateGroupLifecyclePoliciesRequest
*/
func (a *GroupsGroupLifecyclePolicyApiService) GroupsUpdateGroupLifecyclePolicies(ctx _context.Context, groupId string, groupLifecyclePolicyId string) ApiGroupsUpdateGroupLifecyclePoliciesRequest {
	return ApiGroupsUpdateGroupLifecyclePoliciesRequest{
		ApiService: a,
		ctx: ctx,
		groupId: groupId,
		groupLifecyclePolicyId: groupLifecyclePolicyId,
	}
}

// Execute executes the request
func (a *GroupsGroupLifecyclePolicyApiService) GroupsUpdateGroupLifecyclePoliciesExecute(r ApiGroupsUpdateGroupLifecyclePoliciesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsGroupLifecyclePolicyApiService.GroupsUpdateGroupLifecyclePolicies")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groups/{group-id}/groupLifecyclePolicies/{groupLifecyclePolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"group-id"+"}", _neturl.PathEscape(parameterToString(r.groupId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"groupLifecyclePolicy-id"+"}", _neturl.PathEscape(parameterToString(r.groupLifecyclePolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphGroupLifecyclePolicy == nil {
		return nil, reportError("microsoftGraphGroupLifecyclePolicy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphGroupLifecyclePolicy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
