/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// AuditLogsProvisioningObjectSummaryApiService AuditLogsProvisioningObjectSummaryApi service
type AuditLogsProvisioningObjectSummaryApiService service

type ApiAuditLogsCreateProvisioningRequest struct {
	ctx _context.Context
	ApiService *AuditLogsProvisioningObjectSummaryApiService
	microsoftGraphProvisioningObjectSummary *MicrosoftGraphProvisioningObjectSummary
}

// New navigation property
func (r ApiAuditLogsCreateProvisioningRequest) MicrosoftGraphProvisioningObjectSummary(microsoftGraphProvisioningObjectSummary MicrosoftGraphProvisioningObjectSummary) ApiAuditLogsCreateProvisioningRequest {
	r.microsoftGraphProvisioningObjectSummary = &microsoftGraphProvisioningObjectSummary
	return r
}

func (r ApiAuditLogsCreateProvisioningRequest) Execute() (MicrosoftGraphProvisioningObjectSummary, *_nethttp.Response, error) {
	return r.ApiService.AuditLogsCreateProvisioningExecute(r)
}

/*
AuditLogsCreateProvisioning Create new navigation property to provisioning for auditLogs

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAuditLogsCreateProvisioningRequest
*/
func (a *AuditLogsProvisioningObjectSummaryApiService) AuditLogsCreateProvisioning(ctx _context.Context) ApiAuditLogsCreateProvisioningRequest {
	return ApiAuditLogsCreateProvisioningRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphProvisioningObjectSummary
func (a *AuditLogsProvisioningObjectSummaryApiService) AuditLogsCreateProvisioningExecute(r ApiAuditLogsCreateProvisioningRequest) (MicrosoftGraphProvisioningObjectSummary, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphProvisioningObjectSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditLogsProvisioningObjectSummaryApiService.AuditLogsCreateProvisioning")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/auditLogs/provisioning"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphProvisioningObjectSummary == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphProvisioningObjectSummary is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphProvisioningObjectSummary
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAuditLogsDeleteProvisioningRequest struct {
	ctx _context.Context
	ApiService *AuditLogsProvisioningObjectSummaryApiService
	provisioningObjectSummaryId string
	ifMatch *string
}

// ETag
func (r ApiAuditLogsDeleteProvisioningRequest) IfMatch(ifMatch string) ApiAuditLogsDeleteProvisioningRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiAuditLogsDeleteProvisioningRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.AuditLogsDeleteProvisioningExecute(r)
}

/*
AuditLogsDeleteProvisioning Delete navigation property provisioning for auditLogs

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param provisioningObjectSummaryId key: id of provisioningObjectSummary
 @return ApiAuditLogsDeleteProvisioningRequest
*/
func (a *AuditLogsProvisioningObjectSummaryApiService) AuditLogsDeleteProvisioning(ctx _context.Context, provisioningObjectSummaryId string) ApiAuditLogsDeleteProvisioningRequest {
	return ApiAuditLogsDeleteProvisioningRequest{
		ApiService: a,
		ctx: ctx,
		provisioningObjectSummaryId: provisioningObjectSummaryId,
	}
}

// Execute executes the request
func (a *AuditLogsProvisioningObjectSummaryApiService) AuditLogsDeleteProvisioningExecute(r ApiAuditLogsDeleteProvisioningRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditLogsProvisioningObjectSummaryApiService.AuditLogsDeleteProvisioning")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/auditLogs/provisioning/{provisioningObjectSummary-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"provisioningObjectSummary-id"+"}", _neturl.PathEscape(parameterToString(r.provisioningObjectSummaryId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiAuditLogsGetProvisioningRequest struct {
	ctx _context.Context
	ApiService *AuditLogsProvisioningObjectSummaryApiService
	provisioningObjectSummaryId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiAuditLogsGetProvisioningRequest) Select_(select_ []string) ApiAuditLogsGetProvisioningRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiAuditLogsGetProvisioningRequest) Expand(expand []string) ApiAuditLogsGetProvisioningRequest {
	r.expand = &expand
	return r
}

func (r ApiAuditLogsGetProvisioningRequest) Execute() (MicrosoftGraphProvisioningObjectSummary, *_nethttp.Response, error) {
	return r.ApiService.AuditLogsGetProvisioningExecute(r)
}

/*
AuditLogsGetProvisioning Get provisioning from auditLogs

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param provisioningObjectSummaryId key: id of provisioningObjectSummary
 @return ApiAuditLogsGetProvisioningRequest
*/
func (a *AuditLogsProvisioningObjectSummaryApiService) AuditLogsGetProvisioning(ctx _context.Context, provisioningObjectSummaryId string) ApiAuditLogsGetProvisioningRequest {
	return ApiAuditLogsGetProvisioningRequest{
		ApiService: a,
		ctx: ctx,
		provisioningObjectSummaryId: provisioningObjectSummaryId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphProvisioningObjectSummary
func (a *AuditLogsProvisioningObjectSummaryApiService) AuditLogsGetProvisioningExecute(r ApiAuditLogsGetProvisioningRequest) (MicrosoftGraphProvisioningObjectSummary, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphProvisioningObjectSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditLogsProvisioningObjectSummaryApiService.AuditLogsGetProvisioning")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/auditLogs/provisioning/{provisioningObjectSummary-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"provisioningObjectSummary-id"+"}", _neturl.PathEscape(parameterToString(r.provisioningObjectSummaryId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAuditLogsListProvisioningRequest struct {
	ctx _context.Context
	ApiService *AuditLogsProvisioningObjectSummaryApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiAuditLogsListProvisioningRequest) Top(top int32) ApiAuditLogsListProvisioningRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiAuditLogsListProvisioningRequest) Skip(skip int32) ApiAuditLogsListProvisioningRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiAuditLogsListProvisioningRequest) Search(search string) ApiAuditLogsListProvisioningRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiAuditLogsListProvisioningRequest) Filter(filter string) ApiAuditLogsListProvisioningRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiAuditLogsListProvisioningRequest) Count(count bool) ApiAuditLogsListProvisioningRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiAuditLogsListProvisioningRequest) Orderby(orderby []string) ApiAuditLogsListProvisioningRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiAuditLogsListProvisioningRequest) Select_(select_ []string) ApiAuditLogsListProvisioningRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiAuditLogsListProvisioningRequest) Expand(expand []string) ApiAuditLogsListProvisioningRequest {
	r.expand = &expand
	return r
}

func (r ApiAuditLogsListProvisioningRequest) Execute() (CollectionOfProvisioningObjectSummary, *_nethttp.Response, error) {
	return r.ApiService.AuditLogsListProvisioningExecute(r)
}

/*
AuditLogsListProvisioning Get provisioning from auditLogs

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAuditLogsListProvisioningRequest
*/
func (a *AuditLogsProvisioningObjectSummaryApiService) AuditLogsListProvisioning(ctx _context.Context) ApiAuditLogsListProvisioningRequest {
	return ApiAuditLogsListProvisioningRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfProvisioningObjectSummary
func (a *AuditLogsProvisioningObjectSummaryApiService) AuditLogsListProvisioningExecute(r ApiAuditLogsListProvisioningRequest) (CollectionOfProvisioningObjectSummary, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfProvisioningObjectSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditLogsProvisioningObjectSummaryApiService.AuditLogsListProvisioning")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/auditLogs/provisioning"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAuditLogsUpdateProvisioningRequest struct {
	ctx _context.Context
	ApiService *AuditLogsProvisioningObjectSummaryApiService
	provisioningObjectSummaryId string
	microsoftGraphProvisioningObjectSummary *MicrosoftGraphProvisioningObjectSummary
}

// New navigation property values
func (r ApiAuditLogsUpdateProvisioningRequest) MicrosoftGraphProvisioningObjectSummary(microsoftGraphProvisioningObjectSummary MicrosoftGraphProvisioningObjectSummary) ApiAuditLogsUpdateProvisioningRequest {
	r.microsoftGraphProvisioningObjectSummary = &microsoftGraphProvisioningObjectSummary
	return r
}

func (r ApiAuditLogsUpdateProvisioningRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.AuditLogsUpdateProvisioningExecute(r)
}

/*
AuditLogsUpdateProvisioning Update the navigation property provisioning in auditLogs

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param provisioningObjectSummaryId key: id of provisioningObjectSummary
 @return ApiAuditLogsUpdateProvisioningRequest
*/
func (a *AuditLogsProvisioningObjectSummaryApiService) AuditLogsUpdateProvisioning(ctx _context.Context, provisioningObjectSummaryId string) ApiAuditLogsUpdateProvisioningRequest {
	return ApiAuditLogsUpdateProvisioningRequest{
		ApiService: a,
		ctx: ctx,
		provisioningObjectSummaryId: provisioningObjectSummaryId,
	}
}

// Execute executes the request
func (a *AuditLogsProvisioningObjectSummaryApiService) AuditLogsUpdateProvisioningExecute(r ApiAuditLogsUpdateProvisioningRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditLogsProvisioningObjectSummaryApiService.AuditLogsUpdateProvisioning")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/auditLogs/provisioning/{provisioningObjectSummary-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"provisioningObjectSummary-id"+"}", _neturl.PathEscape(parameterToString(r.provisioningObjectSummaryId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphProvisioningObjectSummary == nil {
		return nil, reportError("microsoftGraphProvisioningObjectSummary is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphProvisioningObjectSummary
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
