/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
	"os"
)

// Linger please
var (
	_ _context.Context
)

// MeOnlineMeetingApiService MeOnlineMeetingApi service
type MeOnlineMeetingApiService service

type ApiMeCreateOnlineMeetingsRequest struct {
	ctx _context.Context
	ApiService *MeOnlineMeetingApiService
	microsoftGraphOnlineMeeting *MicrosoftGraphOnlineMeeting
}

// New navigation property
func (r ApiMeCreateOnlineMeetingsRequest) MicrosoftGraphOnlineMeeting(microsoftGraphOnlineMeeting MicrosoftGraphOnlineMeeting) ApiMeCreateOnlineMeetingsRequest {
	r.microsoftGraphOnlineMeeting = &microsoftGraphOnlineMeeting
	return r
}

func (r ApiMeCreateOnlineMeetingsRequest) Execute() (MicrosoftGraphOnlineMeeting, *_nethttp.Response, error) {
	return r.ApiService.MeCreateOnlineMeetingsExecute(r)
}

/*
MeCreateOnlineMeetings Create new navigation property to onlineMeetings for me

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMeCreateOnlineMeetingsRequest
*/
func (a *MeOnlineMeetingApiService) MeCreateOnlineMeetings(ctx _context.Context) ApiMeCreateOnlineMeetingsRequest {
	return ApiMeCreateOnlineMeetingsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphOnlineMeeting
func (a *MeOnlineMeetingApiService) MeCreateOnlineMeetingsExecute(r ApiMeCreateOnlineMeetingsRequest) (MicrosoftGraphOnlineMeeting, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphOnlineMeeting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeOnlineMeetingApiService.MeCreateOnlineMeetings")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/onlineMeetings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphOnlineMeeting == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphOnlineMeeting is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphOnlineMeeting
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeDeleteOnlineMeetingsRequest struct {
	ctx _context.Context
	ApiService *MeOnlineMeetingApiService
	onlineMeetingId string
	ifMatch *string
}

// ETag
func (r ApiMeDeleteOnlineMeetingsRequest) IfMatch(ifMatch string) ApiMeDeleteOnlineMeetingsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiMeDeleteOnlineMeetingsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.MeDeleteOnlineMeetingsExecute(r)
}

/*
MeDeleteOnlineMeetings Delete navigation property onlineMeetings for me

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param onlineMeetingId key: id of onlineMeeting
 @return ApiMeDeleteOnlineMeetingsRequest
*/
func (a *MeOnlineMeetingApiService) MeDeleteOnlineMeetings(ctx _context.Context, onlineMeetingId string) ApiMeDeleteOnlineMeetingsRequest {
	return ApiMeDeleteOnlineMeetingsRequest{
		ApiService: a,
		ctx: ctx,
		onlineMeetingId: onlineMeetingId,
	}
}

// Execute executes the request
func (a *MeOnlineMeetingApiService) MeDeleteOnlineMeetingsExecute(r ApiMeDeleteOnlineMeetingsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeOnlineMeetingApiService.MeDeleteOnlineMeetings")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/onlineMeetings/{onlineMeeting-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"onlineMeeting-id"+"}", _neturl.PathEscape(parameterToString(r.onlineMeetingId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiMeGetOnlineMeetingsRequest struct {
	ctx _context.Context
	ApiService *MeOnlineMeetingApiService
	onlineMeetingId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiMeGetOnlineMeetingsRequest) Select_(select_ []string) ApiMeGetOnlineMeetingsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiMeGetOnlineMeetingsRequest) Expand(expand []string) ApiMeGetOnlineMeetingsRequest {
	r.expand = &expand
	return r
}

func (r ApiMeGetOnlineMeetingsRequest) Execute() (MicrosoftGraphOnlineMeeting, *_nethttp.Response, error) {
	return r.ApiService.MeGetOnlineMeetingsExecute(r)
}

/*
MeGetOnlineMeetings Get onlineMeetings from me

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param onlineMeetingId key: id of onlineMeeting
 @return ApiMeGetOnlineMeetingsRequest
*/
func (a *MeOnlineMeetingApiService) MeGetOnlineMeetings(ctx _context.Context, onlineMeetingId string) ApiMeGetOnlineMeetingsRequest {
	return ApiMeGetOnlineMeetingsRequest{
		ApiService: a,
		ctx: ctx,
		onlineMeetingId: onlineMeetingId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphOnlineMeeting
func (a *MeOnlineMeetingApiService) MeGetOnlineMeetingsExecute(r ApiMeGetOnlineMeetingsRequest) (MicrosoftGraphOnlineMeeting, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphOnlineMeeting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeOnlineMeetingApiService.MeGetOnlineMeetings")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/onlineMeetings/{onlineMeeting-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"onlineMeeting-id"+"}", _neturl.PathEscape(parameterToString(r.onlineMeetingId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeGetOnlineMeetingsAttendeeReportRequest struct {
	ctx _context.Context
	ApiService *MeOnlineMeetingApiService
	onlineMeetingId string
}


func (r ApiMeGetOnlineMeetingsAttendeeReportRequest) Execute() (*os.File, *_nethttp.Response, error) {
	return r.ApiService.MeGetOnlineMeetingsAttendeeReportExecute(r)
}

/*
MeGetOnlineMeetingsAttendeeReport Get media content for the navigation property onlineMeetings from me

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param onlineMeetingId key: id of onlineMeeting
 @return ApiMeGetOnlineMeetingsAttendeeReportRequest
*/
func (a *MeOnlineMeetingApiService) MeGetOnlineMeetingsAttendeeReport(ctx _context.Context, onlineMeetingId string) ApiMeGetOnlineMeetingsAttendeeReportRequest {
	return ApiMeGetOnlineMeetingsAttendeeReportRequest{
		ApiService: a,
		ctx: ctx,
		onlineMeetingId: onlineMeetingId,
	}
}

// Execute executes the request
//  @return *os.File
func (a *MeOnlineMeetingApiService) MeGetOnlineMeetingsAttendeeReportExecute(r ApiMeGetOnlineMeetingsAttendeeReportRequest) (*os.File, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeOnlineMeetingApiService.MeGetOnlineMeetingsAttendeeReport")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/onlineMeetings/{onlineMeeting-id}/attendeeReport"
	localVarPath = strings.Replace(localVarPath, "{"+"onlineMeeting-id"+"}", _neturl.PathEscape(parameterToString(r.onlineMeetingId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/octet-stream", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeListOnlineMeetingsRequest struct {
	ctx _context.Context
	ApiService *MeOnlineMeetingApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiMeListOnlineMeetingsRequest) Top(top int32) ApiMeListOnlineMeetingsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiMeListOnlineMeetingsRequest) Skip(skip int32) ApiMeListOnlineMeetingsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiMeListOnlineMeetingsRequest) Search(search string) ApiMeListOnlineMeetingsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiMeListOnlineMeetingsRequest) Filter(filter string) ApiMeListOnlineMeetingsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiMeListOnlineMeetingsRequest) Count(count bool) ApiMeListOnlineMeetingsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiMeListOnlineMeetingsRequest) Orderby(orderby []string) ApiMeListOnlineMeetingsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiMeListOnlineMeetingsRequest) Select_(select_ []string) ApiMeListOnlineMeetingsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiMeListOnlineMeetingsRequest) Expand(expand []string) ApiMeListOnlineMeetingsRequest {
	r.expand = &expand
	return r
}

func (r ApiMeListOnlineMeetingsRequest) Execute() (CollectionOfOnlineMeeting, *_nethttp.Response, error) {
	return r.ApiService.MeListOnlineMeetingsExecute(r)
}

/*
MeListOnlineMeetings Get onlineMeetings from me

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMeListOnlineMeetingsRequest
*/
func (a *MeOnlineMeetingApiService) MeListOnlineMeetings(ctx _context.Context) ApiMeListOnlineMeetingsRequest {
	return ApiMeListOnlineMeetingsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfOnlineMeeting
func (a *MeOnlineMeetingApiService) MeListOnlineMeetingsExecute(r ApiMeListOnlineMeetingsRequest) (CollectionOfOnlineMeeting, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfOnlineMeeting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeOnlineMeetingApiService.MeListOnlineMeetings")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/onlineMeetings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeUpdateOnlineMeetingsRequest struct {
	ctx _context.Context
	ApiService *MeOnlineMeetingApiService
	onlineMeetingId string
	microsoftGraphOnlineMeeting *MicrosoftGraphOnlineMeeting
}

// New navigation property values
func (r ApiMeUpdateOnlineMeetingsRequest) MicrosoftGraphOnlineMeeting(microsoftGraphOnlineMeeting MicrosoftGraphOnlineMeeting) ApiMeUpdateOnlineMeetingsRequest {
	r.microsoftGraphOnlineMeeting = &microsoftGraphOnlineMeeting
	return r
}

func (r ApiMeUpdateOnlineMeetingsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.MeUpdateOnlineMeetingsExecute(r)
}

/*
MeUpdateOnlineMeetings Update the navigation property onlineMeetings in me

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param onlineMeetingId key: id of onlineMeeting
 @return ApiMeUpdateOnlineMeetingsRequest
*/
func (a *MeOnlineMeetingApiService) MeUpdateOnlineMeetings(ctx _context.Context, onlineMeetingId string) ApiMeUpdateOnlineMeetingsRequest {
	return ApiMeUpdateOnlineMeetingsRequest{
		ApiService: a,
		ctx: ctx,
		onlineMeetingId: onlineMeetingId,
	}
}

// Execute executes the request
func (a *MeOnlineMeetingApiService) MeUpdateOnlineMeetingsExecute(r ApiMeUpdateOnlineMeetingsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeOnlineMeetingApiService.MeUpdateOnlineMeetings")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/onlineMeetings/{onlineMeeting-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"onlineMeeting-id"+"}", _neturl.PathEscape(parameterToString(r.onlineMeetingId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphOnlineMeeting == nil {
		return nil, reportError("microsoftGraphOnlineMeeting is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphOnlineMeeting
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiMeUpdateOnlineMeetingsAttendeeReportRequest struct {
	ctx _context.Context
	ApiService *MeOnlineMeetingApiService
	onlineMeetingId string
	body **os.File
}

// New media content.
func (r ApiMeUpdateOnlineMeetingsAttendeeReportRequest) Body(body *os.File) ApiMeUpdateOnlineMeetingsAttendeeReportRequest {
	r.body = &body
	return r
}

func (r ApiMeUpdateOnlineMeetingsAttendeeReportRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.MeUpdateOnlineMeetingsAttendeeReportExecute(r)
}

/*
MeUpdateOnlineMeetingsAttendeeReport Update media content for the navigation property onlineMeetings in me

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param onlineMeetingId key: id of onlineMeeting
 @return ApiMeUpdateOnlineMeetingsAttendeeReportRequest
*/
func (a *MeOnlineMeetingApiService) MeUpdateOnlineMeetingsAttendeeReport(ctx _context.Context, onlineMeetingId string) ApiMeUpdateOnlineMeetingsAttendeeReportRequest {
	return ApiMeUpdateOnlineMeetingsAttendeeReportRequest{
		ApiService: a,
		ctx: ctx,
		onlineMeetingId: onlineMeetingId,
	}
}

// Execute executes the request
func (a *MeOnlineMeetingApiService) MeUpdateOnlineMeetingsAttendeeReportExecute(r ApiMeUpdateOnlineMeetingsAttendeeReportRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPut
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeOnlineMeetingApiService.MeUpdateOnlineMeetingsAttendeeReport")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/onlineMeetings/{onlineMeeting-id}/attendeeReport"
	localVarPath = strings.Replace(localVarPath, "{"+"onlineMeeting-id"+"}", _neturl.PathEscape(parameterToString(r.onlineMeetingId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.body == nil {
		return nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/octet-stream"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
