/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// DirectoryDirectoryObjectApiService DirectoryDirectoryObjectApi service
type DirectoryDirectoryObjectApiService service

type ApiDirectoryCreateDeletedItemsRequest struct {
	ctx _context.Context
	ApiService *DirectoryDirectoryObjectApiService
	microsoftGraphDirectoryObject *MicrosoftGraphDirectoryObject
}

// New navigation property
func (r ApiDirectoryCreateDeletedItemsRequest) MicrosoftGraphDirectoryObject(microsoftGraphDirectoryObject MicrosoftGraphDirectoryObject) ApiDirectoryCreateDeletedItemsRequest {
	r.microsoftGraphDirectoryObject = &microsoftGraphDirectoryObject
	return r
}

func (r ApiDirectoryCreateDeletedItemsRequest) Execute() (MicrosoftGraphDirectoryObject, *_nethttp.Response, error) {
	return r.ApiService.DirectoryCreateDeletedItemsExecute(r)
}

/*
DirectoryCreateDeletedItems Create new navigation property to deletedItems for directory

Recently deleted items. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDirectoryCreateDeletedItemsRequest
*/
func (a *DirectoryDirectoryObjectApiService) DirectoryCreateDeletedItems(ctx _context.Context) ApiDirectoryCreateDeletedItemsRequest {
	return ApiDirectoryCreateDeletedItemsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphDirectoryObject
func (a *DirectoryDirectoryObjectApiService) DirectoryCreateDeletedItemsExecute(r ApiDirectoryCreateDeletedItemsRequest) (MicrosoftGraphDirectoryObject, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphDirectoryObject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DirectoryDirectoryObjectApiService.DirectoryCreateDeletedItems")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/directory/deletedItems"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphDirectoryObject == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphDirectoryObject is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphDirectoryObject
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDirectoryDeleteDeletedItemsRequest struct {
	ctx _context.Context
	ApiService *DirectoryDirectoryObjectApiService
	directoryObjectId string
	ifMatch *string
}

// ETag
func (r ApiDirectoryDeleteDeletedItemsRequest) IfMatch(ifMatch string) ApiDirectoryDeleteDeletedItemsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiDirectoryDeleteDeletedItemsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DirectoryDeleteDeletedItemsExecute(r)
}

/*
DirectoryDeleteDeletedItems Delete navigation property deletedItems for directory

Recently deleted items. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param directoryObjectId key: id of directoryObject
 @return ApiDirectoryDeleteDeletedItemsRequest
*/
func (a *DirectoryDirectoryObjectApiService) DirectoryDeleteDeletedItems(ctx _context.Context, directoryObjectId string) ApiDirectoryDeleteDeletedItemsRequest {
	return ApiDirectoryDeleteDeletedItemsRequest{
		ApiService: a,
		ctx: ctx,
		directoryObjectId: directoryObjectId,
	}
}

// Execute executes the request
func (a *DirectoryDirectoryObjectApiService) DirectoryDeleteDeletedItemsExecute(r ApiDirectoryDeleteDeletedItemsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DirectoryDirectoryObjectApiService.DirectoryDeleteDeletedItems")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/directory/deletedItems/{directoryObject-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"directoryObject-id"+"}", _neturl.PathEscape(parameterToString(r.directoryObjectId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDirectoryGetDeletedItemsRequest struct {
	ctx _context.Context
	ApiService *DirectoryDirectoryObjectApiService
	directoryObjectId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiDirectoryGetDeletedItemsRequest) Select_(select_ []string) ApiDirectoryGetDeletedItemsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDirectoryGetDeletedItemsRequest) Expand(expand []string) ApiDirectoryGetDeletedItemsRequest {
	r.expand = &expand
	return r
}

func (r ApiDirectoryGetDeletedItemsRequest) Execute() (MicrosoftGraphDirectoryObject, *_nethttp.Response, error) {
	return r.ApiService.DirectoryGetDeletedItemsExecute(r)
}

/*
DirectoryGetDeletedItems Get deletedItems from directory

Recently deleted items. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param directoryObjectId key: id of directoryObject
 @return ApiDirectoryGetDeletedItemsRequest
*/
func (a *DirectoryDirectoryObjectApiService) DirectoryGetDeletedItems(ctx _context.Context, directoryObjectId string) ApiDirectoryGetDeletedItemsRequest {
	return ApiDirectoryGetDeletedItemsRequest{
		ApiService: a,
		ctx: ctx,
		directoryObjectId: directoryObjectId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphDirectoryObject
func (a *DirectoryDirectoryObjectApiService) DirectoryGetDeletedItemsExecute(r ApiDirectoryGetDeletedItemsRequest) (MicrosoftGraphDirectoryObject, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphDirectoryObject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DirectoryDirectoryObjectApiService.DirectoryGetDeletedItems")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/directory/deletedItems/{directoryObject-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"directoryObject-id"+"}", _neturl.PathEscape(parameterToString(r.directoryObjectId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDirectoryListDeletedItemsRequest struct {
	ctx _context.Context
	ApiService *DirectoryDirectoryObjectApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiDirectoryListDeletedItemsRequest) Top(top int32) ApiDirectoryListDeletedItemsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiDirectoryListDeletedItemsRequest) Skip(skip int32) ApiDirectoryListDeletedItemsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiDirectoryListDeletedItemsRequest) Search(search string) ApiDirectoryListDeletedItemsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiDirectoryListDeletedItemsRequest) Filter(filter string) ApiDirectoryListDeletedItemsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiDirectoryListDeletedItemsRequest) Count(count bool) ApiDirectoryListDeletedItemsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiDirectoryListDeletedItemsRequest) Orderby(orderby []string) ApiDirectoryListDeletedItemsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiDirectoryListDeletedItemsRequest) Select_(select_ []string) ApiDirectoryListDeletedItemsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDirectoryListDeletedItemsRequest) Expand(expand []string) ApiDirectoryListDeletedItemsRequest {
	r.expand = &expand
	return r
}

func (r ApiDirectoryListDeletedItemsRequest) Execute() (CollectionOfDirectoryObject, *_nethttp.Response, error) {
	return r.ApiService.DirectoryListDeletedItemsExecute(r)
}

/*
DirectoryListDeletedItems Get deletedItems from directory

Recently deleted items. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDirectoryListDeletedItemsRequest
*/
func (a *DirectoryDirectoryObjectApiService) DirectoryListDeletedItems(ctx _context.Context) ApiDirectoryListDeletedItemsRequest {
	return ApiDirectoryListDeletedItemsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfDirectoryObject
func (a *DirectoryDirectoryObjectApiService) DirectoryListDeletedItemsExecute(r ApiDirectoryListDeletedItemsRequest) (CollectionOfDirectoryObject, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfDirectoryObject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DirectoryDirectoryObjectApiService.DirectoryListDeletedItems")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/directory/deletedItems"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDirectoryUpdateDeletedItemsRequest struct {
	ctx _context.Context
	ApiService *DirectoryDirectoryObjectApiService
	directoryObjectId string
	microsoftGraphDirectoryObject *MicrosoftGraphDirectoryObject
}

// New navigation property values
func (r ApiDirectoryUpdateDeletedItemsRequest) MicrosoftGraphDirectoryObject(microsoftGraphDirectoryObject MicrosoftGraphDirectoryObject) ApiDirectoryUpdateDeletedItemsRequest {
	r.microsoftGraphDirectoryObject = &microsoftGraphDirectoryObject
	return r
}

func (r ApiDirectoryUpdateDeletedItemsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DirectoryUpdateDeletedItemsExecute(r)
}

/*
DirectoryUpdateDeletedItems Update the navigation property deletedItems in directory

Recently deleted items. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param directoryObjectId key: id of directoryObject
 @return ApiDirectoryUpdateDeletedItemsRequest
*/
func (a *DirectoryDirectoryObjectApiService) DirectoryUpdateDeletedItems(ctx _context.Context, directoryObjectId string) ApiDirectoryUpdateDeletedItemsRequest {
	return ApiDirectoryUpdateDeletedItemsRequest{
		ApiService: a,
		ctx: ctx,
		directoryObjectId: directoryObjectId,
	}
}

// Execute executes the request
func (a *DirectoryDirectoryObjectApiService) DirectoryUpdateDeletedItemsExecute(r ApiDirectoryUpdateDeletedItemsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DirectoryDirectoryObjectApiService.DirectoryUpdateDeletedItems")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/directory/deletedItems/{directoryObject-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"directoryObject-id"+"}", _neturl.PathEscape(parameterToString(r.directoryObjectId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphDirectoryObject == nil {
		return nil, reportError("microsoftGraphDirectoryObject is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphDirectoryObject
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
