/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// ServicePrincipalsEndpointApiService ServicePrincipalsEndpointApi service
type ServicePrincipalsEndpointApiService service

type ApiServicePrincipalsCreateEndpointsRequest struct {
	ctx _context.Context
	ApiService *ServicePrincipalsEndpointApiService
	servicePrincipalId string
	microsoftGraphEndpoint *MicrosoftGraphEndpoint
}

// New navigation property
func (r ApiServicePrincipalsCreateEndpointsRequest) MicrosoftGraphEndpoint(microsoftGraphEndpoint MicrosoftGraphEndpoint) ApiServicePrincipalsCreateEndpointsRequest {
	r.microsoftGraphEndpoint = &microsoftGraphEndpoint
	return r
}

func (r ApiServicePrincipalsCreateEndpointsRequest) Execute() (MicrosoftGraphEndpoint, *_nethttp.Response, error) {
	return r.ApiService.ServicePrincipalsCreateEndpointsExecute(r)
}

/*
ServicePrincipalsCreateEndpoints Create new navigation property to endpoints for servicePrincipals

Endpoints available for discovery. Services like Sharepoint populate this property with a tenant specific SharePoint endpoints that other applications can discover and use in their experiences.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param servicePrincipalId key: id of servicePrincipal
 @return ApiServicePrincipalsCreateEndpointsRequest
*/
func (a *ServicePrincipalsEndpointApiService) ServicePrincipalsCreateEndpoints(ctx _context.Context, servicePrincipalId string) ApiServicePrincipalsCreateEndpointsRequest {
	return ApiServicePrincipalsCreateEndpointsRequest{
		ApiService: a,
		ctx: ctx,
		servicePrincipalId: servicePrincipalId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphEndpoint
func (a *ServicePrincipalsEndpointApiService) ServicePrincipalsCreateEndpointsExecute(r ApiServicePrincipalsCreateEndpointsRequest) (MicrosoftGraphEndpoint, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphEndpoint
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServicePrincipalsEndpointApiService.ServicePrincipalsCreateEndpoints")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servicePrincipals/{servicePrincipal-id}/endpoints"
	localVarPath = strings.Replace(localVarPath, "{"+"servicePrincipal-id"+"}", _neturl.PathEscape(parameterToString(r.servicePrincipalId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphEndpoint == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphEndpoint is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphEndpoint
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiServicePrincipalsDeleteEndpointsRequest struct {
	ctx _context.Context
	ApiService *ServicePrincipalsEndpointApiService
	servicePrincipalId string
	endpointId string
	ifMatch *string
}

// ETag
func (r ApiServicePrincipalsDeleteEndpointsRequest) IfMatch(ifMatch string) ApiServicePrincipalsDeleteEndpointsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiServicePrincipalsDeleteEndpointsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.ServicePrincipalsDeleteEndpointsExecute(r)
}

/*
ServicePrincipalsDeleteEndpoints Delete navigation property endpoints for servicePrincipals

Endpoints available for discovery. Services like Sharepoint populate this property with a tenant specific SharePoint endpoints that other applications can discover and use in their experiences.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param servicePrincipalId key: id of servicePrincipal
 @param endpointId key: id of endpoint
 @return ApiServicePrincipalsDeleteEndpointsRequest
*/
func (a *ServicePrincipalsEndpointApiService) ServicePrincipalsDeleteEndpoints(ctx _context.Context, servicePrincipalId string, endpointId string) ApiServicePrincipalsDeleteEndpointsRequest {
	return ApiServicePrincipalsDeleteEndpointsRequest{
		ApiService: a,
		ctx: ctx,
		servicePrincipalId: servicePrincipalId,
		endpointId: endpointId,
	}
}

// Execute executes the request
func (a *ServicePrincipalsEndpointApiService) ServicePrincipalsDeleteEndpointsExecute(r ApiServicePrincipalsDeleteEndpointsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServicePrincipalsEndpointApiService.ServicePrincipalsDeleteEndpoints")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servicePrincipals/{servicePrincipal-id}/endpoints/{endpoint-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"servicePrincipal-id"+"}", _neturl.PathEscape(parameterToString(r.servicePrincipalId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"endpoint-id"+"}", _neturl.PathEscape(parameterToString(r.endpointId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiServicePrincipalsGetEndpointsRequest struct {
	ctx _context.Context
	ApiService *ServicePrincipalsEndpointApiService
	servicePrincipalId string
	endpointId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiServicePrincipalsGetEndpointsRequest) Select_(select_ []string) ApiServicePrincipalsGetEndpointsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiServicePrincipalsGetEndpointsRequest) Expand(expand []string) ApiServicePrincipalsGetEndpointsRequest {
	r.expand = &expand
	return r
}

func (r ApiServicePrincipalsGetEndpointsRequest) Execute() (MicrosoftGraphEndpoint, *_nethttp.Response, error) {
	return r.ApiService.ServicePrincipalsGetEndpointsExecute(r)
}

/*
ServicePrincipalsGetEndpoints Get endpoints from servicePrincipals

Endpoints available for discovery. Services like Sharepoint populate this property with a tenant specific SharePoint endpoints that other applications can discover and use in their experiences.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param servicePrincipalId key: id of servicePrincipal
 @param endpointId key: id of endpoint
 @return ApiServicePrincipalsGetEndpointsRequest
*/
func (a *ServicePrincipalsEndpointApiService) ServicePrincipalsGetEndpoints(ctx _context.Context, servicePrincipalId string, endpointId string) ApiServicePrincipalsGetEndpointsRequest {
	return ApiServicePrincipalsGetEndpointsRequest{
		ApiService: a,
		ctx: ctx,
		servicePrincipalId: servicePrincipalId,
		endpointId: endpointId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphEndpoint
func (a *ServicePrincipalsEndpointApiService) ServicePrincipalsGetEndpointsExecute(r ApiServicePrincipalsGetEndpointsRequest) (MicrosoftGraphEndpoint, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphEndpoint
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServicePrincipalsEndpointApiService.ServicePrincipalsGetEndpoints")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servicePrincipals/{servicePrincipal-id}/endpoints/{endpoint-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"servicePrincipal-id"+"}", _neturl.PathEscape(parameterToString(r.servicePrincipalId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"endpoint-id"+"}", _neturl.PathEscape(parameterToString(r.endpointId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiServicePrincipalsListEndpointsRequest struct {
	ctx _context.Context
	ApiService *ServicePrincipalsEndpointApiService
	servicePrincipalId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiServicePrincipalsListEndpointsRequest) Top(top int32) ApiServicePrincipalsListEndpointsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiServicePrincipalsListEndpointsRequest) Skip(skip int32) ApiServicePrincipalsListEndpointsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiServicePrincipalsListEndpointsRequest) Search(search string) ApiServicePrincipalsListEndpointsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiServicePrincipalsListEndpointsRequest) Filter(filter string) ApiServicePrincipalsListEndpointsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiServicePrincipalsListEndpointsRequest) Count(count bool) ApiServicePrincipalsListEndpointsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiServicePrincipalsListEndpointsRequest) Orderby(orderby []string) ApiServicePrincipalsListEndpointsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiServicePrincipalsListEndpointsRequest) Select_(select_ []string) ApiServicePrincipalsListEndpointsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiServicePrincipalsListEndpointsRequest) Expand(expand []string) ApiServicePrincipalsListEndpointsRequest {
	r.expand = &expand
	return r
}

func (r ApiServicePrincipalsListEndpointsRequest) Execute() (CollectionOfEndpoint, *_nethttp.Response, error) {
	return r.ApiService.ServicePrincipalsListEndpointsExecute(r)
}

/*
ServicePrincipalsListEndpoints Get endpoints from servicePrincipals

Endpoints available for discovery. Services like Sharepoint populate this property with a tenant specific SharePoint endpoints that other applications can discover and use in their experiences.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param servicePrincipalId key: id of servicePrincipal
 @return ApiServicePrincipalsListEndpointsRequest
*/
func (a *ServicePrincipalsEndpointApiService) ServicePrincipalsListEndpoints(ctx _context.Context, servicePrincipalId string) ApiServicePrincipalsListEndpointsRequest {
	return ApiServicePrincipalsListEndpointsRequest{
		ApiService: a,
		ctx: ctx,
		servicePrincipalId: servicePrincipalId,
	}
}

// Execute executes the request
//  @return CollectionOfEndpoint
func (a *ServicePrincipalsEndpointApiService) ServicePrincipalsListEndpointsExecute(r ApiServicePrincipalsListEndpointsRequest) (CollectionOfEndpoint, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfEndpoint
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServicePrincipalsEndpointApiService.ServicePrincipalsListEndpoints")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servicePrincipals/{servicePrincipal-id}/endpoints"
	localVarPath = strings.Replace(localVarPath, "{"+"servicePrincipal-id"+"}", _neturl.PathEscape(parameterToString(r.servicePrincipalId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiServicePrincipalsUpdateEndpointsRequest struct {
	ctx _context.Context
	ApiService *ServicePrincipalsEndpointApiService
	servicePrincipalId string
	endpointId string
	microsoftGraphEndpoint *MicrosoftGraphEndpoint
}

// New navigation property values
func (r ApiServicePrincipalsUpdateEndpointsRequest) MicrosoftGraphEndpoint(microsoftGraphEndpoint MicrosoftGraphEndpoint) ApiServicePrincipalsUpdateEndpointsRequest {
	r.microsoftGraphEndpoint = &microsoftGraphEndpoint
	return r
}

func (r ApiServicePrincipalsUpdateEndpointsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.ServicePrincipalsUpdateEndpointsExecute(r)
}

/*
ServicePrincipalsUpdateEndpoints Update the navigation property endpoints in servicePrincipals

Endpoints available for discovery. Services like Sharepoint populate this property with a tenant specific SharePoint endpoints that other applications can discover and use in their experiences.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param servicePrincipalId key: id of servicePrincipal
 @param endpointId key: id of endpoint
 @return ApiServicePrincipalsUpdateEndpointsRequest
*/
func (a *ServicePrincipalsEndpointApiService) ServicePrincipalsUpdateEndpoints(ctx _context.Context, servicePrincipalId string, endpointId string) ApiServicePrincipalsUpdateEndpointsRequest {
	return ApiServicePrincipalsUpdateEndpointsRequest{
		ApiService: a,
		ctx: ctx,
		servicePrincipalId: servicePrincipalId,
		endpointId: endpointId,
	}
}

// Execute executes the request
func (a *ServicePrincipalsEndpointApiService) ServicePrincipalsUpdateEndpointsExecute(r ApiServicePrincipalsUpdateEndpointsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServicePrincipalsEndpointApiService.ServicePrincipalsUpdateEndpoints")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servicePrincipals/{servicePrincipal-id}/endpoints/{endpoint-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"servicePrincipal-id"+"}", _neturl.PathEscape(parameterToString(r.servicePrincipalId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"endpoint-id"+"}", _neturl.PathEscape(parameterToString(r.endpointId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphEndpoint == nil {
		return nil, reportError("microsoftGraphEndpoint is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphEndpoint
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
