/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// PoliciesTokenIssuancePolicyApiService PoliciesTokenIssuancePolicyApi service
type PoliciesTokenIssuancePolicyApiService service

type ApiPoliciesCreateTokenIssuancePoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesTokenIssuancePolicyApiService
	microsoftGraphTokenIssuancePolicy *MicrosoftGraphTokenIssuancePolicy
}

// New navigation property
func (r ApiPoliciesCreateTokenIssuancePoliciesRequest) MicrosoftGraphTokenIssuancePolicy(microsoftGraphTokenIssuancePolicy MicrosoftGraphTokenIssuancePolicy) ApiPoliciesCreateTokenIssuancePoliciesRequest {
	r.microsoftGraphTokenIssuancePolicy = &microsoftGraphTokenIssuancePolicy
	return r
}

func (r ApiPoliciesCreateTokenIssuancePoliciesRequest) Execute() (MicrosoftGraphTokenIssuancePolicy, *_nethttp.Response, error) {
	return r.ApiService.PoliciesCreateTokenIssuancePoliciesExecute(r)
}

/*
PoliciesCreateTokenIssuancePolicies Create new navigation property to tokenIssuancePolicies for policies

The policy that specifies the characteristics of SAML tokens issued by Azure AD.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPoliciesCreateTokenIssuancePoliciesRequest
*/
func (a *PoliciesTokenIssuancePolicyApiService) PoliciesCreateTokenIssuancePolicies(ctx _context.Context) ApiPoliciesCreateTokenIssuancePoliciesRequest {
	return ApiPoliciesCreateTokenIssuancePoliciesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphTokenIssuancePolicy
func (a *PoliciesTokenIssuancePolicyApiService) PoliciesCreateTokenIssuancePoliciesExecute(r ApiPoliciesCreateTokenIssuancePoliciesRequest) (MicrosoftGraphTokenIssuancePolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphTokenIssuancePolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesTokenIssuancePolicyApiService.PoliciesCreateTokenIssuancePolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/tokenIssuancePolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphTokenIssuancePolicy == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphTokenIssuancePolicy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphTokenIssuancePolicy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPoliciesDeleteTokenIssuancePoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesTokenIssuancePolicyApiService
	tokenIssuancePolicyId string
	ifMatch *string
}

// ETag
func (r ApiPoliciesDeleteTokenIssuancePoliciesRequest) IfMatch(ifMatch string) ApiPoliciesDeleteTokenIssuancePoliciesRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiPoliciesDeleteTokenIssuancePoliciesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.PoliciesDeleteTokenIssuancePoliciesExecute(r)
}

/*
PoliciesDeleteTokenIssuancePolicies Delete navigation property tokenIssuancePolicies for policies

The policy that specifies the characteristics of SAML tokens issued by Azure AD.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tokenIssuancePolicyId key: id of tokenIssuancePolicy
 @return ApiPoliciesDeleteTokenIssuancePoliciesRequest
*/
func (a *PoliciesTokenIssuancePolicyApiService) PoliciesDeleteTokenIssuancePolicies(ctx _context.Context, tokenIssuancePolicyId string) ApiPoliciesDeleteTokenIssuancePoliciesRequest {
	return ApiPoliciesDeleteTokenIssuancePoliciesRequest{
		ApiService: a,
		ctx: ctx,
		tokenIssuancePolicyId: tokenIssuancePolicyId,
	}
}

// Execute executes the request
func (a *PoliciesTokenIssuancePolicyApiService) PoliciesDeleteTokenIssuancePoliciesExecute(r ApiPoliciesDeleteTokenIssuancePoliciesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesTokenIssuancePolicyApiService.PoliciesDeleteTokenIssuancePolicies")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/tokenIssuancePolicies/{tokenIssuancePolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"tokenIssuancePolicy-id"+"}", _neturl.PathEscape(parameterToString(r.tokenIssuancePolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPoliciesGetTokenIssuancePoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesTokenIssuancePolicyApiService
	tokenIssuancePolicyId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiPoliciesGetTokenIssuancePoliciesRequest) Select_(select_ []string) ApiPoliciesGetTokenIssuancePoliciesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiPoliciesGetTokenIssuancePoliciesRequest) Expand(expand []string) ApiPoliciesGetTokenIssuancePoliciesRequest {
	r.expand = &expand
	return r
}

func (r ApiPoliciesGetTokenIssuancePoliciesRequest) Execute() (MicrosoftGraphTokenIssuancePolicy, *_nethttp.Response, error) {
	return r.ApiService.PoliciesGetTokenIssuancePoliciesExecute(r)
}

/*
PoliciesGetTokenIssuancePolicies Get tokenIssuancePolicies from policies

The policy that specifies the characteristics of SAML tokens issued by Azure AD.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tokenIssuancePolicyId key: id of tokenIssuancePolicy
 @return ApiPoliciesGetTokenIssuancePoliciesRequest
*/
func (a *PoliciesTokenIssuancePolicyApiService) PoliciesGetTokenIssuancePolicies(ctx _context.Context, tokenIssuancePolicyId string) ApiPoliciesGetTokenIssuancePoliciesRequest {
	return ApiPoliciesGetTokenIssuancePoliciesRequest{
		ApiService: a,
		ctx: ctx,
		tokenIssuancePolicyId: tokenIssuancePolicyId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphTokenIssuancePolicy
func (a *PoliciesTokenIssuancePolicyApiService) PoliciesGetTokenIssuancePoliciesExecute(r ApiPoliciesGetTokenIssuancePoliciesRequest) (MicrosoftGraphTokenIssuancePolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphTokenIssuancePolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesTokenIssuancePolicyApiService.PoliciesGetTokenIssuancePolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/tokenIssuancePolicies/{tokenIssuancePolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"tokenIssuancePolicy-id"+"}", _neturl.PathEscape(parameterToString(r.tokenIssuancePolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPoliciesListTokenIssuancePoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesTokenIssuancePolicyApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiPoliciesListTokenIssuancePoliciesRequest) Top(top int32) ApiPoliciesListTokenIssuancePoliciesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiPoliciesListTokenIssuancePoliciesRequest) Skip(skip int32) ApiPoliciesListTokenIssuancePoliciesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiPoliciesListTokenIssuancePoliciesRequest) Search(search string) ApiPoliciesListTokenIssuancePoliciesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiPoliciesListTokenIssuancePoliciesRequest) Filter(filter string) ApiPoliciesListTokenIssuancePoliciesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiPoliciesListTokenIssuancePoliciesRequest) Count(count bool) ApiPoliciesListTokenIssuancePoliciesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiPoliciesListTokenIssuancePoliciesRequest) Orderby(orderby []string) ApiPoliciesListTokenIssuancePoliciesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiPoliciesListTokenIssuancePoliciesRequest) Select_(select_ []string) ApiPoliciesListTokenIssuancePoliciesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiPoliciesListTokenIssuancePoliciesRequest) Expand(expand []string) ApiPoliciesListTokenIssuancePoliciesRequest {
	r.expand = &expand
	return r
}

func (r ApiPoliciesListTokenIssuancePoliciesRequest) Execute() (CollectionOfTokenIssuancePolicy, *_nethttp.Response, error) {
	return r.ApiService.PoliciesListTokenIssuancePoliciesExecute(r)
}

/*
PoliciesListTokenIssuancePolicies Get tokenIssuancePolicies from policies

The policy that specifies the characteristics of SAML tokens issued by Azure AD.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPoliciesListTokenIssuancePoliciesRequest
*/
func (a *PoliciesTokenIssuancePolicyApiService) PoliciesListTokenIssuancePolicies(ctx _context.Context) ApiPoliciesListTokenIssuancePoliciesRequest {
	return ApiPoliciesListTokenIssuancePoliciesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfTokenIssuancePolicy
func (a *PoliciesTokenIssuancePolicyApiService) PoliciesListTokenIssuancePoliciesExecute(r ApiPoliciesListTokenIssuancePoliciesRequest) (CollectionOfTokenIssuancePolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfTokenIssuancePolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesTokenIssuancePolicyApiService.PoliciesListTokenIssuancePolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/tokenIssuancePolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPoliciesUpdateTokenIssuancePoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesTokenIssuancePolicyApiService
	tokenIssuancePolicyId string
	microsoftGraphTokenIssuancePolicy *MicrosoftGraphTokenIssuancePolicy
}

// New navigation property values
func (r ApiPoliciesUpdateTokenIssuancePoliciesRequest) MicrosoftGraphTokenIssuancePolicy(microsoftGraphTokenIssuancePolicy MicrosoftGraphTokenIssuancePolicy) ApiPoliciesUpdateTokenIssuancePoliciesRequest {
	r.microsoftGraphTokenIssuancePolicy = &microsoftGraphTokenIssuancePolicy
	return r
}

func (r ApiPoliciesUpdateTokenIssuancePoliciesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.PoliciesUpdateTokenIssuancePoliciesExecute(r)
}

/*
PoliciesUpdateTokenIssuancePolicies Update the navigation property tokenIssuancePolicies in policies

The policy that specifies the characteristics of SAML tokens issued by Azure AD.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tokenIssuancePolicyId key: id of tokenIssuancePolicy
 @return ApiPoliciesUpdateTokenIssuancePoliciesRequest
*/
func (a *PoliciesTokenIssuancePolicyApiService) PoliciesUpdateTokenIssuancePolicies(ctx _context.Context, tokenIssuancePolicyId string) ApiPoliciesUpdateTokenIssuancePoliciesRequest {
	return ApiPoliciesUpdateTokenIssuancePoliciesRequest{
		ApiService: a,
		ctx: ctx,
		tokenIssuancePolicyId: tokenIssuancePolicyId,
	}
}

// Execute executes the request
func (a *PoliciesTokenIssuancePolicyApiService) PoliciesUpdateTokenIssuancePoliciesExecute(r ApiPoliciesUpdateTokenIssuancePoliciesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesTokenIssuancePolicyApiService.PoliciesUpdateTokenIssuancePolicies")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/tokenIssuancePolicies/{tokenIssuancePolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"tokenIssuancePolicy-id"+"}", _neturl.PathEscape(parameterToString(r.tokenIssuancePolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphTokenIssuancePolicy == nil {
		return nil, reportError("microsoftGraphTokenIssuancePolicy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphTokenIssuancePolicy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
