/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// PoliciesActivityBasedTimeoutPolicyApiService PoliciesActivityBasedTimeoutPolicyApi service
type PoliciesActivityBasedTimeoutPolicyApiService service

type ApiPoliciesCreateActivityBasedTimeoutPoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesActivityBasedTimeoutPolicyApiService
	microsoftGraphActivityBasedTimeoutPolicy *MicrosoftGraphActivityBasedTimeoutPolicy
}

// New navigation property
func (r ApiPoliciesCreateActivityBasedTimeoutPoliciesRequest) MicrosoftGraphActivityBasedTimeoutPolicy(microsoftGraphActivityBasedTimeoutPolicy MicrosoftGraphActivityBasedTimeoutPolicy) ApiPoliciesCreateActivityBasedTimeoutPoliciesRequest {
	r.microsoftGraphActivityBasedTimeoutPolicy = &microsoftGraphActivityBasedTimeoutPolicy
	return r
}

func (r ApiPoliciesCreateActivityBasedTimeoutPoliciesRequest) Execute() (MicrosoftGraphActivityBasedTimeoutPolicy, *_nethttp.Response, error) {
	return r.ApiService.PoliciesCreateActivityBasedTimeoutPoliciesExecute(r)
}

/*
PoliciesCreateActivityBasedTimeoutPolicies Create new navigation property to activityBasedTimeoutPolicies for policies

The policy that controls the idle time out for web sessions for applications.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPoliciesCreateActivityBasedTimeoutPoliciesRequest
*/
func (a *PoliciesActivityBasedTimeoutPolicyApiService) PoliciesCreateActivityBasedTimeoutPolicies(ctx _context.Context) ApiPoliciesCreateActivityBasedTimeoutPoliciesRequest {
	return ApiPoliciesCreateActivityBasedTimeoutPoliciesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphActivityBasedTimeoutPolicy
func (a *PoliciesActivityBasedTimeoutPolicyApiService) PoliciesCreateActivityBasedTimeoutPoliciesExecute(r ApiPoliciesCreateActivityBasedTimeoutPoliciesRequest) (MicrosoftGraphActivityBasedTimeoutPolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphActivityBasedTimeoutPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesActivityBasedTimeoutPolicyApiService.PoliciesCreateActivityBasedTimeoutPolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/activityBasedTimeoutPolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphActivityBasedTimeoutPolicy == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphActivityBasedTimeoutPolicy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphActivityBasedTimeoutPolicy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPoliciesDeleteActivityBasedTimeoutPoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesActivityBasedTimeoutPolicyApiService
	activityBasedTimeoutPolicyId string
	ifMatch *string
}

// ETag
func (r ApiPoliciesDeleteActivityBasedTimeoutPoliciesRequest) IfMatch(ifMatch string) ApiPoliciesDeleteActivityBasedTimeoutPoliciesRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiPoliciesDeleteActivityBasedTimeoutPoliciesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.PoliciesDeleteActivityBasedTimeoutPoliciesExecute(r)
}

/*
PoliciesDeleteActivityBasedTimeoutPolicies Delete navigation property activityBasedTimeoutPolicies for policies

The policy that controls the idle time out for web sessions for applications.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param activityBasedTimeoutPolicyId key: id of activityBasedTimeoutPolicy
 @return ApiPoliciesDeleteActivityBasedTimeoutPoliciesRequest
*/
func (a *PoliciesActivityBasedTimeoutPolicyApiService) PoliciesDeleteActivityBasedTimeoutPolicies(ctx _context.Context, activityBasedTimeoutPolicyId string) ApiPoliciesDeleteActivityBasedTimeoutPoliciesRequest {
	return ApiPoliciesDeleteActivityBasedTimeoutPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		activityBasedTimeoutPolicyId: activityBasedTimeoutPolicyId,
	}
}

// Execute executes the request
func (a *PoliciesActivityBasedTimeoutPolicyApiService) PoliciesDeleteActivityBasedTimeoutPoliciesExecute(r ApiPoliciesDeleteActivityBasedTimeoutPoliciesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesActivityBasedTimeoutPolicyApiService.PoliciesDeleteActivityBasedTimeoutPolicies")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/activityBasedTimeoutPolicies/{activityBasedTimeoutPolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"activityBasedTimeoutPolicy-id"+"}", _neturl.PathEscape(parameterToString(r.activityBasedTimeoutPolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPoliciesGetActivityBasedTimeoutPoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesActivityBasedTimeoutPolicyApiService
	activityBasedTimeoutPolicyId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiPoliciesGetActivityBasedTimeoutPoliciesRequest) Select_(select_ []string) ApiPoliciesGetActivityBasedTimeoutPoliciesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiPoliciesGetActivityBasedTimeoutPoliciesRequest) Expand(expand []string) ApiPoliciesGetActivityBasedTimeoutPoliciesRequest {
	r.expand = &expand
	return r
}

func (r ApiPoliciesGetActivityBasedTimeoutPoliciesRequest) Execute() (MicrosoftGraphActivityBasedTimeoutPolicy, *_nethttp.Response, error) {
	return r.ApiService.PoliciesGetActivityBasedTimeoutPoliciesExecute(r)
}

/*
PoliciesGetActivityBasedTimeoutPolicies Get activityBasedTimeoutPolicies from policies

The policy that controls the idle time out for web sessions for applications.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param activityBasedTimeoutPolicyId key: id of activityBasedTimeoutPolicy
 @return ApiPoliciesGetActivityBasedTimeoutPoliciesRequest
*/
func (a *PoliciesActivityBasedTimeoutPolicyApiService) PoliciesGetActivityBasedTimeoutPolicies(ctx _context.Context, activityBasedTimeoutPolicyId string) ApiPoliciesGetActivityBasedTimeoutPoliciesRequest {
	return ApiPoliciesGetActivityBasedTimeoutPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		activityBasedTimeoutPolicyId: activityBasedTimeoutPolicyId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphActivityBasedTimeoutPolicy
func (a *PoliciesActivityBasedTimeoutPolicyApiService) PoliciesGetActivityBasedTimeoutPoliciesExecute(r ApiPoliciesGetActivityBasedTimeoutPoliciesRequest) (MicrosoftGraphActivityBasedTimeoutPolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphActivityBasedTimeoutPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesActivityBasedTimeoutPolicyApiService.PoliciesGetActivityBasedTimeoutPolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/activityBasedTimeoutPolicies/{activityBasedTimeoutPolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"activityBasedTimeoutPolicy-id"+"}", _neturl.PathEscape(parameterToString(r.activityBasedTimeoutPolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPoliciesListActivityBasedTimeoutPoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesActivityBasedTimeoutPolicyApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiPoliciesListActivityBasedTimeoutPoliciesRequest) Top(top int32) ApiPoliciesListActivityBasedTimeoutPoliciesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiPoliciesListActivityBasedTimeoutPoliciesRequest) Skip(skip int32) ApiPoliciesListActivityBasedTimeoutPoliciesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiPoliciesListActivityBasedTimeoutPoliciesRequest) Search(search string) ApiPoliciesListActivityBasedTimeoutPoliciesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiPoliciesListActivityBasedTimeoutPoliciesRequest) Filter(filter string) ApiPoliciesListActivityBasedTimeoutPoliciesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiPoliciesListActivityBasedTimeoutPoliciesRequest) Count(count bool) ApiPoliciesListActivityBasedTimeoutPoliciesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiPoliciesListActivityBasedTimeoutPoliciesRequest) Orderby(orderby []string) ApiPoliciesListActivityBasedTimeoutPoliciesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiPoliciesListActivityBasedTimeoutPoliciesRequest) Select_(select_ []string) ApiPoliciesListActivityBasedTimeoutPoliciesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiPoliciesListActivityBasedTimeoutPoliciesRequest) Expand(expand []string) ApiPoliciesListActivityBasedTimeoutPoliciesRequest {
	r.expand = &expand
	return r
}

func (r ApiPoliciesListActivityBasedTimeoutPoliciesRequest) Execute() (CollectionOfActivityBasedTimeoutPolicy, *_nethttp.Response, error) {
	return r.ApiService.PoliciesListActivityBasedTimeoutPoliciesExecute(r)
}

/*
PoliciesListActivityBasedTimeoutPolicies Get activityBasedTimeoutPolicies from policies

The policy that controls the idle time out for web sessions for applications.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPoliciesListActivityBasedTimeoutPoliciesRequest
*/
func (a *PoliciesActivityBasedTimeoutPolicyApiService) PoliciesListActivityBasedTimeoutPolicies(ctx _context.Context) ApiPoliciesListActivityBasedTimeoutPoliciesRequest {
	return ApiPoliciesListActivityBasedTimeoutPoliciesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfActivityBasedTimeoutPolicy
func (a *PoliciesActivityBasedTimeoutPolicyApiService) PoliciesListActivityBasedTimeoutPoliciesExecute(r ApiPoliciesListActivityBasedTimeoutPoliciesRequest) (CollectionOfActivityBasedTimeoutPolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfActivityBasedTimeoutPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesActivityBasedTimeoutPolicyApiService.PoliciesListActivityBasedTimeoutPolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/activityBasedTimeoutPolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPoliciesUpdateActivityBasedTimeoutPoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesActivityBasedTimeoutPolicyApiService
	activityBasedTimeoutPolicyId string
	microsoftGraphActivityBasedTimeoutPolicy *MicrosoftGraphActivityBasedTimeoutPolicy
}

// New navigation property values
func (r ApiPoliciesUpdateActivityBasedTimeoutPoliciesRequest) MicrosoftGraphActivityBasedTimeoutPolicy(microsoftGraphActivityBasedTimeoutPolicy MicrosoftGraphActivityBasedTimeoutPolicy) ApiPoliciesUpdateActivityBasedTimeoutPoliciesRequest {
	r.microsoftGraphActivityBasedTimeoutPolicy = &microsoftGraphActivityBasedTimeoutPolicy
	return r
}

func (r ApiPoliciesUpdateActivityBasedTimeoutPoliciesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.PoliciesUpdateActivityBasedTimeoutPoliciesExecute(r)
}

/*
PoliciesUpdateActivityBasedTimeoutPolicies Update the navigation property activityBasedTimeoutPolicies in policies

The policy that controls the idle time out for web sessions for applications.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param activityBasedTimeoutPolicyId key: id of activityBasedTimeoutPolicy
 @return ApiPoliciesUpdateActivityBasedTimeoutPoliciesRequest
*/
func (a *PoliciesActivityBasedTimeoutPolicyApiService) PoliciesUpdateActivityBasedTimeoutPolicies(ctx _context.Context, activityBasedTimeoutPolicyId string) ApiPoliciesUpdateActivityBasedTimeoutPoliciesRequest {
	return ApiPoliciesUpdateActivityBasedTimeoutPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		activityBasedTimeoutPolicyId: activityBasedTimeoutPolicyId,
	}
}

// Execute executes the request
func (a *PoliciesActivityBasedTimeoutPolicyApiService) PoliciesUpdateActivityBasedTimeoutPoliciesExecute(r ApiPoliciesUpdateActivityBasedTimeoutPoliciesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesActivityBasedTimeoutPolicyApiService.PoliciesUpdateActivityBasedTimeoutPolicies")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/activityBasedTimeoutPolicies/{activityBasedTimeoutPolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"activityBasedTimeoutPolicy-id"+"}", _neturl.PathEscape(parameterToString(r.activityBasedTimeoutPolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphActivityBasedTimeoutPolicy == nil {
		return nil, reportError("microsoftGraphActivityBasedTimeoutPolicy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphActivityBasedTimeoutPolicy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
