/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// DeviceAppManagementManagedAppPolicyApiService DeviceAppManagementManagedAppPolicyApi service
type DeviceAppManagementManagedAppPolicyApiService service

type ApiDeviceAppManagementCreateManagedAppPoliciesRequest struct {
	ctx _context.Context
	ApiService *DeviceAppManagementManagedAppPolicyApiService
	microsoftGraphManagedAppPolicy *MicrosoftGraphManagedAppPolicy
}

// New navigation property
func (r ApiDeviceAppManagementCreateManagedAppPoliciesRequest) MicrosoftGraphManagedAppPolicy(microsoftGraphManagedAppPolicy MicrosoftGraphManagedAppPolicy) ApiDeviceAppManagementCreateManagedAppPoliciesRequest {
	r.microsoftGraphManagedAppPolicy = &microsoftGraphManagedAppPolicy
	return r
}

func (r ApiDeviceAppManagementCreateManagedAppPoliciesRequest) Execute() (MicrosoftGraphManagedAppPolicy, *_nethttp.Response, error) {
	return r.ApiService.DeviceAppManagementCreateManagedAppPoliciesExecute(r)
}

/*
DeviceAppManagementCreateManagedAppPolicies Create new navigation property to managedAppPolicies for deviceAppManagement

Managed app policies.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceAppManagementCreateManagedAppPoliciesRequest
*/
func (a *DeviceAppManagementManagedAppPolicyApiService) DeviceAppManagementCreateManagedAppPolicies(ctx _context.Context) ApiDeviceAppManagementCreateManagedAppPoliciesRequest {
	return ApiDeviceAppManagementCreateManagedAppPoliciesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphManagedAppPolicy
func (a *DeviceAppManagementManagedAppPolicyApiService) DeviceAppManagementCreateManagedAppPoliciesExecute(r ApiDeviceAppManagementCreateManagedAppPoliciesRequest) (MicrosoftGraphManagedAppPolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphManagedAppPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceAppManagementManagedAppPolicyApiService.DeviceAppManagementCreateManagedAppPolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceAppManagement/managedAppPolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphManagedAppPolicy == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphManagedAppPolicy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphManagedAppPolicy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceAppManagementDeleteManagedAppPoliciesRequest struct {
	ctx _context.Context
	ApiService *DeviceAppManagementManagedAppPolicyApiService
	managedAppPolicyId string
	ifMatch *string
}

// ETag
func (r ApiDeviceAppManagementDeleteManagedAppPoliciesRequest) IfMatch(ifMatch string) ApiDeviceAppManagementDeleteManagedAppPoliciesRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiDeviceAppManagementDeleteManagedAppPoliciesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceAppManagementDeleteManagedAppPoliciesExecute(r)
}

/*
DeviceAppManagementDeleteManagedAppPolicies Delete navigation property managedAppPolicies for deviceAppManagement

Managed app policies.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param managedAppPolicyId key: id of managedAppPolicy
 @return ApiDeviceAppManagementDeleteManagedAppPoliciesRequest
*/
func (a *DeviceAppManagementManagedAppPolicyApiService) DeviceAppManagementDeleteManagedAppPolicies(ctx _context.Context, managedAppPolicyId string) ApiDeviceAppManagementDeleteManagedAppPoliciesRequest {
	return ApiDeviceAppManagementDeleteManagedAppPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		managedAppPolicyId: managedAppPolicyId,
	}
}

// Execute executes the request
func (a *DeviceAppManagementManagedAppPolicyApiService) DeviceAppManagementDeleteManagedAppPoliciesExecute(r ApiDeviceAppManagementDeleteManagedAppPoliciesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceAppManagementManagedAppPolicyApiService.DeviceAppManagementDeleteManagedAppPolicies")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceAppManagement/managedAppPolicies/{managedAppPolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"managedAppPolicy-id"+"}", _neturl.PathEscape(parameterToString(r.managedAppPolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeviceAppManagementGetManagedAppPoliciesRequest struct {
	ctx _context.Context
	ApiService *DeviceAppManagementManagedAppPolicyApiService
	managedAppPolicyId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiDeviceAppManagementGetManagedAppPoliciesRequest) Select_(select_ []string) ApiDeviceAppManagementGetManagedAppPoliciesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceAppManagementGetManagedAppPoliciesRequest) Expand(expand []string) ApiDeviceAppManagementGetManagedAppPoliciesRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceAppManagementGetManagedAppPoliciesRequest) Execute() (MicrosoftGraphManagedAppPolicy, *_nethttp.Response, error) {
	return r.ApiService.DeviceAppManagementGetManagedAppPoliciesExecute(r)
}

/*
DeviceAppManagementGetManagedAppPolicies Get managedAppPolicies from deviceAppManagement

Managed app policies.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param managedAppPolicyId key: id of managedAppPolicy
 @return ApiDeviceAppManagementGetManagedAppPoliciesRequest
*/
func (a *DeviceAppManagementManagedAppPolicyApiService) DeviceAppManagementGetManagedAppPolicies(ctx _context.Context, managedAppPolicyId string) ApiDeviceAppManagementGetManagedAppPoliciesRequest {
	return ApiDeviceAppManagementGetManagedAppPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		managedAppPolicyId: managedAppPolicyId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphManagedAppPolicy
func (a *DeviceAppManagementManagedAppPolicyApiService) DeviceAppManagementGetManagedAppPoliciesExecute(r ApiDeviceAppManagementGetManagedAppPoliciesRequest) (MicrosoftGraphManagedAppPolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphManagedAppPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceAppManagementManagedAppPolicyApiService.DeviceAppManagementGetManagedAppPolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceAppManagement/managedAppPolicies/{managedAppPolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"managedAppPolicy-id"+"}", _neturl.PathEscape(parameterToString(r.managedAppPolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceAppManagementListManagedAppPoliciesRequest struct {
	ctx _context.Context
	ApiService *DeviceAppManagementManagedAppPolicyApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiDeviceAppManagementListManagedAppPoliciesRequest) Top(top int32) ApiDeviceAppManagementListManagedAppPoliciesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiDeviceAppManagementListManagedAppPoliciesRequest) Skip(skip int32) ApiDeviceAppManagementListManagedAppPoliciesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiDeviceAppManagementListManagedAppPoliciesRequest) Search(search string) ApiDeviceAppManagementListManagedAppPoliciesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiDeviceAppManagementListManagedAppPoliciesRequest) Filter(filter string) ApiDeviceAppManagementListManagedAppPoliciesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiDeviceAppManagementListManagedAppPoliciesRequest) Count(count bool) ApiDeviceAppManagementListManagedAppPoliciesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiDeviceAppManagementListManagedAppPoliciesRequest) Orderby(orderby []string) ApiDeviceAppManagementListManagedAppPoliciesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiDeviceAppManagementListManagedAppPoliciesRequest) Select_(select_ []string) ApiDeviceAppManagementListManagedAppPoliciesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceAppManagementListManagedAppPoliciesRequest) Expand(expand []string) ApiDeviceAppManagementListManagedAppPoliciesRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceAppManagementListManagedAppPoliciesRequest) Execute() (CollectionOfManagedAppPolicy, *_nethttp.Response, error) {
	return r.ApiService.DeviceAppManagementListManagedAppPoliciesExecute(r)
}

/*
DeviceAppManagementListManagedAppPolicies Get managedAppPolicies from deviceAppManagement

Managed app policies.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceAppManagementListManagedAppPoliciesRequest
*/
func (a *DeviceAppManagementManagedAppPolicyApiService) DeviceAppManagementListManagedAppPolicies(ctx _context.Context) ApiDeviceAppManagementListManagedAppPoliciesRequest {
	return ApiDeviceAppManagementListManagedAppPoliciesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfManagedAppPolicy
func (a *DeviceAppManagementManagedAppPolicyApiService) DeviceAppManagementListManagedAppPoliciesExecute(r ApiDeviceAppManagementListManagedAppPoliciesRequest) (CollectionOfManagedAppPolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfManagedAppPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceAppManagementManagedAppPolicyApiService.DeviceAppManagementListManagedAppPolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceAppManagement/managedAppPolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceAppManagementUpdateManagedAppPoliciesRequest struct {
	ctx _context.Context
	ApiService *DeviceAppManagementManagedAppPolicyApiService
	managedAppPolicyId string
	microsoftGraphManagedAppPolicy *MicrosoftGraphManagedAppPolicy
}

// New navigation property values
func (r ApiDeviceAppManagementUpdateManagedAppPoliciesRequest) MicrosoftGraphManagedAppPolicy(microsoftGraphManagedAppPolicy MicrosoftGraphManagedAppPolicy) ApiDeviceAppManagementUpdateManagedAppPoliciesRequest {
	r.microsoftGraphManagedAppPolicy = &microsoftGraphManagedAppPolicy
	return r
}

func (r ApiDeviceAppManagementUpdateManagedAppPoliciesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceAppManagementUpdateManagedAppPoliciesExecute(r)
}

/*
DeviceAppManagementUpdateManagedAppPolicies Update the navigation property managedAppPolicies in deviceAppManagement

Managed app policies.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param managedAppPolicyId key: id of managedAppPolicy
 @return ApiDeviceAppManagementUpdateManagedAppPoliciesRequest
*/
func (a *DeviceAppManagementManagedAppPolicyApiService) DeviceAppManagementUpdateManagedAppPolicies(ctx _context.Context, managedAppPolicyId string) ApiDeviceAppManagementUpdateManagedAppPoliciesRequest {
	return ApiDeviceAppManagementUpdateManagedAppPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		managedAppPolicyId: managedAppPolicyId,
	}
}

// Execute executes the request
func (a *DeviceAppManagementManagedAppPolicyApiService) DeviceAppManagementUpdateManagedAppPoliciesExecute(r ApiDeviceAppManagementUpdateManagedAppPoliciesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceAppManagementManagedAppPolicyApiService.DeviceAppManagementUpdateManagedAppPolicies")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceAppManagement/managedAppPolicies/{managedAppPolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"managedAppPolicy-id"+"}", _neturl.PathEscape(parameterToString(r.managedAppPolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphManagedAppPolicy == nil {
		return nil, reportError("microsoftGraphManagedAppPolicy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphManagedAppPolicy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
