/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// GroupsGroupSettingApiService GroupsGroupSettingApi service
type GroupsGroupSettingApiService service

type ApiGroupsCreateSettingsRequest struct {
	ctx _context.Context
	ApiService *GroupsGroupSettingApiService
	groupId string
	microsoftGraphGroupSetting *MicrosoftGraphGroupSetting
}

// New navigation property
func (r ApiGroupsCreateSettingsRequest) MicrosoftGraphGroupSetting(microsoftGraphGroupSetting MicrosoftGraphGroupSetting) ApiGroupsCreateSettingsRequest {
	r.microsoftGraphGroupSetting = &microsoftGraphGroupSetting
	return r
}

func (r ApiGroupsCreateSettingsRequest) Execute() (MicrosoftGraphGroupSetting, *_nethttp.Response, error) {
	return r.ApiService.GroupsCreateSettingsExecute(r)
}

/*
GroupsCreateSettings Create new navigation property to settings for groups

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupId key: id of group
 @return ApiGroupsCreateSettingsRequest
*/
func (a *GroupsGroupSettingApiService) GroupsCreateSettings(ctx _context.Context, groupId string) ApiGroupsCreateSettingsRequest {
	return ApiGroupsCreateSettingsRequest{
		ApiService: a,
		ctx: ctx,
		groupId: groupId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphGroupSetting
func (a *GroupsGroupSettingApiService) GroupsCreateSettingsExecute(r ApiGroupsCreateSettingsRequest) (MicrosoftGraphGroupSetting, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphGroupSetting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsGroupSettingApiService.GroupsCreateSettings")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groups/{group-id}/settings"
	localVarPath = strings.Replace(localVarPath, "{"+"group-id"+"}", _neturl.PathEscape(parameterToString(r.groupId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphGroupSetting == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphGroupSetting is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphGroupSetting
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGroupsDeleteSettingsRequest struct {
	ctx _context.Context
	ApiService *GroupsGroupSettingApiService
	groupId string
	groupSettingId string
	ifMatch *string
}

// ETag
func (r ApiGroupsDeleteSettingsRequest) IfMatch(ifMatch string) ApiGroupsDeleteSettingsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiGroupsDeleteSettingsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.GroupsDeleteSettingsExecute(r)
}

/*
GroupsDeleteSettings Delete navigation property settings for groups

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupId key: id of group
 @param groupSettingId key: id of groupSetting
 @return ApiGroupsDeleteSettingsRequest
*/
func (a *GroupsGroupSettingApiService) GroupsDeleteSettings(ctx _context.Context, groupId string, groupSettingId string) ApiGroupsDeleteSettingsRequest {
	return ApiGroupsDeleteSettingsRequest{
		ApiService: a,
		ctx: ctx,
		groupId: groupId,
		groupSettingId: groupSettingId,
	}
}

// Execute executes the request
func (a *GroupsGroupSettingApiService) GroupsDeleteSettingsExecute(r ApiGroupsDeleteSettingsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsGroupSettingApiService.GroupsDeleteSettings")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groups/{group-id}/settings/{groupSetting-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"group-id"+"}", _neturl.PathEscape(parameterToString(r.groupId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"groupSetting-id"+"}", _neturl.PathEscape(parameterToString(r.groupSettingId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGroupsGetSettingsRequest struct {
	ctx _context.Context
	ApiService *GroupsGroupSettingApiService
	groupId string
	groupSettingId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiGroupsGetSettingsRequest) Select_(select_ []string) ApiGroupsGetSettingsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiGroupsGetSettingsRequest) Expand(expand []string) ApiGroupsGetSettingsRequest {
	r.expand = &expand
	return r
}

func (r ApiGroupsGetSettingsRequest) Execute() (MicrosoftGraphGroupSetting, *_nethttp.Response, error) {
	return r.ApiService.GroupsGetSettingsExecute(r)
}

/*
GroupsGetSettings Get settings from groups

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupId key: id of group
 @param groupSettingId key: id of groupSetting
 @return ApiGroupsGetSettingsRequest
*/
func (a *GroupsGroupSettingApiService) GroupsGetSettings(ctx _context.Context, groupId string, groupSettingId string) ApiGroupsGetSettingsRequest {
	return ApiGroupsGetSettingsRequest{
		ApiService: a,
		ctx: ctx,
		groupId: groupId,
		groupSettingId: groupSettingId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphGroupSetting
func (a *GroupsGroupSettingApiService) GroupsGetSettingsExecute(r ApiGroupsGetSettingsRequest) (MicrosoftGraphGroupSetting, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphGroupSetting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsGroupSettingApiService.GroupsGetSettings")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groups/{group-id}/settings/{groupSetting-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"group-id"+"}", _neturl.PathEscape(parameterToString(r.groupId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"groupSetting-id"+"}", _neturl.PathEscape(parameterToString(r.groupSettingId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGroupsListSettingsRequest struct {
	ctx _context.Context
	ApiService *GroupsGroupSettingApiService
	groupId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiGroupsListSettingsRequest) Top(top int32) ApiGroupsListSettingsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiGroupsListSettingsRequest) Skip(skip int32) ApiGroupsListSettingsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiGroupsListSettingsRequest) Search(search string) ApiGroupsListSettingsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiGroupsListSettingsRequest) Filter(filter string) ApiGroupsListSettingsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiGroupsListSettingsRequest) Count(count bool) ApiGroupsListSettingsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiGroupsListSettingsRequest) Orderby(orderby []string) ApiGroupsListSettingsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiGroupsListSettingsRequest) Select_(select_ []string) ApiGroupsListSettingsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiGroupsListSettingsRequest) Expand(expand []string) ApiGroupsListSettingsRequest {
	r.expand = &expand
	return r
}

func (r ApiGroupsListSettingsRequest) Execute() (CollectionOfGroupSetting, *_nethttp.Response, error) {
	return r.ApiService.GroupsListSettingsExecute(r)
}

/*
GroupsListSettings Get settings from groups

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupId key: id of group
 @return ApiGroupsListSettingsRequest
*/
func (a *GroupsGroupSettingApiService) GroupsListSettings(ctx _context.Context, groupId string) ApiGroupsListSettingsRequest {
	return ApiGroupsListSettingsRequest{
		ApiService: a,
		ctx: ctx,
		groupId: groupId,
	}
}

// Execute executes the request
//  @return CollectionOfGroupSetting
func (a *GroupsGroupSettingApiService) GroupsListSettingsExecute(r ApiGroupsListSettingsRequest) (CollectionOfGroupSetting, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfGroupSetting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsGroupSettingApiService.GroupsListSettings")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groups/{group-id}/settings"
	localVarPath = strings.Replace(localVarPath, "{"+"group-id"+"}", _neturl.PathEscape(parameterToString(r.groupId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGroupsUpdateSettingsRequest struct {
	ctx _context.Context
	ApiService *GroupsGroupSettingApiService
	groupId string
	groupSettingId string
	microsoftGraphGroupSetting *MicrosoftGraphGroupSetting
}

// New navigation property values
func (r ApiGroupsUpdateSettingsRequest) MicrosoftGraphGroupSetting(microsoftGraphGroupSetting MicrosoftGraphGroupSetting) ApiGroupsUpdateSettingsRequest {
	r.microsoftGraphGroupSetting = &microsoftGraphGroupSetting
	return r
}

func (r ApiGroupsUpdateSettingsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.GroupsUpdateSettingsExecute(r)
}

/*
GroupsUpdateSettings Update the navigation property settings in groups

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupId key: id of group
 @param groupSettingId key: id of groupSetting
 @return ApiGroupsUpdateSettingsRequest
*/
func (a *GroupsGroupSettingApiService) GroupsUpdateSettings(ctx _context.Context, groupId string, groupSettingId string) ApiGroupsUpdateSettingsRequest {
	return ApiGroupsUpdateSettingsRequest{
		ApiService: a,
		ctx: ctx,
		groupId: groupId,
		groupSettingId: groupSettingId,
	}
}

// Execute executes the request
func (a *GroupsGroupSettingApiService) GroupsUpdateSettingsExecute(r ApiGroupsUpdateSettingsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsGroupSettingApiService.GroupsUpdateSettings")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groups/{group-id}/settings/{groupSetting-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"group-id"+"}", _neturl.PathEscape(parameterToString(r.groupId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"groupSetting-id"+"}", _neturl.PathEscape(parameterToString(r.groupSettingId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphGroupSetting == nil {
		return nil, reportError("microsoftGraphGroupSetting is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphGroupSetting
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
