/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// IdentityGovernanceEntitlementManagementApiService IdentityGovernanceEntitlementManagementApi service
type IdentityGovernanceEntitlementManagementApiService service

type ApiIdentityGovernanceDeleteEntitlementManagementRequest struct {
	ctx _context.Context
	ApiService *IdentityGovernanceEntitlementManagementApiService
	ifMatch *string
}

// ETag
func (r ApiIdentityGovernanceDeleteEntitlementManagementRequest) IfMatch(ifMatch string) ApiIdentityGovernanceDeleteEntitlementManagementRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiIdentityGovernanceDeleteEntitlementManagementRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.IdentityGovernanceDeleteEntitlementManagementExecute(r)
}

/*
IdentityGovernanceDeleteEntitlementManagement Delete navigation property entitlementManagement for identityGovernance

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIdentityGovernanceDeleteEntitlementManagementRequest
*/
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceDeleteEntitlementManagement(ctx _context.Context) ApiIdentityGovernanceDeleteEntitlementManagementRequest {
	return ApiIdentityGovernanceDeleteEntitlementManagementRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceDeleteEntitlementManagementExecute(r ApiIdentityGovernanceDeleteEntitlementManagementRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityGovernanceEntitlementManagementApiService.IdentityGovernanceDeleteEntitlementManagement")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identityGovernance/entitlementManagement"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsCreateStagesRequest struct {
	ctx _context.Context
	ApiService *IdentityGovernanceEntitlementManagementApiService
	approvalId string
	microsoftGraphApprovalStage *MicrosoftGraphApprovalStage
}

// New navigation property
func (r ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsCreateStagesRequest) MicrosoftGraphApprovalStage(microsoftGraphApprovalStage MicrosoftGraphApprovalStage) ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsCreateStagesRequest {
	r.microsoftGraphApprovalStage = &microsoftGraphApprovalStage
	return r
}

func (r ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsCreateStagesRequest) Execute() (MicrosoftGraphApprovalStage, *_nethttp.Response, error) {
	return r.ApiService.IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsCreateStagesExecute(r)
}

/*
IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsCreateStages Create new navigation property to stages for identityGovernance

A collection of stages in the approval decision.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param approvalId key: id of approval
 @return ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsCreateStagesRequest
*/
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsCreateStages(ctx _context.Context, approvalId string) ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsCreateStagesRequest {
	return ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsCreateStagesRequest{
		ApiService: a,
		ctx: ctx,
		approvalId: approvalId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphApprovalStage
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsCreateStagesExecute(r ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsCreateStagesRequest) (MicrosoftGraphApprovalStage, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphApprovalStage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityGovernanceEntitlementManagementApiService.IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsCreateStages")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identityGovernance/entitlementManagement/accessPackageAssignmentApprovals/{approval-id}/stages"
	localVarPath = strings.Replace(localVarPath, "{"+"approval-id"+"}", _neturl.PathEscape(parameterToString(r.approvalId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphApprovalStage == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphApprovalStage is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphApprovalStage
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsDeleteStagesRequest struct {
	ctx _context.Context
	ApiService *IdentityGovernanceEntitlementManagementApiService
	approvalId string
	approvalStageId string
	ifMatch *string
}

// ETag
func (r ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsDeleteStagesRequest) IfMatch(ifMatch string) ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsDeleteStagesRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsDeleteStagesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsDeleteStagesExecute(r)
}

/*
IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsDeleteStages Delete navigation property stages for identityGovernance

A collection of stages in the approval decision.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param approvalId key: id of approval
 @param approvalStageId key: id of approvalStage
 @return ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsDeleteStagesRequest
*/
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsDeleteStages(ctx _context.Context, approvalId string, approvalStageId string) ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsDeleteStagesRequest {
	return ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsDeleteStagesRequest{
		ApiService: a,
		ctx: ctx,
		approvalId: approvalId,
		approvalStageId: approvalStageId,
	}
}

// Execute executes the request
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsDeleteStagesExecute(r ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsDeleteStagesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityGovernanceEntitlementManagementApiService.IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsDeleteStages")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identityGovernance/entitlementManagement/accessPackageAssignmentApprovals/{approval-id}/stages/{approvalStage-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"approval-id"+"}", _neturl.PathEscape(parameterToString(r.approvalId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"approvalStage-id"+"}", _neturl.PathEscape(parameterToString(r.approvalStageId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsGetStagesRequest struct {
	ctx _context.Context
	ApiService *IdentityGovernanceEntitlementManagementApiService
	approvalId string
	approvalStageId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsGetStagesRequest) Select_(select_ []string) ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsGetStagesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsGetStagesRequest) Expand(expand []string) ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsGetStagesRequest {
	r.expand = &expand
	return r
}

func (r ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsGetStagesRequest) Execute() (MicrosoftGraphApprovalStage, *_nethttp.Response, error) {
	return r.ApiService.IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsGetStagesExecute(r)
}

/*
IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsGetStages Get stages from identityGovernance

A collection of stages in the approval decision.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param approvalId key: id of approval
 @param approvalStageId key: id of approvalStage
 @return ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsGetStagesRequest
*/
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsGetStages(ctx _context.Context, approvalId string, approvalStageId string) ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsGetStagesRequest {
	return ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsGetStagesRequest{
		ApiService: a,
		ctx: ctx,
		approvalId: approvalId,
		approvalStageId: approvalStageId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphApprovalStage
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsGetStagesExecute(r ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsGetStagesRequest) (MicrosoftGraphApprovalStage, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphApprovalStage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityGovernanceEntitlementManagementApiService.IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsGetStages")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identityGovernance/entitlementManagement/accessPackageAssignmentApprovals/{approval-id}/stages/{approvalStage-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"approval-id"+"}", _neturl.PathEscape(parameterToString(r.approvalId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"approvalStage-id"+"}", _neturl.PathEscape(parameterToString(r.approvalStageId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesRequest struct {
	ctx _context.Context
	ApiService *IdentityGovernanceEntitlementManagementApiService
	approvalId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesRequest) Top(top int32) ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesRequest) Skip(skip int32) ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesRequest) Search(search string) ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesRequest) Filter(filter string) ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesRequest) Count(count bool) ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesRequest) Orderby(orderby []string) ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesRequest) Select_(select_ []string) ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesRequest) Expand(expand []string) ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesRequest {
	r.expand = &expand
	return r
}

func (r ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesRequest) Execute() (CollectionOfApprovalStage, *_nethttp.Response, error) {
	return r.ApiService.IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesExecute(r)
}

/*
IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStages Get stages from identityGovernance

A collection of stages in the approval decision.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param approvalId key: id of approval
 @return ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesRequest
*/
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStages(ctx _context.Context, approvalId string) ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesRequest {
	return ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesRequest{
		ApiService: a,
		ctx: ctx,
		approvalId: approvalId,
	}
}

// Execute executes the request
//  @return CollectionOfApprovalStage
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesExecute(r ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStagesRequest) (CollectionOfApprovalStage, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfApprovalStage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityGovernanceEntitlementManagementApiService.IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsListStages")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identityGovernance/entitlementManagement/accessPackageAssignmentApprovals/{approval-id}/stages"
	localVarPath = strings.Replace(localVarPath, "{"+"approval-id"+"}", _neturl.PathEscape(parameterToString(r.approvalId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsUpdateStagesRequest struct {
	ctx _context.Context
	ApiService *IdentityGovernanceEntitlementManagementApiService
	approvalId string
	approvalStageId string
	microsoftGraphApprovalStage *MicrosoftGraphApprovalStage
}

// New navigation property values
func (r ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsUpdateStagesRequest) MicrosoftGraphApprovalStage(microsoftGraphApprovalStage MicrosoftGraphApprovalStage) ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsUpdateStagesRequest {
	r.microsoftGraphApprovalStage = &microsoftGraphApprovalStage
	return r
}

func (r ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsUpdateStagesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsUpdateStagesExecute(r)
}

/*
IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsUpdateStages Update the navigation property stages in identityGovernance

A collection of stages in the approval decision.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param approvalId key: id of approval
 @param approvalStageId key: id of approvalStage
 @return ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsUpdateStagesRequest
*/
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsUpdateStages(ctx _context.Context, approvalId string, approvalStageId string) ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsUpdateStagesRequest {
	return ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsUpdateStagesRequest{
		ApiService: a,
		ctx: ctx,
		approvalId: approvalId,
		approvalStageId: approvalStageId,
	}
}

// Execute executes the request
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsUpdateStagesExecute(r ApiIdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsUpdateStagesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityGovernanceEntitlementManagementApiService.IdentityGovernanceEntitlementManagementAccessPackageAssignmentApprovalsUpdateStages")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identityGovernance/entitlementManagement/accessPackageAssignmentApprovals/{approval-id}/stages/{approvalStage-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"approval-id"+"}", _neturl.PathEscape(parameterToString(r.approvalId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"approvalStage-id"+"}", _neturl.PathEscape(parameterToString(r.approvalStageId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphApprovalStage == nil {
		return nil, reportError("microsoftGraphApprovalStage is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphApprovalStage
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiIdentityGovernanceEntitlementManagementAccessPackagesDeleteRefCatalogRequest struct {
	ctx _context.Context
	ApiService *IdentityGovernanceEntitlementManagementApiService
	accessPackageId string
	ifMatch *string
}

// ETag
func (r ApiIdentityGovernanceEntitlementManagementAccessPackagesDeleteRefCatalogRequest) IfMatch(ifMatch string) ApiIdentityGovernanceEntitlementManagementAccessPackagesDeleteRefCatalogRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiIdentityGovernanceEntitlementManagementAccessPackagesDeleteRefCatalogRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.IdentityGovernanceEntitlementManagementAccessPackagesDeleteRefCatalogExecute(r)
}

/*
IdentityGovernanceEntitlementManagementAccessPackagesDeleteRefCatalog Delete ref of navigation property catalog for identityGovernance

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accessPackageId key: id of accessPackage
 @return ApiIdentityGovernanceEntitlementManagementAccessPackagesDeleteRefCatalogRequest
*/
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAccessPackagesDeleteRefCatalog(ctx _context.Context, accessPackageId string) ApiIdentityGovernanceEntitlementManagementAccessPackagesDeleteRefCatalogRequest {
	return ApiIdentityGovernanceEntitlementManagementAccessPackagesDeleteRefCatalogRequest{
		ApiService: a,
		ctx: ctx,
		accessPackageId: accessPackageId,
	}
}

// Execute executes the request
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAccessPackagesDeleteRefCatalogExecute(r ApiIdentityGovernanceEntitlementManagementAccessPackagesDeleteRefCatalogRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityGovernanceEntitlementManagementApiService.IdentityGovernanceEntitlementManagementAccessPackagesDeleteRefCatalog")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identityGovernance/entitlementManagement/accessPackages/{accessPackage-id}/catalog/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"accessPackage-id"+"}", _neturl.PathEscape(parameterToString(r.accessPackageId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiIdentityGovernanceEntitlementManagementAccessPackagesGetCatalogRequest struct {
	ctx _context.Context
	ApiService *IdentityGovernanceEntitlementManagementApiService
	accessPackageId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiIdentityGovernanceEntitlementManagementAccessPackagesGetCatalogRequest) Select_(select_ []string) ApiIdentityGovernanceEntitlementManagementAccessPackagesGetCatalogRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiIdentityGovernanceEntitlementManagementAccessPackagesGetCatalogRequest) Expand(expand []string) ApiIdentityGovernanceEntitlementManagementAccessPackagesGetCatalogRequest {
	r.expand = &expand
	return r
}

func (r ApiIdentityGovernanceEntitlementManagementAccessPackagesGetCatalogRequest) Execute() (MicrosoftGraphAccessPackageCatalog, *_nethttp.Response, error) {
	return r.ApiService.IdentityGovernanceEntitlementManagementAccessPackagesGetCatalogExecute(r)
}

/*
IdentityGovernanceEntitlementManagementAccessPackagesGetCatalog Get catalog from identityGovernance

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accessPackageId key: id of accessPackage
 @return ApiIdentityGovernanceEntitlementManagementAccessPackagesGetCatalogRequest
*/
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAccessPackagesGetCatalog(ctx _context.Context, accessPackageId string) ApiIdentityGovernanceEntitlementManagementAccessPackagesGetCatalogRequest {
	return ApiIdentityGovernanceEntitlementManagementAccessPackagesGetCatalogRequest{
		ApiService: a,
		ctx: ctx,
		accessPackageId: accessPackageId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphAccessPackageCatalog
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAccessPackagesGetCatalogExecute(r ApiIdentityGovernanceEntitlementManagementAccessPackagesGetCatalogRequest) (MicrosoftGraphAccessPackageCatalog, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphAccessPackageCatalog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityGovernanceEntitlementManagementApiService.IdentityGovernanceEntitlementManagementAccessPackagesGetCatalog")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identityGovernance/entitlementManagement/accessPackages/{accessPackage-id}/catalog"
	localVarPath = strings.Replace(localVarPath, "{"+"accessPackage-id"+"}", _neturl.PathEscape(parameterToString(r.accessPackageId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdentityGovernanceEntitlementManagementAccessPackagesGetRefCatalogRequest struct {
	ctx _context.Context
	ApiService *IdentityGovernanceEntitlementManagementApiService
	accessPackageId string
}


func (r ApiIdentityGovernanceEntitlementManagementAccessPackagesGetRefCatalogRequest) Execute() (string, *_nethttp.Response, error) {
	return r.ApiService.IdentityGovernanceEntitlementManagementAccessPackagesGetRefCatalogExecute(r)
}

/*
IdentityGovernanceEntitlementManagementAccessPackagesGetRefCatalog Get ref of catalog from identityGovernance

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accessPackageId key: id of accessPackage
 @return ApiIdentityGovernanceEntitlementManagementAccessPackagesGetRefCatalogRequest
*/
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAccessPackagesGetRefCatalog(ctx _context.Context, accessPackageId string) ApiIdentityGovernanceEntitlementManagementAccessPackagesGetRefCatalogRequest {
	return ApiIdentityGovernanceEntitlementManagementAccessPackagesGetRefCatalogRequest{
		ApiService: a,
		ctx: ctx,
		accessPackageId: accessPackageId,
	}
}

// Execute executes the request
//  @return string
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAccessPackagesGetRefCatalogExecute(r ApiIdentityGovernanceEntitlementManagementAccessPackagesGetRefCatalogRequest) (string, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityGovernanceEntitlementManagementApiService.IdentityGovernanceEntitlementManagementAccessPackagesGetRefCatalog")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identityGovernance/entitlementManagement/accessPackages/{accessPackage-id}/catalog/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"accessPackage-id"+"}", _neturl.PathEscape(parameterToString(r.accessPackageId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdentityGovernanceEntitlementManagementAccessPackagesUpdateRefCatalogRequest struct {
	ctx _context.Context
	ApiService *IdentityGovernanceEntitlementManagementApiService
	accessPackageId string
	requestBody *map[string]map[string]interface{}
}

// New navigation property ref values
func (r ApiIdentityGovernanceEntitlementManagementAccessPackagesUpdateRefCatalogRequest) RequestBody(requestBody map[string]map[string]interface{}) ApiIdentityGovernanceEntitlementManagementAccessPackagesUpdateRefCatalogRequest {
	r.requestBody = &requestBody
	return r
}

func (r ApiIdentityGovernanceEntitlementManagementAccessPackagesUpdateRefCatalogRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.IdentityGovernanceEntitlementManagementAccessPackagesUpdateRefCatalogExecute(r)
}

/*
IdentityGovernanceEntitlementManagementAccessPackagesUpdateRefCatalog Update the ref of navigation property catalog in identityGovernance

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accessPackageId key: id of accessPackage
 @return ApiIdentityGovernanceEntitlementManagementAccessPackagesUpdateRefCatalogRequest
*/
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAccessPackagesUpdateRefCatalog(ctx _context.Context, accessPackageId string) ApiIdentityGovernanceEntitlementManagementAccessPackagesUpdateRefCatalogRequest {
	return ApiIdentityGovernanceEntitlementManagementAccessPackagesUpdateRefCatalogRequest{
		ApiService: a,
		ctx: ctx,
		accessPackageId: accessPackageId,
	}
}

// Execute executes the request
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAccessPackagesUpdateRefCatalogExecute(r ApiIdentityGovernanceEntitlementManagementAccessPackagesUpdateRefCatalogRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPut
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityGovernanceEntitlementManagementApiService.IdentityGovernanceEntitlementManagementAccessPackagesUpdateRefCatalog")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identityGovernance/entitlementManagement/accessPackages/{accessPackage-id}/catalog/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"accessPackage-id"+"}", _neturl.PathEscape(parameterToString(r.accessPackageId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.requestBody == nil {
		return nil, reportError("requestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAccessPackageRequest struct {
	ctx _context.Context
	ApiService *IdentityGovernanceEntitlementManagementApiService
	accessPackageAssignmentRequestId string
	ifMatch *string
}

// ETag
func (r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAccessPackageRequest) IfMatch(ifMatch string) ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAccessPackageRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAccessPackageRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.IdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAccessPackageExecute(r)
}

/*
IdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAccessPackage Delete ref of navigation property accessPackage for identityGovernance

The access package associated with the accessPackageAssignmentRequest. An access package defines the collections of resource roles and the policies for how one or more users can get access to those resources. Read-only. Nullable.  Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accessPackageAssignmentRequestId key: id of accessPackageAssignmentRequest
 @return ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAccessPackageRequest
*/
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAccessPackage(ctx _context.Context, accessPackageAssignmentRequestId string) ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAccessPackageRequest {
	return ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAccessPackageRequest{
		ApiService: a,
		ctx: ctx,
		accessPackageAssignmentRequestId: accessPackageAssignmentRequestId,
	}
}

// Execute executes the request
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAccessPackageExecute(r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAccessPackageRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityGovernanceEntitlementManagementApiService.IdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAccessPackage")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identityGovernance/entitlementManagement/assignmentRequests/{accessPackageAssignmentRequest-id}/accessPackage/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"accessPackageAssignmentRequest-id"+"}", _neturl.PathEscape(parameterToString(r.accessPackageAssignmentRequestId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAssignmentRequest struct {
	ctx _context.Context
	ApiService *IdentityGovernanceEntitlementManagementApiService
	accessPackageAssignmentRequestId string
	ifMatch *string
}

// ETag
func (r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAssignmentRequest) IfMatch(ifMatch string) ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAssignmentRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAssignmentRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.IdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAssignmentExecute(r)
}

/*
IdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAssignment Delete ref of navigation property assignment for identityGovernance

For a requestType of UserAdd or AdminAdd, this is an access package assignment requested to be created.  For a requestType of UserRemove, AdminRemove or SystemRemove, this has the id property of an existing assignment to be removed.   Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accessPackageAssignmentRequestId key: id of accessPackageAssignmentRequest
 @return ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAssignmentRequest
*/
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAssignment(ctx _context.Context, accessPackageAssignmentRequestId string) ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAssignmentRequest {
	return ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAssignmentRequest{
		ApiService: a,
		ctx: ctx,
		accessPackageAssignmentRequestId: accessPackageAssignmentRequestId,
	}
}

// Execute executes the request
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAssignmentExecute(r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAssignmentRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityGovernanceEntitlementManagementApiService.IdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefAssignment")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identityGovernance/entitlementManagement/assignmentRequests/{accessPackageAssignmentRequest-id}/assignment/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"accessPackageAssignmentRequest-id"+"}", _neturl.PathEscape(parameterToString(r.accessPackageAssignmentRequestId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefRequestorRequest struct {
	ctx _context.Context
	ApiService *IdentityGovernanceEntitlementManagementApiService
	accessPackageAssignmentRequestId string
	ifMatch *string
}

// ETag
func (r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefRequestorRequest) IfMatch(ifMatch string) ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefRequestorRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefRequestorRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.IdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefRequestorExecute(r)
}

/*
IdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefRequestor Delete ref of navigation property requestor for identityGovernance

The subject who requested or, if a direct assignment, was assigned. Read-only. Nullable. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accessPackageAssignmentRequestId key: id of accessPackageAssignmentRequest
 @return ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefRequestorRequest
*/
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefRequestor(ctx _context.Context, accessPackageAssignmentRequestId string) ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefRequestorRequest {
	return ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefRequestorRequest{
		ApiService: a,
		ctx: ctx,
		accessPackageAssignmentRequestId: accessPackageAssignmentRequestId,
	}
}

// Execute executes the request
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefRequestorExecute(r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefRequestorRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityGovernanceEntitlementManagementApiService.IdentityGovernanceEntitlementManagementAssignmentRequestsDeleteRefRequestor")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identityGovernance/entitlementManagement/assignmentRequests/{accessPackageAssignmentRequest-id}/requestor/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"accessPackageAssignmentRequest-id"+"}", _neturl.PathEscape(parameterToString(r.accessPackageAssignmentRequestId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetAccessPackageRequest struct {
	ctx _context.Context
	ApiService *IdentityGovernanceEntitlementManagementApiService
	accessPackageAssignmentRequestId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetAccessPackageRequest) Select_(select_ []string) ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetAccessPackageRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetAccessPackageRequest) Expand(expand []string) ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetAccessPackageRequest {
	r.expand = &expand
	return r
}

func (r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetAccessPackageRequest) Execute() (MicrosoftGraphAccessPackage, *_nethttp.Response, error) {
	return r.ApiService.IdentityGovernanceEntitlementManagementAssignmentRequestsGetAccessPackageExecute(r)
}

/*
IdentityGovernanceEntitlementManagementAssignmentRequestsGetAccessPackage Get accessPackage from identityGovernance

The access package associated with the accessPackageAssignmentRequest. An access package defines the collections of resource roles and the policies for how one or more users can get access to those resources. Read-only. Nullable.  Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accessPackageAssignmentRequestId key: id of accessPackageAssignmentRequest
 @return ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetAccessPackageRequest
*/
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAssignmentRequestsGetAccessPackage(ctx _context.Context, accessPackageAssignmentRequestId string) ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetAccessPackageRequest {
	return ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetAccessPackageRequest{
		ApiService: a,
		ctx: ctx,
		accessPackageAssignmentRequestId: accessPackageAssignmentRequestId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphAccessPackage
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAssignmentRequestsGetAccessPackageExecute(r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetAccessPackageRequest) (MicrosoftGraphAccessPackage, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphAccessPackage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityGovernanceEntitlementManagementApiService.IdentityGovernanceEntitlementManagementAssignmentRequestsGetAccessPackage")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identityGovernance/entitlementManagement/assignmentRequests/{accessPackageAssignmentRequest-id}/accessPackage"
	localVarPath = strings.Replace(localVarPath, "{"+"accessPackageAssignmentRequest-id"+"}", _neturl.PathEscape(parameterToString(r.accessPackageAssignmentRequestId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetAssignmentRequest struct {
	ctx _context.Context
	ApiService *IdentityGovernanceEntitlementManagementApiService
	accessPackageAssignmentRequestId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetAssignmentRequest) Select_(select_ []string) ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetAssignmentRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetAssignmentRequest) Expand(expand []string) ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetAssignmentRequest {
	r.expand = &expand
	return r
}

func (r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetAssignmentRequest) Execute() (MicrosoftGraphAccessPackageAssignment, *_nethttp.Response, error) {
	return r.ApiService.IdentityGovernanceEntitlementManagementAssignmentRequestsGetAssignmentExecute(r)
}

/*
IdentityGovernanceEntitlementManagementAssignmentRequestsGetAssignment Get assignment from identityGovernance

For a requestType of UserAdd or AdminAdd, this is an access package assignment requested to be created.  For a requestType of UserRemove, AdminRemove or SystemRemove, this has the id property of an existing assignment to be removed.   Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accessPackageAssignmentRequestId key: id of accessPackageAssignmentRequest
 @return ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetAssignmentRequest
*/
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAssignmentRequestsGetAssignment(ctx _context.Context, accessPackageAssignmentRequestId string) ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetAssignmentRequest {
	return ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetAssignmentRequest{
		ApiService: a,
		ctx: ctx,
		accessPackageAssignmentRequestId: accessPackageAssignmentRequestId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphAccessPackageAssignment
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAssignmentRequestsGetAssignmentExecute(r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetAssignmentRequest) (MicrosoftGraphAccessPackageAssignment, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphAccessPackageAssignment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityGovernanceEntitlementManagementApiService.IdentityGovernanceEntitlementManagementAssignmentRequestsGetAssignment")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identityGovernance/entitlementManagement/assignmentRequests/{accessPackageAssignmentRequest-id}/assignment"
	localVarPath = strings.Replace(localVarPath, "{"+"accessPackageAssignmentRequest-id"+"}", _neturl.PathEscape(parameterToString(r.accessPackageAssignmentRequestId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRefAccessPackageRequest struct {
	ctx _context.Context
	ApiService *IdentityGovernanceEntitlementManagementApiService
	accessPackageAssignmentRequestId string
}


func (r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRefAccessPackageRequest) Execute() (string, *_nethttp.Response, error) {
	return r.ApiService.IdentityGovernanceEntitlementManagementAssignmentRequestsGetRefAccessPackageExecute(r)
}

/*
IdentityGovernanceEntitlementManagementAssignmentRequestsGetRefAccessPackage Get ref of accessPackage from identityGovernance

The access package associated with the accessPackageAssignmentRequest. An access package defines the collections of resource roles and the policies for how one or more users can get access to those resources. Read-only. Nullable.  Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accessPackageAssignmentRequestId key: id of accessPackageAssignmentRequest
 @return ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRefAccessPackageRequest
*/
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAssignmentRequestsGetRefAccessPackage(ctx _context.Context, accessPackageAssignmentRequestId string) ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRefAccessPackageRequest {
	return ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRefAccessPackageRequest{
		ApiService: a,
		ctx: ctx,
		accessPackageAssignmentRequestId: accessPackageAssignmentRequestId,
	}
}

// Execute executes the request
//  @return string
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAssignmentRequestsGetRefAccessPackageExecute(r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRefAccessPackageRequest) (string, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityGovernanceEntitlementManagementApiService.IdentityGovernanceEntitlementManagementAssignmentRequestsGetRefAccessPackage")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identityGovernance/entitlementManagement/assignmentRequests/{accessPackageAssignmentRequest-id}/accessPackage/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"accessPackageAssignmentRequest-id"+"}", _neturl.PathEscape(parameterToString(r.accessPackageAssignmentRequestId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRefAssignmentRequest struct {
	ctx _context.Context
	ApiService *IdentityGovernanceEntitlementManagementApiService
	accessPackageAssignmentRequestId string
}


func (r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRefAssignmentRequest) Execute() (string, *_nethttp.Response, error) {
	return r.ApiService.IdentityGovernanceEntitlementManagementAssignmentRequestsGetRefAssignmentExecute(r)
}

/*
IdentityGovernanceEntitlementManagementAssignmentRequestsGetRefAssignment Get ref of assignment from identityGovernance

For a requestType of UserAdd or AdminAdd, this is an access package assignment requested to be created.  For a requestType of UserRemove, AdminRemove or SystemRemove, this has the id property of an existing assignment to be removed.   Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accessPackageAssignmentRequestId key: id of accessPackageAssignmentRequest
 @return ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRefAssignmentRequest
*/
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAssignmentRequestsGetRefAssignment(ctx _context.Context, accessPackageAssignmentRequestId string) ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRefAssignmentRequest {
	return ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRefAssignmentRequest{
		ApiService: a,
		ctx: ctx,
		accessPackageAssignmentRequestId: accessPackageAssignmentRequestId,
	}
}

// Execute executes the request
//  @return string
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAssignmentRequestsGetRefAssignmentExecute(r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRefAssignmentRequest) (string, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityGovernanceEntitlementManagementApiService.IdentityGovernanceEntitlementManagementAssignmentRequestsGetRefAssignment")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identityGovernance/entitlementManagement/assignmentRequests/{accessPackageAssignmentRequest-id}/assignment/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"accessPackageAssignmentRequest-id"+"}", _neturl.PathEscape(parameterToString(r.accessPackageAssignmentRequestId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRefRequestorRequest struct {
	ctx _context.Context
	ApiService *IdentityGovernanceEntitlementManagementApiService
	accessPackageAssignmentRequestId string
}


func (r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRefRequestorRequest) Execute() (string, *_nethttp.Response, error) {
	return r.ApiService.IdentityGovernanceEntitlementManagementAssignmentRequestsGetRefRequestorExecute(r)
}

/*
IdentityGovernanceEntitlementManagementAssignmentRequestsGetRefRequestor Get ref of requestor from identityGovernance

The subject who requested or, if a direct assignment, was assigned. Read-only. Nullable. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accessPackageAssignmentRequestId key: id of accessPackageAssignmentRequest
 @return ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRefRequestorRequest
*/
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAssignmentRequestsGetRefRequestor(ctx _context.Context, accessPackageAssignmentRequestId string) ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRefRequestorRequest {
	return ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRefRequestorRequest{
		ApiService: a,
		ctx: ctx,
		accessPackageAssignmentRequestId: accessPackageAssignmentRequestId,
	}
}

// Execute executes the request
//  @return string
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAssignmentRequestsGetRefRequestorExecute(r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRefRequestorRequest) (string, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityGovernanceEntitlementManagementApiService.IdentityGovernanceEntitlementManagementAssignmentRequestsGetRefRequestor")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identityGovernance/entitlementManagement/assignmentRequests/{accessPackageAssignmentRequest-id}/requestor/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"accessPackageAssignmentRequest-id"+"}", _neturl.PathEscape(parameterToString(r.accessPackageAssignmentRequestId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRequestorRequest struct {
	ctx _context.Context
	ApiService *IdentityGovernanceEntitlementManagementApiService
	accessPackageAssignmentRequestId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRequestorRequest) Select_(select_ []string) ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRequestorRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRequestorRequest) Expand(expand []string) ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRequestorRequest {
	r.expand = &expand
	return r
}

func (r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRequestorRequest) Execute() (MicrosoftGraphAccessPackageSubject, *_nethttp.Response, error) {
	return r.ApiService.IdentityGovernanceEntitlementManagementAssignmentRequestsGetRequestorExecute(r)
}

/*
IdentityGovernanceEntitlementManagementAssignmentRequestsGetRequestor Get requestor from identityGovernance

The subject who requested or, if a direct assignment, was assigned. Read-only. Nullable. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accessPackageAssignmentRequestId key: id of accessPackageAssignmentRequest
 @return ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRequestorRequest
*/
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAssignmentRequestsGetRequestor(ctx _context.Context, accessPackageAssignmentRequestId string) ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRequestorRequest {
	return ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRequestorRequest{
		ApiService: a,
		ctx: ctx,
		accessPackageAssignmentRequestId: accessPackageAssignmentRequestId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphAccessPackageSubject
func (a *IdentityGovernanceEntitlementManagementApiService) IdentityGovernanceEntitlementManagementAssignmentRequestsGetRequestorExecute(r ApiIdentityGovernanceEntitlementManagementAssignmentRequestsGetRequestorRequest) (MicrosoftGraphAccessPackageSubject, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphAccessPackageSubject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdentityGovernanceEntitlementManagementApiService.IdentityGovernanceEntitlementManagementAssignmentRequestsGetRequestor")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/identityGovernance/entitlementManagement/assignmentRequests/{accessPackageAssignmentRequest-id}/requestor"
	localVarPath = strings.Replace(localVarPath, "{"+"accessPackageAssignmentRequest-id"+"}", _neturl.PathEscape(parameterToString(r.accessPackageAssignmentRequestId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIdentityGovernanceEntitlementManagementAssignmentRequestsUpdateRefAccessPackageRequest struct {
	ctx _context.Context
	ApiService *IdentityGovernanceEntitlementManagementApiService
	accessPackageAssignmentRequestId string
	requestBody *map[string]map[string]interface{}
}

// New navigation property ref values
[...]
