/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// DataPolicyOperationsDataPolicyOperationApiService DataPolicyOperationsDataPolicyOperationApi service
type DataPolicyOperationsDataPolicyOperationApiService service

type ApiDataPolicyOperationsDataPolicyOperationCreateDataPolicyOperationRequest struct {
	ctx _context.Context
	ApiService *DataPolicyOperationsDataPolicyOperationApiService
	microsoftGraphDataPolicyOperation *MicrosoftGraphDataPolicyOperation
}

// New entity
func (r ApiDataPolicyOperationsDataPolicyOperationCreateDataPolicyOperationRequest) MicrosoftGraphDataPolicyOperation(microsoftGraphDataPolicyOperation MicrosoftGraphDataPolicyOperation) ApiDataPolicyOperationsDataPolicyOperationCreateDataPolicyOperationRequest {
	r.microsoftGraphDataPolicyOperation = &microsoftGraphDataPolicyOperation
	return r
}

func (r ApiDataPolicyOperationsDataPolicyOperationCreateDataPolicyOperationRequest) Execute() (MicrosoftGraphDataPolicyOperation, *_nethttp.Response, error) {
	return r.ApiService.DataPolicyOperationsDataPolicyOperationCreateDataPolicyOperationExecute(r)
}

/*
DataPolicyOperationsDataPolicyOperationCreateDataPolicyOperation Add new entity to dataPolicyOperations

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDataPolicyOperationsDataPolicyOperationCreateDataPolicyOperationRequest
*/
func (a *DataPolicyOperationsDataPolicyOperationApiService) DataPolicyOperationsDataPolicyOperationCreateDataPolicyOperation(ctx _context.Context) ApiDataPolicyOperationsDataPolicyOperationCreateDataPolicyOperationRequest {
	return ApiDataPolicyOperationsDataPolicyOperationCreateDataPolicyOperationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphDataPolicyOperation
func (a *DataPolicyOperationsDataPolicyOperationApiService) DataPolicyOperationsDataPolicyOperationCreateDataPolicyOperationExecute(r ApiDataPolicyOperationsDataPolicyOperationCreateDataPolicyOperationRequest) (MicrosoftGraphDataPolicyOperation, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphDataPolicyOperation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataPolicyOperationsDataPolicyOperationApiService.DataPolicyOperationsDataPolicyOperationCreateDataPolicyOperation")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dataPolicyOperations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphDataPolicyOperation == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphDataPolicyOperation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphDataPolicyOperation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDataPolicyOperationsDataPolicyOperationDeleteDataPolicyOperationRequest struct {
	ctx _context.Context
	ApiService *DataPolicyOperationsDataPolicyOperationApiService
	dataPolicyOperationId string
	ifMatch *string
}

// ETag
func (r ApiDataPolicyOperationsDataPolicyOperationDeleteDataPolicyOperationRequest) IfMatch(ifMatch string) ApiDataPolicyOperationsDataPolicyOperationDeleteDataPolicyOperationRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiDataPolicyOperationsDataPolicyOperationDeleteDataPolicyOperationRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DataPolicyOperationsDataPolicyOperationDeleteDataPolicyOperationExecute(r)
}

/*
DataPolicyOperationsDataPolicyOperationDeleteDataPolicyOperation Delete entity from dataPolicyOperations

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param dataPolicyOperationId key: id of dataPolicyOperation
 @return ApiDataPolicyOperationsDataPolicyOperationDeleteDataPolicyOperationRequest
*/
func (a *DataPolicyOperationsDataPolicyOperationApiService) DataPolicyOperationsDataPolicyOperationDeleteDataPolicyOperation(ctx _context.Context, dataPolicyOperationId string) ApiDataPolicyOperationsDataPolicyOperationDeleteDataPolicyOperationRequest {
	return ApiDataPolicyOperationsDataPolicyOperationDeleteDataPolicyOperationRequest{
		ApiService: a,
		ctx: ctx,
		dataPolicyOperationId: dataPolicyOperationId,
	}
}

// Execute executes the request
func (a *DataPolicyOperationsDataPolicyOperationApiService) DataPolicyOperationsDataPolicyOperationDeleteDataPolicyOperationExecute(r ApiDataPolicyOperationsDataPolicyOperationDeleteDataPolicyOperationRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataPolicyOperationsDataPolicyOperationApiService.DataPolicyOperationsDataPolicyOperationDeleteDataPolicyOperation")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dataPolicyOperations/{dataPolicyOperation-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"dataPolicyOperation-id"+"}", _neturl.PathEscape(parameterToString(r.dataPolicyOperationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDataPolicyOperationsDataPolicyOperationGetDataPolicyOperationRequest struct {
	ctx _context.Context
	ApiService *DataPolicyOperationsDataPolicyOperationApiService
	dataPolicyOperationId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiDataPolicyOperationsDataPolicyOperationGetDataPolicyOperationRequest) Select_(select_ []string) ApiDataPolicyOperationsDataPolicyOperationGetDataPolicyOperationRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDataPolicyOperationsDataPolicyOperationGetDataPolicyOperationRequest) Expand(expand []string) ApiDataPolicyOperationsDataPolicyOperationGetDataPolicyOperationRequest {
	r.expand = &expand
	return r
}

func (r ApiDataPolicyOperationsDataPolicyOperationGetDataPolicyOperationRequest) Execute() (MicrosoftGraphDataPolicyOperation, *_nethttp.Response, error) {
	return r.ApiService.DataPolicyOperationsDataPolicyOperationGetDataPolicyOperationExecute(r)
}

/*
DataPolicyOperationsDataPolicyOperationGetDataPolicyOperation Get entity from dataPolicyOperations by key

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param dataPolicyOperationId key: id of dataPolicyOperation
 @return ApiDataPolicyOperationsDataPolicyOperationGetDataPolicyOperationRequest
*/
func (a *DataPolicyOperationsDataPolicyOperationApiService) DataPolicyOperationsDataPolicyOperationGetDataPolicyOperation(ctx _context.Context, dataPolicyOperationId string) ApiDataPolicyOperationsDataPolicyOperationGetDataPolicyOperationRequest {
	return ApiDataPolicyOperationsDataPolicyOperationGetDataPolicyOperationRequest{
		ApiService: a,
		ctx: ctx,
		dataPolicyOperationId: dataPolicyOperationId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphDataPolicyOperation
func (a *DataPolicyOperationsDataPolicyOperationApiService) DataPolicyOperationsDataPolicyOperationGetDataPolicyOperationExecute(r ApiDataPolicyOperationsDataPolicyOperationGetDataPolicyOperationRequest) (MicrosoftGraphDataPolicyOperation, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphDataPolicyOperation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataPolicyOperationsDataPolicyOperationApiService.DataPolicyOperationsDataPolicyOperationGetDataPolicyOperation")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dataPolicyOperations/{dataPolicyOperation-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"dataPolicyOperation-id"+"}", _neturl.PathEscape(parameterToString(r.dataPolicyOperationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDataPolicyOperationsDataPolicyOperationListDataPolicyOperationRequest struct {
	ctx _context.Context
	ApiService *DataPolicyOperationsDataPolicyOperationApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiDataPolicyOperationsDataPolicyOperationListDataPolicyOperationRequest) Top(top int32) ApiDataPolicyOperationsDataPolicyOperationListDataPolicyOperationRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiDataPolicyOperationsDataPolicyOperationListDataPolicyOperationRequest) Skip(skip int32) ApiDataPolicyOperationsDataPolicyOperationListDataPolicyOperationRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiDataPolicyOperationsDataPolicyOperationListDataPolicyOperationRequest) Search(search string) ApiDataPolicyOperationsDataPolicyOperationListDataPolicyOperationRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiDataPolicyOperationsDataPolicyOperationListDataPolicyOperationRequest) Filter(filter string) ApiDataPolicyOperationsDataPolicyOperationListDataPolicyOperationRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiDataPolicyOperationsDataPolicyOperationListDataPolicyOperationRequest) Count(count bool) ApiDataPolicyOperationsDataPolicyOperationListDataPolicyOperationRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiDataPolicyOperationsDataPolicyOperationListDataPolicyOperationRequest) Orderby(orderby []string) ApiDataPolicyOperationsDataPolicyOperationListDataPolicyOperationRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiDataPolicyOperationsDataPolicyOperationListDataPolicyOperationRequest) Select_(select_ []string) ApiDataPolicyOperationsDataPolicyOperationListDataPolicyOperationRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDataPolicyOperationsDataPolicyOperationListDataPolicyOperationRequest) Expand(expand []string) ApiDataPolicyOperationsDataPolicyOperationListDataPolicyOperationRequest {
	r.expand = &expand
	return r
}

func (r ApiDataPolicyOperationsDataPolicyOperationListDataPolicyOperationRequest) Execute() (CollectionOfDataPolicyOperation, *_nethttp.Response, error) {
	return r.ApiService.DataPolicyOperationsDataPolicyOperationListDataPolicyOperationExecute(r)
}

/*
DataPolicyOperationsDataPolicyOperationListDataPolicyOperation Get entities from dataPolicyOperations

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDataPolicyOperationsDataPolicyOperationListDataPolicyOperationRequest
*/
func (a *DataPolicyOperationsDataPolicyOperationApiService) DataPolicyOperationsDataPolicyOperationListDataPolicyOperation(ctx _context.Context) ApiDataPolicyOperationsDataPolicyOperationListDataPolicyOperationRequest {
	return ApiDataPolicyOperationsDataPolicyOperationListDataPolicyOperationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfDataPolicyOperation
func (a *DataPolicyOperationsDataPolicyOperationApiService) DataPolicyOperationsDataPolicyOperationListDataPolicyOperationExecute(r ApiDataPolicyOperationsDataPolicyOperationListDataPolicyOperationRequest) (CollectionOfDataPolicyOperation, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfDataPolicyOperation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataPolicyOperationsDataPolicyOperationApiService.DataPolicyOperationsDataPolicyOperationListDataPolicyOperation")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dataPolicyOperations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDataPolicyOperationsDataPolicyOperationUpdateDataPolicyOperationRequest struct {
	ctx _context.Context
	ApiService *DataPolicyOperationsDataPolicyOperationApiService
	dataPolicyOperationId string
	microsoftGraphDataPolicyOperation *MicrosoftGraphDataPolicyOperation
}

// New property values
func (r ApiDataPolicyOperationsDataPolicyOperationUpdateDataPolicyOperationRequest) MicrosoftGraphDataPolicyOperation(microsoftGraphDataPolicyOperation MicrosoftGraphDataPolicyOperation) ApiDataPolicyOperationsDataPolicyOperationUpdateDataPolicyOperationRequest {
	r.microsoftGraphDataPolicyOperation = &microsoftGraphDataPolicyOperation
	return r
}

func (r ApiDataPolicyOperationsDataPolicyOperationUpdateDataPolicyOperationRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DataPolicyOperationsDataPolicyOperationUpdateDataPolicyOperationExecute(r)
}

/*
DataPolicyOperationsDataPolicyOperationUpdateDataPolicyOperation Update entity in dataPolicyOperations

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param dataPolicyOperationId key: id of dataPolicyOperation
 @return ApiDataPolicyOperationsDataPolicyOperationUpdateDataPolicyOperationRequest
*/
func (a *DataPolicyOperationsDataPolicyOperationApiService) DataPolicyOperationsDataPolicyOperationUpdateDataPolicyOperation(ctx _context.Context, dataPolicyOperationId string) ApiDataPolicyOperationsDataPolicyOperationUpdateDataPolicyOperationRequest {
	return ApiDataPolicyOperationsDataPolicyOperationUpdateDataPolicyOperationRequest{
		ApiService: a,
		ctx: ctx,
		dataPolicyOperationId: dataPolicyOperationId,
	}
}

// Execute executes the request
func (a *DataPolicyOperationsDataPolicyOperationApiService) DataPolicyOperationsDataPolicyOperationUpdateDataPolicyOperationExecute(r ApiDataPolicyOperationsDataPolicyOperationUpdateDataPolicyOperationRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataPolicyOperationsDataPolicyOperationApiService.DataPolicyOperationsDataPolicyOperationUpdateDataPolicyOperation")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dataPolicyOperations/{dataPolicyOperation-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"dataPolicyOperation-id"+"}", _neturl.PathEscape(parameterToString(r.dataPolicyOperationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphDataPolicyOperation == nil {
		return nil, reportError("microsoftGraphDataPolicyOperation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphDataPolicyOperation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
