/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// MeScopedRoleMembershipApiService MeScopedRoleMembershipApi service
type MeScopedRoleMembershipApiService service

type ApiMeCreateScopedRoleMemberOfRequest struct {
	ctx _context.Context
	ApiService *MeScopedRoleMembershipApiService
	microsoftGraphScopedRoleMembership *MicrosoftGraphScopedRoleMembership
}

// New navigation property
func (r ApiMeCreateScopedRoleMemberOfRequest) MicrosoftGraphScopedRoleMembership(microsoftGraphScopedRoleMembership MicrosoftGraphScopedRoleMembership) ApiMeCreateScopedRoleMemberOfRequest {
	r.microsoftGraphScopedRoleMembership = &microsoftGraphScopedRoleMembership
	return r
}

func (r ApiMeCreateScopedRoleMemberOfRequest) Execute() (MicrosoftGraphScopedRoleMembership, *_nethttp.Response, error) {
	return r.ApiService.MeCreateScopedRoleMemberOfExecute(r)
}

/*
MeCreateScopedRoleMemberOf Create new navigation property to scopedRoleMemberOf for me

The scoped-role administrative unit memberships for this user. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMeCreateScopedRoleMemberOfRequest
*/
func (a *MeScopedRoleMembershipApiService) MeCreateScopedRoleMemberOf(ctx _context.Context) ApiMeCreateScopedRoleMemberOfRequest {
	return ApiMeCreateScopedRoleMemberOfRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphScopedRoleMembership
func (a *MeScopedRoleMembershipApiService) MeCreateScopedRoleMemberOfExecute(r ApiMeCreateScopedRoleMemberOfRequest) (MicrosoftGraphScopedRoleMembership, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphScopedRoleMembership
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeScopedRoleMembershipApiService.MeCreateScopedRoleMemberOf")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/scopedRoleMemberOf"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphScopedRoleMembership == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphScopedRoleMembership is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphScopedRoleMembership
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeDeleteScopedRoleMemberOfRequest struct {
	ctx _context.Context
	ApiService *MeScopedRoleMembershipApiService
	scopedRoleMembershipId string
	ifMatch *string
}

// ETag
func (r ApiMeDeleteScopedRoleMemberOfRequest) IfMatch(ifMatch string) ApiMeDeleteScopedRoleMemberOfRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiMeDeleteScopedRoleMemberOfRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.MeDeleteScopedRoleMemberOfExecute(r)
}

/*
MeDeleteScopedRoleMemberOf Delete navigation property scopedRoleMemberOf for me

The scoped-role administrative unit memberships for this user. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param scopedRoleMembershipId key: id of scopedRoleMembership
 @return ApiMeDeleteScopedRoleMemberOfRequest
*/
func (a *MeScopedRoleMembershipApiService) MeDeleteScopedRoleMemberOf(ctx _context.Context, scopedRoleMembershipId string) ApiMeDeleteScopedRoleMemberOfRequest {
	return ApiMeDeleteScopedRoleMemberOfRequest{
		ApiService: a,
		ctx: ctx,
		scopedRoleMembershipId: scopedRoleMembershipId,
	}
}

// Execute executes the request
func (a *MeScopedRoleMembershipApiService) MeDeleteScopedRoleMemberOfExecute(r ApiMeDeleteScopedRoleMemberOfRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeScopedRoleMembershipApiService.MeDeleteScopedRoleMemberOf")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/scopedRoleMemberOf/{scopedRoleMembership-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"scopedRoleMembership-id"+"}", _neturl.PathEscape(parameterToString(r.scopedRoleMembershipId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiMeGetScopedRoleMemberOfRequest struct {
	ctx _context.Context
	ApiService *MeScopedRoleMembershipApiService
	scopedRoleMembershipId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiMeGetScopedRoleMemberOfRequest) Select_(select_ []string) ApiMeGetScopedRoleMemberOfRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiMeGetScopedRoleMemberOfRequest) Expand(expand []string) ApiMeGetScopedRoleMemberOfRequest {
	r.expand = &expand
	return r
}

func (r ApiMeGetScopedRoleMemberOfRequest) Execute() (MicrosoftGraphScopedRoleMembership, *_nethttp.Response, error) {
	return r.ApiService.MeGetScopedRoleMemberOfExecute(r)
}

/*
MeGetScopedRoleMemberOf Get scopedRoleMemberOf from me

The scoped-role administrative unit memberships for this user. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param scopedRoleMembershipId key: id of scopedRoleMembership
 @return ApiMeGetScopedRoleMemberOfRequest
*/
func (a *MeScopedRoleMembershipApiService) MeGetScopedRoleMemberOf(ctx _context.Context, scopedRoleMembershipId string) ApiMeGetScopedRoleMemberOfRequest {
	return ApiMeGetScopedRoleMemberOfRequest{
		ApiService: a,
		ctx: ctx,
		scopedRoleMembershipId: scopedRoleMembershipId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphScopedRoleMembership
func (a *MeScopedRoleMembershipApiService) MeGetScopedRoleMemberOfExecute(r ApiMeGetScopedRoleMemberOfRequest) (MicrosoftGraphScopedRoleMembership, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphScopedRoleMembership
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeScopedRoleMembershipApiService.MeGetScopedRoleMemberOf")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/scopedRoleMemberOf/{scopedRoleMembership-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"scopedRoleMembership-id"+"}", _neturl.PathEscape(parameterToString(r.scopedRoleMembershipId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeListScopedRoleMemberOfRequest struct {
	ctx _context.Context
	ApiService *MeScopedRoleMembershipApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiMeListScopedRoleMemberOfRequest) Top(top int32) ApiMeListScopedRoleMemberOfRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiMeListScopedRoleMemberOfRequest) Skip(skip int32) ApiMeListScopedRoleMemberOfRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiMeListScopedRoleMemberOfRequest) Search(search string) ApiMeListScopedRoleMemberOfRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiMeListScopedRoleMemberOfRequest) Filter(filter string) ApiMeListScopedRoleMemberOfRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiMeListScopedRoleMemberOfRequest) Count(count bool) ApiMeListScopedRoleMemberOfRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiMeListScopedRoleMemberOfRequest) Orderby(orderby []string) ApiMeListScopedRoleMemberOfRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiMeListScopedRoleMemberOfRequest) Select_(select_ []string) ApiMeListScopedRoleMemberOfRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiMeListScopedRoleMemberOfRequest) Expand(expand []string) ApiMeListScopedRoleMemberOfRequest {
	r.expand = &expand
	return r
}

func (r ApiMeListScopedRoleMemberOfRequest) Execute() (CollectionOfScopedRoleMembership, *_nethttp.Response, error) {
	return r.ApiService.MeListScopedRoleMemberOfExecute(r)
}

/*
MeListScopedRoleMemberOf Get scopedRoleMemberOf from me

The scoped-role administrative unit memberships for this user. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMeListScopedRoleMemberOfRequest
*/
func (a *MeScopedRoleMembershipApiService) MeListScopedRoleMemberOf(ctx _context.Context) ApiMeListScopedRoleMemberOfRequest {
	return ApiMeListScopedRoleMemberOfRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfScopedRoleMembership
func (a *MeScopedRoleMembershipApiService) MeListScopedRoleMemberOfExecute(r ApiMeListScopedRoleMemberOfRequest) (CollectionOfScopedRoleMembership, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfScopedRoleMembership
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeScopedRoleMembershipApiService.MeListScopedRoleMemberOf")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/scopedRoleMemberOf"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeUpdateScopedRoleMemberOfRequest struct {
	ctx _context.Context
	ApiService *MeScopedRoleMembershipApiService
	scopedRoleMembershipId string
	microsoftGraphScopedRoleMembership *MicrosoftGraphScopedRoleMembership
}

// New navigation property values
func (r ApiMeUpdateScopedRoleMemberOfRequest) MicrosoftGraphScopedRoleMembership(microsoftGraphScopedRoleMembership MicrosoftGraphScopedRoleMembership) ApiMeUpdateScopedRoleMemberOfRequest {
	r.microsoftGraphScopedRoleMembership = &microsoftGraphScopedRoleMembership
	return r
}

func (r ApiMeUpdateScopedRoleMemberOfRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.MeUpdateScopedRoleMemberOfExecute(r)
}

/*
MeUpdateScopedRoleMemberOf Update the navigation property scopedRoleMemberOf in me

The scoped-role administrative unit memberships for this user. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param scopedRoleMembershipId key: id of scopedRoleMembership
 @return ApiMeUpdateScopedRoleMemberOfRequest
*/
func (a *MeScopedRoleMembershipApiService) MeUpdateScopedRoleMemberOf(ctx _context.Context, scopedRoleMembershipId string) ApiMeUpdateScopedRoleMemberOfRequest {
	return ApiMeUpdateScopedRoleMemberOfRequest{
		ApiService: a,
		ctx: ctx,
		scopedRoleMembershipId: scopedRoleMembershipId,
	}
}

// Execute executes the request
func (a *MeScopedRoleMembershipApiService) MeUpdateScopedRoleMemberOfExecute(r ApiMeUpdateScopedRoleMemberOfRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeScopedRoleMembershipApiService.MeUpdateScopedRoleMemberOf")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/scopedRoleMemberOf/{scopedRoleMembership-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"scopedRoleMembership-id"+"}", _neturl.PathEscape(parameterToString(r.scopedRoleMembershipId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphScopedRoleMembership == nil {
		return nil, reportError("microsoftGraphScopedRoleMembership is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphScopedRoleMembership
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
