/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// SecuritySecureScoreApiService SecuritySecureScoreApi service
type SecuritySecureScoreApiService service

type ApiSecurityCreateSecureScoresRequest struct {
	ctx _context.Context
	ApiService *SecuritySecureScoreApiService
	microsoftGraphSecureScore *MicrosoftGraphSecureScore
}

// New navigation property
func (r ApiSecurityCreateSecureScoresRequest) MicrosoftGraphSecureScore(microsoftGraphSecureScore MicrosoftGraphSecureScore) ApiSecurityCreateSecureScoresRequest {
	r.microsoftGraphSecureScore = &microsoftGraphSecureScore
	return r
}

func (r ApiSecurityCreateSecureScoresRequest) Execute() (MicrosoftGraphSecureScore, *_nethttp.Response, error) {
	return r.ApiService.SecurityCreateSecureScoresExecute(r)
}

/*
SecurityCreateSecureScores Create new navigation property to secureScores for security

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSecurityCreateSecureScoresRequest
*/
func (a *SecuritySecureScoreApiService) SecurityCreateSecureScores(ctx _context.Context) ApiSecurityCreateSecureScoresRequest {
	return ApiSecurityCreateSecureScoresRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphSecureScore
func (a *SecuritySecureScoreApiService) SecurityCreateSecureScoresExecute(r ApiSecurityCreateSecureScoresRequest) (MicrosoftGraphSecureScore, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphSecureScore
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SecuritySecureScoreApiService.SecurityCreateSecureScores")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/security/secureScores"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphSecureScore == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphSecureScore is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphSecureScore
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSecurityDeleteSecureScoresRequest struct {
	ctx _context.Context
	ApiService *SecuritySecureScoreApiService
	secureScoreId string
	ifMatch *string
}

// ETag
func (r ApiSecurityDeleteSecureScoresRequest) IfMatch(ifMatch string) ApiSecurityDeleteSecureScoresRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiSecurityDeleteSecureScoresRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.SecurityDeleteSecureScoresExecute(r)
}

/*
SecurityDeleteSecureScores Delete navigation property secureScores for security

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param secureScoreId key: id of secureScore
 @return ApiSecurityDeleteSecureScoresRequest
*/
func (a *SecuritySecureScoreApiService) SecurityDeleteSecureScores(ctx _context.Context, secureScoreId string) ApiSecurityDeleteSecureScoresRequest {
	return ApiSecurityDeleteSecureScoresRequest{
		ApiService: a,
		ctx: ctx,
		secureScoreId: secureScoreId,
	}
}

// Execute executes the request
func (a *SecuritySecureScoreApiService) SecurityDeleteSecureScoresExecute(r ApiSecurityDeleteSecureScoresRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SecuritySecureScoreApiService.SecurityDeleteSecureScores")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/security/secureScores/{secureScore-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"secureScore-id"+"}", _neturl.PathEscape(parameterToString(r.secureScoreId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiSecurityGetSecureScoresRequest struct {
	ctx _context.Context
	ApiService *SecuritySecureScoreApiService
	secureScoreId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiSecurityGetSecureScoresRequest) Select_(select_ []string) ApiSecurityGetSecureScoresRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiSecurityGetSecureScoresRequest) Expand(expand []string) ApiSecurityGetSecureScoresRequest {
	r.expand = &expand
	return r
}

func (r ApiSecurityGetSecureScoresRequest) Execute() (MicrosoftGraphSecureScore, *_nethttp.Response, error) {
	return r.ApiService.SecurityGetSecureScoresExecute(r)
}

/*
SecurityGetSecureScores Get secureScores from security

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param secureScoreId key: id of secureScore
 @return ApiSecurityGetSecureScoresRequest
*/
func (a *SecuritySecureScoreApiService) SecurityGetSecureScores(ctx _context.Context, secureScoreId string) ApiSecurityGetSecureScoresRequest {
	return ApiSecurityGetSecureScoresRequest{
		ApiService: a,
		ctx: ctx,
		secureScoreId: secureScoreId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphSecureScore
func (a *SecuritySecureScoreApiService) SecurityGetSecureScoresExecute(r ApiSecurityGetSecureScoresRequest) (MicrosoftGraphSecureScore, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphSecureScore
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SecuritySecureScoreApiService.SecurityGetSecureScores")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/security/secureScores/{secureScore-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"secureScore-id"+"}", _neturl.PathEscape(parameterToString(r.secureScoreId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSecurityListSecureScoresRequest struct {
	ctx _context.Context
	ApiService *SecuritySecureScoreApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiSecurityListSecureScoresRequest) Top(top int32) ApiSecurityListSecureScoresRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiSecurityListSecureScoresRequest) Skip(skip int32) ApiSecurityListSecureScoresRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiSecurityListSecureScoresRequest) Search(search string) ApiSecurityListSecureScoresRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiSecurityListSecureScoresRequest) Filter(filter string) ApiSecurityListSecureScoresRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiSecurityListSecureScoresRequest) Count(count bool) ApiSecurityListSecureScoresRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiSecurityListSecureScoresRequest) Orderby(orderby []string) ApiSecurityListSecureScoresRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiSecurityListSecureScoresRequest) Select_(select_ []string) ApiSecurityListSecureScoresRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiSecurityListSecureScoresRequest) Expand(expand []string) ApiSecurityListSecureScoresRequest {
	r.expand = &expand
	return r
}

func (r ApiSecurityListSecureScoresRequest) Execute() (CollectionOfSecureScore, *_nethttp.Response, error) {
	return r.ApiService.SecurityListSecureScoresExecute(r)
}

/*
SecurityListSecureScores Get secureScores from security

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSecurityListSecureScoresRequest
*/
func (a *SecuritySecureScoreApiService) SecurityListSecureScores(ctx _context.Context) ApiSecurityListSecureScoresRequest {
	return ApiSecurityListSecureScoresRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfSecureScore
func (a *SecuritySecureScoreApiService) SecurityListSecureScoresExecute(r ApiSecurityListSecureScoresRequest) (CollectionOfSecureScore, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfSecureScore
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SecuritySecureScoreApiService.SecurityListSecureScores")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/security/secureScores"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSecurityUpdateSecureScoresRequest struct {
	ctx _context.Context
	ApiService *SecuritySecureScoreApiService
	secureScoreId string
	microsoftGraphSecureScore *MicrosoftGraphSecureScore
}

// New navigation property values
func (r ApiSecurityUpdateSecureScoresRequest) MicrosoftGraphSecureScore(microsoftGraphSecureScore MicrosoftGraphSecureScore) ApiSecurityUpdateSecureScoresRequest {
	r.microsoftGraphSecureScore = &microsoftGraphSecureScore
	return r
}

func (r ApiSecurityUpdateSecureScoresRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.SecurityUpdateSecureScoresExecute(r)
}

/*
SecurityUpdateSecureScores Update the navigation property secureScores in security

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param secureScoreId key: id of secureScore
 @return ApiSecurityUpdateSecureScoresRequest
*/
func (a *SecuritySecureScoreApiService) SecurityUpdateSecureScores(ctx _context.Context, secureScoreId string) ApiSecurityUpdateSecureScoresRequest {
	return ApiSecurityUpdateSecureScoresRequest{
		ApiService: a,
		ctx: ctx,
		secureScoreId: secureScoreId,
	}
}

// Execute executes the request
func (a *SecuritySecureScoreApiService) SecurityUpdateSecureScoresExecute(r ApiSecurityUpdateSecureScoresRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SecuritySecureScoreApiService.SecurityUpdateSecureScores")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/security/secureScores/{secureScore-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"secureScore-id"+"}", _neturl.PathEscape(parameterToString(r.secureScoreId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphSecureScore == nil {
		return nil, reportError("microsoftGraphSecureScore is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphSecureScore
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
