/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// ApplicationsExtensionPropertyApiService ApplicationsExtensionPropertyApi service
type ApplicationsExtensionPropertyApiService service

type ApiApplicationsCreateExtensionPropertiesRequest struct {
	ctx _context.Context
	ApiService *ApplicationsExtensionPropertyApiService
	applicationId string
	microsoftGraphExtensionProperty *MicrosoftGraphExtensionProperty
}

// New navigation property
func (r ApiApplicationsCreateExtensionPropertiesRequest) MicrosoftGraphExtensionProperty(microsoftGraphExtensionProperty MicrosoftGraphExtensionProperty) ApiApplicationsCreateExtensionPropertiesRequest {
	r.microsoftGraphExtensionProperty = &microsoftGraphExtensionProperty
	return r
}

func (r ApiApplicationsCreateExtensionPropertiesRequest) Execute() (MicrosoftGraphExtensionProperty, *_nethttp.Response, error) {
	return r.ApiService.ApplicationsCreateExtensionPropertiesExecute(r)
}

/*
ApplicationsCreateExtensionProperties Create new navigation property to extensionProperties for applications

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param applicationId key: id of application
 @return ApiApplicationsCreateExtensionPropertiesRequest
*/
func (a *ApplicationsExtensionPropertyApiService) ApplicationsCreateExtensionProperties(ctx _context.Context, applicationId string) ApiApplicationsCreateExtensionPropertiesRequest {
	return ApiApplicationsCreateExtensionPropertiesRequest{
		ApiService: a,
		ctx: ctx,
		applicationId: applicationId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphExtensionProperty
func (a *ApplicationsExtensionPropertyApiService) ApplicationsCreateExtensionPropertiesExecute(r ApiApplicationsCreateExtensionPropertiesRequest) (MicrosoftGraphExtensionProperty, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphExtensionProperty
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsExtensionPropertyApiService.ApplicationsCreateExtensionProperties")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/applications/{application-id}/extensionProperties"
	localVarPath = strings.Replace(localVarPath, "{"+"application-id"+"}", _neturl.PathEscape(parameterToString(r.applicationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphExtensionProperty == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphExtensionProperty is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphExtensionProperty
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApplicationsDeleteExtensionPropertiesRequest struct {
	ctx _context.Context
	ApiService *ApplicationsExtensionPropertyApiService
	applicationId string
	extensionPropertyId string
	ifMatch *string
}

// ETag
func (r ApiApplicationsDeleteExtensionPropertiesRequest) IfMatch(ifMatch string) ApiApplicationsDeleteExtensionPropertiesRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiApplicationsDeleteExtensionPropertiesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.ApplicationsDeleteExtensionPropertiesExecute(r)
}

/*
ApplicationsDeleteExtensionProperties Delete navigation property extensionProperties for applications

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param applicationId key: id of application
 @param extensionPropertyId key: id of extensionProperty
 @return ApiApplicationsDeleteExtensionPropertiesRequest
*/
func (a *ApplicationsExtensionPropertyApiService) ApplicationsDeleteExtensionProperties(ctx _context.Context, applicationId string, extensionPropertyId string) ApiApplicationsDeleteExtensionPropertiesRequest {
	return ApiApplicationsDeleteExtensionPropertiesRequest{
		ApiService: a,
		ctx: ctx,
		applicationId: applicationId,
		extensionPropertyId: extensionPropertyId,
	}
}

// Execute executes the request
func (a *ApplicationsExtensionPropertyApiService) ApplicationsDeleteExtensionPropertiesExecute(r ApiApplicationsDeleteExtensionPropertiesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsExtensionPropertyApiService.ApplicationsDeleteExtensionProperties")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/applications/{application-id}/extensionProperties/{extensionProperty-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"application-id"+"}", _neturl.PathEscape(parameterToString(r.applicationId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"extensionProperty-id"+"}", _neturl.PathEscape(parameterToString(r.extensionPropertyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApplicationsGetExtensionPropertiesRequest struct {
	ctx _context.Context
	ApiService *ApplicationsExtensionPropertyApiService
	applicationId string
	extensionPropertyId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiApplicationsGetExtensionPropertiesRequest) Select_(select_ []string) ApiApplicationsGetExtensionPropertiesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiApplicationsGetExtensionPropertiesRequest) Expand(expand []string) ApiApplicationsGetExtensionPropertiesRequest {
	r.expand = &expand
	return r
}

func (r ApiApplicationsGetExtensionPropertiesRequest) Execute() (MicrosoftGraphExtensionProperty, *_nethttp.Response, error) {
	return r.ApiService.ApplicationsGetExtensionPropertiesExecute(r)
}

/*
ApplicationsGetExtensionProperties Get extensionProperties from applications

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param applicationId key: id of application
 @param extensionPropertyId key: id of extensionProperty
 @return ApiApplicationsGetExtensionPropertiesRequest
*/
func (a *ApplicationsExtensionPropertyApiService) ApplicationsGetExtensionProperties(ctx _context.Context, applicationId string, extensionPropertyId string) ApiApplicationsGetExtensionPropertiesRequest {
	return ApiApplicationsGetExtensionPropertiesRequest{
		ApiService: a,
		ctx: ctx,
		applicationId: applicationId,
		extensionPropertyId: extensionPropertyId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphExtensionProperty
func (a *ApplicationsExtensionPropertyApiService) ApplicationsGetExtensionPropertiesExecute(r ApiApplicationsGetExtensionPropertiesRequest) (MicrosoftGraphExtensionProperty, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphExtensionProperty
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsExtensionPropertyApiService.ApplicationsGetExtensionProperties")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/applications/{application-id}/extensionProperties/{extensionProperty-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"application-id"+"}", _neturl.PathEscape(parameterToString(r.applicationId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"extensionProperty-id"+"}", _neturl.PathEscape(parameterToString(r.extensionPropertyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApplicationsListExtensionPropertiesRequest struct {
	ctx _context.Context
	ApiService *ApplicationsExtensionPropertyApiService
	applicationId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiApplicationsListExtensionPropertiesRequest) Top(top int32) ApiApplicationsListExtensionPropertiesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiApplicationsListExtensionPropertiesRequest) Skip(skip int32) ApiApplicationsListExtensionPropertiesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiApplicationsListExtensionPropertiesRequest) Search(search string) ApiApplicationsListExtensionPropertiesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiApplicationsListExtensionPropertiesRequest) Filter(filter string) ApiApplicationsListExtensionPropertiesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiApplicationsListExtensionPropertiesRequest) Count(count bool) ApiApplicationsListExtensionPropertiesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiApplicationsListExtensionPropertiesRequest) Orderby(orderby []string) ApiApplicationsListExtensionPropertiesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiApplicationsListExtensionPropertiesRequest) Select_(select_ []string) ApiApplicationsListExtensionPropertiesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiApplicationsListExtensionPropertiesRequest) Expand(expand []string) ApiApplicationsListExtensionPropertiesRequest {
	r.expand = &expand
	return r
}

func (r ApiApplicationsListExtensionPropertiesRequest) Execute() (CollectionOfExtensionProperty, *_nethttp.Response, error) {
	return r.ApiService.ApplicationsListExtensionPropertiesExecute(r)
}

/*
ApplicationsListExtensionProperties Get extensionProperties from applications

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param applicationId key: id of application
 @return ApiApplicationsListExtensionPropertiesRequest
*/
func (a *ApplicationsExtensionPropertyApiService) ApplicationsListExtensionProperties(ctx _context.Context, applicationId string) ApiApplicationsListExtensionPropertiesRequest {
	return ApiApplicationsListExtensionPropertiesRequest{
		ApiService: a,
		ctx: ctx,
		applicationId: applicationId,
	}
}

// Execute executes the request
//  @return CollectionOfExtensionProperty
func (a *ApplicationsExtensionPropertyApiService) ApplicationsListExtensionPropertiesExecute(r ApiApplicationsListExtensionPropertiesRequest) (CollectionOfExtensionProperty, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfExtensionProperty
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsExtensionPropertyApiService.ApplicationsListExtensionProperties")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/applications/{application-id}/extensionProperties"
	localVarPath = strings.Replace(localVarPath, "{"+"application-id"+"}", _neturl.PathEscape(parameterToString(r.applicationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApplicationsUpdateExtensionPropertiesRequest struct {
	ctx _context.Context
	ApiService *ApplicationsExtensionPropertyApiService
	applicationId string
	extensionPropertyId string
	microsoftGraphExtensionProperty *MicrosoftGraphExtensionProperty
}

// New navigation property values
func (r ApiApplicationsUpdateExtensionPropertiesRequest) MicrosoftGraphExtensionProperty(microsoftGraphExtensionProperty MicrosoftGraphExtensionProperty) ApiApplicationsUpdateExtensionPropertiesRequest {
	r.microsoftGraphExtensionProperty = &microsoftGraphExtensionProperty
	return r
}

func (r ApiApplicationsUpdateExtensionPropertiesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.ApplicationsUpdateExtensionPropertiesExecute(r)
}

/*
ApplicationsUpdateExtensionProperties Update the navigation property extensionProperties in applications

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param applicationId key: id of application
 @param extensionPropertyId key: id of extensionProperty
 @return ApiApplicationsUpdateExtensionPropertiesRequest
*/
func (a *ApplicationsExtensionPropertyApiService) ApplicationsUpdateExtensionProperties(ctx _context.Context, applicationId string, extensionPropertyId string) ApiApplicationsUpdateExtensionPropertiesRequest {
	return ApiApplicationsUpdateExtensionPropertiesRequest{
		ApiService: a,
		ctx: ctx,
		applicationId: applicationId,
		extensionPropertyId: extensionPropertyId,
	}
}

// Execute executes the request
func (a *ApplicationsExtensionPropertyApiService) ApplicationsUpdateExtensionPropertiesExecute(r ApiApplicationsUpdateExtensionPropertiesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsExtensionPropertyApiService.ApplicationsUpdateExtensionProperties")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/applications/{application-id}/extensionProperties/{extensionProperty-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"application-id"+"}", _neturl.PathEscape(parameterToString(r.applicationId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"extensionProperty-id"+"}", _neturl.PathEscape(parameterToString(r.extensionPropertyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphExtensionProperty == nil {
		return nil, reportError("microsoftGraphExtensionProperty is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphExtensionProperty
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
