/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// ScopedRoleMembershipsScopedRoleMembershipApiService ScopedRoleMembershipsScopedRoleMembershipApi service
type ScopedRoleMembershipsScopedRoleMembershipApiService service

type ApiScopedRoleMembershipsScopedRoleMembershipCreateScopedRoleMembershipRequest struct {
	ctx _context.Context
	ApiService *ScopedRoleMembershipsScopedRoleMembershipApiService
	microsoftGraphScopedRoleMembership *MicrosoftGraphScopedRoleMembership
}

// New entity
func (r ApiScopedRoleMembershipsScopedRoleMembershipCreateScopedRoleMembershipRequest) MicrosoftGraphScopedRoleMembership(microsoftGraphScopedRoleMembership MicrosoftGraphScopedRoleMembership) ApiScopedRoleMembershipsScopedRoleMembershipCreateScopedRoleMembershipRequest {
	r.microsoftGraphScopedRoleMembership = &microsoftGraphScopedRoleMembership
	return r
}

func (r ApiScopedRoleMembershipsScopedRoleMembershipCreateScopedRoleMembershipRequest) Execute() (MicrosoftGraphScopedRoleMembership, *_nethttp.Response, error) {
	return r.ApiService.ScopedRoleMembershipsScopedRoleMembershipCreateScopedRoleMembershipExecute(r)
}

/*
ScopedRoleMembershipsScopedRoleMembershipCreateScopedRoleMembership Add new entity to scopedRoleMemberships

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiScopedRoleMembershipsScopedRoleMembershipCreateScopedRoleMembershipRequest
*/
func (a *ScopedRoleMembershipsScopedRoleMembershipApiService) ScopedRoleMembershipsScopedRoleMembershipCreateScopedRoleMembership(ctx _context.Context) ApiScopedRoleMembershipsScopedRoleMembershipCreateScopedRoleMembershipRequest {
	return ApiScopedRoleMembershipsScopedRoleMembershipCreateScopedRoleMembershipRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphScopedRoleMembership
func (a *ScopedRoleMembershipsScopedRoleMembershipApiService) ScopedRoleMembershipsScopedRoleMembershipCreateScopedRoleMembershipExecute(r ApiScopedRoleMembershipsScopedRoleMembershipCreateScopedRoleMembershipRequest) (MicrosoftGraphScopedRoleMembership, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphScopedRoleMembership
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScopedRoleMembershipsScopedRoleMembershipApiService.ScopedRoleMembershipsScopedRoleMembershipCreateScopedRoleMembership")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scopedRoleMemberships"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphScopedRoleMembership == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphScopedRoleMembership is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphScopedRoleMembership
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiScopedRoleMembershipsScopedRoleMembershipDeleteScopedRoleMembershipRequest struct {
	ctx _context.Context
	ApiService *ScopedRoleMembershipsScopedRoleMembershipApiService
	scopedRoleMembershipId string
	ifMatch *string
}

// ETag
func (r ApiScopedRoleMembershipsScopedRoleMembershipDeleteScopedRoleMembershipRequest) IfMatch(ifMatch string) ApiScopedRoleMembershipsScopedRoleMembershipDeleteScopedRoleMembershipRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiScopedRoleMembershipsScopedRoleMembershipDeleteScopedRoleMembershipRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.ScopedRoleMembershipsScopedRoleMembershipDeleteScopedRoleMembershipExecute(r)
}

/*
ScopedRoleMembershipsScopedRoleMembershipDeleteScopedRoleMembership Delete entity from scopedRoleMemberships

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param scopedRoleMembershipId key: id of scopedRoleMembership
 @return ApiScopedRoleMembershipsScopedRoleMembershipDeleteScopedRoleMembershipRequest
*/
func (a *ScopedRoleMembershipsScopedRoleMembershipApiService) ScopedRoleMembershipsScopedRoleMembershipDeleteScopedRoleMembership(ctx _context.Context, scopedRoleMembershipId string) ApiScopedRoleMembershipsScopedRoleMembershipDeleteScopedRoleMembershipRequest {
	return ApiScopedRoleMembershipsScopedRoleMembershipDeleteScopedRoleMembershipRequest{
		ApiService: a,
		ctx: ctx,
		scopedRoleMembershipId: scopedRoleMembershipId,
	}
}

// Execute executes the request
func (a *ScopedRoleMembershipsScopedRoleMembershipApiService) ScopedRoleMembershipsScopedRoleMembershipDeleteScopedRoleMembershipExecute(r ApiScopedRoleMembershipsScopedRoleMembershipDeleteScopedRoleMembershipRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScopedRoleMembershipsScopedRoleMembershipApiService.ScopedRoleMembershipsScopedRoleMembershipDeleteScopedRoleMembership")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scopedRoleMemberships/{scopedRoleMembership-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"scopedRoleMembership-id"+"}", _neturl.PathEscape(parameterToString(r.scopedRoleMembershipId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiScopedRoleMembershipsScopedRoleMembershipGetScopedRoleMembershipRequest struct {
	ctx _context.Context
	ApiService *ScopedRoleMembershipsScopedRoleMembershipApiService
	scopedRoleMembershipId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiScopedRoleMembershipsScopedRoleMembershipGetScopedRoleMembershipRequest) Select_(select_ []string) ApiScopedRoleMembershipsScopedRoleMembershipGetScopedRoleMembershipRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiScopedRoleMembershipsScopedRoleMembershipGetScopedRoleMembershipRequest) Expand(expand []string) ApiScopedRoleMembershipsScopedRoleMembershipGetScopedRoleMembershipRequest {
	r.expand = &expand
	return r
}

func (r ApiScopedRoleMembershipsScopedRoleMembershipGetScopedRoleMembershipRequest) Execute() (MicrosoftGraphScopedRoleMembership, *_nethttp.Response, error) {
	return r.ApiService.ScopedRoleMembershipsScopedRoleMembershipGetScopedRoleMembershipExecute(r)
}

/*
ScopedRoleMembershipsScopedRoleMembershipGetScopedRoleMembership Get entity from scopedRoleMemberships by key

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param scopedRoleMembershipId key: id of scopedRoleMembership
 @return ApiScopedRoleMembershipsScopedRoleMembershipGetScopedRoleMembershipRequest
*/
func (a *ScopedRoleMembershipsScopedRoleMembershipApiService) ScopedRoleMembershipsScopedRoleMembershipGetScopedRoleMembership(ctx _context.Context, scopedRoleMembershipId string) ApiScopedRoleMembershipsScopedRoleMembershipGetScopedRoleMembershipRequest {
	return ApiScopedRoleMembershipsScopedRoleMembershipGetScopedRoleMembershipRequest{
		ApiService: a,
		ctx: ctx,
		scopedRoleMembershipId: scopedRoleMembershipId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphScopedRoleMembership
func (a *ScopedRoleMembershipsScopedRoleMembershipApiService) ScopedRoleMembershipsScopedRoleMembershipGetScopedRoleMembershipExecute(r ApiScopedRoleMembershipsScopedRoleMembershipGetScopedRoleMembershipRequest) (MicrosoftGraphScopedRoleMembership, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphScopedRoleMembership
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScopedRoleMembershipsScopedRoleMembershipApiService.ScopedRoleMembershipsScopedRoleMembershipGetScopedRoleMembership")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scopedRoleMemberships/{scopedRoleMembership-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"scopedRoleMembership-id"+"}", _neturl.PathEscape(parameterToString(r.scopedRoleMembershipId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipRequest struct {
	ctx _context.Context
	ApiService *ScopedRoleMembershipsScopedRoleMembershipApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipRequest) Top(top int32) ApiScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipRequest) Skip(skip int32) ApiScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipRequest) Search(search string) ApiScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipRequest) Filter(filter string) ApiScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipRequest) Count(count bool) ApiScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipRequest) Orderby(orderby []string) ApiScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipRequest) Select_(select_ []string) ApiScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipRequest) Expand(expand []string) ApiScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipRequest {
	r.expand = &expand
	return r
}

func (r ApiScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipRequest) Execute() (CollectionOfScopedRoleMembership, *_nethttp.Response, error) {
	return r.ApiService.ScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipExecute(r)
}

/*
ScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembership Get entities from scopedRoleMemberships

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipRequest
*/
func (a *ScopedRoleMembershipsScopedRoleMembershipApiService) ScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembership(ctx _context.Context) ApiScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipRequest {
	return ApiScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfScopedRoleMembership
func (a *ScopedRoleMembershipsScopedRoleMembershipApiService) ScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipExecute(r ApiScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembershipRequest) (CollectionOfScopedRoleMembership, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfScopedRoleMembership
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScopedRoleMembershipsScopedRoleMembershipApiService.ScopedRoleMembershipsScopedRoleMembershipListScopedRoleMembership")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scopedRoleMemberships"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiScopedRoleMembershipsScopedRoleMembershipUpdateScopedRoleMembershipRequest struct {
	ctx _context.Context
	ApiService *ScopedRoleMembershipsScopedRoleMembershipApiService
	scopedRoleMembershipId string
	microsoftGraphScopedRoleMembership *MicrosoftGraphScopedRoleMembership
}

// New property values
func (r ApiScopedRoleMembershipsScopedRoleMembershipUpdateScopedRoleMembershipRequest) MicrosoftGraphScopedRoleMembership(microsoftGraphScopedRoleMembership MicrosoftGraphScopedRoleMembership) ApiScopedRoleMembershipsScopedRoleMembershipUpdateScopedRoleMembershipRequest {
	r.microsoftGraphScopedRoleMembership = &microsoftGraphScopedRoleMembership
	return r
}

func (r ApiScopedRoleMembershipsScopedRoleMembershipUpdateScopedRoleMembershipRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.ScopedRoleMembershipsScopedRoleMembershipUpdateScopedRoleMembershipExecute(r)
}

/*
ScopedRoleMembershipsScopedRoleMembershipUpdateScopedRoleMembership Update entity in scopedRoleMemberships

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param scopedRoleMembershipId key: id of scopedRoleMembership
 @return ApiScopedRoleMembershipsScopedRoleMembershipUpdateScopedRoleMembershipRequest
*/
func (a *ScopedRoleMembershipsScopedRoleMembershipApiService) ScopedRoleMembershipsScopedRoleMembershipUpdateScopedRoleMembership(ctx _context.Context, scopedRoleMembershipId string) ApiScopedRoleMembershipsScopedRoleMembershipUpdateScopedRoleMembershipRequest {
	return ApiScopedRoleMembershipsScopedRoleMembershipUpdateScopedRoleMembershipRequest{
		ApiService: a,
		ctx: ctx,
		scopedRoleMembershipId: scopedRoleMembershipId,
	}
}

// Execute executes the request
func (a *ScopedRoleMembershipsScopedRoleMembershipApiService) ScopedRoleMembershipsScopedRoleMembershipUpdateScopedRoleMembershipExecute(r ApiScopedRoleMembershipsScopedRoleMembershipUpdateScopedRoleMembershipRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ScopedRoleMembershipsScopedRoleMembershipApiService.ScopedRoleMembershipsScopedRoleMembershipUpdateScopedRoleMembership")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scopedRoleMemberships/{scopedRoleMembership-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"scopedRoleMembership-id"+"}", _neturl.PathEscape(parameterToString(r.scopedRoleMembershipId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphScopedRoleMembership == nil {
		return nil, reportError("microsoftGraphScopedRoleMembership is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphScopedRoleMembership
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
