/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// GroupsResourceSpecificPermissionGrantApiService GroupsResourceSpecificPermissionGrantApi service
type GroupsResourceSpecificPermissionGrantApiService service

type ApiGroupsCreatePermissionGrantsRequest struct {
	ctx _context.Context
	ApiService *GroupsResourceSpecificPermissionGrantApiService
	groupId string
	microsoftGraphResourceSpecificPermissionGrant *MicrosoftGraphResourceSpecificPermissionGrant
}

// New navigation property
func (r ApiGroupsCreatePermissionGrantsRequest) MicrosoftGraphResourceSpecificPermissionGrant(microsoftGraphResourceSpecificPermissionGrant MicrosoftGraphResourceSpecificPermissionGrant) ApiGroupsCreatePermissionGrantsRequest {
	r.microsoftGraphResourceSpecificPermissionGrant = &microsoftGraphResourceSpecificPermissionGrant
	return r
}

func (r ApiGroupsCreatePermissionGrantsRequest) Execute() (MicrosoftGraphResourceSpecificPermissionGrant, *_nethttp.Response, error) {
	return r.ApiService.GroupsCreatePermissionGrantsExecute(r)
}

/*
GroupsCreatePermissionGrants Create new navigation property to permissionGrants for groups

The permission that has been granted for a group to a specific application. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupId key: id of group
 @return ApiGroupsCreatePermissionGrantsRequest
*/
func (a *GroupsResourceSpecificPermissionGrantApiService) GroupsCreatePermissionGrants(ctx _context.Context, groupId string) ApiGroupsCreatePermissionGrantsRequest {
	return ApiGroupsCreatePermissionGrantsRequest{
		ApiService: a,
		ctx: ctx,
		groupId: groupId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphResourceSpecificPermissionGrant
func (a *GroupsResourceSpecificPermissionGrantApiService) GroupsCreatePermissionGrantsExecute(r ApiGroupsCreatePermissionGrantsRequest) (MicrosoftGraphResourceSpecificPermissionGrant, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphResourceSpecificPermissionGrant
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsResourceSpecificPermissionGrantApiService.GroupsCreatePermissionGrants")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groups/{group-id}/permissionGrants"
	localVarPath = strings.Replace(localVarPath, "{"+"group-id"+"}", _neturl.PathEscape(parameterToString(r.groupId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphResourceSpecificPermissionGrant == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphResourceSpecificPermissionGrant is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphResourceSpecificPermissionGrant
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGroupsDeletePermissionGrantsRequest struct {
	ctx _context.Context
	ApiService *GroupsResourceSpecificPermissionGrantApiService
	groupId string
	resourceSpecificPermissionGrantId string
	ifMatch *string
}

// ETag
func (r ApiGroupsDeletePermissionGrantsRequest) IfMatch(ifMatch string) ApiGroupsDeletePermissionGrantsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiGroupsDeletePermissionGrantsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.GroupsDeletePermissionGrantsExecute(r)
}

/*
GroupsDeletePermissionGrants Delete navigation property permissionGrants for groups

The permission that has been granted for a group to a specific application. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupId key: id of group
 @param resourceSpecificPermissionGrantId key: id of resourceSpecificPermissionGrant
 @return ApiGroupsDeletePermissionGrantsRequest
*/
func (a *GroupsResourceSpecificPermissionGrantApiService) GroupsDeletePermissionGrants(ctx _context.Context, groupId string, resourceSpecificPermissionGrantId string) ApiGroupsDeletePermissionGrantsRequest {
	return ApiGroupsDeletePermissionGrantsRequest{
		ApiService: a,
		ctx: ctx,
		groupId: groupId,
		resourceSpecificPermissionGrantId: resourceSpecificPermissionGrantId,
	}
}

// Execute executes the request
func (a *GroupsResourceSpecificPermissionGrantApiService) GroupsDeletePermissionGrantsExecute(r ApiGroupsDeletePermissionGrantsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsResourceSpecificPermissionGrantApiService.GroupsDeletePermissionGrants")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groups/{group-id}/permissionGrants/{resourceSpecificPermissionGrant-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"group-id"+"}", _neturl.PathEscape(parameterToString(r.groupId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"resourceSpecificPermissionGrant-id"+"}", _neturl.PathEscape(parameterToString(r.resourceSpecificPermissionGrantId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGroupsGetPermissionGrantsRequest struct {
	ctx _context.Context
	ApiService *GroupsResourceSpecificPermissionGrantApiService
	groupId string
	resourceSpecificPermissionGrantId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiGroupsGetPermissionGrantsRequest) Select_(select_ []string) ApiGroupsGetPermissionGrantsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiGroupsGetPermissionGrantsRequest) Expand(expand []string) ApiGroupsGetPermissionGrantsRequest {
	r.expand = &expand
	return r
}

func (r ApiGroupsGetPermissionGrantsRequest) Execute() (MicrosoftGraphResourceSpecificPermissionGrant, *_nethttp.Response, error) {
	return r.ApiService.GroupsGetPermissionGrantsExecute(r)
}

/*
GroupsGetPermissionGrants Get permissionGrants from groups

The permission that has been granted for a group to a specific application. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupId key: id of group
 @param resourceSpecificPermissionGrantId key: id of resourceSpecificPermissionGrant
 @return ApiGroupsGetPermissionGrantsRequest
*/
func (a *GroupsResourceSpecificPermissionGrantApiService) GroupsGetPermissionGrants(ctx _context.Context, groupId string, resourceSpecificPermissionGrantId string) ApiGroupsGetPermissionGrantsRequest {
	return ApiGroupsGetPermissionGrantsRequest{
		ApiService: a,
		ctx: ctx,
		groupId: groupId,
		resourceSpecificPermissionGrantId: resourceSpecificPermissionGrantId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphResourceSpecificPermissionGrant
func (a *GroupsResourceSpecificPermissionGrantApiService) GroupsGetPermissionGrantsExecute(r ApiGroupsGetPermissionGrantsRequest) (MicrosoftGraphResourceSpecificPermissionGrant, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphResourceSpecificPermissionGrant
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsResourceSpecificPermissionGrantApiService.GroupsGetPermissionGrants")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groups/{group-id}/permissionGrants/{resourceSpecificPermissionGrant-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"group-id"+"}", _neturl.PathEscape(parameterToString(r.groupId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"resourceSpecificPermissionGrant-id"+"}", _neturl.PathEscape(parameterToString(r.resourceSpecificPermissionGrantId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGroupsListPermissionGrantsRequest struct {
	ctx _context.Context
	ApiService *GroupsResourceSpecificPermissionGrantApiService
	groupId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiGroupsListPermissionGrantsRequest) Top(top int32) ApiGroupsListPermissionGrantsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiGroupsListPermissionGrantsRequest) Skip(skip int32) ApiGroupsListPermissionGrantsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiGroupsListPermissionGrantsRequest) Search(search string) ApiGroupsListPermissionGrantsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiGroupsListPermissionGrantsRequest) Filter(filter string) ApiGroupsListPermissionGrantsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiGroupsListPermissionGrantsRequest) Count(count bool) ApiGroupsListPermissionGrantsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiGroupsListPermissionGrantsRequest) Orderby(orderby []string) ApiGroupsListPermissionGrantsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiGroupsListPermissionGrantsRequest) Select_(select_ []string) ApiGroupsListPermissionGrantsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiGroupsListPermissionGrantsRequest) Expand(expand []string) ApiGroupsListPermissionGrantsRequest {
	r.expand = &expand
	return r
}

func (r ApiGroupsListPermissionGrantsRequest) Execute() (CollectionOfResourceSpecificPermissionGrant, *_nethttp.Response, error) {
	return r.ApiService.GroupsListPermissionGrantsExecute(r)
}

/*
GroupsListPermissionGrants Get permissionGrants from groups

The permission that has been granted for a group to a specific application. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupId key: id of group
 @return ApiGroupsListPermissionGrantsRequest
*/
func (a *GroupsResourceSpecificPermissionGrantApiService) GroupsListPermissionGrants(ctx _context.Context, groupId string) ApiGroupsListPermissionGrantsRequest {
	return ApiGroupsListPermissionGrantsRequest{
		ApiService: a,
		ctx: ctx,
		groupId: groupId,
	}
}

// Execute executes the request
//  @return CollectionOfResourceSpecificPermissionGrant
func (a *GroupsResourceSpecificPermissionGrantApiService) GroupsListPermissionGrantsExecute(r ApiGroupsListPermissionGrantsRequest) (CollectionOfResourceSpecificPermissionGrant, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfResourceSpecificPermissionGrant
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsResourceSpecificPermissionGrantApiService.GroupsListPermissionGrants")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groups/{group-id}/permissionGrants"
	localVarPath = strings.Replace(localVarPath, "{"+"group-id"+"}", _neturl.PathEscape(parameterToString(r.groupId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGroupsUpdatePermissionGrantsRequest struct {
	ctx _context.Context
	ApiService *GroupsResourceSpecificPermissionGrantApiService
	groupId string
	resourceSpecificPermissionGrantId string
	microsoftGraphResourceSpecificPermissionGrant *MicrosoftGraphResourceSpecificPermissionGrant
}

// New navigation property values
func (r ApiGroupsUpdatePermissionGrantsRequest) MicrosoftGraphResourceSpecificPermissionGrant(microsoftGraphResourceSpecificPermissionGrant MicrosoftGraphResourceSpecificPermissionGrant) ApiGroupsUpdatePermissionGrantsRequest {
	r.microsoftGraphResourceSpecificPermissionGrant = &microsoftGraphResourceSpecificPermissionGrant
	return r
}

func (r ApiGroupsUpdatePermissionGrantsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.GroupsUpdatePermissionGrantsExecute(r)
}

/*
GroupsUpdatePermissionGrants Update the navigation property permissionGrants in groups

The permission that has been granted for a group to a specific application. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupId key: id of group
 @param resourceSpecificPermissionGrantId key: id of resourceSpecificPermissionGrant
 @return ApiGroupsUpdatePermissionGrantsRequest
*/
func (a *GroupsResourceSpecificPermissionGrantApiService) GroupsUpdatePermissionGrants(ctx _context.Context, groupId string, resourceSpecificPermissionGrantId string) ApiGroupsUpdatePermissionGrantsRequest {
	return ApiGroupsUpdatePermissionGrantsRequest{
		ApiService: a,
		ctx: ctx,
		groupId: groupId,
		resourceSpecificPermissionGrantId: resourceSpecificPermissionGrantId,
	}
}

// Execute executes the request
func (a *GroupsResourceSpecificPermissionGrantApiService) GroupsUpdatePermissionGrantsExecute(r ApiGroupsUpdatePermissionGrantsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsResourceSpecificPermissionGrantApiService.GroupsUpdatePermissionGrants")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groups/{group-id}/permissionGrants/{resourceSpecificPermissionGrant-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"group-id"+"}", _neturl.PathEscape(parameterToString(r.groupId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"resourceSpecificPermissionGrant-id"+"}", _neturl.PathEscape(parameterToString(r.resourceSpecificPermissionGrantId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphResourceSpecificPermissionGrant == nil {
		return nil, reportError("microsoftGraphResourceSpecificPermissionGrant is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphResourceSpecificPermissionGrant
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
