/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// DeviceAppManagementMdmWindowsInformationProtectionPolicyApiService DeviceAppManagementMdmWindowsInformationProtectionPolicyApi service
type DeviceAppManagementMdmWindowsInformationProtectionPolicyApiService service

type ApiDeviceAppManagementCreateMdmWindowsInformationProtectionPoliciesRequest struct {
	ctx _context.Context
	ApiService *DeviceAppManagementMdmWindowsInformationProtectionPolicyApiService
	microsoftGraphMdmWindowsInformationProtectionPolicy *MicrosoftGraphMdmWindowsInformationProtectionPolicy
}

// New navigation property
func (r ApiDeviceAppManagementCreateMdmWindowsInformationProtectionPoliciesRequest) MicrosoftGraphMdmWindowsInformationProtectionPolicy(microsoftGraphMdmWindowsInformationProtectionPolicy MicrosoftGraphMdmWindowsInformationProtectionPolicy) ApiDeviceAppManagementCreateMdmWindowsInformationProtectionPoliciesRequest {
	r.microsoftGraphMdmWindowsInformationProtectionPolicy = &microsoftGraphMdmWindowsInformationProtectionPolicy
	return r
}

func (r ApiDeviceAppManagementCreateMdmWindowsInformationProtectionPoliciesRequest) Execute() (MicrosoftGraphMdmWindowsInformationProtectionPolicy, *_nethttp.Response, error) {
	return r.ApiService.DeviceAppManagementCreateMdmWindowsInformationProtectionPoliciesExecute(r)
}

/*
DeviceAppManagementCreateMdmWindowsInformationProtectionPolicies Create new navigation property to mdmWindowsInformationProtectionPolicies for deviceAppManagement

Windows information protection for apps running on devices which are MDM enrolled.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceAppManagementCreateMdmWindowsInformationProtectionPoliciesRequest
*/
func (a *DeviceAppManagementMdmWindowsInformationProtectionPolicyApiService) DeviceAppManagementCreateMdmWindowsInformationProtectionPolicies(ctx _context.Context) ApiDeviceAppManagementCreateMdmWindowsInformationProtectionPoliciesRequest {
	return ApiDeviceAppManagementCreateMdmWindowsInformationProtectionPoliciesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphMdmWindowsInformationProtectionPolicy
func (a *DeviceAppManagementMdmWindowsInformationProtectionPolicyApiService) DeviceAppManagementCreateMdmWindowsInformationProtectionPoliciesExecute(r ApiDeviceAppManagementCreateMdmWindowsInformationProtectionPoliciesRequest) (MicrosoftGraphMdmWindowsInformationProtectionPolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphMdmWindowsInformationProtectionPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceAppManagementMdmWindowsInformationProtectionPolicyApiService.DeviceAppManagementCreateMdmWindowsInformationProtectionPolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceAppManagement/mdmWindowsInformationProtectionPolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphMdmWindowsInformationProtectionPolicy == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphMdmWindowsInformationProtectionPolicy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphMdmWindowsInformationProtectionPolicy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceAppManagementDeleteMdmWindowsInformationProtectionPoliciesRequest struct {
	ctx _context.Context
	ApiService *DeviceAppManagementMdmWindowsInformationProtectionPolicyApiService
	mdmWindowsInformationProtectionPolicyId string
	ifMatch *string
}

// ETag
func (r ApiDeviceAppManagementDeleteMdmWindowsInformationProtectionPoliciesRequest) IfMatch(ifMatch string) ApiDeviceAppManagementDeleteMdmWindowsInformationProtectionPoliciesRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiDeviceAppManagementDeleteMdmWindowsInformationProtectionPoliciesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceAppManagementDeleteMdmWindowsInformationProtectionPoliciesExecute(r)
}

/*
DeviceAppManagementDeleteMdmWindowsInformationProtectionPolicies Delete navigation property mdmWindowsInformationProtectionPolicies for deviceAppManagement

Windows information protection for apps running on devices which are MDM enrolled.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mdmWindowsInformationProtectionPolicyId key: id of mdmWindowsInformationProtectionPolicy
 @return ApiDeviceAppManagementDeleteMdmWindowsInformationProtectionPoliciesRequest
*/
func (a *DeviceAppManagementMdmWindowsInformationProtectionPolicyApiService) DeviceAppManagementDeleteMdmWindowsInformationProtectionPolicies(ctx _context.Context, mdmWindowsInformationProtectionPolicyId string) ApiDeviceAppManagementDeleteMdmWindowsInformationProtectionPoliciesRequest {
	return ApiDeviceAppManagementDeleteMdmWindowsInformationProtectionPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		mdmWindowsInformationProtectionPolicyId: mdmWindowsInformationProtectionPolicyId,
	}
}

// Execute executes the request
func (a *DeviceAppManagementMdmWindowsInformationProtectionPolicyApiService) DeviceAppManagementDeleteMdmWindowsInformationProtectionPoliciesExecute(r ApiDeviceAppManagementDeleteMdmWindowsInformationProtectionPoliciesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceAppManagementMdmWindowsInformationProtectionPolicyApiService.DeviceAppManagementDeleteMdmWindowsInformationProtectionPolicies")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceAppManagement/mdmWindowsInformationProtectionPolicies/{mdmWindowsInformationProtectionPolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"mdmWindowsInformationProtectionPolicy-id"+"}", _neturl.PathEscape(parameterToString(r.mdmWindowsInformationProtectionPolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeviceAppManagementGetMdmWindowsInformationProtectionPoliciesRequest struct {
	ctx _context.Context
	ApiService *DeviceAppManagementMdmWindowsInformationProtectionPolicyApiService
	mdmWindowsInformationProtectionPolicyId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiDeviceAppManagementGetMdmWindowsInformationProtectionPoliciesRequest) Select_(select_ []string) ApiDeviceAppManagementGetMdmWindowsInformationProtectionPoliciesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceAppManagementGetMdmWindowsInformationProtectionPoliciesRequest) Expand(expand []string) ApiDeviceAppManagementGetMdmWindowsInformationProtectionPoliciesRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceAppManagementGetMdmWindowsInformationProtectionPoliciesRequest) Execute() (MicrosoftGraphMdmWindowsInformationProtectionPolicy, *_nethttp.Response, error) {
	return r.ApiService.DeviceAppManagementGetMdmWindowsInformationProtectionPoliciesExecute(r)
}

/*
DeviceAppManagementGetMdmWindowsInformationProtectionPolicies Get mdmWindowsInformationProtectionPolicies from deviceAppManagement

Windows information protection for apps running on devices which are MDM enrolled.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mdmWindowsInformationProtectionPolicyId key: id of mdmWindowsInformationProtectionPolicy
 @return ApiDeviceAppManagementGetMdmWindowsInformationProtectionPoliciesRequest
*/
func (a *DeviceAppManagementMdmWindowsInformationProtectionPolicyApiService) DeviceAppManagementGetMdmWindowsInformationProtectionPolicies(ctx _context.Context, mdmWindowsInformationProtectionPolicyId string) ApiDeviceAppManagementGetMdmWindowsInformationProtectionPoliciesRequest {
	return ApiDeviceAppManagementGetMdmWindowsInformationProtectionPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		mdmWindowsInformationProtectionPolicyId: mdmWindowsInformationProtectionPolicyId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphMdmWindowsInformationProtectionPolicy
func (a *DeviceAppManagementMdmWindowsInformationProtectionPolicyApiService) DeviceAppManagementGetMdmWindowsInformationProtectionPoliciesExecute(r ApiDeviceAppManagementGetMdmWindowsInformationProtectionPoliciesRequest) (MicrosoftGraphMdmWindowsInformationProtectionPolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphMdmWindowsInformationProtectionPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceAppManagementMdmWindowsInformationProtectionPolicyApiService.DeviceAppManagementGetMdmWindowsInformationProtectionPolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceAppManagement/mdmWindowsInformationProtectionPolicies/{mdmWindowsInformationProtectionPolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"mdmWindowsInformationProtectionPolicy-id"+"}", _neturl.PathEscape(parameterToString(r.mdmWindowsInformationProtectionPolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceAppManagementListMdmWindowsInformationProtectionPoliciesRequest struct {
	ctx _context.Context
	ApiService *DeviceAppManagementMdmWindowsInformationProtectionPolicyApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiDeviceAppManagementListMdmWindowsInformationProtectionPoliciesRequest) Top(top int32) ApiDeviceAppManagementListMdmWindowsInformationProtectionPoliciesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiDeviceAppManagementListMdmWindowsInformationProtectionPoliciesRequest) Skip(skip int32) ApiDeviceAppManagementListMdmWindowsInformationProtectionPoliciesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiDeviceAppManagementListMdmWindowsInformationProtectionPoliciesRequest) Search(search string) ApiDeviceAppManagementListMdmWindowsInformationProtectionPoliciesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiDeviceAppManagementListMdmWindowsInformationProtectionPoliciesRequest) Filter(filter string) ApiDeviceAppManagementListMdmWindowsInformationProtectionPoliciesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiDeviceAppManagementListMdmWindowsInformationProtectionPoliciesRequest) Count(count bool) ApiDeviceAppManagementListMdmWindowsInformationProtectionPoliciesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiDeviceAppManagementListMdmWindowsInformationProtectionPoliciesRequest) Orderby(orderby []string) ApiDeviceAppManagementListMdmWindowsInformationProtectionPoliciesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiDeviceAppManagementListMdmWindowsInformationProtectionPoliciesRequest) Select_(select_ []string) ApiDeviceAppManagementListMdmWindowsInformationProtectionPoliciesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceAppManagementListMdmWindowsInformationProtectionPoliciesRequest) Expand(expand []string) ApiDeviceAppManagementListMdmWindowsInformationProtectionPoliciesRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceAppManagementListMdmWindowsInformationProtectionPoliciesRequest) Execute() (CollectionOfMdmWindowsInformationProtectionPolicy, *_nethttp.Response, error) {
	return r.ApiService.DeviceAppManagementListMdmWindowsInformationProtectionPoliciesExecute(r)
}

/*
DeviceAppManagementListMdmWindowsInformationProtectionPolicies Get mdmWindowsInformationProtectionPolicies from deviceAppManagement

Windows information protection for apps running on devices which are MDM enrolled.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceAppManagementListMdmWindowsInformationProtectionPoliciesRequest
*/
func (a *DeviceAppManagementMdmWindowsInformationProtectionPolicyApiService) DeviceAppManagementListMdmWindowsInformationProtectionPolicies(ctx _context.Context) ApiDeviceAppManagementListMdmWindowsInformationProtectionPoliciesRequest {
	return ApiDeviceAppManagementListMdmWindowsInformationProtectionPoliciesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfMdmWindowsInformationProtectionPolicy
func (a *DeviceAppManagementMdmWindowsInformationProtectionPolicyApiService) DeviceAppManagementListMdmWindowsInformationProtectionPoliciesExecute(r ApiDeviceAppManagementListMdmWindowsInformationProtectionPoliciesRequest) (CollectionOfMdmWindowsInformationProtectionPolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfMdmWindowsInformationProtectionPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceAppManagementMdmWindowsInformationProtectionPolicyApiService.DeviceAppManagementListMdmWindowsInformationProtectionPolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceAppManagement/mdmWindowsInformationProtectionPolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceAppManagementUpdateMdmWindowsInformationProtectionPoliciesRequest struct {
	ctx _context.Context
	ApiService *DeviceAppManagementMdmWindowsInformationProtectionPolicyApiService
	mdmWindowsInformationProtectionPolicyId string
	microsoftGraphMdmWindowsInformationProtectionPolicy *MicrosoftGraphMdmWindowsInformationProtectionPolicy
}

// New navigation property values
func (r ApiDeviceAppManagementUpdateMdmWindowsInformationProtectionPoliciesRequest) MicrosoftGraphMdmWindowsInformationProtectionPolicy(microsoftGraphMdmWindowsInformationProtectionPolicy MicrosoftGraphMdmWindowsInformationProtectionPolicy) ApiDeviceAppManagementUpdateMdmWindowsInformationProtectionPoliciesRequest {
	r.microsoftGraphMdmWindowsInformationProtectionPolicy = &microsoftGraphMdmWindowsInformationProtectionPolicy
	return r
}

func (r ApiDeviceAppManagementUpdateMdmWindowsInformationProtectionPoliciesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceAppManagementUpdateMdmWindowsInformationProtectionPoliciesExecute(r)
}

/*
DeviceAppManagementUpdateMdmWindowsInformationProtectionPolicies Update the navigation property mdmWindowsInformationProtectionPolicies in deviceAppManagement

Windows information protection for apps running on devices which are MDM enrolled.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mdmWindowsInformationProtectionPolicyId key: id of mdmWindowsInformationProtectionPolicy
 @return ApiDeviceAppManagementUpdateMdmWindowsInformationProtectionPoliciesRequest
*/
func (a *DeviceAppManagementMdmWindowsInformationProtectionPolicyApiService) DeviceAppManagementUpdateMdmWindowsInformationProtectionPolicies(ctx _context.Context, mdmWindowsInformationProtectionPolicyId string) ApiDeviceAppManagementUpdateMdmWindowsInformationProtectionPoliciesRequest {
	return ApiDeviceAppManagementUpdateMdmWindowsInformationProtectionPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		mdmWindowsInformationProtectionPolicyId: mdmWindowsInformationProtectionPolicyId,
	}
}

// Execute executes the request
func (a *DeviceAppManagementMdmWindowsInformationProtectionPolicyApiService) DeviceAppManagementUpdateMdmWindowsInformationProtectionPoliciesExecute(r ApiDeviceAppManagementUpdateMdmWindowsInformationProtectionPoliciesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceAppManagementMdmWindowsInformationProtectionPolicyApiService.DeviceAppManagementUpdateMdmWindowsInformationProtectionPolicies")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceAppManagement/mdmWindowsInformationProtectionPolicies/{mdmWindowsInformationProtectionPolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"mdmWindowsInformationProtectionPolicy-id"+"}", _neturl.PathEscape(parameterToString(r.mdmWindowsInformationProtectionPolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphMdmWindowsInformationProtectionPolicy == nil {
		return nil, reportError("microsoftGraphMdmWindowsInformationProtectionPolicy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphMdmWindowsInformationProtectionPolicy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
