/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// GroupLifecyclePoliciesGroupLifecyclePolicyApiService GroupLifecyclePoliciesGroupLifecyclePolicyApi service
type GroupLifecyclePoliciesGroupLifecyclePolicyApiService service

type ApiGroupLifecyclePoliciesGroupLifecyclePolicyCreateGroupLifecyclePolicyRequest struct {
	ctx _context.Context
	ApiService *GroupLifecyclePoliciesGroupLifecyclePolicyApiService
	microsoftGraphGroupLifecyclePolicy *MicrosoftGraphGroupLifecyclePolicy
}

// New entity
func (r ApiGroupLifecyclePoliciesGroupLifecyclePolicyCreateGroupLifecyclePolicyRequest) MicrosoftGraphGroupLifecyclePolicy(microsoftGraphGroupLifecyclePolicy MicrosoftGraphGroupLifecyclePolicy) ApiGroupLifecyclePoliciesGroupLifecyclePolicyCreateGroupLifecyclePolicyRequest {
	r.microsoftGraphGroupLifecyclePolicy = &microsoftGraphGroupLifecyclePolicy
	return r
}

func (r ApiGroupLifecyclePoliciesGroupLifecyclePolicyCreateGroupLifecyclePolicyRequest) Execute() (MicrosoftGraphGroupLifecyclePolicy, *_nethttp.Response, error) {
	return r.ApiService.GroupLifecyclePoliciesGroupLifecyclePolicyCreateGroupLifecyclePolicyExecute(r)
}

/*
GroupLifecyclePoliciesGroupLifecyclePolicyCreateGroupLifecyclePolicy Add new entity to groupLifecyclePolicies

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGroupLifecyclePoliciesGroupLifecyclePolicyCreateGroupLifecyclePolicyRequest
*/
func (a *GroupLifecyclePoliciesGroupLifecyclePolicyApiService) GroupLifecyclePoliciesGroupLifecyclePolicyCreateGroupLifecyclePolicy(ctx _context.Context) ApiGroupLifecyclePoliciesGroupLifecyclePolicyCreateGroupLifecyclePolicyRequest {
	return ApiGroupLifecyclePoliciesGroupLifecyclePolicyCreateGroupLifecyclePolicyRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphGroupLifecyclePolicy
func (a *GroupLifecyclePoliciesGroupLifecyclePolicyApiService) GroupLifecyclePoliciesGroupLifecyclePolicyCreateGroupLifecyclePolicyExecute(r ApiGroupLifecyclePoliciesGroupLifecyclePolicyCreateGroupLifecyclePolicyRequest) (MicrosoftGraphGroupLifecyclePolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphGroupLifecyclePolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupLifecyclePoliciesGroupLifecyclePolicyApiService.GroupLifecyclePoliciesGroupLifecyclePolicyCreateGroupLifecyclePolicy")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groupLifecyclePolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphGroupLifecyclePolicy == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphGroupLifecyclePolicy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphGroupLifecyclePolicy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGroupLifecyclePoliciesGroupLifecyclePolicyDeleteGroupLifecyclePolicyRequest struct {
	ctx _context.Context
	ApiService *GroupLifecyclePoliciesGroupLifecyclePolicyApiService
	groupLifecyclePolicyId string
	ifMatch *string
}

// ETag
func (r ApiGroupLifecyclePoliciesGroupLifecyclePolicyDeleteGroupLifecyclePolicyRequest) IfMatch(ifMatch string) ApiGroupLifecyclePoliciesGroupLifecyclePolicyDeleteGroupLifecyclePolicyRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiGroupLifecyclePoliciesGroupLifecyclePolicyDeleteGroupLifecyclePolicyRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.GroupLifecyclePoliciesGroupLifecyclePolicyDeleteGroupLifecyclePolicyExecute(r)
}

/*
GroupLifecyclePoliciesGroupLifecyclePolicyDeleteGroupLifecyclePolicy Delete entity from groupLifecyclePolicies

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupLifecyclePolicyId key: id of groupLifecyclePolicy
 @return ApiGroupLifecyclePoliciesGroupLifecyclePolicyDeleteGroupLifecyclePolicyRequest
*/
func (a *GroupLifecyclePoliciesGroupLifecyclePolicyApiService) GroupLifecyclePoliciesGroupLifecyclePolicyDeleteGroupLifecyclePolicy(ctx _context.Context, groupLifecyclePolicyId string) ApiGroupLifecyclePoliciesGroupLifecyclePolicyDeleteGroupLifecyclePolicyRequest {
	return ApiGroupLifecyclePoliciesGroupLifecyclePolicyDeleteGroupLifecyclePolicyRequest{
		ApiService: a,
		ctx: ctx,
		groupLifecyclePolicyId: groupLifecyclePolicyId,
	}
}

// Execute executes the request
func (a *GroupLifecyclePoliciesGroupLifecyclePolicyApiService) GroupLifecyclePoliciesGroupLifecyclePolicyDeleteGroupLifecyclePolicyExecute(r ApiGroupLifecyclePoliciesGroupLifecyclePolicyDeleteGroupLifecyclePolicyRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupLifecyclePoliciesGroupLifecyclePolicyApiService.GroupLifecyclePoliciesGroupLifecyclePolicyDeleteGroupLifecyclePolicy")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groupLifecyclePolicies/{groupLifecyclePolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"groupLifecyclePolicy-id"+"}", _neturl.PathEscape(parameterToString(r.groupLifecyclePolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGroupLifecyclePoliciesGroupLifecyclePolicyGetGroupLifecyclePolicyRequest struct {
	ctx _context.Context
	ApiService *GroupLifecyclePoliciesGroupLifecyclePolicyApiService
	groupLifecyclePolicyId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiGroupLifecyclePoliciesGroupLifecyclePolicyGetGroupLifecyclePolicyRequest) Select_(select_ []string) ApiGroupLifecyclePoliciesGroupLifecyclePolicyGetGroupLifecyclePolicyRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiGroupLifecyclePoliciesGroupLifecyclePolicyGetGroupLifecyclePolicyRequest) Expand(expand []string) ApiGroupLifecyclePoliciesGroupLifecyclePolicyGetGroupLifecyclePolicyRequest {
	r.expand = &expand
	return r
}

func (r ApiGroupLifecyclePoliciesGroupLifecyclePolicyGetGroupLifecyclePolicyRequest) Execute() (MicrosoftGraphGroupLifecyclePolicy, *_nethttp.Response, error) {
	return r.ApiService.GroupLifecyclePoliciesGroupLifecyclePolicyGetGroupLifecyclePolicyExecute(r)
}

/*
GroupLifecyclePoliciesGroupLifecyclePolicyGetGroupLifecyclePolicy Get entity from groupLifecyclePolicies by key

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupLifecyclePolicyId key: id of groupLifecyclePolicy
 @return ApiGroupLifecyclePoliciesGroupLifecyclePolicyGetGroupLifecyclePolicyRequest
*/
func (a *GroupLifecyclePoliciesGroupLifecyclePolicyApiService) GroupLifecyclePoliciesGroupLifecyclePolicyGetGroupLifecyclePolicy(ctx _context.Context, groupLifecyclePolicyId string) ApiGroupLifecyclePoliciesGroupLifecyclePolicyGetGroupLifecyclePolicyRequest {
	return ApiGroupLifecyclePoliciesGroupLifecyclePolicyGetGroupLifecyclePolicyRequest{
		ApiService: a,
		ctx: ctx,
		groupLifecyclePolicyId: groupLifecyclePolicyId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphGroupLifecyclePolicy
func (a *GroupLifecyclePoliciesGroupLifecyclePolicyApiService) GroupLifecyclePoliciesGroupLifecyclePolicyGetGroupLifecyclePolicyExecute(r ApiGroupLifecyclePoliciesGroupLifecyclePolicyGetGroupLifecyclePolicyRequest) (MicrosoftGraphGroupLifecyclePolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphGroupLifecyclePolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupLifecyclePoliciesGroupLifecyclePolicyApiService.GroupLifecyclePoliciesGroupLifecyclePolicyGetGroupLifecyclePolicy")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groupLifecyclePolicies/{groupLifecyclePolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"groupLifecyclePolicy-id"+"}", _neturl.PathEscape(parameterToString(r.groupLifecyclePolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyRequest struct {
	ctx _context.Context
	ApiService *GroupLifecyclePoliciesGroupLifecyclePolicyApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiGroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyRequest) Top(top int32) ApiGroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiGroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyRequest) Skip(skip int32) ApiGroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiGroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyRequest) Search(search string) ApiGroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiGroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyRequest) Filter(filter string) ApiGroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiGroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyRequest) Count(count bool) ApiGroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiGroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyRequest) Orderby(orderby []string) ApiGroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiGroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyRequest) Select_(select_ []string) ApiGroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiGroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyRequest) Expand(expand []string) ApiGroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyRequest {
	r.expand = &expand
	return r
}

func (r ApiGroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyRequest) Execute() (CollectionOfGroupLifecyclePolicy, *_nethttp.Response, error) {
	return r.ApiService.GroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyExecute(r)
}

/*
GroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicy Get entities from groupLifecyclePolicies

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyRequest
*/
func (a *GroupLifecyclePoliciesGroupLifecyclePolicyApiService) GroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicy(ctx _context.Context) ApiGroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyRequest {
	return ApiGroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfGroupLifecyclePolicy
func (a *GroupLifecyclePoliciesGroupLifecyclePolicyApiService) GroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyExecute(r ApiGroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicyRequest) (CollectionOfGroupLifecyclePolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfGroupLifecyclePolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupLifecyclePoliciesGroupLifecyclePolicyApiService.GroupLifecyclePoliciesGroupLifecyclePolicyListGroupLifecyclePolicy")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groupLifecyclePolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGroupLifecyclePoliciesGroupLifecyclePolicyUpdateGroupLifecyclePolicyRequest struct {
	ctx _context.Context
	ApiService *GroupLifecyclePoliciesGroupLifecyclePolicyApiService
	groupLifecyclePolicyId string
	microsoftGraphGroupLifecyclePolicy *MicrosoftGraphGroupLifecyclePolicy
}

// New property values
func (r ApiGroupLifecyclePoliciesGroupLifecyclePolicyUpdateGroupLifecyclePolicyRequest) MicrosoftGraphGroupLifecyclePolicy(microsoftGraphGroupLifecyclePolicy MicrosoftGraphGroupLifecyclePolicy) ApiGroupLifecyclePoliciesGroupLifecyclePolicyUpdateGroupLifecyclePolicyRequest {
	r.microsoftGraphGroupLifecyclePolicy = &microsoftGraphGroupLifecyclePolicy
	return r
}

func (r ApiGroupLifecyclePoliciesGroupLifecyclePolicyUpdateGroupLifecyclePolicyRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.GroupLifecyclePoliciesGroupLifecyclePolicyUpdateGroupLifecyclePolicyExecute(r)
}

/*
GroupLifecyclePoliciesGroupLifecyclePolicyUpdateGroupLifecyclePolicy Update entity in groupLifecyclePolicies

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupLifecyclePolicyId key: id of groupLifecyclePolicy
 @return ApiGroupLifecyclePoliciesGroupLifecyclePolicyUpdateGroupLifecyclePolicyRequest
*/
func (a *GroupLifecyclePoliciesGroupLifecyclePolicyApiService) GroupLifecyclePoliciesGroupLifecyclePolicyUpdateGroupLifecyclePolicy(ctx _context.Context, groupLifecyclePolicyId string) ApiGroupLifecyclePoliciesGroupLifecyclePolicyUpdateGroupLifecyclePolicyRequest {
	return ApiGroupLifecyclePoliciesGroupLifecyclePolicyUpdateGroupLifecyclePolicyRequest{
		ApiService: a,
		ctx: ctx,
		groupLifecyclePolicyId: groupLifecyclePolicyId,
	}
}

// Execute executes the request
func (a *GroupLifecyclePoliciesGroupLifecyclePolicyApiService) GroupLifecyclePoliciesGroupLifecyclePolicyUpdateGroupLifecyclePolicyExecute(r ApiGroupLifecyclePoliciesGroupLifecyclePolicyUpdateGroupLifecyclePolicyRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupLifecyclePoliciesGroupLifecyclePolicyApiService.GroupLifecyclePoliciesGroupLifecyclePolicyUpdateGroupLifecyclePolicy")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groupLifecyclePolicies/{groupLifecyclePolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"groupLifecyclePolicy-id"+"}", _neturl.PathEscape(parameterToString(r.groupLifecyclePolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphGroupLifecyclePolicy == nil {
		return nil, reportError("microsoftGraphGroupLifecyclePolicy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphGroupLifecyclePolicy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
