/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// DomainDnsRecordsDomainDnsRecordApiService DomainDnsRecordsDomainDnsRecordApi service
type DomainDnsRecordsDomainDnsRecordApiService service

type ApiDomainDnsRecordsDomainDnsRecordCreateDomainDnsRecordRequest struct {
	ctx _context.Context
	ApiService *DomainDnsRecordsDomainDnsRecordApiService
	microsoftGraphDomainDnsRecord *MicrosoftGraphDomainDnsRecord
}

// New entity
func (r ApiDomainDnsRecordsDomainDnsRecordCreateDomainDnsRecordRequest) MicrosoftGraphDomainDnsRecord(microsoftGraphDomainDnsRecord MicrosoftGraphDomainDnsRecord) ApiDomainDnsRecordsDomainDnsRecordCreateDomainDnsRecordRequest {
	r.microsoftGraphDomainDnsRecord = &microsoftGraphDomainDnsRecord
	return r
}

func (r ApiDomainDnsRecordsDomainDnsRecordCreateDomainDnsRecordRequest) Execute() (MicrosoftGraphDomainDnsRecord, *_nethttp.Response, error) {
	return r.ApiService.DomainDnsRecordsDomainDnsRecordCreateDomainDnsRecordExecute(r)
}

/*
DomainDnsRecordsDomainDnsRecordCreateDomainDnsRecord Add new entity to domainDnsRecords

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDomainDnsRecordsDomainDnsRecordCreateDomainDnsRecordRequest
*/
func (a *DomainDnsRecordsDomainDnsRecordApiService) DomainDnsRecordsDomainDnsRecordCreateDomainDnsRecord(ctx _context.Context) ApiDomainDnsRecordsDomainDnsRecordCreateDomainDnsRecordRequest {
	return ApiDomainDnsRecordsDomainDnsRecordCreateDomainDnsRecordRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphDomainDnsRecord
func (a *DomainDnsRecordsDomainDnsRecordApiService) DomainDnsRecordsDomainDnsRecordCreateDomainDnsRecordExecute(r ApiDomainDnsRecordsDomainDnsRecordCreateDomainDnsRecordRequest) (MicrosoftGraphDomainDnsRecord, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphDomainDnsRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DomainDnsRecordsDomainDnsRecordApiService.DomainDnsRecordsDomainDnsRecordCreateDomainDnsRecord")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/domainDnsRecords"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphDomainDnsRecord == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphDomainDnsRecord is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphDomainDnsRecord
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDomainDnsRecordsDomainDnsRecordDeleteDomainDnsRecordRequest struct {
	ctx _context.Context
	ApiService *DomainDnsRecordsDomainDnsRecordApiService
	domainDnsRecordId string
	ifMatch *string
}

// ETag
func (r ApiDomainDnsRecordsDomainDnsRecordDeleteDomainDnsRecordRequest) IfMatch(ifMatch string) ApiDomainDnsRecordsDomainDnsRecordDeleteDomainDnsRecordRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiDomainDnsRecordsDomainDnsRecordDeleteDomainDnsRecordRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DomainDnsRecordsDomainDnsRecordDeleteDomainDnsRecordExecute(r)
}

/*
DomainDnsRecordsDomainDnsRecordDeleteDomainDnsRecord Delete entity from domainDnsRecords

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param domainDnsRecordId key: id of domainDnsRecord
 @return ApiDomainDnsRecordsDomainDnsRecordDeleteDomainDnsRecordRequest
*/
func (a *DomainDnsRecordsDomainDnsRecordApiService) DomainDnsRecordsDomainDnsRecordDeleteDomainDnsRecord(ctx _context.Context, domainDnsRecordId string) ApiDomainDnsRecordsDomainDnsRecordDeleteDomainDnsRecordRequest {
	return ApiDomainDnsRecordsDomainDnsRecordDeleteDomainDnsRecordRequest{
		ApiService: a,
		ctx: ctx,
		domainDnsRecordId: domainDnsRecordId,
	}
}

// Execute executes the request
func (a *DomainDnsRecordsDomainDnsRecordApiService) DomainDnsRecordsDomainDnsRecordDeleteDomainDnsRecordExecute(r ApiDomainDnsRecordsDomainDnsRecordDeleteDomainDnsRecordRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DomainDnsRecordsDomainDnsRecordApiService.DomainDnsRecordsDomainDnsRecordDeleteDomainDnsRecord")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/domainDnsRecords/{domainDnsRecord-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"domainDnsRecord-id"+"}", _neturl.PathEscape(parameterToString(r.domainDnsRecordId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDomainDnsRecordsDomainDnsRecordGetDomainDnsRecordRequest struct {
	ctx _context.Context
	ApiService *DomainDnsRecordsDomainDnsRecordApiService
	domainDnsRecordId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiDomainDnsRecordsDomainDnsRecordGetDomainDnsRecordRequest) Select_(select_ []string) ApiDomainDnsRecordsDomainDnsRecordGetDomainDnsRecordRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDomainDnsRecordsDomainDnsRecordGetDomainDnsRecordRequest) Expand(expand []string) ApiDomainDnsRecordsDomainDnsRecordGetDomainDnsRecordRequest {
	r.expand = &expand
	return r
}

func (r ApiDomainDnsRecordsDomainDnsRecordGetDomainDnsRecordRequest) Execute() (MicrosoftGraphDomainDnsRecord, *_nethttp.Response, error) {
	return r.ApiService.DomainDnsRecordsDomainDnsRecordGetDomainDnsRecordExecute(r)
}

/*
DomainDnsRecordsDomainDnsRecordGetDomainDnsRecord Get entity from domainDnsRecords by key

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param domainDnsRecordId key: id of domainDnsRecord
 @return ApiDomainDnsRecordsDomainDnsRecordGetDomainDnsRecordRequest
*/
func (a *DomainDnsRecordsDomainDnsRecordApiService) DomainDnsRecordsDomainDnsRecordGetDomainDnsRecord(ctx _context.Context, domainDnsRecordId string) ApiDomainDnsRecordsDomainDnsRecordGetDomainDnsRecordRequest {
	return ApiDomainDnsRecordsDomainDnsRecordGetDomainDnsRecordRequest{
		ApiService: a,
		ctx: ctx,
		domainDnsRecordId: domainDnsRecordId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphDomainDnsRecord
func (a *DomainDnsRecordsDomainDnsRecordApiService) DomainDnsRecordsDomainDnsRecordGetDomainDnsRecordExecute(r ApiDomainDnsRecordsDomainDnsRecordGetDomainDnsRecordRequest) (MicrosoftGraphDomainDnsRecord, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphDomainDnsRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DomainDnsRecordsDomainDnsRecordApiService.DomainDnsRecordsDomainDnsRecordGetDomainDnsRecord")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/domainDnsRecords/{domainDnsRecord-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"domainDnsRecord-id"+"}", _neturl.PathEscape(parameterToString(r.domainDnsRecordId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDomainDnsRecordsDomainDnsRecordListDomainDnsRecordRequest struct {
	ctx _context.Context
	ApiService *DomainDnsRecordsDomainDnsRecordApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiDomainDnsRecordsDomainDnsRecordListDomainDnsRecordRequest) Top(top int32) ApiDomainDnsRecordsDomainDnsRecordListDomainDnsRecordRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiDomainDnsRecordsDomainDnsRecordListDomainDnsRecordRequest) Skip(skip int32) ApiDomainDnsRecordsDomainDnsRecordListDomainDnsRecordRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiDomainDnsRecordsDomainDnsRecordListDomainDnsRecordRequest) Search(search string) ApiDomainDnsRecordsDomainDnsRecordListDomainDnsRecordRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiDomainDnsRecordsDomainDnsRecordListDomainDnsRecordRequest) Filter(filter string) ApiDomainDnsRecordsDomainDnsRecordListDomainDnsRecordRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiDomainDnsRecordsDomainDnsRecordListDomainDnsRecordRequest) Count(count bool) ApiDomainDnsRecordsDomainDnsRecordListDomainDnsRecordRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiDomainDnsRecordsDomainDnsRecordListDomainDnsRecordRequest) Orderby(orderby []string) ApiDomainDnsRecordsDomainDnsRecordListDomainDnsRecordRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiDomainDnsRecordsDomainDnsRecordListDomainDnsRecordRequest) Select_(select_ []string) ApiDomainDnsRecordsDomainDnsRecordListDomainDnsRecordRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDomainDnsRecordsDomainDnsRecordListDomainDnsRecordRequest) Expand(expand []string) ApiDomainDnsRecordsDomainDnsRecordListDomainDnsRecordRequest {
	r.expand = &expand
	return r
}

func (r ApiDomainDnsRecordsDomainDnsRecordListDomainDnsRecordRequest) Execute() (CollectionOfDomainDnsRecord, *_nethttp.Response, error) {
	return r.ApiService.DomainDnsRecordsDomainDnsRecordListDomainDnsRecordExecute(r)
}

/*
DomainDnsRecordsDomainDnsRecordListDomainDnsRecord Get entities from domainDnsRecords

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDomainDnsRecordsDomainDnsRecordListDomainDnsRecordRequest
*/
func (a *DomainDnsRecordsDomainDnsRecordApiService) DomainDnsRecordsDomainDnsRecordListDomainDnsRecord(ctx _context.Context) ApiDomainDnsRecordsDomainDnsRecordListDomainDnsRecordRequest {
	return ApiDomainDnsRecordsDomainDnsRecordListDomainDnsRecordRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfDomainDnsRecord
func (a *DomainDnsRecordsDomainDnsRecordApiService) DomainDnsRecordsDomainDnsRecordListDomainDnsRecordExecute(r ApiDomainDnsRecordsDomainDnsRecordListDomainDnsRecordRequest) (CollectionOfDomainDnsRecord, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfDomainDnsRecord
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DomainDnsRecordsDomainDnsRecordApiService.DomainDnsRecordsDomainDnsRecordListDomainDnsRecord")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/domainDnsRecords"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDomainDnsRecordsDomainDnsRecordUpdateDomainDnsRecordRequest struct {
	ctx _context.Context
	ApiService *DomainDnsRecordsDomainDnsRecordApiService
	domainDnsRecordId string
	microsoftGraphDomainDnsRecord *MicrosoftGraphDomainDnsRecord
}

// New property values
func (r ApiDomainDnsRecordsDomainDnsRecordUpdateDomainDnsRecordRequest) MicrosoftGraphDomainDnsRecord(microsoftGraphDomainDnsRecord MicrosoftGraphDomainDnsRecord) ApiDomainDnsRecordsDomainDnsRecordUpdateDomainDnsRecordRequest {
	r.microsoftGraphDomainDnsRecord = &microsoftGraphDomainDnsRecord
	return r
}

func (r ApiDomainDnsRecordsDomainDnsRecordUpdateDomainDnsRecordRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DomainDnsRecordsDomainDnsRecordUpdateDomainDnsRecordExecute(r)
}

/*
DomainDnsRecordsDomainDnsRecordUpdateDomainDnsRecord Update entity in domainDnsRecords

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param domainDnsRecordId key: id of domainDnsRecord
 @return ApiDomainDnsRecordsDomainDnsRecordUpdateDomainDnsRecordRequest
*/
func (a *DomainDnsRecordsDomainDnsRecordApiService) DomainDnsRecordsDomainDnsRecordUpdateDomainDnsRecord(ctx _context.Context, domainDnsRecordId string) ApiDomainDnsRecordsDomainDnsRecordUpdateDomainDnsRecordRequest {
	return ApiDomainDnsRecordsDomainDnsRecordUpdateDomainDnsRecordRequest{
		ApiService: a,
		ctx: ctx,
		domainDnsRecordId: domainDnsRecordId,
	}
}

// Execute executes the request
func (a *DomainDnsRecordsDomainDnsRecordApiService) DomainDnsRecordsDomainDnsRecordUpdateDomainDnsRecordExecute(r ApiDomainDnsRecordsDomainDnsRecordUpdateDomainDnsRecordRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DomainDnsRecordsDomainDnsRecordApiService.DomainDnsRecordsDomainDnsRecordUpdateDomainDnsRecord")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/domainDnsRecords/{domainDnsRecord-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"domainDnsRecord-id"+"}", _neturl.PathEscape(parameterToString(r.domainDnsRecordId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphDomainDnsRecord == nil {
		return nil, reportError("microsoftGraphDomainDnsRecord is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphDomainDnsRecord
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
