/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// DeviceManagementResourceOperationApiService DeviceManagementResourceOperationApi service
type DeviceManagementResourceOperationApiService service

type ApiDeviceManagementCreateResourceOperationsRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementResourceOperationApiService
	microsoftGraphResourceOperation *MicrosoftGraphResourceOperation
}

// New navigation property
func (r ApiDeviceManagementCreateResourceOperationsRequest) MicrosoftGraphResourceOperation(microsoftGraphResourceOperation MicrosoftGraphResourceOperation) ApiDeviceManagementCreateResourceOperationsRequest {
	r.microsoftGraphResourceOperation = &microsoftGraphResourceOperation
	return r
}

func (r ApiDeviceManagementCreateResourceOperationsRequest) Execute() (MicrosoftGraphResourceOperation, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementCreateResourceOperationsExecute(r)
}

/*
DeviceManagementCreateResourceOperations Create new navigation property to resourceOperations for deviceManagement

The Resource Operations.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceManagementCreateResourceOperationsRequest
*/
func (a *DeviceManagementResourceOperationApiService) DeviceManagementCreateResourceOperations(ctx _context.Context) ApiDeviceManagementCreateResourceOperationsRequest {
	return ApiDeviceManagementCreateResourceOperationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphResourceOperation
func (a *DeviceManagementResourceOperationApiService) DeviceManagementCreateResourceOperationsExecute(r ApiDeviceManagementCreateResourceOperationsRequest) (MicrosoftGraphResourceOperation, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphResourceOperation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementResourceOperationApiService.DeviceManagementCreateResourceOperations")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/resourceOperations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphResourceOperation == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphResourceOperation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphResourceOperation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementDeleteResourceOperationsRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementResourceOperationApiService
	resourceOperationId string
	ifMatch *string
}

// ETag
func (r ApiDeviceManagementDeleteResourceOperationsRequest) IfMatch(ifMatch string) ApiDeviceManagementDeleteResourceOperationsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiDeviceManagementDeleteResourceOperationsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceManagementDeleteResourceOperationsExecute(r)
}

/*
DeviceManagementDeleteResourceOperations Delete navigation property resourceOperations for deviceManagement

The Resource Operations.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param resourceOperationId key: id of resourceOperation
 @return ApiDeviceManagementDeleteResourceOperationsRequest
*/
func (a *DeviceManagementResourceOperationApiService) DeviceManagementDeleteResourceOperations(ctx _context.Context, resourceOperationId string) ApiDeviceManagementDeleteResourceOperationsRequest {
	return ApiDeviceManagementDeleteResourceOperationsRequest{
		ApiService: a,
		ctx: ctx,
		resourceOperationId: resourceOperationId,
	}
}

// Execute executes the request
func (a *DeviceManagementResourceOperationApiService) DeviceManagementDeleteResourceOperationsExecute(r ApiDeviceManagementDeleteResourceOperationsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementResourceOperationApiService.DeviceManagementDeleteResourceOperations")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/resourceOperations/{resourceOperation-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"resourceOperation-id"+"}", _neturl.PathEscape(parameterToString(r.resourceOperationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeviceManagementGetResourceOperationsRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementResourceOperationApiService
	resourceOperationId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiDeviceManagementGetResourceOperationsRequest) Select_(select_ []string) ApiDeviceManagementGetResourceOperationsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceManagementGetResourceOperationsRequest) Expand(expand []string) ApiDeviceManagementGetResourceOperationsRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceManagementGetResourceOperationsRequest) Execute() (MicrosoftGraphResourceOperation, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementGetResourceOperationsExecute(r)
}

/*
DeviceManagementGetResourceOperations Get resourceOperations from deviceManagement

The Resource Operations.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param resourceOperationId key: id of resourceOperation
 @return ApiDeviceManagementGetResourceOperationsRequest
*/
func (a *DeviceManagementResourceOperationApiService) DeviceManagementGetResourceOperations(ctx _context.Context, resourceOperationId string) ApiDeviceManagementGetResourceOperationsRequest {
	return ApiDeviceManagementGetResourceOperationsRequest{
		ApiService: a,
		ctx: ctx,
		resourceOperationId: resourceOperationId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphResourceOperation
func (a *DeviceManagementResourceOperationApiService) DeviceManagementGetResourceOperationsExecute(r ApiDeviceManagementGetResourceOperationsRequest) (MicrosoftGraphResourceOperation, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphResourceOperation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementResourceOperationApiService.DeviceManagementGetResourceOperations")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/resourceOperations/{resourceOperation-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"resourceOperation-id"+"}", _neturl.PathEscape(parameterToString(r.resourceOperationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementListResourceOperationsRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementResourceOperationApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiDeviceManagementListResourceOperationsRequest) Top(top int32) ApiDeviceManagementListResourceOperationsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiDeviceManagementListResourceOperationsRequest) Skip(skip int32) ApiDeviceManagementListResourceOperationsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiDeviceManagementListResourceOperationsRequest) Search(search string) ApiDeviceManagementListResourceOperationsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiDeviceManagementListResourceOperationsRequest) Filter(filter string) ApiDeviceManagementListResourceOperationsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiDeviceManagementListResourceOperationsRequest) Count(count bool) ApiDeviceManagementListResourceOperationsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiDeviceManagementListResourceOperationsRequest) Orderby(orderby []string) ApiDeviceManagementListResourceOperationsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiDeviceManagementListResourceOperationsRequest) Select_(select_ []string) ApiDeviceManagementListResourceOperationsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceManagementListResourceOperationsRequest) Expand(expand []string) ApiDeviceManagementListResourceOperationsRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceManagementListResourceOperationsRequest) Execute() (CollectionOfResourceOperation, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementListResourceOperationsExecute(r)
}

/*
DeviceManagementListResourceOperations Get resourceOperations from deviceManagement

The Resource Operations.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceManagementListResourceOperationsRequest
*/
func (a *DeviceManagementResourceOperationApiService) DeviceManagementListResourceOperations(ctx _context.Context) ApiDeviceManagementListResourceOperationsRequest {
	return ApiDeviceManagementListResourceOperationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfResourceOperation
func (a *DeviceManagementResourceOperationApiService) DeviceManagementListResourceOperationsExecute(r ApiDeviceManagementListResourceOperationsRequest) (CollectionOfResourceOperation, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfResourceOperation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementResourceOperationApiService.DeviceManagementListResourceOperations")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/resourceOperations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementUpdateResourceOperationsRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementResourceOperationApiService
	resourceOperationId string
	microsoftGraphResourceOperation *MicrosoftGraphResourceOperation
}

// New navigation property values
func (r ApiDeviceManagementUpdateResourceOperationsRequest) MicrosoftGraphResourceOperation(microsoftGraphResourceOperation MicrosoftGraphResourceOperation) ApiDeviceManagementUpdateResourceOperationsRequest {
	r.microsoftGraphResourceOperation = &microsoftGraphResourceOperation
	return r
}

func (r ApiDeviceManagementUpdateResourceOperationsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceManagementUpdateResourceOperationsExecute(r)
}

/*
DeviceManagementUpdateResourceOperations Update the navigation property resourceOperations in deviceManagement

The Resource Operations.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param resourceOperationId key: id of resourceOperation
 @return ApiDeviceManagementUpdateResourceOperationsRequest
*/
func (a *DeviceManagementResourceOperationApiService) DeviceManagementUpdateResourceOperations(ctx _context.Context, resourceOperationId string) ApiDeviceManagementUpdateResourceOperationsRequest {
	return ApiDeviceManagementUpdateResourceOperationsRequest{
		ApiService: a,
		ctx: ctx,
		resourceOperationId: resourceOperationId,
	}
}

// Execute executes the request
func (a *DeviceManagementResourceOperationApiService) DeviceManagementUpdateResourceOperationsExecute(r ApiDeviceManagementUpdateResourceOperationsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementResourceOperationApiService.DeviceManagementUpdateResourceOperations")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/resourceOperations/{resourceOperation-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"resourceOperation-id"+"}", _neturl.PathEscape(parameterToString(r.resourceOperationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphResourceOperation == nil {
		return nil, reportError("microsoftGraphResourceOperation is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphResourceOperation
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
