/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// AuditLogsDirectoryAuditApiService AuditLogsDirectoryAuditApi service
type AuditLogsDirectoryAuditApiService service

type ApiAuditLogsCreateDirectoryAuditsRequest struct {
	ctx _context.Context
	ApiService *AuditLogsDirectoryAuditApiService
	microsoftGraphDirectoryAudit *MicrosoftGraphDirectoryAudit
}

// New navigation property
func (r ApiAuditLogsCreateDirectoryAuditsRequest) MicrosoftGraphDirectoryAudit(microsoftGraphDirectoryAudit MicrosoftGraphDirectoryAudit) ApiAuditLogsCreateDirectoryAuditsRequest {
	r.microsoftGraphDirectoryAudit = &microsoftGraphDirectoryAudit
	return r
}

func (r ApiAuditLogsCreateDirectoryAuditsRequest) Execute() (MicrosoftGraphDirectoryAudit, *_nethttp.Response, error) {
	return r.ApiService.AuditLogsCreateDirectoryAuditsExecute(r)
}

/*
AuditLogsCreateDirectoryAudits Create new navigation property to directoryAudits for auditLogs

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAuditLogsCreateDirectoryAuditsRequest
*/
func (a *AuditLogsDirectoryAuditApiService) AuditLogsCreateDirectoryAudits(ctx _context.Context) ApiAuditLogsCreateDirectoryAuditsRequest {
	return ApiAuditLogsCreateDirectoryAuditsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphDirectoryAudit
func (a *AuditLogsDirectoryAuditApiService) AuditLogsCreateDirectoryAuditsExecute(r ApiAuditLogsCreateDirectoryAuditsRequest) (MicrosoftGraphDirectoryAudit, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphDirectoryAudit
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditLogsDirectoryAuditApiService.AuditLogsCreateDirectoryAudits")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/auditLogs/directoryAudits"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphDirectoryAudit == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphDirectoryAudit is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphDirectoryAudit
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAuditLogsDeleteDirectoryAuditsRequest struct {
	ctx _context.Context
	ApiService *AuditLogsDirectoryAuditApiService
	directoryAuditId string
	ifMatch *string
}

// ETag
func (r ApiAuditLogsDeleteDirectoryAuditsRequest) IfMatch(ifMatch string) ApiAuditLogsDeleteDirectoryAuditsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiAuditLogsDeleteDirectoryAuditsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.AuditLogsDeleteDirectoryAuditsExecute(r)
}

/*
AuditLogsDeleteDirectoryAudits Delete navigation property directoryAudits for auditLogs

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param directoryAuditId key: id of directoryAudit
 @return ApiAuditLogsDeleteDirectoryAuditsRequest
*/
func (a *AuditLogsDirectoryAuditApiService) AuditLogsDeleteDirectoryAudits(ctx _context.Context, directoryAuditId string) ApiAuditLogsDeleteDirectoryAuditsRequest {
	return ApiAuditLogsDeleteDirectoryAuditsRequest{
		ApiService: a,
		ctx: ctx,
		directoryAuditId: directoryAuditId,
	}
}

// Execute executes the request
func (a *AuditLogsDirectoryAuditApiService) AuditLogsDeleteDirectoryAuditsExecute(r ApiAuditLogsDeleteDirectoryAuditsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditLogsDirectoryAuditApiService.AuditLogsDeleteDirectoryAudits")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/auditLogs/directoryAudits/{directoryAudit-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"directoryAudit-id"+"}", _neturl.PathEscape(parameterToString(r.directoryAuditId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiAuditLogsGetDirectoryAuditsRequest struct {
	ctx _context.Context
	ApiService *AuditLogsDirectoryAuditApiService
	directoryAuditId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiAuditLogsGetDirectoryAuditsRequest) Select_(select_ []string) ApiAuditLogsGetDirectoryAuditsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiAuditLogsGetDirectoryAuditsRequest) Expand(expand []string) ApiAuditLogsGetDirectoryAuditsRequest {
	r.expand = &expand
	return r
}

func (r ApiAuditLogsGetDirectoryAuditsRequest) Execute() (MicrosoftGraphDirectoryAudit, *_nethttp.Response, error) {
	return r.ApiService.AuditLogsGetDirectoryAuditsExecute(r)
}

/*
AuditLogsGetDirectoryAudits Get directoryAudits from auditLogs

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param directoryAuditId key: id of directoryAudit
 @return ApiAuditLogsGetDirectoryAuditsRequest
*/
func (a *AuditLogsDirectoryAuditApiService) AuditLogsGetDirectoryAudits(ctx _context.Context, directoryAuditId string) ApiAuditLogsGetDirectoryAuditsRequest {
	return ApiAuditLogsGetDirectoryAuditsRequest{
		ApiService: a,
		ctx: ctx,
		directoryAuditId: directoryAuditId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphDirectoryAudit
func (a *AuditLogsDirectoryAuditApiService) AuditLogsGetDirectoryAuditsExecute(r ApiAuditLogsGetDirectoryAuditsRequest) (MicrosoftGraphDirectoryAudit, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphDirectoryAudit
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditLogsDirectoryAuditApiService.AuditLogsGetDirectoryAudits")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/auditLogs/directoryAudits/{directoryAudit-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"directoryAudit-id"+"}", _neturl.PathEscape(parameterToString(r.directoryAuditId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAuditLogsListDirectoryAuditsRequest struct {
	ctx _context.Context
	ApiService *AuditLogsDirectoryAuditApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiAuditLogsListDirectoryAuditsRequest) Top(top int32) ApiAuditLogsListDirectoryAuditsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiAuditLogsListDirectoryAuditsRequest) Skip(skip int32) ApiAuditLogsListDirectoryAuditsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiAuditLogsListDirectoryAuditsRequest) Search(search string) ApiAuditLogsListDirectoryAuditsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiAuditLogsListDirectoryAuditsRequest) Filter(filter string) ApiAuditLogsListDirectoryAuditsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiAuditLogsListDirectoryAuditsRequest) Count(count bool) ApiAuditLogsListDirectoryAuditsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiAuditLogsListDirectoryAuditsRequest) Orderby(orderby []string) ApiAuditLogsListDirectoryAuditsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiAuditLogsListDirectoryAuditsRequest) Select_(select_ []string) ApiAuditLogsListDirectoryAuditsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiAuditLogsListDirectoryAuditsRequest) Expand(expand []string) ApiAuditLogsListDirectoryAuditsRequest {
	r.expand = &expand
	return r
}

func (r ApiAuditLogsListDirectoryAuditsRequest) Execute() (CollectionOfDirectoryAudit, *_nethttp.Response, error) {
	return r.ApiService.AuditLogsListDirectoryAuditsExecute(r)
}

/*
AuditLogsListDirectoryAudits Get directoryAudits from auditLogs

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAuditLogsListDirectoryAuditsRequest
*/
func (a *AuditLogsDirectoryAuditApiService) AuditLogsListDirectoryAudits(ctx _context.Context) ApiAuditLogsListDirectoryAuditsRequest {
	return ApiAuditLogsListDirectoryAuditsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfDirectoryAudit
func (a *AuditLogsDirectoryAuditApiService) AuditLogsListDirectoryAuditsExecute(r ApiAuditLogsListDirectoryAuditsRequest) (CollectionOfDirectoryAudit, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfDirectoryAudit
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditLogsDirectoryAuditApiService.AuditLogsListDirectoryAudits")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/auditLogs/directoryAudits"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAuditLogsUpdateDirectoryAuditsRequest struct {
	ctx _context.Context
	ApiService *AuditLogsDirectoryAuditApiService
	directoryAuditId string
	microsoftGraphDirectoryAudit *MicrosoftGraphDirectoryAudit
}

// New navigation property values
func (r ApiAuditLogsUpdateDirectoryAuditsRequest) MicrosoftGraphDirectoryAudit(microsoftGraphDirectoryAudit MicrosoftGraphDirectoryAudit) ApiAuditLogsUpdateDirectoryAuditsRequest {
	r.microsoftGraphDirectoryAudit = &microsoftGraphDirectoryAudit
	return r
}

func (r ApiAuditLogsUpdateDirectoryAuditsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.AuditLogsUpdateDirectoryAuditsExecute(r)
}

/*
AuditLogsUpdateDirectoryAudits Update the navigation property directoryAudits in auditLogs

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param directoryAuditId key: id of directoryAudit
 @return ApiAuditLogsUpdateDirectoryAuditsRequest
*/
func (a *AuditLogsDirectoryAuditApiService) AuditLogsUpdateDirectoryAudits(ctx _context.Context, directoryAuditId string) ApiAuditLogsUpdateDirectoryAuditsRequest {
	return ApiAuditLogsUpdateDirectoryAuditsRequest{
		ApiService: a,
		ctx: ctx,
		directoryAuditId: directoryAuditId,
	}
}

// Execute executes the request
func (a *AuditLogsDirectoryAuditApiService) AuditLogsUpdateDirectoryAuditsExecute(r ApiAuditLogsUpdateDirectoryAuditsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuditLogsDirectoryAuditApiService.AuditLogsUpdateDirectoryAudits")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/auditLogs/directoryAudits/{directoryAudit-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"directoryAudit-id"+"}", _neturl.PathEscape(parameterToString(r.directoryAuditId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphDirectoryAudit == nil {
		return nil, reportError("microsoftGraphDirectoryAudit is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphDirectoryAudit
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
