/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// PoliciesTokenLifetimePolicyApiService PoliciesTokenLifetimePolicyApi service
type PoliciesTokenLifetimePolicyApiService service

type ApiPoliciesCreateTokenLifetimePoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesTokenLifetimePolicyApiService
	microsoftGraphTokenLifetimePolicy *MicrosoftGraphTokenLifetimePolicy
}

// New navigation property
func (r ApiPoliciesCreateTokenLifetimePoliciesRequest) MicrosoftGraphTokenLifetimePolicy(microsoftGraphTokenLifetimePolicy MicrosoftGraphTokenLifetimePolicy) ApiPoliciesCreateTokenLifetimePoliciesRequest {
	r.microsoftGraphTokenLifetimePolicy = &microsoftGraphTokenLifetimePolicy
	return r
}

func (r ApiPoliciesCreateTokenLifetimePoliciesRequest) Execute() (MicrosoftGraphTokenLifetimePolicy, *_nethttp.Response, error) {
	return r.ApiService.PoliciesCreateTokenLifetimePoliciesExecute(r)
}

/*
PoliciesCreateTokenLifetimePolicies Create new navigation property to tokenLifetimePolicies for policies

The policy that controls the lifetime of a JWT access token, an ID token, or a SAML 1.1/2.0 token issued by Azure AD.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPoliciesCreateTokenLifetimePoliciesRequest
*/
func (a *PoliciesTokenLifetimePolicyApiService) PoliciesCreateTokenLifetimePolicies(ctx _context.Context) ApiPoliciesCreateTokenLifetimePoliciesRequest {
	return ApiPoliciesCreateTokenLifetimePoliciesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphTokenLifetimePolicy
func (a *PoliciesTokenLifetimePolicyApiService) PoliciesCreateTokenLifetimePoliciesExecute(r ApiPoliciesCreateTokenLifetimePoliciesRequest) (MicrosoftGraphTokenLifetimePolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphTokenLifetimePolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesTokenLifetimePolicyApiService.PoliciesCreateTokenLifetimePolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/tokenLifetimePolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphTokenLifetimePolicy == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphTokenLifetimePolicy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphTokenLifetimePolicy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPoliciesDeleteTokenLifetimePoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesTokenLifetimePolicyApiService
	tokenLifetimePolicyId string
	ifMatch *string
}

// ETag
func (r ApiPoliciesDeleteTokenLifetimePoliciesRequest) IfMatch(ifMatch string) ApiPoliciesDeleteTokenLifetimePoliciesRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiPoliciesDeleteTokenLifetimePoliciesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.PoliciesDeleteTokenLifetimePoliciesExecute(r)
}

/*
PoliciesDeleteTokenLifetimePolicies Delete navigation property tokenLifetimePolicies for policies

The policy that controls the lifetime of a JWT access token, an ID token, or a SAML 1.1/2.0 token issued by Azure AD.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tokenLifetimePolicyId key: id of tokenLifetimePolicy
 @return ApiPoliciesDeleteTokenLifetimePoliciesRequest
*/
func (a *PoliciesTokenLifetimePolicyApiService) PoliciesDeleteTokenLifetimePolicies(ctx _context.Context, tokenLifetimePolicyId string) ApiPoliciesDeleteTokenLifetimePoliciesRequest {
	return ApiPoliciesDeleteTokenLifetimePoliciesRequest{
		ApiService: a,
		ctx: ctx,
		tokenLifetimePolicyId: tokenLifetimePolicyId,
	}
}

// Execute executes the request
func (a *PoliciesTokenLifetimePolicyApiService) PoliciesDeleteTokenLifetimePoliciesExecute(r ApiPoliciesDeleteTokenLifetimePoliciesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesTokenLifetimePolicyApiService.PoliciesDeleteTokenLifetimePolicies")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/tokenLifetimePolicies/{tokenLifetimePolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"tokenLifetimePolicy-id"+"}", _neturl.PathEscape(parameterToString(r.tokenLifetimePolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPoliciesGetTokenLifetimePoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesTokenLifetimePolicyApiService
	tokenLifetimePolicyId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiPoliciesGetTokenLifetimePoliciesRequest) Select_(select_ []string) ApiPoliciesGetTokenLifetimePoliciesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiPoliciesGetTokenLifetimePoliciesRequest) Expand(expand []string) ApiPoliciesGetTokenLifetimePoliciesRequest {
	r.expand = &expand
	return r
}

func (r ApiPoliciesGetTokenLifetimePoliciesRequest) Execute() (MicrosoftGraphTokenLifetimePolicy, *_nethttp.Response, error) {
	return r.ApiService.PoliciesGetTokenLifetimePoliciesExecute(r)
}

/*
PoliciesGetTokenLifetimePolicies Get tokenLifetimePolicies from policies

The policy that controls the lifetime of a JWT access token, an ID token, or a SAML 1.1/2.0 token issued by Azure AD.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tokenLifetimePolicyId key: id of tokenLifetimePolicy
 @return ApiPoliciesGetTokenLifetimePoliciesRequest
*/
func (a *PoliciesTokenLifetimePolicyApiService) PoliciesGetTokenLifetimePolicies(ctx _context.Context, tokenLifetimePolicyId string) ApiPoliciesGetTokenLifetimePoliciesRequest {
	return ApiPoliciesGetTokenLifetimePoliciesRequest{
		ApiService: a,
		ctx: ctx,
		tokenLifetimePolicyId: tokenLifetimePolicyId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphTokenLifetimePolicy
func (a *PoliciesTokenLifetimePolicyApiService) PoliciesGetTokenLifetimePoliciesExecute(r ApiPoliciesGetTokenLifetimePoliciesRequest) (MicrosoftGraphTokenLifetimePolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphTokenLifetimePolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesTokenLifetimePolicyApiService.PoliciesGetTokenLifetimePolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/tokenLifetimePolicies/{tokenLifetimePolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"tokenLifetimePolicy-id"+"}", _neturl.PathEscape(parameterToString(r.tokenLifetimePolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPoliciesListTokenLifetimePoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesTokenLifetimePolicyApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiPoliciesListTokenLifetimePoliciesRequest) Top(top int32) ApiPoliciesListTokenLifetimePoliciesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiPoliciesListTokenLifetimePoliciesRequest) Skip(skip int32) ApiPoliciesListTokenLifetimePoliciesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiPoliciesListTokenLifetimePoliciesRequest) Search(search string) ApiPoliciesListTokenLifetimePoliciesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiPoliciesListTokenLifetimePoliciesRequest) Filter(filter string) ApiPoliciesListTokenLifetimePoliciesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiPoliciesListTokenLifetimePoliciesRequest) Count(count bool) ApiPoliciesListTokenLifetimePoliciesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiPoliciesListTokenLifetimePoliciesRequest) Orderby(orderby []string) ApiPoliciesListTokenLifetimePoliciesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiPoliciesListTokenLifetimePoliciesRequest) Select_(select_ []string) ApiPoliciesListTokenLifetimePoliciesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiPoliciesListTokenLifetimePoliciesRequest) Expand(expand []string) ApiPoliciesListTokenLifetimePoliciesRequest {
	r.expand = &expand
	return r
}

func (r ApiPoliciesListTokenLifetimePoliciesRequest) Execute() (CollectionOfTokenLifetimePolicy, *_nethttp.Response, error) {
	return r.ApiService.PoliciesListTokenLifetimePoliciesExecute(r)
}

/*
PoliciesListTokenLifetimePolicies Get tokenLifetimePolicies from policies

The policy that controls the lifetime of a JWT access token, an ID token, or a SAML 1.1/2.0 token issued by Azure AD.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPoliciesListTokenLifetimePoliciesRequest
*/
func (a *PoliciesTokenLifetimePolicyApiService) PoliciesListTokenLifetimePolicies(ctx _context.Context) ApiPoliciesListTokenLifetimePoliciesRequest {
	return ApiPoliciesListTokenLifetimePoliciesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfTokenLifetimePolicy
func (a *PoliciesTokenLifetimePolicyApiService) PoliciesListTokenLifetimePoliciesExecute(r ApiPoliciesListTokenLifetimePoliciesRequest) (CollectionOfTokenLifetimePolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfTokenLifetimePolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesTokenLifetimePolicyApiService.PoliciesListTokenLifetimePolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/tokenLifetimePolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPoliciesUpdateTokenLifetimePoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesTokenLifetimePolicyApiService
	tokenLifetimePolicyId string
	microsoftGraphTokenLifetimePolicy *MicrosoftGraphTokenLifetimePolicy
}

// New navigation property values
func (r ApiPoliciesUpdateTokenLifetimePoliciesRequest) MicrosoftGraphTokenLifetimePolicy(microsoftGraphTokenLifetimePolicy MicrosoftGraphTokenLifetimePolicy) ApiPoliciesUpdateTokenLifetimePoliciesRequest {
	r.microsoftGraphTokenLifetimePolicy = &microsoftGraphTokenLifetimePolicy
	return r
}

func (r ApiPoliciesUpdateTokenLifetimePoliciesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.PoliciesUpdateTokenLifetimePoliciesExecute(r)
}

/*
PoliciesUpdateTokenLifetimePolicies Update the navigation property tokenLifetimePolicies in policies

The policy that controls the lifetime of a JWT access token, an ID token, or a SAML 1.1/2.0 token issued by Azure AD.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tokenLifetimePolicyId key: id of tokenLifetimePolicy
 @return ApiPoliciesUpdateTokenLifetimePoliciesRequest
*/
func (a *PoliciesTokenLifetimePolicyApiService) PoliciesUpdateTokenLifetimePolicies(ctx _context.Context, tokenLifetimePolicyId string) ApiPoliciesUpdateTokenLifetimePoliciesRequest {
	return ApiPoliciesUpdateTokenLifetimePoliciesRequest{
		ApiService: a,
		ctx: ctx,
		tokenLifetimePolicyId: tokenLifetimePolicyId,
	}
}

// Execute executes the request
func (a *PoliciesTokenLifetimePolicyApiService) PoliciesUpdateTokenLifetimePoliciesExecute(r ApiPoliciesUpdateTokenLifetimePoliciesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesTokenLifetimePolicyApiService.PoliciesUpdateTokenLifetimePolicies")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/tokenLifetimePolicies/{tokenLifetimePolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"tokenLifetimePolicy-id"+"}", _neturl.PathEscape(parameterToString(r.tokenLifetimePolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphTokenLifetimePolicy == nil {
		return nil, reportError("microsoftGraphTokenLifetimePolicy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphTokenLifetimePolicy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
