/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// DirectoryObjectsDirectoryObjectApiService DirectoryObjectsDirectoryObjectApi service
type DirectoryObjectsDirectoryObjectApiService service

type ApiDirectoryObjectsDirectoryObjectCreateDirectoryObjectRequest struct {
	ctx _context.Context
	ApiService *DirectoryObjectsDirectoryObjectApiService
	microsoftGraphDirectoryObject *MicrosoftGraphDirectoryObject
}

// New entity
func (r ApiDirectoryObjectsDirectoryObjectCreateDirectoryObjectRequest) MicrosoftGraphDirectoryObject(microsoftGraphDirectoryObject MicrosoftGraphDirectoryObject) ApiDirectoryObjectsDirectoryObjectCreateDirectoryObjectRequest {
	r.microsoftGraphDirectoryObject = &microsoftGraphDirectoryObject
	return r
}

func (r ApiDirectoryObjectsDirectoryObjectCreateDirectoryObjectRequest) Execute() (MicrosoftGraphDirectoryObject, *_nethttp.Response, error) {
	return r.ApiService.DirectoryObjectsDirectoryObjectCreateDirectoryObjectExecute(r)
}

/*
DirectoryObjectsDirectoryObjectCreateDirectoryObject Add new entity to directoryObjects

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDirectoryObjectsDirectoryObjectCreateDirectoryObjectRequest
*/
func (a *DirectoryObjectsDirectoryObjectApiService) DirectoryObjectsDirectoryObjectCreateDirectoryObject(ctx _context.Context) ApiDirectoryObjectsDirectoryObjectCreateDirectoryObjectRequest {
	return ApiDirectoryObjectsDirectoryObjectCreateDirectoryObjectRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphDirectoryObject
func (a *DirectoryObjectsDirectoryObjectApiService) DirectoryObjectsDirectoryObjectCreateDirectoryObjectExecute(r ApiDirectoryObjectsDirectoryObjectCreateDirectoryObjectRequest) (MicrosoftGraphDirectoryObject, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphDirectoryObject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DirectoryObjectsDirectoryObjectApiService.DirectoryObjectsDirectoryObjectCreateDirectoryObject")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/directoryObjects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphDirectoryObject == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphDirectoryObject is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphDirectoryObject
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDirectoryObjectsDirectoryObjectDeleteDirectoryObjectRequest struct {
	ctx _context.Context
	ApiService *DirectoryObjectsDirectoryObjectApiService
	directoryObjectId string
	ifMatch *string
}

// ETag
func (r ApiDirectoryObjectsDirectoryObjectDeleteDirectoryObjectRequest) IfMatch(ifMatch string) ApiDirectoryObjectsDirectoryObjectDeleteDirectoryObjectRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiDirectoryObjectsDirectoryObjectDeleteDirectoryObjectRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DirectoryObjectsDirectoryObjectDeleteDirectoryObjectExecute(r)
}

/*
DirectoryObjectsDirectoryObjectDeleteDirectoryObject Delete entity from directoryObjects

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param directoryObjectId key: id of directoryObject
 @return ApiDirectoryObjectsDirectoryObjectDeleteDirectoryObjectRequest
*/
func (a *DirectoryObjectsDirectoryObjectApiService) DirectoryObjectsDirectoryObjectDeleteDirectoryObject(ctx _context.Context, directoryObjectId string) ApiDirectoryObjectsDirectoryObjectDeleteDirectoryObjectRequest {
	return ApiDirectoryObjectsDirectoryObjectDeleteDirectoryObjectRequest{
		ApiService: a,
		ctx: ctx,
		directoryObjectId: directoryObjectId,
	}
}

// Execute executes the request
func (a *DirectoryObjectsDirectoryObjectApiService) DirectoryObjectsDirectoryObjectDeleteDirectoryObjectExecute(r ApiDirectoryObjectsDirectoryObjectDeleteDirectoryObjectRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DirectoryObjectsDirectoryObjectApiService.DirectoryObjectsDirectoryObjectDeleteDirectoryObject")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/directoryObjects/{directoryObject-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"directoryObject-id"+"}", _neturl.PathEscape(parameterToString(r.directoryObjectId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDirectoryObjectsDirectoryObjectGetDirectoryObjectRequest struct {
	ctx _context.Context
	ApiService *DirectoryObjectsDirectoryObjectApiService
	directoryObjectId string
	consistencyLevel *string
	select_ *[]string
	expand *[]string
}

// Indicates the requested consistency level. Documentation URL: https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-advanced-queries-for-directory-objects-are-now-generally-available/
func (r ApiDirectoryObjectsDirectoryObjectGetDirectoryObjectRequest) ConsistencyLevel(consistencyLevel string) ApiDirectoryObjectsDirectoryObjectGetDirectoryObjectRequest {
	r.consistencyLevel = &consistencyLevel
	return r
}
// Select properties to be returned
func (r ApiDirectoryObjectsDirectoryObjectGetDirectoryObjectRequest) Select_(select_ []string) ApiDirectoryObjectsDirectoryObjectGetDirectoryObjectRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDirectoryObjectsDirectoryObjectGetDirectoryObjectRequest) Expand(expand []string) ApiDirectoryObjectsDirectoryObjectGetDirectoryObjectRequest {
	r.expand = &expand
	return r
}

func (r ApiDirectoryObjectsDirectoryObjectGetDirectoryObjectRequest) Execute() (MicrosoftGraphDirectoryObject, *_nethttp.Response, error) {
	return r.ApiService.DirectoryObjectsDirectoryObjectGetDirectoryObjectExecute(r)
}

/*
DirectoryObjectsDirectoryObjectGetDirectoryObject Get entity from directoryObjects by key

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param directoryObjectId key: id of directoryObject
 @return ApiDirectoryObjectsDirectoryObjectGetDirectoryObjectRequest
*/
func (a *DirectoryObjectsDirectoryObjectApiService) DirectoryObjectsDirectoryObjectGetDirectoryObject(ctx _context.Context, directoryObjectId string) ApiDirectoryObjectsDirectoryObjectGetDirectoryObjectRequest {
	return ApiDirectoryObjectsDirectoryObjectGetDirectoryObjectRequest{
		ApiService: a,
		ctx: ctx,
		directoryObjectId: directoryObjectId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphDirectoryObject
func (a *DirectoryObjectsDirectoryObjectApiService) DirectoryObjectsDirectoryObjectGetDirectoryObjectExecute(r ApiDirectoryObjectsDirectoryObjectGetDirectoryObjectRequest) (MicrosoftGraphDirectoryObject, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphDirectoryObject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DirectoryObjectsDirectoryObjectApiService.DirectoryObjectsDirectoryObjectGetDirectoryObject")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/directoryObjects/{directoryObject-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"directoryObject-id"+"}", _neturl.PathEscape(parameterToString(r.directoryObjectId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.consistencyLevel != nil {
		localVarHeaderParams["ConsistencyLevel"] = parameterToString(*r.consistencyLevel, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest struct {
	ctx _context.Context
	ApiService *DirectoryObjectsDirectoryObjectApiService
	consistencyLevel *string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Indicates the requested consistency level. Documentation URL: https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-advanced-queries-for-directory-objects-are-now-generally-available/
func (r ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest) ConsistencyLevel(consistencyLevel string) ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest {
	r.consistencyLevel = &consistencyLevel
	return r
}
// Show only the first n items
func (r ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest) Top(top int32) ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest) Skip(skip int32) ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest) Search(search string) ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest) Filter(filter string) ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest) Count(count bool) ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest) Orderby(orderby []string) ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest) Select_(select_ []string) ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest) Expand(expand []string) ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest {
	r.expand = &expand
	return r
}

func (r ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest) Execute() (CollectionOfDirectoryObject, *_nethttp.Response, error) {
	return r.ApiService.DirectoryObjectsDirectoryObjectListDirectoryObjectExecute(r)
}

/*
DirectoryObjectsDirectoryObjectListDirectoryObject Get entities from directoryObjects

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest
*/
func (a *DirectoryObjectsDirectoryObjectApiService) DirectoryObjectsDirectoryObjectListDirectoryObject(ctx _context.Context) ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest {
	return ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfDirectoryObject
func (a *DirectoryObjectsDirectoryObjectApiService) DirectoryObjectsDirectoryObjectListDirectoryObjectExecute(r ApiDirectoryObjectsDirectoryObjectListDirectoryObjectRequest) (CollectionOfDirectoryObject, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfDirectoryObject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DirectoryObjectsDirectoryObjectApiService.DirectoryObjectsDirectoryObjectListDirectoryObject")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/directoryObjects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.consistencyLevel != nil {
		localVarHeaderParams["ConsistencyLevel"] = parameterToString(*r.consistencyLevel, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDirectoryObjectsDirectoryObjectUpdateDirectoryObjectRequest struct {
	ctx _context.Context
	ApiService *DirectoryObjectsDirectoryObjectApiService
	directoryObjectId string
	microsoftGraphDirectoryObject *MicrosoftGraphDirectoryObject
}

// New property values
func (r ApiDirectoryObjectsDirectoryObjectUpdateDirectoryObjectRequest) MicrosoftGraphDirectoryObject(microsoftGraphDirectoryObject MicrosoftGraphDirectoryObject) ApiDirectoryObjectsDirectoryObjectUpdateDirectoryObjectRequest {
	r.microsoftGraphDirectoryObject = &microsoftGraphDirectoryObject
	return r
}

func (r ApiDirectoryObjectsDirectoryObjectUpdateDirectoryObjectRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DirectoryObjectsDirectoryObjectUpdateDirectoryObjectExecute(r)
}

/*
DirectoryObjectsDirectoryObjectUpdateDirectoryObject Update entity in directoryObjects

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param directoryObjectId key: id of directoryObject
 @return ApiDirectoryObjectsDirectoryObjectUpdateDirectoryObjectRequest
*/
func (a *DirectoryObjectsDirectoryObjectApiService) DirectoryObjectsDirectoryObjectUpdateDirectoryObject(ctx _context.Context, directoryObjectId string) ApiDirectoryObjectsDirectoryObjectUpdateDirectoryObjectRequest {
	return ApiDirectoryObjectsDirectoryObjectUpdateDirectoryObjectRequest{
		ApiService: a,
		ctx: ctx,
		directoryObjectId: directoryObjectId,
	}
}

// Execute executes the request
func (a *DirectoryObjectsDirectoryObjectApiService) DirectoryObjectsDirectoryObjectUpdateDirectoryObjectExecute(r ApiDirectoryObjectsDirectoryObjectUpdateDirectoryObjectRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DirectoryObjectsDirectoryObjectApiService.DirectoryObjectsDirectoryObjectUpdateDirectoryObject")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/directoryObjects/{directoryObject-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"directoryObject-id"+"}", _neturl.PathEscape(parameterToString(r.directoryObjectId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphDirectoryObject == nil {
		return nil, reportError("microsoftGraphDirectoryObject is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphDirectoryObject
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
