/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// UsersDeviceManagementTroubleshootingEventApiService UsersDeviceManagementTroubleshootingEventApi service
type UsersDeviceManagementTroubleshootingEventApiService service

type ApiUsersCreateDeviceManagementTroubleshootingEventsRequest struct {
	ctx _context.Context
	ApiService *UsersDeviceManagementTroubleshootingEventApiService
	userId string
	microsoftGraphDeviceManagementTroubleshootingEvent *MicrosoftGraphDeviceManagementTroubleshootingEvent
}

// New navigation property
func (r ApiUsersCreateDeviceManagementTroubleshootingEventsRequest) MicrosoftGraphDeviceManagementTroubleshootingEvent(microsoftGraphDeviceManagementTroubleshootingEvent MicrosoftGraphDeviceManagementTroubleshootingEvent) ApiUsersCreateDeviceManagementTroubleshootingEventsRequest {
	r.microsoftGraphDeviceManagementTroubleshootingEvent = &microsoftGraphDeviceManagementTroubleshootingEvent
	return r
}

func (r ApiUsersCreateDeviceManagementTroubleshootingEventsRequest) Execute() (MicrosoftGraphDeviceManagementTroubleshootingEvent, *_nethttp.Response, error) {
	return r.ApiService.UsersCreateDeviceManagementTroubleshootingEventsExecute(r)
}

/*
UsersCreateDeviceManagementTroubleshootingEvents Create new navigation property to deviceManagementTroubleshootingEvents for users

The list of troubleshooting events for this user.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userId key: id of user
 @return ApiUsersCreateDeviceManagementTroubleshootingEventsRequest
*/
func (a *UsersDeviceManagementTroubleshootingEventApiService) UsersCreateDeviceManagementTroubleshootingEvents(ctx _context.Context, userId string) ApiUsersCreateDeviceManagementTroubleshootingEventsRequest {
	return ApiUsersCreateDeviceManagementTroubleshootingEventsRequest{
		ApiService: a,
		ctx: ctx,
		userId: userId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphDeviceManagementTroubleshootingEvent
func (a *UsersDeviceManagementTroubleshootingEventApiService) UsersCreateDeviceManagementTroubleshootingEventsExecute(r ApiUsersCreateDeviceManagementTroubleshootingEventsRequest) (MicrosoftGraphDeviceManagementTroubleshootingEvent, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphDeviceManagementTroubleshootingEvent
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersDeviceManagementTroubleshootingEventApiService.UsersCreateDeviceManagementTroubleshootingEvents")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/{user-id}/deviceManagementTroubleshootingEvents"
	localVarPath = strings.Replace(localVarPath, "{"+"user-id"+"}", _neturl.PathEscape(parameterToString(r.userId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphDeviceManagementTroubleshootingEvent == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphDeviceManagementTroubleshootingEvent is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphDeviceManagementTroubleshootingEvent
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUsersDeleteDeviceManagementTroubleshootingEventsRequest struct {
	ctx _context.Context
	ApiService *UsersDeviceManagementTroubleshootingEventApiService
	userId string
	deviceManagementTroubleshootingEventId string
	ifMatch *string
}

// ETag
func (r ApiUsersDeleteDeviceManagementTroubleshootingEventsRequest) IfMatch(ifMatch string) ApiUsersDeleteDeviceManagementTroubleshootingEventsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiUsersDeleteDeviceManagementTroubleshootingEventsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.UsersDeleteDeviceManagementTroubleshootingEventsExecute(r)
}

/*
UsersDeleteDeviceManagementTroubleshootingEvents Delete navigation property deviceManagementTroubleshootingEvents for users

The list of troubleshooting events for this user.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userId key: id of user
 @param deviceManagementTroubleshootingEventId key: id of deviceManagementTroubleshootingEvent
 @return ApiUsersDeleteDeviceManagementTroubleshootingEventsRequest
*/
func (a *UsersDeviceManagementTroubleshootingEventApiService) UsersDeleteDeviceManagementTroubleshootingEvents(ctx _context.Context, userId string, deviceManagementTroubleshootingEventId string) ApiUsersDeleteDeviceManagementTroubleshootingEventsRequest {
	return ApiUsersDeleteDeviceManagementTroubleshootingEventsRequest{
		ApiService: a,
		ctx: ctx,
		userId: userId,
		deviceManagementTroubleshootingEventId: deviceManagementTroubleshootingEventId,
	}
}

// Execute executes the request
func (a *UsersDeviceManagementTroubleshootingEventApiService) UsersDeleteDeviceManagementTroubleshootingEventsExecute(r ApiUsersDeleteDeviceManagementTroubleshootingEventsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersDeviceManagementTroubleshootingEventApiService.UsersDeleteDeviceManagementTroubleshootingEvents")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/{user-id}/deviceManagementTroubleshootingEvents/{deviceManagementTroubleshootingEvent-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"user-id"+"}", _neturl.PathEscape(parameterToString(r.userId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"deviceManagementTroubleshootingEvent-id"+"}", _neturl.PathEscape(parameterToString(r.deviceManagementTroubleshootingEventId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiUsersGetDeviceManagementTroubleshootingEventsRequest struct {
	ctx _context.Context
	ApiService *UsersDeviceManagementTroubleshootingEventApiService
	userId string
	deviceManagementTroubleshootingEventId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiUsersGetDeviceManagementTroubleshootingEventsRequest) Select_(select_ []string) ApiUsersGetDeviceManagementTroubleshootingEventsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiUsersGetDeviceManagementTroubleshootingEventsRequest) Expand(expand []string) ApiUsersGetDeviceManagementTroubleshootingEventsRequest {
	r.expand = &expand
	return r
}

func (r ApiUsersGetDeviceManagementTroubleshootingEventsRequest) Execute() (MicrosoftGraphDeviceManagementTroubleshootingEvent, *_nethttp.Response, error) {
	return r.ApiService.UsersGetDeviceManagementTroubleshootingEventsExecute(r)
}

/*
UsersGetDeviceManagementTroubleshootingEvents Get deviceManagementTroubleshootingEvents from users

The list of troubleshooting events for this user.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userId key: id of user
 @param deviceManagementTroubleshootingEventId key: id of deviceManagementTroubleshootingEvent
 @return ApiUsersGetDeviceManagementTroubleshootingEventsRequest
*/
func (a *UsersDeviceManagementTroubleshootingEventApiService) UsersGetDeviceManagementTroubleshootingEvents(ctx _context.Context, userId string, deviceManagementTroubleshootingEventId string) ApiUsersGetDeviceManagementTroubleshootingEventsRequest {
	return ApiUsersGetDeviceManagementTroubleshootingEventsRequest{
		ApiService: a,
		ctx: ctx,
		userId: userId,
		deviceManagementTroubleshootingEventId: deviceManagementTroubleshootingEventId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphDeviceManagementTroubleshootingEvent
func (a *UsersDeviceManagementTroubleshootingEventApiService) UsersGetDeviceManagementTroubleshootingEventsExecute(r ApiUsersGetDeviceManagementTroubleshootingEventsRequest) (MicrosoftGraphDeviceManagementTroubleshootingEvent, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphDeviceManagementTroubleshootingEvent
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersDeviceManagementTroubleshootingEventApiService.UsersGetDeviceManagementTroubleshootingEvents")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/{user-id}/deviceManagementTroubleshootingEvents/{deviceManagementTroubleshootingEvent-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"user-id"+"}", _neturl.PathEscape(parameterToString(r.userId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"deviceManagementTroubleshootingEvent-id"+"}", _neturl.PathEscape(parameterToString(r.deviceManagementTroubleshootingEventId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUsersListDeviceManagementTroubleshootingEventsRequest struct {
	ctx _context.Context
	ApiService *UsersDeviceManagementTroubleshootingEventApiService
	userId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiUsersListDeviceManagementTroubleshootingEventsRequest) Top(top int32) ApiUsersListDeviceManagementTroubleshootingEventsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiUsersListDeviceManagementTroubleshootingEventsRequest) Skip(skip int32) ApiUsersListDeviceManagementTroubleshootingEventsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiUsersListDeviceManagementTroubleshootingEventsRequest) Search(search string) ApiUsersListDeviceManagementTroubleshootingEventsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiUsersListDeviceManagementTroubleshootingEventsRequest) Filter(filter string) ApiUsersListDeviceManagementTroubleshootingEventsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiUsersListDeviceManagementTroubleshootingEventsRequest) Count(count bool) ApiUsersListDeviceManagementTroubleshootingEventsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiUsersListDeviceManagementTroubleshootingEventsRequest) Orderby(orderby []string) ApiUsersListDeviceManagementTroubleshootingEventsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiUsersListDeviceManagementTroubleshootingEventsRequest) Select_(select_ []string) ApiUsersListDeviceManagementTroubleshootingEventsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiUsersListDeviceManagementTroubleshootingEventsRequest) Expand(expand []string) ApiUsersListDeviceManagementTroubleshootingEventsRequest {
	r.expand = &expand
	return r
}

func (r ApiUsersListDeviceManagementTroubleshootingEventsRequest) Execute() (CollectionOfDeviceManagementTroubleshootingEvent, *_nethttp.Response, error) {
	return r.ApiService.UsersListDeviceManagementTroubleshootingEventsExecute(r)
}

/*
UsersListDeviceManagementTroubleshootingEvents Get deviceManagementTroubleshootingEvents from users

The list of troubleshooting events for this user.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userId key: id of user
 @return ApiUsersListDeviceManagementTroubleshootingEventsRequest
*/
func (a *UsersDeviceManagementTroubleshootingEventApiService) UsersListDeviceManagementTroubleshootingEvents(ctx _context.Context, userId string) ApiUsersListDeviceManagementTroubleshootingEventsRequest {
	return ApiUsersListDeviceManagementTroubleshootingEventsRequest{
		ApiService: a,
		ctx: ctx,
		userId: userId,
	}
}

// Execute executes the request
//  @return CollectionOfDeviceManagementTroubleshootingEvent
func (a *UsersDeviceManagementTroubleshootingEventApiService) UsersListDeviceManagementTroubleshootingEventsExecute(r ApiUsersListDeviceManagementTroubleshootingEventsRequest) (CollectionOfDeviceManagementTroubleshootingEvent, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfDeviceManagementTroubleshootingEvent
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersDeviceManagementTroubleshootingEventApiService.UsersListDeviceManagementTroubleshootingEvents")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/{user-id}/deviceManagementTroubleshootingEvents"
	localVarPath = strings.Replace(localVarPath, "{"+"user-id"+"}", _neturl.PathEscape(parameterToString(r.userId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUsersUpdateDeviceManagementTroubleshootingEventsRequest struct {
	ctx _context.Context
	ApiService *UsersDeviceManagementTroubleshootingEventApiService
	userId string
	deviceManagementTroubleshootingEventId string
	microsoftGraphDeviceManagementTroubleshootingEvent *MicrosoftGraphDeviceManagementTroubleshootingEvent
}

// New navigation property values
func (r ApiUsersUpdateDeviceManagementTroubleshootingEventsRequest) MicrosoftGraphDeviceManagementTroubleshootingEvent(microsoftGraphDeviceManagementTroubleshootingEvent MicrosoftGraphDeviceManagementTroubleshootingEvent) ApiUsersUpdateDeviceManagementTroubleshootingEventsRequest {
	r.microsoftGraphDeviceManagementTroubleshootingEvent = &microsoftGraphDeviceManagementTroubleshootingEvent
	return r
}

func (r ApiUsersUpdateDeviceManagementTroubleshootingEventsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.UsersUpdateDeviceManagementTroubleshootingEventsExecute(r)
}

/*
UsersUpdateDeviceManagementTroubleshootingEvents Update the navigation property deviceManagementTroubleshootingEvents in users

The list of troubleshooting events for this user.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userId key: id of user
 @param deviceManagementTroubleshootingEventId key: id of deviceManagementTroubleshootingEvent
 @return ApiUsersUpdateDeviceManagementTroubleshootingEventsRequest
*/
func (a *UsersDeviceManagementTroubleshootingEventApiService) UsersUpdateDeviceManagementTroubleshootingEvents(ctx _context.Context, userId string, deviceManagementTroubleshootingEventId string) ApiUsersUpdateDeviceManagementTroubleshootingEventsRequest {
	return ApiUsersUpdateDeviceManagementTroubleshootingEventsRequest{
		ApiService: a,
		ctx: ctx,
		userId: userId,
		deviceManagementTroubleshootingEventId: deviceManagementTroubleshootingEventId,
	}
}

// Execute executes the request
func (a *UsersDeviceManagementTroubleshootingEventApiService) UsersUpdateDeviceManagementTroubleshootingEventsExecute(r ApiUsersUpdateDeviceManagementTroubleshootingEventsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersDeviceManagementTroubleshootingEventApiService.UsersUpdateDeviceManagementTroubleshootingEvents")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/{user-id}/deviceManagementTroubleshootingEvents/{deviceManagementTroubleshootingEvent-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"user-id"+"}", _neturl.PathEscape(parameterToString(r.userId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"deviceManagementTroubleshootingEvent-id"+"}", _neturl.PathEscape(parameterToString(r.deviceManagementTroubleshootingEventId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphDeviceManagementTroubleshootingEvent == nil {
		return nil, reportError("microsoftGraphDeviceManagementTroubleshootingEvent is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphDeviceManagementTroubleshootingEvent
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
