/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// PoliciesClaimsMappingPolicyApiService PoliciesClaimsMappingPolicyApi service
type PoliciesClaimsMappingPolicyApiService service

type ApiPoliciesCreateClaimsMappingPoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesClaimsMappingPolicyApiService
	microsoftGraphClaimsMappingPolicy *MicrosoftGraphClaimsMappingPolicy
}

// New navigation property
func (r ApiPoliciesCreateClaimsMappingPoliciesRequest) MicrosoftGraphClaimsMappingPolicy(microsoftGraphClaimsMappingPolicy MicrosoftGraphClaimsMappingPolicy) ApiPoliciesCreateClaimsMappingPoliciesRequest {
	r.microsoftGraphClaimsMappingPolicy = &microsoftGraphClaimsMappingPolicy
	return r
}

func (r ApiPoliciesCreateClaimsMappingPoliciesRequest) Execute() (MicrosoftGraphClaimsMappingPolicy, *_nethttp.Response, error) {
	return r.ApiService.PoliciesCreateClaimsMappingPoliciesExecute(r)
}

/*
PoliciesCreateClaimsMappingPolicies Create new navigation property to claimsMappingPolicies for policies

The claim-mapping policies for WS-Fed, SAML, OAuth 2.0, and OpenID Connect protocols, for tokens issued to a specific application.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPoliciesCreateClaimsMappingPoliciesRequest
*/
func (a *PoliciesClaimsMappingPolicyApiService) PoliciesCreateClaimsMappingPolicies(ctx _context.Context) ApiPoliciesCreateClaimsMappingPoliciesRequest {
	return ApiPoliciesCreateClaimsMappingPoliciesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphClaimsMappingPolicy
func (a *PoliciesClaimsMappingPolicyApiService) PoliciesCreateClaimsMappingPoliciesExecute(r ApiPoliciesCreateClaimsMappingPoliciesRequest) (MicrosoftGraphClaimsMappingPolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphClaimsMappingPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesClaimsMappingPolicyApiService.PoliciesCreateClaimsMappingPolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/claimsMappingPolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphClaimsMappingPolicy == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphClaimsMappingPolicy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphClaimsMappingPolicy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPoliciesDeleteClaimsMappingPoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesClaimsMappingPolicyApiService
	claimsMappingPolicyId string
	ifMatch *string
}

// ETag
func (r ApiPoliciesDeleteClaimsMappingPoliciesRequest) IfMatch(ifMatch string) ApiPoliciesDeleteClaimsMappingPoliciesRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiPoliciesDeleteClaimsMappingPoliciesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.PoliciesDeleteClaimsMappingPoliciesExecute(r)
}

/*
PoliciesDeleteClaimsMappingPolicies Delete navigation property claimsMappingPolicies for policies

The claim-mapping policies for WS-Fed, SAML, OAuth 2.0, and OpenID Connect protocols, for tokens issued to a specific application.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param claimsMappingPolicyId key: id of claimsMappingPolicy
 @return ApiPoliciesDeleteClaimsMappingPoliciesRequest
*/
func (a *PoliciesClaimsMappingPolicyApiService) PoliciesDeleteClaimsMappingPolicies(ctx _context.Context, claimsMappingPolicyId string) ApiPoliciesDeleteClaimsMappingPoliciesRequest {
	return ApiPoliciesDeleteClaimsMappingPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		claimsMappingPolicyId: claimsMappingPolicyId,
	}
}

// Execute executes the request
func (a *PoliciesClaimsMappingPolicyApiService) PoliciesDeleteClaimsMappingPoliciesExecute(r ApiPoliciesDeleteClaimsMappingPoliciesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesClaimsMappingPolicyApiService.PoliciesDeleteClaimsMappingPolicies")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/claimsMappingPolicies/{claimsMappingPolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"claimsMappingPolicy-id"+"}", _neturl.PathEscape(parameterToString(r.claimsMappingPolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPoliciesGetClaimsMappingPoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesClaimsMappingPolicyApiService
	claimsMappingPolicyId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiPoliciesGetClaimsMappingPoliciesRequest) Select_(select_ []string) ApiPoliciesGetClaimsMappingPoliciesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiPoliciesGetClaimsMappingPoliciesRequest) Expand(expand []string) ApiPoliciesGetClaimsMappingPoliciesRequest {
	r.expand = &expand
	return r
}

func (r ApiPoliciesGetClaimsMappingPoliciesRequest) Execute() (MicrosoftGraphClaimsMappingPolicy, *_nethttp.Response, error) {
	return r.ApiService.PoliciesGetClaimsMappingPoliciesExecute(r)
}

/*
PoliciesGetClaimsMappingPolicies Get claimsMappingPolicies from policies

The claim-mapping policies for WS-Fed, SAML, OAuth 2.0, and OpenID Connect protocols, for tokens issued to a specific application.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param claimsMappingPolicyId key: id of claimsMappingPolicy
 @return ApiPoliciesGetClaimsMappingPoliciesRequest
*/
func (a *PoliciesClaimsMappingPolicyApiService) PoliciesGetClaimsMappingPolicies(ctx _context.Context, claimsMappingPolicyId string) ApiPoliciesGetClaimsMappingPoliciesRequest {
	return ApiPoliciesGetClaimsMappingPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		claimsMappingPolicyId: claimsMappingPolicyId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphClaimsMappingPolicy
func (a *PoliciesClaimsMappingPolicyApiService) PoliciesGetClaimsMappingPoliciesExecute(r ApiPoliciesGetClaimsMappingPoliciesRequest) (MicrosoftGraphClaimsMappingPolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphClaimsMappingPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesClaimsMappingPolicyApiService.PoliciesGetClaimsMappingPolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/claimsMappingPolicies/{claimsMappingPolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"claimsMappingPolicy-id"+"}", _neturl.PathEscape(parameterToString(r.claimsMappingPolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPoliciesListClaimsMappingPoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesClaimsMappingPolicyApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiPoliciesListClaimsMappingPoliciesRequest) Top(top int32) ApiPoliciesListClaimsMappingPoliciesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiPoliciesListClaimsMappingPoliciesRequest) Skip(skip int32) ApiPoliciesListClaimsMappingPoliciesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiPoliciesListClaimsMappingPoliciesRequest) Search(search string) ApiPoliciesListClaimsMappingPoliciesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiPoliciesListClaimsMappingPoliciesRequest) Filter(filter string) ApiPoliciesListClaimsMappingPoliciesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiPoliciesListClaimsMappingPoliciesRequest) Count(count bool) ApiPoliciesListClaimsMappingPoliciesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiPoliciesListClaimsMappingPoliciesRequest) Orderby(orderby []string) ApiPoliciesListClaimsMappingPoliciesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiPoliciesListClaimsMappingPoliciesRequest) Select_(select_ []string) ApiPoliciesListClaimsMappingPoliciesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiPoliciesListClaimsMappingPoliciesRequest) Expand(expand []string) ApiPoliciesListClaimsMappingPoliciesRequest {
	r.expand = &expand
	return r
}

func (r ApiPoliciesListClaimsMappingPoliciesRequest) Execute() (CollectionOfClaimsMappingPolicy, *_nethttp.Response, error) {
	return r.ApiService.PoliciesListClaimsMappingPoliciesExecute(r)
}

/*
PoliciesListClaimsMappingPolicies Get claimsMappingPolicies from policies

The claim-mapping policies for WS-Fed, SAML, OAuth 2.0, and OpenID Connect protocols, for tokens issued to a specific application.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPoliciesListClaimsMappingPoliciesRequest
*/
func (a *PoliciesClaimsMappingPolicyApiService) PoliciesListClaimsMappingPolicies(ctx _context.Context) ApiPoliciesListClaimsMappingPoliciesRequest {
	return ApiPoliciesListClaimsMappingPoliciesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfClaimsMappingPolicy
func (a *PoliciesClaimsMappingPolicyApiService) PoliciesListClaimsMappingPoliciesExecute(r ApiPoliciesListClaimsMappingPoliciesRequest) (CollectionOfClaimsMappingPolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfClaimsMappingPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesClaimsMappingPolicyApiService.PoliciesListClaimsMappingPolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/claimsMappingPolicies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPoliciesUpdateClaimsMappingPoliciesRequest struct {
	ctx _context.Context
	ApiService *PoliciesClaimsMappingPolicyApiService
	claimsMappingPolicyId string
	microsoftGraphClaimsMappingPolicy *MicrosoftGraphClaimsMappingPolicy
}

// New navigation property values
func (r ApiPoliciesUpdateClaimsMappingPoliciesRequest) MicrosoftGraphClaimsMappingPolicy(microsoftGraphClaimsMappingPolicy MicrosoftGraphClaimsMappingPolicy) ApiPoliciesUpdateClaimsMappingPoliciesRequest {
	r.microsoftGraphClaimsMappingPolicy = &microsoftGraphClaimsMappingPolicy
	return r
}

func (r ApiPoliciesUpdateClaimsMappingPoliciesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.PoliciesUpdateClaimsMappingPoliciesExecute(r)
}

/*
PoliciesUpdateClaimsMappingPolicies Update the navigation property claimsMappingPolicies in policies

The claim-mapping policies for WS-Fed, SAML, OAuth 2.0, and OpenID Connect protocols, for tokens issued to a specific application.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param claimsMappingPolicyId key: id of claimsMappingPolicy
 @return ApiPoliciesUpdateClaimsMappingPoliciesRequest
*/
func (a *PoliciesClaimsMappingPolicyApiService) PoliciesUpdateClaimsMappingPolicies(ctx _context.Context, claimsMappingPolicyId string) ApiPoliciesUpdateClaimsMappingPoliciesRequest {
	return ApiPoliciesUpdateClaimsMappingPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		claimsMappingPolicyId: claimsMappingPolicyId,
	}
}

// Execute executes the request
func (a *PoliciesClaimsMappingPolicyApiService) PoliciesUpdateClaimsMappingPoliciesExecute(r ApiPoliciesUpdateClaimsMappingPoliciesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PoliciesClaimsMappingPolicyApiService.PoliciesUpdateClaimsMappingPolicies")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/policies/claimsMappingPolicies/{claimsMappingPolicy-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"claimsMappingPolicy-id"+"}", _neturl.PathEscape(parameterToString(r.claimsMappingPolicyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphClaimsMappingPolicy == nil {
		return nil, reportError("microsoftGraphClaimsMappingPolicy is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphClaimsMappingPolicy
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
