/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// UsersAgreementAcceptanceApiService UsersAgreementAcceptanceApi service
type UsersAgreementAcceptanceApiService service

type ApiUsersCreateRefAgreementAcceptancesRequest struct {
	ctx _context.Context
	ApiService *UsersAgreementAcceptanceApiService
	userId string
	requestBody *map[string]map[string]interface{}
}

// New navigation property ref value
func (r ApiUsersCreateRefAgreementAcceptancesRequest) RequestBody(requestBody map[string]map[string]interface{}) ApiUsersCreateRefAgreementAcceptancesRequest {
	r.requestBody = &requestBody
	return r
}

func (r ApiUsersCreateRefAgreementAcceptancesRequest) Execute() (map[string]interface{}, *_nethttp.Response, error) {
	return r.ApiService.UsersCreateRefAgreementAcceptancesExecute(r)
}

/*
UsersCreateRefAgreementAcceptances Create new navigation property ref to agreementAcceptances for users

The user's terms of use acceptance statuses. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userId key: id of user
 @return ApiUsersCreateRefAgreementAcceptancesRequest
*/
func (a *UsersAgreementAcceptanceApiService) UsersCreateRefAgreementAcceptances(ctx _context.Context, userId string) ApiUsersCreateRefAgreementAcceptancesRequest {
	return ApiUsersCreateRefAgreementAcceptancesRequest{
		ApiService: a,
		ctx: ctx,
		userId: userId,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *UsersAgreementAcceptanceApiService) UsersCreateRefAgreementAcceptancesExecute(r ApiUsersCreateRefAgreementAcceptancesRequest) (map[string]interface{}, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersAgreementAcceptanceApiService.UsersCreateRefAgreementAcceptances")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/{user-id}/agreementAcceptances/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"user-id"+"}", _neturl.PathEscape(parameterToString(r.userId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUsersListAgreementAcceptancesRequest struct {
	ctx _context.Context
	ApiService *UsersAgreementAcceptanceApiService
	userId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiUsersListAgreementAcceptancesRequest) Top(top int32) ApiUsersListAgreementAcceptancesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiUsersListAgreementAcceptancesRequest) Skip(skip int32) ApiUsersListAgreementAcceptancesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiUsersListAgreementAcceptancesRequest) Search(search string) ApiUsersListAgreementAcceptancesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiUsersListAgreementAcceptancesRequest) Filter(filter string) ApiUsersListAgreementAcceptancesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiUsersListAgreementAcceptancesRequest) Count(count bool) ApiUsersListAgreementAcceptancesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiUsersListAgreementAcceptancesRequest) Orderby(orderby []string) ApiUsersListAgreementAcceptancesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiUsersListAgreementAcceptancesRequest) Select_(select_ []string) ApiUsersListAgreementAcceptancesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiUsersListAgreementAcceptancesRequest) Expand(expand []string) ApiUsersListAgreementAcceptancesRequest {
	r.expand = &expand
	return r
}

func (r ApiUsersListAgreementAcceptancesRequest) Execute() (CollectionOfAgreementAcceptance, *_nethttp.Response, error) {
	return r.ApiService.UsersListAgreementAcceptancesExecute(r)
}

/*
UsersListAgreementAcceptances Get agreementAcceptances from users

The user's terms of use acceptance statuses. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userId key: id of user
 @return ApiUsersListAgreementAcceptancesRequest
*/
func (a *UsersAgreementAcceptanceApiService) UsersListAgreementAcceptances(ctx _context.Context, userId string) ApiUsersListAgreementAcceptancesRequest {
	return ApiUsersListAgreementAcceptancesRequest{
		ApiService: a,
		ctx: ctx,
		userId: userId,
	}
}

// Execute executes the request
//  @return CollectionOfAgreementAcceptance
func (a *UsersAgreementAcceptanceApiService) UsersListAgreementAcceptancesExecute(r ApiUsersListAgreementAcceptancesRequest) (CollectionOfAgreementAcceptance, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfAgreementAcceptance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersAgreementAcceptanceApiService.UsersListAgreementAcceptances")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/{user-id}/agreementAcceptances"
	localVarPath = strings.Replace(localVarPath, "{"+"user-id"+"}", _neturl.PathEscape(parameterToString(r.userId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUsersListRefAgreementAcceptancesRequest struct {
	ctx _context.Context
	ApiService *UsersAgreementAcceptanceApiService
	userId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
}

// Show only the first n items
func (r ApiUsersListRefAgreementAcceptancesRequest) Top(top int32) ApiUsersListRefAgreementAcceptancesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiUsersListRefAgreementAcceptancesRequest) Skip(skip int32) ApiUsersListRefAgreementAcceptancesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiUsersListRefAgreementAcceptancesRequest) Search(search string) ApiUsersListRefAgreementAcceptancesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiUsersListRefAgreementAcceptancesRequest) Filter(filter string) ApiUsersListRefAgreementAcceptancesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiUsersListRefAgreementAcceptancesRequest) Count(count bool) ApiUsersListRefAgreementAcceptancesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiUsersListRefAgreementAcceptancesRequest) Orderby(orderby []string) ApiUsersListRefAgreementAcceptancesRequest {
	r.orderby = &orderby
	return r
}

func (r ApiUsersListRefAgreementAcceptancesRequest) Execute() (CollectionOfLinksOfAgreementAcceptance, *_nethttp.Response, error) {
	return r.ApiService.UsersListRefAgreementAcceptancesExecute(r)
}

/*
UsersListRefAgreementAcceptances Get ref of agreementAcceptances from users

The user's terms of use acceptance statuses. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param userId key: id of user
 @return ApiUsersListRefAgreementAcceptancesRequest
*/
func (a *UsersAgreementAcceptanceApiService) UsersListRefAgreementAcceptances(ctx _context.Context, userId string) ApiUsersListRefAgreementAcceptancesRequest {
	return ApiUsersListRefAgreementAcceptancesRequest{
		ApiService: a,
		ctx: ctx,
		userId: userId,
	}
}

// Execute executes the request
//  @return CollectionOfLinksOfAgreementAcceptance
func (a *UsersAgreementAcceptanceApiService) UsersListRefAgreementAcceptancesExecute(r ApiUsersListRefAgreementAcceptancesRequest) (CollectionOfLinksOfAgreementAcceptance, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfLinksOfAgreementAcceptance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UsersAgreementAcceptanceApiService.UsersListRefAgreementAcceptances")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/users/{user-id}/agreementAcceptances/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"user-id"+"}", _neturl.PathEscape(parameterToString(r.userId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
