/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// DeviceManagementDeviceManagementPartnerApiService DeviceManagementDeviceManagementPartnerApi service
type DeviceManagementDeviceManagementPartnerApiService service

type ApiDeviceManagementCreateDeviceManagementPartnersRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementDeviceManagementPartnerApiService
	microsoftGraphDeviceManagementPartner *MicrosoftGraphDeviceManagementPartner
}

// New navigation property
func (r ApiDeviceManagementCreateDeviceManagementPartnersRequest) MicrosoftGraphDeviceManagementPartner(microsoftGraphDeviceManagementPartner MicrosoftGraphDeviceManagementPartner) ApiDeviceManagementCreateDeviceManagementPartnersRequest {
	r.microsoftGraphDeviceManagementPartner = &microsoftGraphDeviceManagementPartner
	return r
}

func (r ApiDeviceManagementCreateDeviceManagementPartnersRequest) Execute() (MicrosoftGraphDeviceManagementPartner, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementCreateDeviceManagementPartnersExecute(r)
}

/*
DeviceManagementCreateDeviceManagementPartners Create new navigation property to deviceManagementPartners for deviceManagement

The list of Device Management Partners configured by the tenant.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceManagementCreateDeviceManagementPartnersRequest
*/
func (a *DeviceManagementDeviceManagementPartnerApiService) DeviceManagementCreateDeviceManagementPartners(ctx _context.Context) ApiDeviceManagementCreateDeviceManagementPartnersRequest {
	return ApiDeviceManagementCreateDeviceManagementPartnersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphDeviceManagementPartner
func (a *DeviceManagementDeviceManagementPartnerApiService) DeviceManagementCreateDeviceManagementPartnersExecute(r ApiDeviceManagementCreateDeviceManagementPartnersRequest) (MicrosoftGraphDeviceManagementPartner, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphDeviceManagementPartner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementDeviceManagementPartnerApiService.DeviceManagementCreateDeviceManagementPartners")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/deviceManagementPartners"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphDeviceManagementPartner == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphDeviceManagementPartner is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphDeviceManagementPartner
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementDeleteDeviceManagementPartnersRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementDeviceManagementPartnerApiService
	deviceManagementPartnerId string
	ifMatch *string
}

// ETag
func (r ApiDeviceManagementDeleteDeviceManagementPartnersRequest) IfMatch(ifMatch string) ApiDeviceManagementDeleteDeviceManagementPartnersRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiDeviceManagementDeleteDeviceManagementPartnersRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceManagementDeleteDeviceManagementPartnersExecute(r)
}

/*
DeviceManagementDeleteDeviceManagementPartners Delete navigation property deviceManagementPartners for deviceManagement

The list of Device Management Partners configured by the tenant.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param deviceManagementPartnerId key: id of deviceManagementPartner
 @return ApiDeviceManagementDeleteDeviceManagementPartnersRequest
*/
func (a *DeviceManagementDeviceManagementPartnerApiService) DeviceManagementDeleteDeviceManagementPartners(ctx _context.Context, deviceManagementPartnerId string) ApiDeviceManagementDeleteDeviceManagementPartnersRequest {
	return ApiDeviceManagementDeleteDeviceManagementPartnersRequest{
		ApiService: a,
		ctx: ctx,
		deviceManagementPartnerId: deviceManagementPartnerId,
	}
}

// Execute executes the request
func (a *DeviceManagementDeviceManagementPartnerApiService) DeviceManagementDeleteDeviceManagementPartnersExecute(r ApiDeviceManagementDeleteDeviceManagementPartnersRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementDeviceManagementPartnerApiService.DeviceManagementDeleteDeviceManagementPartners")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/deviceManagementPartners/{deviceManagementPartner-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"deviceManagementPartner-id"+"}", _neturl.PathEscape(parameterToString(r.deviceManagementPartnerId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeviceManagementGetDeviceManagementPartnersRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementDeviceManagementPartnerApiService
	deviceManagementPartnerId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiDeviceManagementGetDeviceManagementPartnersRequest) Select_(select_ []string) ApiDeviceManagementGetDeviceManagementPartnersRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceManagementGetDeviceManagementPartnersRequest) Expand(expand []string) ApiDeviceManagementGetDeviceManagementPartnersRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceManagementGetDeviceManagementPartnersRequest) Execute() (MicrosoftGraphDeviceManagementPartner, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementGetDeviceManagementPartnersExecute(r)
}

/*
DeviceManagementGetDeviceManagementPartners Get deviceManagementPartners from deviceManagement

The list of Device Management Partners configured by the tenant.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param deviceManagementPartnerId key: id of deviceManagementPartner
 @return ApiDeviceManagementGetDeviceManagementPartnersRequest
*/
func (a *DeviceManagementDeviceManagementPartnerApiService) DeviceManagementGetDeviceManagementPartners(ctx _context.Context, deviceManagementPartnerId string) ApiDeviceManagementGetDeviceManagementPartnersRequest {
	return ApiDeviceManagementGetDeviceManagementPartnersRequest{
		ApiService: a,
		ctx: ctx,
		deviceManagementPartnerId: deviceManagementPartnerId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphDeviceManagementPartner
func (a *DeviceManagementDeviceManagementPartnerApiService) DeviceManagementGetDeviceManagementPartnersExecute(r ApiDeviceManagementGetDeviceManagementPartnersRequest) (MicrosoftGraphDeviceManagementPartner, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphDeviceManagementPartner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementDeviceManagementPartnerApiService.DeviceManagementGetDeviceManagementPartners")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/deviceManagementPartners/{deviceManagementPartner-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"deviceManagementPartner-id"+"}", _neturl.PathEscape(parameterToString(r.deviceManagementPartnerId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementListDeviceManagementPartnersRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementDeviceManagementPartnerApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiDeviceManagementListDeviceManagementPartnersRequest) Top(top int32) ApiDeviceManagementListDeviceManagementPartnersRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiDeviceManagementListDeviceManagementPartnersRequest) Skip(skip int32) ApiDeviceManagementListDeviceManagementPartnersRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiDeviceManagementListDeviceManagementPartnersRequest) Search(search string) ApiDeviceManagementListDeviceManagementPartnersRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiDeviceManagementListDeviceManagementPartnersRequest) Filter(filter string) ApiDeviceManagementListDeviceManagementPartnersRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiDeviceManagementListDeviceManagementPartnersRequest) Count(count bool) ApiDeviceManagementListDeviceManagementPartnersRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiDeviceManagementListDeviceManagementPartnersRequest) Orderby(orderby []string) ApiDeviceManagementListDeviceManagementPartnersRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiDeviceManagementListDeviceManagementPartnersRequest) Select_(select_ []string) ApiDeviceManagementListDeviceManagementPartnersRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceManagementListDeviceManagementPartnersRequest) Expand(expand []string) ApiDeviceManagementListDeviceManagementPartnersRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceManagementListDeviceManagementPartnersRequest) Execute() (CollectionOfDeviceManagementPartner, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementListDeviceManagementPartnersExecute(r)
}

/*
DeviceManagementListDeviceManagementPartners Get deviceManagementPartners from deviceManagement

The list of Device Management Partners configured by the tenant.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceManagementListDeviceManagementPartnersRequest
*/
func (a *DeviceManagementDeviceManagementPartnerApiService) DeviceManagementListDeviceManagementPartners(ctx _context.Context) ApiDeviceManagementListDeviceManagementPartnersRequest {
	return ApiDeviceManagementListDeviceManagementPartnersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfDeviceManagementPartner
func (a *DeviceManagementDeviceManagementPartnerApiService) DeviceManagementListDeviceManagementPartnersExecute(r ApiDeviceManagementListDeviceManagementPartnersRequest) (CollectionOfDeviceManagementPartner, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfDeviceManagementPartner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementDeviceManagementPartnerApiService.DeviceManagementListDeviceManagementPartners")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/deviceManagementPartners"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementUpdateDeviceManagementPartnersRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementDeviceManagementPartnerApiService
	deviceManagementPartnerId string
	microsoftGraphDeviceManagementPartner *MicrosoftGraphDeviceManagementPartner
}

// New navigation property values
func (r ApiDeviceManagementUpdateDeviceManagementPartnersRequest) MicrosoftGraphDeviceManagementPartner(microsoftGraphDeviceManagementPartner MicrosoftGraphDeviceManagementPartner) ApiDeviceManagementUpdateDeviceManagementPartnersRequest {
	r.microsoftGraphDeviceManagementPartner = &microsoftGraphDeviceManagementPartner
	return r
}

func (r ApiDeviceManagementUpdateDeviceManagementPartnersRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceManagementUpdateDeviceManagementPartnersExecute(r)
}

/*
DeviceManagementUpdateDeviceManagementPartners Update the navigation property deviceManagementPartners in deviceManagement

The list of Device Management Partners configured by the tenant.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param deviceManagementPartnerId key: id of deviceManagementPartner
 @return ApiDeviceManagementUpdateDeviceManagementPartnersRequest
*/
func (a *DeviceManagementDeviceManagementPartnerApiService) DeviceManagementUpdateDeviceManagementPartners(ctx _context.Context, deviceManagementPartnerId string) ApiDeviceManagementUpdateDeviceManagementPartnersRequest {
	return ApiDeviceManagementUpdateDeviceManagementPartnersRequest{
		ApiService: a,
		ctx: ctx,
		deviceManagementPartnerId: deviceManagementPartnerId,
	}
}

// Execute executes the request
func (a *DeviceManagementDeviceManagementPartnerApiService) DeviceManagementUpdateDeviceManagementPartnersExecute(r ApiDeviceManagementUpdateDeviceManagementPartnersRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementDeviceManagementPartnerApiService.DeviceManagementUpdateDeviceManagementPartners")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/deviceManagementPartners/{deviceManagementPartner-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"deviceManagementPartner-id"+"}", _neturl.PathEscape(parameterToString(r.deviceManagementPartnerId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphDeviceManagementPartner == nil {
		return nil, reportError("microsoftGraphDeviceManagementPartner is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphDeviceManagementPartner
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
