/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// GroupsAppRoleAssignmentApiService GroupsAppRoleAssignmentApi service
type GroupsAppRoleAssignmentApiService service

type ApiGroupsCreateAppRoleAssignmentsRequest struct {
	ctx _context.Context
	ApiService *GroupsAppRoleAssignmentApiService
	groupId string
	microsoftGraphAppRoleAssignment *MicrosoftGraphAppRoleAssignment
}

// New navigation property
func (r ApiGroupsCreateAppRoleAssignmentsRequest) MicrosoftGraphAppRoleAssignment(microsoftGraphAppRoleAssignment MicrosoftGraphAppRoleAssignment) ApiGroupsCreateAppRoleAssignmentsRequest {
	r.microsoftGraphAppRoleAssignment = &microsoftGraphAppRoleAssignment
	return r
}

func (r ApiGroupsCreateAppRoleAssignmentsRequest) Execute() (MicrosoftGraphAppRoleAssignment, *_nethttp.Response, error) {
	return r.ApiService.GroupsCreateAppRoleAssignmentsExecute(r)
}

/*
GroupsCreateAppRoleAssignments Create new navigation property to appRoleAssignments for groups

Represents the app roles a group has been granted for an application. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupId key: id of group
 @return ApiGroupsCreateAppRoleAssignmentsRequest
*/
func (a *GroupsAppRoleAssignmentApiService) GroupsCreateAppRoleAssignments(ctx _context.Context, groupId string) ApiGroupsCreateAppRoleAssignmentsRequest {
	return ApiGroupsCreateAppRoleAssignmentsRequest{
		ApiService: a,
		ctx: ctx,
		groupId: groupId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphAppRoleAssignment
func (a *GroupsAppRoleAssignmentApiService) GroupsCreateAppRoleAssignmentsExecute(r ApiGroupsCreateAppRoleAssignmentsRequest) (MicrosoftGraphAppRoleAssignment, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphAppRoleAssignment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsAppRoleAssignmentApiService.GroupsCreateAppRoleAssignments")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groups/{group-id}/appRoleAssignments"
	localVarPath = strings.Replace(localVarPath, "{"+"group-id"+"}", _neturl.PathEscape(parameterToString(r.groupId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphAppRoleAssignment == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphAppRoleAssignment is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphAppRoleAssignment
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGroupsDeleteAppRoleAssignmentsRequest struct {
	ctx _context.Context
	ApiService *GroupsAppRoleAssignmentApiService
	groupId string
	appRoleAssignmentId string
	ifMatch *string
}

// ETag
func (r ApiGroupsDeleteAppRoleAssignmentsRequest) IfMatch(ifMatch string) ApiGroupsDeleteAppRoleAssignmentsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiGroupsDeleteAppRoleAssignmentsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.GroupsDeleteAppRoleAssignmentsExecute(r)
}

/*
GroupsDeleteAppRoleAssignments Delete navigation property appRoleAssignments for groups

Represents the app roles a group has been granted for an application. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupId key: id of group
 @param appRoleAssignmentId key: id of appRoleAssignment
 @return ApiGroupsDeleteAppRoleAssignmentsRequest
*/
func (a *GroupsAppRoleAssignmentApiService) GroupsDeleteAppRoleAssignments(ctx _context.Context, groupId string, appRoleAssignmentId string) ApiGroupsDeleteAppRoleAssignmentsRequest {
	return ApiGroupsDeleteAppRoleAssignmentsRequest{
		ApiService: a,
		ctx: ctx,
		groupId: groupId,
		appRoleAssignmentId: appRoleAssignmentId,
	}
}

// Execute executes the request
func (a *GroupsAppRoleAssignmentApiService) GroupsDeleteAppRoleAssignmentsExecute(r ApiGroupsDeleteAppRoleAssignmentsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsAppRoleAssignmentApiService.GroupsDeleteAppRoleAssignments")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groups/{group-id}/appRoleAssignments/{appRoleAssignment-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"group-id"+"}", _neturl.PathEscape(parameterToString(r.groupId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"appRoleAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.appRoleAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGroupsGetAppRoleAssignmentsRequest struct {
	ctx _context.Context
	ApiService *GroupsAppRoleAssignmentApiService
	groupId string
	appRoleAssignmentId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiGroupsGetAppRoleAssignmentsRequest) Select_(select_ []string) ApiGroupsGetAppRoleAssignmentsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiGroupsGetAppRoleAssignmentsRequest) Expand(expand []string) ApiGroupsGetAppRoleAssignmentsRequest {
	r.expand = &expand
	return r
}

func (r ApiGroupsGetAppRoleAssignmentsRequest) Execute() (MicrosoftGraphAppRoleAssignment, *_nethttp.Response, error) {
	return r.ApiService.GroupsGetAppRoleAssignmentsExecute(r)
}

/*
GroupsGetAppRoleAssignments Get appRoleAssignments from groups

Represents the app roles a group has been granted for an application. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupId key: id of group
 @param appRoleAssignmentId key: id of appRoleAssignment
 @return ApiGroupsGetAppRoleAssignmentsRequest
*/
func (a *GroupsAppRoleAssignmentApiService) GroupsGetAppRoleAssignments(ctx _context.Context, groupId string, appRoleAssignmentId string) ApiGroupsGetAppRoleAssignmentsRequest {
	return ApiGroupsGetAppRoleAssignmentsRequest{
		ApiService: a,
		ctx: ctx,
		groupId: groupId,
		appRoleAssignmentId: appRoleAssignmentId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphAppRoleAssignment
func (a *GroupsAppRoleAssignmentApiService) GroupsGetAppRoleAssignmentsExecute(r ApiGroupsGetAppRoleAssignmentsRequest) (MicrosoftGraphAppRoleAssignment, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphAppRoleAssignment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsAppRoleAssignmentApiService.GroupsGetAppRoleAssignments")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groups/{group-id}/appRoleAssignments/{appRoleAssignment-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"group-id"+"}", _neturl.PathEscape(parameterToString(r.groupId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"appRoleAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.appRoleAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGroupsListAppRoleAssignmentsRequest struct {
	ctx _context.Context
	ApiService *GroupsAppRoleAssignmentApiService
	groupId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiGroupsListAppRoleAssignmentsRequest) Top(top int32) ApiGroupsListAppRoleAssignmentsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiGroupsListAppRoleAssignmentsRequest) Skip(skip int32) ApiGroupsListAppRoleAssignmentsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiGroupsListAppRoleAssignmentsRequest) Search(search string) ApiGroupsListAppRoleAssignmentsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiGroupsListAppRoleAssignmentsRequest) Filter(filter string) ApiGroupsListAppRoleAssignmentsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiGroupsListAppRoleAssignmentsRequest) Count(count bool) ApiGroupsListAppRoleAssignmentsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiGroupsListAppRoleAssignmentsRequest) Orderby(orderby []string) ApiGroupsListAppRoleAssignmentsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiGroupsListAppRoleAssignmentsRequest) Select_(select_ []string) ApiGroupsListAppRoleAssignmentsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiGroupsListAppRoleAssignmentsRequest) Expand(expand []string) ApiGroupsListAppRoleAssignmentsRequest {
	r.expand = &expand
	return r
}

func (r ApiGroupsListAppRoleAssignmentsRequest) Execute() (CollectionOfAppRoleAssignment, *_nethttp.Response, error) {
	return r.ApiService.GroupsListAppRoleAssignmentsExecute(r)
}

/*
GroupsListAppRoleAssignments Get appRoleAssignments from groups

Represents the app roles a group has been granted for an application. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupId key: id of group
 @return ApiGroupsListAppRoleAssignmentsRequest
*/
func (a *GroupsAppRoleAssignmentApiService) GroupsListAppRoleAssignments(ctx _context.Context, groupId string) ApiGroupsListAppRoleAssignmentsRequest {
	return ApiGroupsListAppRoleAssignmentsRequest{
		ApiService: a,
		ctx: ctx,
		groupId: groupId,
	}
}

// Execute executes the request
//  @return CollectionOfAppRoleAssignment
func (a *GroupsAppRoleAssignmentApiService) GroupsListAppRoleAssignmentsExecute(r ApiGroupsListAppRoleAssignmentsRequest) (CollectionOfAppRoleAssignment, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfAppRoleAssignment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsAppRoleAssignmentApiService.GroupsListAppRoleAssignments")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groups/{group-id}/appRoleAssignments"
	localVarPath = strings.Replace(localVarPath, "{"+"group-id"+"}", _neturl.PathEscape(parameterToString(r.groupId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGroupsUpdateAppRoleAssignmentsRequest struct {
	ctx _context.Context
	ApiService *GroupsAppRoleAssignmentApiService
	groupId string
	appRoleAssignmentId string
	microsoftGraphAppRoleAssignment *MicrosoftGraphAppRoleAssignment
}

// New navigation property values
func (r ApiGroupsUpdateAppRoleAssignmentsRequest) MicrosoftGraphAppRoleAssignment(microsoftGraphAppRoleAssignment MicrosoftGraphAppRoleAssignment) ApiGroupsUpdateAppRoleAssignmentsRequest {
	r.microsoftGraphAppRoleAssignment = &microsoftGraphAppRoleAssignment
	return r
}

func (r ApiGroupsUpdateAppRoleAssignmentsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.GroupsUpdateAppRoleAssignmentsExecute(r)
}

/*
GroupsUpdateAppRoleAssignments Update the navigation property appRoleAssignments in groups

Represents the app roles a group has been granted for an application. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param groupId key: id of group
 @param appRoleAssignmentId key: id of appRoleAssignment
 @return ApiGroupsUpdateAppRoleAssignmentsRequest
*/
func (a *GroupsAppRoleAssignmentApiService) GroupsUpdateAppRoleAssignments(ctx _context.Context, groupId string, appRoleAssignmentId string) ApiGroupsUpdateAppRoleAssignmentsRequest {
	return ApiGroupsUpdateAppRoleAssignmentsRequest{
		ApiService: a,
		ctx: ctx,
		groupId: groupId,
		appRoleAssignmentId: appRoleAssignmentId,
	}
}

// Execute executes the request
func (a *GroupsAppRoleAssignmentApiService) GroupsUpdateAppRoleAssignmentsExecute(r ApiGroupsUpdateAppRoleAssignmentsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsAppRoleAssignmentApiService.GroupsUpdateAppRoleAssignments")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/groups/{group-id}/appRoleAssignments/{appRoleAssignment-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"group-id"+"}", _neturl.PathEscape(parameterToString(r.groupId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"appRoleAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.appRoleAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphAppRoleAssignment == nil {
		return nil, reportError("microsoftGraphAppRoleAssignment is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphAppRoleAssignment
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
