/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// ApplicationsHomeRealmDiscoveryPolicyApiService ApplicationsHomeRealmDiscoveryPolicyApi service
type ApplicationsHomeRealmDiscoveryPolicyApiService service

type ApiApplicationsCreateRefHomeRealmDiscoveryPoliciesRequest struct {
	ctx _context.Context
	ApiService *ApplicationsHomeRealmDiscoveryPolicyApiService
	applicationId string
	requestBody *map[string]map[string]interface{}
}

// New navigation property ref value
func (r ApiApplicationsCreateRefHomeRealmDiscoveryPoliciesRequest) RequestBody(requestBody map[string]map[string]interface{}) ApiApplicationsCreateRefHomeRealmDiscoveryPoliciesRequest {
	r.requestBody = &requestBody
	return r
}

func (r ApiApplicationsCreateRefHomeRealmDiscoveryPoliciesRequest) Execute() (map[string]interface{}, *_nethttp.Response, error) {
	return r.ApiService.ApplicationsCreateRefHomeRealmDiscoveryPoliciesExecute(r)
}

/*
ApplicationsCreateRefHomeRealmDiscoveryPolicies Create new navigation property ref to homeRealmDiscoveryPolicies for applications

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param applicationId key: id of application
 @return ApiApplicationsCreateRefHomeRealmDiscoveryPoliciesRequest
*/
func (a *ApplicationsHomeRealmDiscoveryPolicyApiService) ApplicationsCreateRefHomeRealmDiscoveryPolicies(ctx _context.Context, applicationId string) ApiApplicationsCreateRefHomeRealmDiscoveryPoliciesRequest {
	return ApiApplicationsCreateRefHomeRealmDiscoveryPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		applicationId: applicationId,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ApplicationsHomeRealmDiscoveryPolicyApiService) ApplicationsCreateRefHomeRealmDiscoveryPoliciesExecute(r ApiApplicationsCreateRefHomeRealmDiscoveryPoliciesRequest) (map[string]interface{}, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsHomeRealmDiscoveryPolicyApiService.ApplicationsCreateRefHomeRealmDiscoveryPolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/applications/{application-id}/homeRealmDiscoveryPolicies/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"application-id"+"}", _neturl.PathEscape(parameterToString(r.applicationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApplicationsListHomeRealmDiscoveryPoliciesRequest struct {
	ctx _context.Context
	ApiService *ApplicationsHomeRealmDiscoveryPolicyApiService
	applicationId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiApplicationsListHomeRealmDiscoveryPoliciesRequest) Top(top int32) ApiApplicationsListHomeRealmDiscoveryPoliciesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiApplicationsListHomeRealmDiscoveryPoliciesRequest) Skip(skip int32) ApiApplicationsListHomeRealmDiscoveryPoliciesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiApplicationsListHomeRealmDiscoveryPoliciesRequest) Search(search string) ApiApplicationsListHomeRealmDiscoveryPoliciesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiApplicationsListHomeRealmDiscoveryPoliciesRequest) Filter(filter string) ApiApplicationsListHomeRealmDiscoveryPoliciesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiApplicationsListHomeRealmDiscoveryPoliciesRequest) Count(count bool) ApiApplicationsListHomeRealmDiscoveryPoliciesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiApplicationsListHomeRealmDiscoveryPoliciesRequest) Orderby(orderby []string) ApiApplicationsListHomeRealmDiscoveryPoliciesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiApplicationsListHomeRealmDiscoveryPoliciesRequest) Select_(select_ []string) ApiApplicationsListHomeRealmDiscoveryPoliciesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiApplicationsListHomeRealmDiscoveryPoliciesRequest) Expand(expand []string) ApiApplicationsListHomeRealmDiscoveryPoliciesRequest {
	r.expand = &expand
	return r
}

func (r ApiApplicationsListHomeRealmDiscoveryPoliciesRequest) Execute() (CollectionOfHomeRealmDiscoveryPolicy, *_nethttp.Response, error) {
	return r.ApiService.ApplicationsListHomeRealmDiscoveryPoliciesExecute(r)
}

/*
ApplicationsListHomeRealmDiscoveryPolicies Get homeRealmDiscoveryPolicies from applications

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param applicationId key: id of application
 @return ApiApplicationsListHomeRealmDiscoveryPoliciesRequest
*/
func (a *ApplicationsHomeRealmDiscoveryPolicyApiService) ApplicationsListHomeRealmDiscoveryPolicies(ctx _context.Context, applicationId string) ApiApplicationsListHomeRealmDiscoveryPoliciesRequest {
	return ApiApplicationsListHomeRealmDiscoveryPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		applicationId: applicationId,
	}
}

// Execute executes the request
//  @return CollectionOfHomeRealmDiscoveryPolicy
func (a *ApplicationsHomeRealmDiscoveryPolicyApiService) ApplicationsListHomeRealmDiscoveryPoliciesExecute(r ApiApplicationsListHomeRealmDiscoveryPoliciesRequest) (CollectionOfHomeRealmDiscoveryPolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfHomeRealmDiscoveryPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsHomeRealmDiscoveryPolicyApiService.ApplicationsListHomeRealmDiscoveryPolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/applications/{application-id}/homeRealmDiscoveryPolicies"
	localVarPath = strings.Replace(localVarPath, "{"+"application-id"+"}", _neturl.PathEscape(parameterToString(r.applicationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApplicationsListRefHomeRealmDiscoveryPoliciesRequest struct {
	ctx _context.Context
	ApiService *ApplicationsHomeRealmDiscoveryPolicyApiService
	applicationId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
}

// Show only the first n items
func (r ApiApplicationsListRefHomeRealmDiscoveryPoliciesRequest) Top(top int32) ApiApplicationsListRefHomeRealmDiscoveryPoliciesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiApplicationsListRefHomeRealmDiscoveryPoliciesRequest) Skip(skip int32) ApiApplicationsListRefHomeRealmDiscoveryPoliciesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiApplicationsListRefHomeRealmDiscoveryPoliciesRequest) Search(search string) ApiApplicationsListRefHomeRealmDiscoveryPoliciesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiApplicationsListRefHomeRealmDiscoveryPoliciesRequest) Filter(filter string) ApiApplicationsListRefHomeRealmDiscoveryPoliciesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiApplicationsListRefHomeRealmDiscoveryPoliciesRequest) Count(count bool) ApiApplicationsListRefHomeRealmDiscoveryPoliciesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiApplicationsListRefHomeRealmDiscoveryPoliciesRequest) Orderby(orderby []string) ApiApplicationsListRefHomeRealmDiscoveryPoliciesRequest {
	r.orderby = &orderby
	return r
}

func (r ApiApplicationsListRefHomeRealmDiscoveryPoliciesRequest) Execute() (CollectionOfLinksOfHomeRealmDiscoveryPolicy, *_nethttp.Response, error) {
	return r.ApiService.ApplicationsListRefHomeRealmDiscoveryPoliciesExecute(r)
}

/*
ApplicationsListRefHomeRealmDiscoveryPolicies Get ref of homeRealmDiscoveryPolicies from applications

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param applicationId key: id of application
 @return ApiApplicationsListRefHomeRealmDiscoveryPoliciesRequest
*/
func (a *ApplicationsHomeRealmDiscoveryPolicyApiService) ApplicationsListRefHomeRealmDiscoveryPolicies(ctx _context.Context, applicationId string) ApiApplicationsListRefHomeRealmDiscoveryPoliciesRequest {
	return ApiApplicationsListRefHomeRealmDiscoveryPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		applicationId: applicationId,
	}
}

// Execute executes the request
//  @return CollectionOfLinksOfHomeRealmDiscoveryPolicy
func (a *ApplicationsHomeRealmDiscoveryPolicyApiService) ApplicationsListRefHomeRealmDiscoveryPoliciesExecute(r ApiApplicationsListRefHomeRealmDiscoveryPoliciesRequest) (CollectionOfLinksOfHomeRealmDiscoveryPolicy, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfLinksOfHomeRealmDiscoveryPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApplicationsHomeRealmDiscoveryPolicyApiService.ApplicationsListRefHomeRealmDiscoveryPolicies")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/applications/{application-id}/homeRealmDiscoveryPolicies/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"application-id"+"}", _neturl.PathEscape(parameterToString(r.applicationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
