/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// DeviceAppManagementVppTokenApiService DeviceAppManagementVppTokenApi service
type DeviceAppManagementVppTokenApiService service

type ApiDeviceAppManagementCreateVppTokensRequest struct {
	ctx _context.Context
	ApiService *DeviceAppManagementVppTokenApiService
	microsoftGraphVppToken *MicrosoftGraphVppToken
}

// New navigation property
func (r ApiDeviceAppManagementCreateVppTokensRequest) MicrosoftGraphVppToken(microsoftGraphVppToken MicrosoftGraphVppToken) ApiDeviceAppManagementCreateVppTokensRequest {
	r.microsoftGraphVppToken = &microsoftGraphVppToken
	return r
}

func (r ApiDeviceAppManagementCreateVppTokensRequest) Execute() (MicrosoftGraphVppToken, *_nethttp.Response, error) {
	return r.ApiService.DeviceAppManagementCreateVppTokensExecute(r)
}

/*
DeviceAppManagementCreateVppTokens Create new navigation property to vppTokens for deviceAppManagement

List of Vpp tokens for this organization.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceAppManagementCreateVppTokensRequest
*/
func (a *DeviceAppManagementVppTokenApiService) DeviceAppManagementCreateVppTokens(ctx _context.Context) ApiDeviceAppManagementCreateVppTokensRequest {
	return ApiDeviceAppManagementCreateVppTokensRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphVppToken
func (a *DeviceAppManagementVppTokenApiService) DeviceAppManagementCreateVppTokensExecute(r ApiDeviceAppManagementCreateVppTokensRequest) (MicrosoftGraphVppToken, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphVppToken
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceAppManagementVppTokenApiService.DeviceAppManagementCreateVppTokens")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceAppManagement/vppTokens"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphVppToken == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphVppToken is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphVppToken
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceAppManagementDeleteVppTokensRequest struct {
	ctx _context.Context
	ApiService *DeviceAppManagementVppTokenApiService
	vppTokenId string
	ifMatch *string
}

// ETag
func (r ApiDeviceAppManagementDeleteVppTokensRequest) IfMatch(ifMatch string) ApiDeviceAppManagementDeleteVppTokensRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiDeviceAppManagementDeleteVppTokensRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceAppManagementDeleteVppTokensExecute(r)
}

/*
DeviceAppManagementDeleteVppTokens Delete navigation property vppTokens for deviceAppManagement

List of Vpp tokens for this organization.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param vppTokenId key: id of vppToken
 @return ApiDeviceAppManagementDeleteVppTokensRequest
*/
func (a *DeviceAppManagementVppTokenApiService) DeviceAppManagementDeleteVppTokens(ctx _context.Context, vppTokenId string) ApiDeviceAppManagementDeleteVppTokensRequest {
	return ApiDeviceAppManagementDeleteVppTokensRequest{
		ApiService: a,
		ctx: ctx,
		vppTokenId: vppTokenId,
	}
}

// Execute executes the request
func (a *DeviceAppManagementVppTokenApiService) DeviceAppManagementDeleteVppTokensExecute(r ApiDeviceAppManagementDeleteVppTokensRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceAppManagementVppTokenApiService.DeviceAppManagementDeleteVppTokens")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceAppManagement/vppTokens/{vppToken-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"vppToken-id"+"}", _neturl.PathEscape(parameterToString(r.vppTokenId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeviceAppManagementGetVppTokensRequest struct {
	ctx _context.Context
	ApiService *DeviceAppManagementVppTokenApiService
	vppTokenId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiDeviceAppManagementGetVppTokensRequest) Select_(select_ []string) ApiDeviceAppManagementGetVppTokensRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceAppManagementGetVppTokensRequest) Expand(expand []string) ApiDeviceAppManagementGetVppTokensRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceAppManagementGetVppTokensRequest) Execute() (MicrosoftGraphVppToken, *_nethttp.Response, error) {
	return r.ApiService.DeviceAppManagementGetVppTokensExecute(r)
}

/*
DeviceAppManagementGetVppTokens Get vppTokens from deviceAppManagement

List of Vpp tokens for this organization.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param vppTokenId key: id of vppToken
 @return ApiDeviceAppManagementGetVppTokensRequest
*/
func (a *DeviceAppManagementVppTokenApiService) DeviceAppManagementGetVppTokens(ctx _context.Context, vppTokenId string) ApiDeviceAppManagementGetVppTokensRequest {
	return ApiDeviceAppManagementGetVppTokensRequest{
		ApiService: a,
		ctx: ctx,
		vppTokenId: vppTokenId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphVppToken
func (a *DeviceAppManagementVppTokenApiService) DeviceAppManagementGetVppTokensExecute(r ApiDeviceAppManagementGetVppTokensRequest) (MicrosoftGraphVppToken, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphVppToken
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceAppManagementVppTokenApiService.DeviceAppManagementGetVppTokens")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceAppManagement/vppTokens/{vppToken-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"vppToken-id"+"}", _neturl.PathEscape(parameterToString(r.vppTokenId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceAppManagementListVppTokensRequest struct {
	ctx _context.Context
	ApiService *DeviceAppManagementVppTokenApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiDeviceAppManagementListVppTokensRequest) Top(top int32) ApiDeviceAppManagementListVppTokensRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiDeviceAppManagementListVppTokensRequest) Skip(skip int32) ApiDeviceAppManagementListVppTokensRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiDeviceAppManagementListVppTokensRequest) Search(search string) ApiDeviceAppManagementListVppTokensRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiDeviceAppManagementListVppTokensRequest) Filter(filter string) ApiDeviceAppManagementListVppTokensRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiDeviceAppManagementListVppTokensRequest) Count(count bool) ApiDeviceAppManagementListVppTokensRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiDeviceAppManagementListVppTokensRequest) Orderby(orderby []string) ApiDeviceAppManagementListVppTokensRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiDeviceAppManagementListVppTokensRequest) Select_(select_ []string) ApiDeviceAppManagementListVppTokensRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceAppManagementListVppTokensRequest) Expand(expand []string) ApiDeviceAppManagementListVppTokensRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceAppManagementListVppTokensRequest) Execute() (CollectionOfVppToken, *_nethttp.Response, error) {
	return r.ApiService.DeviceAppManagementListVppTokensExecute(r)
}

/*
DeviceAppManagementListVppTokens Get vppTokens from deviceAppManagement

List of Vpp tokens for this organization.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceAppManagementListVppTokensRequest
*/
func (a *DeviceAppManagementVppTokenApiService) DeviceAppManagementListVppTokens(ctx _context.Context) ApiDeviceAppManagementListVppTokensRequest {
	return ApiDeviceAppManagementListVppTokensRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfVppToken
func (a *DeviceAppManagementVppTokenApiService) DeviceAppManagementListVppTokensExecute(r ApiDeviceAppManagementListVppTokensRequest) (CollectionOfVppToken, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfVppToken
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceAppManagementVppTokenApiService.DeviceAppManagementListVppTokens")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceAppManagement/vppTokens"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceAppManagementUpdateVppTokensRequest struct {
	ctx _context.Context
	ApiService *DeviceAppManagementVppTokenApiService
	vppTokenId string
	microsoftGraphVppToken *MicrosoftGraphVppToken
}

// New navigation property values
func (r ApiDeviceAppManagementUpdateVppTokensRequest) MicrosoftGraphVppToken(microsoftGraphVppToken MicrosoftGraphVppToken) ApiDeviceAppManagementUpdateVppTokensRequest {
	r.microsoftGraphVppToken = &microsoftGraphVppToken
	return r
}

func (r ApiDeviceAppManagementUpdateVppTokensRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceAppManagementUpdateVppTokensExecute(r)
}

/*
DeviceAppManagementUpdateVppTokens Update the navigation property vppTokens in deviceAppManagement

List of Vpp tokens for this organization.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param vppTokenId key: id of vppToken
 @return ApiDeviceAppManagementUpdateVppTokensRequest
*/
func (a *DeviceAppManagementVppTokenApiService) DeviceAppManagementUpdateVppTokens(ctx _context.Context, vppTokenId string) ApiDeviceAppManagementUpdateVppTokensRequest {
	return ApiDeviceAppManagementUpdateVppTokensRequest{
		ApiService: a,
		ctx: ctx,
		vppTokenId: vppTokenId,
	}
}

// Execute executes the request
func (a *DeviceAppManagementVppTokenApiService) DeviceAppManagementUpdateVppTokensExecute(r ApiDeviceAppManagementUpdateVppTokensRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceAppManagementVppTokenApiService.DeviceAppManagementUpdateVppTokens")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceAppManagement/vppTokens/{vppToken-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"vppToken-id"+"}", _neturl.PathEscape(parameterToString(r.vppTokenId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphVppToken == nil {
		return nil, reportError("microsoftGraphVppToken is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphVppToken
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
