/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// ServicePrincipalsDelegatedPermissionClassificationApiService ServicePrincipalsDelegatedPermissionClassificationApi service
type ServicePrincipalsDelegatedPermissionClassificationApiService service

type ApiServicePrincipalsCreateDelegatedPermissionClassificationsRequest struct {
	ctx _context.Context
	ApiService *ServicePrincipalsDelegatedPermissionClassificationApiService
	servicePrincipalId string
	microsoftGraphDelegatedPermissionClassification *MicrosoftGraphDelegatedPermissionClassification
}

// New navigation property
func (r ApiServicePrincipalsCreateDelegatedPermissionClassificationsRequest) MicrosoftGraphDelegatedPermissionClassification(microsoftGraphDelegatedPermissionClassification MicrosoftGraphDelegatedPermissionClassification) ApiServicePrincipalsCreateDelegatedPermissionClassificationsRequest {
	r.microsoftGraphDelegatedPermissionClassification = &microsoftGraphDelegatedPermissionClassification
	return r
}

func (r ApiServicePrincipalsCreateDelegatedPermissionClassificationsRequest) Execute() (MicrosoftGraphDelegatedPermissionClassification, *_nethttp.Response, error) {
	return r.ApiService.ServicePrincipalsCreateDelegatedPermissionClassificationsExecute(r)
}

/*
ServicePrincipalsCreateDelegatedPermissionClassifications Create new navigation property to delegatedPermissionClassifications for servicePrincipals

The permission classifications for delegated permissions exposed by the app that this service principal represents. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param servicePrincipalId key: id of servicePrincipal
 @return ApiServicePrincipalsCreateDelegatedPermissionClassificationsRequest
*/
func (a *ServicePrincipalsDelegatedPermissionClassificationApiService) ServicePrincipalsCreateDelegatedPermissionClassifications(ctx _context.Context, servicePrincipalId string) ApiServicePrincipalsCreateDelegatedPermissionClassificationsRequest {
	return ApiServicePrincipalsCreateDelegatedPermissionClassificationsRequest{
		ApiService: a,
		ctx: ctx,
		servicePrincipalId: servicePrincipalId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphDelegatedPermissionClassification
func (a *ServicePrincipalsDelegatedPermissionClassificationApiService) ServicePrincipalsCreateDelegatedPermissionClassificationsExecute(r ApiServicePrincipalsCreateDelegatedPermissionClassificationsRequest) (MicrosoftGraphDelegatedPermissionClassification, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphDelegatedPermissionClassification
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServicePrincipalsDelegatedPermissionClassificationApiService.ServicePrincipalsCreateDelegatedPermissionClassifications")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servicePrincipals/{servicePrincipal-id}/delegatedPermissionClassifications"
	localVarPath = strings.Replace(localVarPath, "{"+"servicePrincipal-id"+"}", _neturl.PathEscape(parameterToString(r.servicePrincipalId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphDelegatedPermissionClassification == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphDelegatedPermissionClassification is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphDelegatedPermissionClassification
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiServicePrincipalsDeleteDelegatedPermissionClassificationsRequest struct {
	ctx _context.Context
	ApiService *ServicePrincipalsDelegatedPermissionClassificationApiService
	servicePrincipalId string
	delegatedPermissionClassificationId string
	ifMatch *string
}

// ETag
func (r ApiServicePrincipalsDeleteDelegatedPermissionClassificationsRequest) IfMatch(ifMatch string) ApiServicePrincipalsDeleteDelegatedPermissionClassificationsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiServicePrincipalsDeleteDelegatedPermissionClassificationsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.ServicePrincipalsDeleteDelegatedPermissionClassificationsExecute(r)
}

/*
ServicePrincipalsDeleteDelegatedPermissionClassifications Delete navigation property delegatedPermissionClassifications for servicePrincipals

The permission classifications for delegated permissions exposed by the app that this service principal represents. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param servicePrincipalId key: id of servicePrincipal
 @param delegatedPermissionClassificationId key: id of delegatedPermissionClassification
 @return ApiServicePrincipalsDeleteDelegatedPermissionClassificationsRequest
*/
func (a *ServicePrincipalsDelegatedPermissionClassificationApiService) ServicePrincipalsDeleteDelegatedPermissionClassifications(ctx _context.Context, servicePrincipalId string, delegatedPermissionClassificationId string) ApiServicePrincipalsDeleteDelegatedPermissionClassificationsRequest {
	return ApiServicePrincipalsDeleteDelegatedPermissionClassificationsRequest{
		ApiService: a,
		ctx: ctx,
		servicePrincipalId: servicePrincipalId,
		delegatedPermissionClassificationId: delegatedPermissionClassificationId,
	}
}

// Execute executes the request
func (a *ServicePrincipalsDelegatedPermissionClassificationApiService) ServicePrincipalsDeleteDelegatedPermissionClassificationsExecute(r ApiServicePrincipalsDeleteDelegatedPermissionClassificationsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServicePrincipalsDelegatedPermissionClassificationApiService.ServicePrincipalsDeleteDelegatedPermissionClassifications")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servicePrincipals/{servicePrincipal-id}/delegatedPermissionClassifications/{delegatedPermissionClassification-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"servicePrincipal-id"+"}", _neturl.PathEscape(parameterToString(r.servicePrincipalId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"delegatedPermissionClassification-id"+"}", _neturl.PathEscape(parameterToString(r.delegatedPermissionClassificationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiServicePrincipalsGetDelegatedPermissionClassificationsRequest struct {
	ctx _context.Context
	ApiService *ServicePrincipalsDelegatedPermissionClassificationApiService
	servicePrincipalId string
	delegatedPermissionClassificationId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiServicePrincipalsGetDelegatedPermissionClassificationsRequest) Select_(select_ []string) ApiServicePrincipalsGetDelegatedPermissionClassificationsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiServicePrincipalsGetDelegatedPermissionClassificationsRequest) Expand(expand []string) ApiServicePrincipalsGetDelegatedPermissionClassificationsRequest {
	r.expand = &expand
	return r
}

func (r ApiServicePrincipalsGetDelegatedPermissionClassificationsRequest) Execute() (MicrosoftGraphDelegatedPermissionClassification, *_nethttp.Response, error) {
	return r.ApiService.ServicePrincipalsGetDelegatedPermissionClassificationsExecute(r)
}

/*
ServicePrincipalsGetDelegatedPermissionClassifications Get delegatedPermissionClassifications from servicePrincipals

The permission classifications for delegated permissions exposed by the app that this service principal represents. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param servicePrincipalId key: id of servicePrincipal
 @param delegatedPermissionClassificationId key: id of delegatedPermissionClassification
 @return ApiServicePrincipalsGetDelegatedPermissionClassificationsRequest
*/
func (a *ServicePrincipalsDelegatedPermissionClassificationApiService) ServicePrincipalsGetDelegatedPermissionClassifications(ctx _context.Context, servicePrincipalId string, delegatedPermissionClassificationId string) ApiServicePrincipalsGetDelegatedPermissionClassificationsRequest {
	return ApiServicePrincipalsGetDelegatedPermissionClassificationsRequest{
		ApiService: a,
		ctx: ctx,
		servicePrincipalId: servicePrincipalId,
		delegatedPermissionClassificationId: delegatedPermissionClassificationId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphDelegatedPermissionClassification
func (a *ServicePrincipalsDelegatedPermissionClassificationApiService) ServicePrincipalsGetDelegatedPermissionClassificationsExecute(r ApiServicePrincipalsGetDelegatedPermissionClassificationsRequest) (MicrosoftGraphDelegatedPermissionClassification, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphDelegatedPermissionClassification
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServicePrincipalsDelegatedPermissionClassificationApiService.ServicePrincipalsGetDelegatedPermissionClassifications")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servicePrincipals/{servicePrincipal-id}/delegatedPermissionClassifications/{delegatedPermissionClassification-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"servicePrincipal-id"+"}", _neturl.PathEscape(parameterToString(r.servicePrincipalId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"delegatedPermissionClassification-id"+"}", _neturl.PathEscape(parameterToString(r.delegatedPermissionClassificationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiServicePrincipalsListDelegatedPermissionClassificationsRequest struct {
	ctx _context.Context
	ApiService *ServicePrincipalsDelegatedPermissionClassificationApiService
	servicePrincipalId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiServicePrincipalsListDelegatedPermissionClassificationsRequest) Top(top int32) ApiServicePrincipalsListDelegatedPermissionClassificationsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiServicePrincipalsListDelegatedPermissionClassificationsRequest) Skip(skip int32) ApiServicePrincipalsListDelegatedPermissionClassificationsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiServicePrincipalsListDelegatedPermissionClassificationsRequest) Search(search string) ApiServicePrincipalsListDelegatedPermissionClassificationsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiServicePrincipalsListDelegatedPermissionClassificationsRequest) Filter(filter string) ApiServicePrincipalsListDelegatedPermissionClassificationsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiServicePrincipalsListDelegatedPermissionClassificationsRequest) Count(count bool) ApiServicePrincipalsListDelegatedPermissionClassificationsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiServicePrincipalsListDelegatedPermissionClassificationsRequest) Orderby(orderby []string) ApiServicePrincipalsListDelegatedPermissionClassificationsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiServicePrincipalsListDelegatedPermissionClassificationsRequest) Select_(select_ []string) ApiServicePrincipalsListDelegatedPermissionClassificationsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiServicePrincipalsListDelegatedPermissionClassificationsRequest) Expand(expand []string) ApiServicePrincipalsListDelegatedPermissionClassificationsRequest {
	r.expand = &expand
	return r
}

func (r ApiServicePrincipalsListDelegatedPermissionClassificationsRequest) Execute() (CollectionOfDelegatedPermissionClassification, *_nethttp.Response, error) {
	return r.ApiService.ServicePrincipalsListDelegatedPermissionClassificationsExecute(r)
}

/*
ServicePrincipalsListDelegatedPermissionClassifications Get delegatedPermissionClassifications from servicePrincipals

The permission classifications for delegated permissions exposed by the app that this service principal represents. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param servicePrincipalId key: id of servicePrincipal
 @return ApiServicePrincipalsListDelegatedPermissionClassificationsRequest
*/
func (a *ServicePrincipalsDelegatedPermissionClassificationApiService) ServicePrincipalsListDelegatedPermissionClassifications(ctx _context.Context, servicePrincipalId string) ApiServicePrincipalsListDelegatedPermissionClassificationsRequest {
	return ApiServicePrincipalsListDelegatedPermissionClassificationsRequest{
		ApiService: a,
		ctx: ctx,
		servicePrincipalId: servicePrincipalId,
	}
}

// Execute executes the request
//  @return CollectionOfDelegatedPermissionClassification
func (a *ServicePrincipalsDelegatedPermissionClassificationApiService) ServicePrincipalsListDelegatedPermissionClassificationsExecute(r ApiServicePrincipalsListDelegatedPermissionClassificationsRequest) (CollectionOfDelegatedPermissionClassification, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfDelegatedPermissionClassification
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServicePrincipalsDelegatedPermissionClassificationApiService.ServicePrincipalsListDelegatedPermissionClassifications")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servicePrincipals/{servicePrincipal-id}/delegatedPermissionClassifications"
	localVarPath = strings.Replace(localVarPath, "{"+"servicePrincipal-id"+"}", _neturl.PathEscape(parameterToString(r.servicePrincipalId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiServicePrincipalsUpdateDelegatedPermissionClassificationsRequest struct {
	ctx _context.Context
	ApiService *ServicePrincipalsDelegatedPermissionClassificationApiService
	servicePrincipalId string
	delegatedPermissionClassificationId string
	microsoftGraphDelegatedPermissionClassification *MicrosoftGraphDelegatedPermissionClassification
}

// New navigation property values
func (r ApiServicePrincipalsUpdateDelegatedPermissionClassificationsRequest) MicrosoftGraphDelegatedPermissionClassification(microsoftGraphDelegatedPermissionClassification MicrosoftGraphDelegatedPermissionClassification) ApiServicePrincipalsUpdateDelegatedPermissionClassificationsRequest {
	r.microsoftGraphDelegatedPermissionClassification = &microsoftGraphDelegatedPermissionClassification
	return r
}

func (r ApiServicePrincipalsUpdateDelegatedPermissionClassificationsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.ServicePrincipalsUpdateDelegatedPermissionClassificationsExecute(r)
}

/*
ServicePrincipalsUpdateDelegatedPermissionClassifications Update the navigation property delegatedPermissionClassifications in servicePrincipals

The permission classifications for delegated permissions exposed by the app that this service principal represents. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param servicePrincipalId key: id of servicePrincipal
 @param delegatedPermissionClassificationId key: id of delegatedPermissionClassification
 @return ApiServicePrincipalsUpdateDelegatedPermissionClassificationsRequest
*/
func (a *ServicePrincipalsDelegatedPermissionClassificationApiService) ServicePrincipalsUpdateDelegatedPermissionClassifications(ctx _context.Context, servicePrincipalId string, delegatedPermissionClassificationId string) ApiServicePrincipalsUpdateDelegatedPermissionClassificationsRequest {
	return ApiServicePrincipalsUpdateDelegatedPermissionClassificationsRequest{
		ApiService: a,
		ctx: ctx,
		servicePrincipalId: servicePrincipalId,
		delegatedPermissionClassificationId: delegatedPermissionClassificationId,
	}
}

// Execute executes the request
func (a *ServicePrincipalsDelegatedPermissionClassificationApiService) ServicePrincipalsUpdateDelegatedPermissionClassificationsExecute(r ApiServicePrincipalsUpdateDelegatedPermissionClassificationsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ServicePrincipalsDelegatedPermissionClassificationApiService.ServicePrincipalsUpdateDelegatedPermissionClassifications")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/servicePrincipals/{servicePrincipal-id}/delegatedPermissionClassifications/{delegatedPermissionClassification-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"servicePrincipal-id"+"}", _neturl.PathEscape(parameterToString(r.servicePrincipalId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"delegatedPermissionClassification-id"+"}", _neturl.PathEscape(parameterToString(r.delegatedPermissionClassificationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphDelegatedPermissionClassification == nil {
		return nil, reportError("microsoftGraphDelegatedPermissionClassification is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphDelegatedPermissionClassification
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
