/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// AgreementsAgreementAcceptanceApiService AgreementsAgreementAcceptanceApi service
type AgreementsAgreementAcceptanceApiService service

type ApiAgreementsCreateAcceptancesRequest struct {
	ctx _context.Context
	ApiService *AgreementsAgreementAcceptanceApiService
	agreementId string
	microsoftGraphAgreementAcceptance *MicrosoftGraphAgreementAcceptance
}

// New navigation property
func (r ApiAgreementsCreateAcceptancesRequest) MicrosoftGraphAgreementAcceptance(microsoftGraphAgreementAcceptance MicrosoftGraphAgreementAcceptance) ApiAgreementsCreateAcceptancesRequest {
	r.microsoftGraphAgreementAcceptance = &microsoftGraphAgreementAcceptance
	return r
}

func (r ApiAgreementsCreateAcceptancesRequest) Execute() (MicrosoftGraphAgreementAcceptance, *_nethttp.Response, error) {
	return r.ApiService.AgreementsCreateAcceptancesExecute(r)
}

/*
AgreementsCreateAcceptances Create new navigation property to acceptances for agreements

Read-only. Information about acceptances of this agreement.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param agreementId key: id of agreement
 @return ApiAgreementsCreateAcceptancesRequest
*/
func (a *AgreementsAgreementAcceptanceApiService) AgreementsCreateAcceptances(ctx _context.Context, agreementId string) ApiAgreementsCreateAcceptancesRequest {
	return ApiAgreementsCreateAcceptancesRequest{
		ApiService: a,
		ctx: ctx,
		agreementId: agreementId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphAgreementAcceptance
func (a *AgreementsAgreementAcceptanceApiService) AgreementsCreateAcceptancesExecute(r ApiAgreementsCreateAcceptancesRequest) (MicrosoftGraphAgreementAcceptance, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphAgreementAcceptance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgreementsAgreementAcceptanceApiService.AgreementsCreateAcceptances")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agreements/{agreement-id}/acceptances"
	localVarPath = strings.Replace(localVarPath, "{"+"agreement-id"+"}", _neturl.PathEscape(parameterToString(r.agreementId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphAgreementAcceptance == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphAgreementAcceptance is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphAgreementAcceptance
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAgreementsDeleteAcceptancesRequest struct {
	ctx _context.Context
	ApiService *AgreementsAgreementAcceptanceApiService
	agreementId string
	agreementAcceptanceId string
	ifMatch *string
}

// ETag
func (r ApiAgreementsDeleteAcceptancesRequest) IfMatch(ifMatch string) ApiAgreementsDeleteAcceptancesRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiAgreementsDeleteAcceptancesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.AgreementsDeleteAcceptancesExecute(r)
}

/*
AgreementsDeleteAcceptances Delete navigation property acceptances for agreements

Read-only. Information about acceptances of this agreement.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param agreementId key: id of agreement
 @param agreementAcceptanceId key: id of agreementAcceptance
 @return ApiAgreementsDeleteAcceptancesRequest
*/
func (a *AgreementsAgreementAcceptanceApiService) AgreementsDeleteAcceptances(ctx _context.Context, agreementId string, agreementAcceptanceId string) ApiAgreementsDeleteAcceptancesRequest {
	return ApiAgreementsDeleteAcceptancesRequest{
		ApiService: a,
		ctx: ctx,
		agreementId: agreementId,
		agreementAcceptanceId: agreementAcceptanceId,
	}
}

// Execute executes the request
func (a *AgreementsAgreementAcceptanceApiService) AgreementsDeleteAcceptancesExecute(r ApiAgreementsDeleteAcceptancesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgreementsAgreementAcceptanceApiService.AgreementsDeleteAcceptances")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agreements/{agreement-id}/acceptances/{agreementAcceptance-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"agreement-id"+"}", _neturl.PathEscape(parameterToString(r.agreementId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"agreementAcceptance-id"+"}", _neturl.PathEscape(parameterToString(r.agreementAcceptanceId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiAgreementsGetAcceptancesRequest struct {
	ctx _context.Context
	ApiService *AgreementsAgreementAcceptanceApiService
	agreementId string
	agreementAcceptanceId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiAgreementsGetAcceptancesRequest) Select_(select_ []string) ApiAgreementsGetAcceptancesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiAgreementsGetAcceptancesRequest) Expand(expand []string) ApiAgreementsGetAcceptancesRequest {
	r.expand = &expand
	return r
}

func (r ApiAgreementsGetAcceptancesRequest) Execute() (MicrosoftGraphAgreementAcceptance, *_nethttp.Response, error) {
	return r.ApiService.AgreementsGetAcceptancesExecute(r)
}

/*
AgreementsGetAcceptances Get acceptances from agreements

Read-only. Information about acceptances of this agreement.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param agreementId key: id of agreement
 @param agreementAcceptanceId key: id of agreementAcceptance
 @return ApiAgreementsGetAcceptancesRequest
*/
func (a *AgreementsAgreementAcceptanceApiService) AgreementsGetAcceptances(ctx _context.Context, agreementId string, agreementAcceptanceId string) ApiAgreementsGetAcceptancesRequest {
	return ApiAgreementsGetAcceptancesRequest{
		ApiService: a,
		ctx: ctx,
		agreementId: agreementId,
		agreementAcceptanceId: agreementAcceptanceId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphAgreementAcceptance
func (a *AgreementsAgreementAcceptanceApiService) AgreementsGetAcceptancesExecute(r ApiAgreementsGetAcceptancesRequest) (MicrosoftGraphAgreementAcceptance, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphAgreementAcceptance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgreementsAgreementAcceptanceApiService.AgreementsGetAcceptances")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agreements/{agreement-id}/acceptances/{agreementAcceptance-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"agreement-id"+"}", _neturl.PathEscape(parameterToString(r.agreementId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"agreementAcceptance-id"+"}", _neturl.PathEscape(parameterToString(r.agreementAcceptanceId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAgreementsListAcceptancesRequest struct {
	ctx _context.Context
	ApiService *AgreementsAgreementAcceptanceApiService
	agreementId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiAgreementsListAcceptancesRequest) Top(top int32) ApiAgreementsListAcceptancesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiAgreementsListAcceptancesRequest) Skip(skip int32) ApiAgreementsListAcceptancesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiAgreementsListAcceptancesRequest) Search(search string) ApiAgreementsListAcceptancesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiAgreementsListAcceptancesRequest) Filter(filter string) ApiAgreementsListAcceptancesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiAgreementsListAcceptancesRequest) Count(count bool) ApiAgreementsListAcceptancesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiAgreementsListAcceptancesRequest) Orderby(orderby []string) ApiAgreementsListAcceptancesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiAgreementsListAcceptancesRequest) Select_(select_ []string) ApiAgreementsListAcceptancesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiAgreementsListAcceptancesRequest) Expand(expand []string) ApiAgreementsListAcceptancesRequest {
	r.expand = &expand
	return r
}

func (r ApiAgreementsListAcceptancesRequest) Execute() (CollectionOfAgreementAcceptance, *_nethttp.Response, error) {
	return r.ApiService.AgreementsListAcceptancesExecute(r)
}

/*
AgreementsListAcceptances Get acceptances from agreements

Read-only. Information about acceptances of this agreement.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param agreementId key: id of agreement
 @return ApiAgreementsListAcceptancesRequest
*/
func (a *AgreementsAgreementAcceptanceApiService) AgreementsListAcceptances(ctx _context.Context, agreementId string) ApiAgreementsListAcceptancesRequest {
	return ApiAgreementsListAcceptancesRequest{
		ApiService: a,
		ctx: ctx,
		agreementId: agreementId,
	}
}

// Execute executes the request
//  @return CollectionOfAgreementAcceptance
func (a *AgreementsAgreementAcceptanceApiService) AgreementsListAcceptancesExecute(r ApiAgreementsListAcceptancesRequest) (CollectionOfAgreementAcceptance, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfAgreementAcceptance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgreementsAgreementAcceptanceApiService.AgreementsListAcceptances")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agreements/{agreement-id}/acceptances"
	localVarPath = strings.Replace(localVarPath, "{"+"agreement-id"+"}", _neturl.PathEscape(parameterToString(r.agreementId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAgreementsUpdateAcceptancesRequest struct {
	ctx _context.Context
	ApiService *AgreementsAgreementAcceptanceApiService
	agreementId string
	agreementAcceptanceId string
	microsoftGraphAgreementAcceptance *MicrosoftGraphAgreementAcceptance
}

// New navigation property values
func (r ApiAgreementsUpdateAcceptancesRequest) MicrosoftGraphAgreementAcceptance(microsoftGraphAgreementAcceptance MicrosoftGraphAgreementAcceptance) ApiAgreementsUpdateAcceptancesRequest {
	r.microsoftGraphAgreementAcceptance = &microsoftGraphAgreementAcceptance
	return r
}

func (r ApiAgreementsUpdateAcceptancesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.AgreementsUpdateAcceptancesExecute(r)
}

/*
AgreementsUpdateAcceptances Update the navigation property acceptances in agreements

Read-only. Information about acceptances of this agreement.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param agreementId key: id of agreement
 @param agreementAcceptanceId key: id of agreementAcceptance
 @return ApiAgreementsUpdateAcceptancesRequest
*/
func (a *AgreementsAgreementAcceptanceApiService) AgreementsUpdateAcceptances(ctx _context.Context, agreementId string, agreementAcceptanceId string) ApiAgreementsUpdateAcceptancesRequest {
	return ApiAgreementsUpdateAcceptancesRequest{
		ApiService: a,
		ctx: ctx,
		agreementId: agreementId,
		agreementAcceptanceId: agreementAcceptanceId,
	}
}

// Execute executes the request
func (a *AgreementsAgreementAcceptanceApiService) AgreementsUpdateAcceptancesExecute(r ApiAgreementsUpdateAcceptancesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgreementsAgreementAcceptanceApiService.AgreementsUpdateAcceptances")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agreements/{agreement-id}/acceptances/{agreementAcceptance-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"agreement-id"+"}", _neturl.PathEscape(parameterToString(r.agreementId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"agreementAcceptance-id"+"}", _neturl.PathEscape(parameterToString(r.agreementAcceptanceId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphAgreementAcceptance == nil {
		return nil, reportError("microsoftGraphAgreementAcceptance is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphAgreementAcceptance
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
