/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// RoleManagementRbacApplicationApiService RoleManagementRbacApplicationApi service
type RoleManagementRbacApplicationApiService service

type ApiRoleManagementDeleteDirectoryRequest struct {
	ctx _context.Context
	ApiService *RoleManagementRbacApplicationApiService
	ifMatch *string
}

// ETag
func (r ApiRoleManagementDeleteDirectoryRequest) IfMatch(ifMatch string) ApiRoleManagementDeleteDirectoryRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiRoleManagementDeleteDirectoryRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.RoleManagementDeleteDirectoryExecute(r)
}

/*
RoleManagementDeleteDirectory Delete navigation property directory for roleManagement

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRoleManagementDeleteDirectoryRequest
*/
func (a *RoleManagementRbacApplicationApiService) RoleManagementDeleteDirectory(ctx _context.Context) ApiRoleManagementDeleteDirectoryRequest {
	return ApiRoleManagementDeleteDirectoryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *RoleManagementRbacApplicationApiService) RoleManagementDeleteDirectoryExecute(r ApiRoleManagementDeleteDirectoryRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RoleManagementRbacApplicationApiService.RoleManagementDeleteDirectory")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/roleManagement/directory"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRoleManagementDeleteEntitlementManagementRequest struct {
	ctx _context.Context
	ApiService *RoleManagementRbacApplicationApiService
	ifMatch *string
}

// ETag
func (r ApiRoleManagementDeleteEntitlementManagementRequest) IfMatch(ifMatch string) ApiRoleManagementDeleteEntitlementManagementRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiRoleManagementDeleteEntitlementManagementRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.RoleManagementDeleteEntitlementManagementExecute(r)
}

/*
RoleManagementDeleteEntitlementManagement Delete navigation property entitlementManagement for roleManagement

Container for all entitlement management resources in Azure AD identity governance.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRoleManagementDeleteEntitlementManagementRequest
*/
func (a *RoleManagementRbacApplicationApiService) RoleManagementDeleteEntitlementManagement(ctx _context.Context) ApiRoleManagementDeleteEntitlementManagementRequest {
	return ApiRoleManagementDeleteEntitlementManagementRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *RoleManagementRbacApplicationApiService) RoleManagementDeleteEntitlementManagementExecute(r ApiRoleManagementDeleteEntitlementManagementRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RoleManagementRbacApplicationApiService.RoleManagementDeleteEntitlementManagement")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/roleManagement/entitlementManagement"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRoleManagementDirectoryCreateRoleAssignmentsRequest struct {
	ctx _context.Context
	ApiService *RoleManagementRbacApplicationApiService
	microsoftGraphUnifiedRoleAssignment *MicrosoftGraphUnifiedRoleAssignment
}

// New navigation property
func (r ApiRoleManagementDirectoryCreateRoleAssignmentsRequest) MicrosoftGraphUnifiedRoleAssignment(microsoftGraphUnifiedRoleAssignment MicrosoftGraphUnifiedRoleAssignment) ApiRoleManagementDirectoryCreateRoleAssignmentsRequest {
	r.microsoftGraphUnifiedRoleAssignment = &microsoftGraphUnifiedRoleAssignment
	return r
}

func (r ApiRoleManagementDirectoryCreateRoleAssignmentsRequest) Execute() (MicrosoftGraphUnifiedRoleAssignment, *_nethttp.Response, error) {
	return r.ApiService.RoleManagementDirectoryCreateRoleAssignmentsExecute(r)
}

/*
RoleManagementDirectoryCreateRoleAssignments Create new navigation property to roleAssignments for roleManagement

Resource to grant access to users or groups.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRoleManagementDirectoryCreateRoleAssignmentsRequest
*/
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryCreateRoleAssignments(ctx _context.Context) ApiRoleManagementDirectoryCreateRoleAssignmentsRequest {
	return ApiRoleManagementDirectoryCreateRoleAssignmentsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphUnifiedRoleAssignment
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryCreateRoleAssignmentsExecute(r ApiRoleManagementDirectoryCreateRoleAssignmentsRequest) (MicrosoftGraphUnifiedRoleAssignment, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphUnifiedRoleAssignment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RoleManagementRbacApplicationApiService.RoleManagementDirectoryCreateRoleAssignments")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/roleManagement/directory/roleAssignments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphUnifiedRoleAssignment == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphUnifiedRoleAssignment is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphUnifiedRoleAssignment
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRoleManagementDirectoryCreateRoleDefinitionsRequest struct {
	ctx _context.Context
	ApiService *RoleManagementRbacApplicationApiService
	microsoftGraphUnifiedRoleDefinition *MicrosoftGraphUnifiedRoleDefinition
}

// New navigation property
func (r ApiRoleManagementDirectoryCreateRoleDefinitionsRequest) MicrosoftGraphUnifiedRoleDefinition(microsoftGraphUnifiedRoleDefinition MicrosoftGraphUnifiedRoleDefinition) ApiRoleManagementDirectoryCreateRoleDefinitionsRequest {
	r.microsoftGraphUnifiedRoleDefinition = &microsoftGraphUnifiedRoleDefinition
	return r
}

func (r ApiRoleManagementDirectoryCreateRoleDefinitionsRequest) Execute() (MicrosoftGraphUnifiedRoleDefinition, *_nethttp.Response, error) {
	return r.ApiService.RoleManagementDirectoryCreateRoleDefinitionsExecute(r)
}

/*
RoleManagementDirectoryCreateRoleDefinitions Create new navigation property to roleDefinitions for roleManagement

Resource representing the roles allowed by RBAC providers and the permissions assigned to the roles.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRoleManagementDirectoryCreateRoleDefinitionsRequest
*/
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryCreateRoleDefinitions(ctx _context.Context) ApiRoleManagementDirectoryCreateRoleDefinitionsRequest {
	return ApiRoleManagementDirectoryCreateRoleDefinitionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphUnifiedRoleDefinition
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryCreateRoleDefinitionsExecute(r ApiRoleManagementDirectoryCreateRoleDefinitionsRequest) (MicrosoftGraphUnifiedRoleDefinition, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphUnifiedRoleDefinition
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RoleManagementRbacApplicationApiService.RoleManagementDirectoryCreateRoleDefinitions")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/roleManagement/directory/roleDefinitions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphUnifiedRoleDefinition == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphUnifiedRoleDefinition is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphUnifiedRoleDefinition
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRoleManagementDirectoryDeleteRoleAssignmentsRequest struct {
	ctx _context.Context
	ApiService *RoleManagementRbacApplicationApiService
	unifiedRoleAssignmentId string
	ifMatch *string
}

// ETag
func (r ApiRoleManagementDirectoryDeleteRoleAssignmentsRequest) IfMatch(ifMatch string) ApiRoleManagementDirectoryDeleteRoleAssignmentsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiRoleManagementDirectoryDeleteRoleAssignmentsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.RoleManagementDirectoryDeleteRoleAssignmentsExecute(r)
}

/*
RoleManagementDirectoryDeleteRoleAssignments Delete navigation property roleAssignments for roleManagement

Resource to grant access to users or groups.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param unifiedRoleAssignmentId key: id of unifiedRoleAssignment
 @return ApiRoleManagementDirectoryDeleteRoleAssignmentsRequest
*/
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryDeleteRoleAssignments(ctx _context.Context, unifiedRoleAssignmentId string) ApiRoleManagementDirectoryDeleteRoleAssignmentsRequest {
	return ApiRoleManagementDirectoryDeleteRoleAssignmentsRequest{
		ApiService: a,
		ctx: ctx,
		unifiedRoleAssignmentId: unifiedRoleAssignmentId,
	}
}

// Execute executes the request
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryDeleteRoleAssignmentsExecute(r ApiRoleManagementDirectoryDeleteRoleAssignmentsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RoleManagementRbacApplicationApiService.RoleManagementDirectoryDeleteRoleAssignments")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"unifiedRoleAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.unifiedRoleAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRoleManagementDirectoryDeleteRoleDefinitionsRequest struct {
	ctx _context.Context
	ApiService *RoleManagementRbacApplicationApiService
	unifiedRoleDefinitionId string
	ifMatch *string
}

// ETag
func (r ApiRoleManagementDirectoryDeleteRoleDefinitionsRequest) IfMatch(ifMatch string) ApiRoleManagementDirectoryDeleteRoleDefinitionsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiRoleManagementDirectoryDeleteRoleDefinitionsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.RoleManagementDirectoryDeleteRoleDefinitionsExecute(r)
}

/*
RoleManagementDirectoryDeleteRoleDefinitions Delete navigation property roleDefinitions for roleManagement

Resource representing the roles allowed by RBAC providers and the permissions assigned to the roles.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param unifiedRoleDefinitionId key: id of unifiedRoleDefinition
 @return ApiRoleManagementDirectoryDeleteRoleDefinitionsRequest
*/
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryDeleteRoleDefinitions(ctx _context.Context, unifiedRoleDefinitionId string) ApiRoleManagementDirectoryDeleteRoleDefinitionsRequest {
	return ApiRoleManagementDirectoryDeleteRoleDefinitionsRequest{
		ApiService: a,
		ctx: ctx,
		unifiedRoleDefinitionId: unifiedRoleDefinitionId,
	}
}

// Execute executes the request
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryDeleteRoleDefinitionsExecute(r ApiRoleManagementDirectoryDeleteRoleDefinitionsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RoleManagementRbacApplicationApiService.RoleManagementDirectoryDeleteRoleDefinitions")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/roleManagement/directory/roleDefinitions/{unifiedRoleDefinition-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"unifiedRoleDefinition-id"+"}", _neturl.PathEscape(parameterToString(r.unifiedRoleDefinitionId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRoleManagementDirectoryGetRoleAssignmentsRequest struct {
	ctx _context.Context
	ApiService *RoleManagementRbacApplicationApiService
	unifiedRoleAssignmentId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiRoleManagementDirectoryGetRoleAssignmentsRequest) Select_(select_ []string) ApiRoleManagementDirectoryGetRoleAssignmentsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiRoleManagementDirectoryGetRoleAssignmentsRequest) Expand(expand []string) ApiRoleManagementDirectoryGetRoleAssignmentsRequest {
	r.expand = &expand
	return r
}

func (r ApiRoleManagementDirectoryGetRoleAssignmentsRequest) Execute() (MicrosoftGraphUnifiedRoleAssignment, *_nethttp.Response, error) {
	return r.ApiService.RoleManagementDirectoryGetRoleAssignmentsExecute(r)
}

/*
RoleManagementDirectoryGetRoleAssignments Get roleAssignments from roleManagement

Resource to grant access to users or groups.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param unifiedRoleAssignmentId key: id of unifiedRoleAssignment
 @return ApiRoleManagementDirectoryGetRoleAssignmentsRequest
*/
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryGetRoleAssignments(ctx _context.Context, unifiedRoleAssignmentId string) ApiRoleManagementDirectoryGetRoleAssignmentsRequest {
	return ApiRoleManagementDirectoryGetRoleAssignmentsRequest{
		ApiService: a,
		ctx: ctx,
		unifiedRoleAssignmentId: unifiedRoleAssignmentId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphUnifiedRoleAssignment
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryGetRoleAssignmentsExecute(r ApiRoleManagementDirectoryGetRoleAssignmentsRequest) (MicrosoftGraphUnifiedRoleAssignment, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphUnifiedRoleAssignment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RoleManagementRbacApplicationApiService.RoleManagementDirectoryGetRoleAssignments")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"unifiedRoleAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.unifiedRoleAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRoleManagementDirectoryGetRoleDefinitionsRequest struct {
	ctx _context.Context
	ApiService *RoleManagementRbacApplicationApiService
	unifiedRoleDefinitionId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiRoleManagementDirectoryGetRoleDefinitionsRequest) Select_(select_ []string) ApiRoleManagementDirectoryGetRoleDefinitionsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiRoleManagementDirectoryGetRoleDefinitionsRequest) Expand(expand []string) ApiRoleManagementDirectoryGetRoleDefinitionsRequest {
	r.expand = &expand
	return r
}

func (r ApiRoleManagementDirectoryGetRoleDefinitionsRequest) Execute() (MicrosoftGraphUnifiedRoleDefinition, *_nethttp.Response, error) {
	return r.ApiService.RoleManagementDirectoryGetRoleDefinitionsExecute(r)
}

/*
RoleManagementDirectoryGetRoleDefinitions Get roleDefinitions from roleManagement

Resource representing the roles allowed by RBAC providers and the permissions assigned to the roles.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param unifiedRoleDefinitionId key: id of unifiedRoleDefinition
 @return ApiRoleManagementDirectoryGetRoleDefinitionsRequest
*/
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryGetRoleDefinitions(ctx _context.Context, unifiedRoleDefinitionId string) ApiRoleManagementDirectoryGetRoleDefinitionsRequest {
	return ApiRoleManagementDirectoryGetRoleDefinitionsRequest{
		ApiService: a,
		ctx: ctx,
		unifiedRoleDefinitionId: unifiedRoleDefinitionId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphUnifiedRoleDefinition
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryGetRoleDefinitionsExecute(r ApiRoleManagementDirectoryGetRoleDefinitionsRequest) (MicrosoftGraphUnifiedRoleDefinition, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphUnifiedRoleDefinition
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RoleManagementRbacApplicationApiService.RoleManagementDirectoryGetRoleDefinitions")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/roleManagement/directory/roleDefinitions/{unifiedRoleDefinition-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"unifiedRoleDefinition-id"+"}", _neturl.PathEscape(parameterToString(r.unifiedRoleDefinitionId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRoleManagementDirectoryListRoleAssignmentsRequest struct {
	ctx _context.Context
	ApiService *RoleManagementRbacApplicationApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiRoleManagementDirectoryListRoleAssignmentsRequest) Top(top int32) ApiRoleManagementDirectoryListRoleAssignmentsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiRoleManagementDirectoryListRoleAssignmentsRequest) Skip(skip int32) ApiRoleManagementDirectoryListRoleAssignmentsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiRoleManagementDirectoryListRoleAssignmentsRequest) Search(search string) ApiRoleManagementDirectoryListRoleAssignmentsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiRoleManagementDirectoryListRoleAssignmentsRequest) Filter(filter string) ApiRoleManagementDirectoryListRoleAssignmentsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiRoleManagementDirectoryListRoleAssignmentsRequest) Count(count bool) ApiRoleManagementDirectoryListRoleAssignmentsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiRoleManagementDirectoryListRoleAssignmentsRequest) Orderby(orderby []string) ApiRoleManagementDirectoryListRoleAssignmentsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiRoleManagementDirectoryListRoleAssignmentsRequest) Select_(select_ []string) ApiRoleManagementDirectoryListRoleAssignmentsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiRoleManagementDirectoryListRoleAssignmentsRequest) Expand(expand []string) ApiRoleManagementDirectoryListRoleAssignmentsRequest {
	r.expand = &expand
	return r
}

func (r ApiRoleManagementDirectoryListRoleAssignmentsRequest) Execute() (CollectionOfUnifiedRoleAssignment, *_nethttp.Response, error) {
	return r.ApiService.RoleManagementDirectoryListRoleAssignmentsExecute(r)
}

/*
RoleManagementDirectoryListRoleAssignments Get roleAssignments from roleManagement

Resource to grant access to users or groups.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRoleManagementDirectoryListRoleAssignmentsRequest
*/
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryListRoleAssignments(ctx _context.Context) ApiRoleManagementDirectoryListRoleAssignmentsRequest {
	return ApiRoleManagementDirectoryListRoleAssignmentsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfUnifiedRoleAssignment
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryListRoleAssignmentsExecute(r ApiRoleManagementDirectoryListRoleAssignmentsRequest) (CollectionOfUnifiedRoleAssignment, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfUnifiedRoleAssignment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RoleManagementRbacApplicationApiService.RoleManagementDirectoryListRoleAssignments")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/roleManagement/directory/roleAssignments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRoleManagementDirectoryListRoleDefinitionsRequest struct {
	ctx _context.Context
	ApiService *RoleManagementRbacApplicationApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiRoleManagementDirectoryListRoleDefinitionsRequest) Top(top int32) ApiRoleManagementDirectoryListRoleDefinitionsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiRoleManagementDirectoryListRoleDefinitionsRequest) Skip(skip int32) ApiRoleManagementDirectoryListRoleDefinitionsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiRoleManagementDirectoryListRoleDefinitionsRequest) Search(search string) ApiRoleManagementDirectoryListRoleDefinitionsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiRoleManagementDirectoryListRoleDefinitionsRequest) Filter(filter string) ApiRoleManagementDirectoryListRoleDefinitionsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiRoleManagementDirectoryListRoleDefinitionsRequest) Count(count bool) ApiRoleManagementDirectoryListRoleDefinitionsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiRoleManagementDirectoryListRoleDefinitionsRequest) Orderby(orderby []string) ApiRoleManagementDirectoryListRoleDefinitionsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiRoleManagementDirectoryListRoleDefinitionsRequest) Select_(select_ []string) ApiRoleManagementDirectoryListRoleDefinitionsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiRoleManagementDirectoryListRoleDefinitionsRequest) Expand(expand []string) ApiRoleManagementDirectoryListRoleDefinitionsRequest {
	r.expand = &expand
	return r
}

func (r ApiRoleManagementDirectoryListRoleDefinitionsRequest) Execute() (CollectionOfUnifiedRoleDefinition, *_nethttp.Response, error) {
	return r.ApiService.RoleManagementDirectoryListRoleDefinitionsExecute(r)
}

/*
RoleManagementDirectoryListRoleDefinitions Get roleDefinitions from roleManagement

Resource representing the roles allowed by RBAC providers and the permissions assigned to the roles.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRoleManagementDirectoryListRoleDefinitionsRequest
*/
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryListRoleDefinitions(ctx _context.Context) ApiRoleManagementDirectoryListRoleDefinitionsRequest {
	return ApiRoleManagementDirectoryListRoleDefinitionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfUnifiedRoleDefinition
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryListRoleDefinitionsExecute(r ApiRoleManagementDirectoryListRoleDefinitionsRequest) (CollectionOfUnifiedRoleDefinition, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfUnifiedRoleDefinition
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RoleManagementRbacApplicationApiService.RoleManagementDirectoryListRoleDefinitions")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/roleManagement/directory/roleDefinitions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRoleManagementDirectoryRoleAssignmentsDeleteAppScopeRequest struct {
	ctx _context.Context
	ApiService *RoleManagementRbacApplicationApiService
	unifiedRoleAssignmentId string
	ifMatch *string
}

// ETag
func (r ApiRoleManagementDirectoryRoleAssignmentsDeleteAppScopeRequest) IfMatch(ifMatch string) ApiRoleManagementDirectoryRoleAssignmentsDeleteAppScopeRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiRoleManagementDirectoryRoleAssignmentsDeleteAppScopeRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.RoleManagementDirectoryRoleAssignmentsDeleteAppScopeExecute(r)
}

/*
RoleManagementDirectoryRoleAssignmentsDeleteAppScope Delete navigation property appScope for roleManagement

Read-only property with details of the app specific scope when the assignment scope is app specific. Containment entity. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param unifiedRoleAssignmentId key: id of unifiedRoleAssignment
 @return ApiRoleManagementDirectoryRoleAssignmentsDeleteAppScopeRequest
*/
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryRoleAssignmentsDeleteAppScope(ctx _context.Context, unifiedRoleAssignmentId string) ApiRoleManagementDirectoryRoleAssignmentsDeleteAppScopeRequest {
	return ApiRoleManagementDirectoryRoleAssignmentsDeleteAppScopeRequest{
		ApiService: a,
		ctx: ctx,
		unifiedRoleAssignmentId: unifiedRoleAssignmentId,
	}
}

// Execute executes the request
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryRoleAssignmentsDeleteAppScopeExecute(r ApiRoleManagementDirectoryRoleAssignmentsDeleteAppScopeRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RoleManagementRbacApplicationApiService.RoleManagementDirectoryRoleAssignmentsDeleteAppScope")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/appScope"
	localVarPath = strings.Replace(localVarPath, "{"+"unifiedRoleAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.unifiedRoleAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRoleManagementDirectoryRoleAssignmentsDeleteRefDirectoryScopeRequest struct {
	ctx _context.Context
	ApiService *RoleManagementRbacApplicationApiService
	unifiedRoleAssignmentId string
	ifMatch *string
}

// ETag
func (r ApiRoleManagementDirectoryRoleAssignmentsDeleteRefDirectoryScopeRequest) IfMatch(ifMatch string) ApiRoleManagementDirectoryRoleAssignmentsDeleteRefDirectoryScopeRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiRoleManagementDirectoryRoleAssignmentsDeleteRefDirectoryScopeRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.RoleManagementDirectoryRoleAssignmentsDeleteRefDirectoryScopeExecute(r)
}

/*
RoleManagementDirectoryRoleAssignmentsDeleteRefDirectoryScope Delete ref of navigation property directoryScope for roleManagement

The directory object that is the scope of the assignment. Read-only. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param unifiedRoleAssignmentId key: id of unifiedRoleAssignment
 @return ApiRoleManagementDirectoryRoleAssignmentsDeleteRefDirectoryScopeRequest
*/
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryRoleAssignmentsDeleteRefDirectoryScope(ctx _context.Context, unifiedRoleAssignmentId string) ApiRoleManagementDirectoryRoleAssignmentsDeleteRefDirectoryScopeRequest {
	return ApiRoleManagementDirectoryRoleAssignmentsDeleteRefDirectoryScopeRequest{
		ApiService: a,
		ctx: ctx,
		unifiedRoleAssignmentId: unifiedRoleAssignmentId,
	}
}

// Execute executes the request
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryRoleAssignmentsDeleteRefDirectoryScopeExecute(r ApiRoleManagementDirectoryRoleAssignmentsDeleteRefDirectoryScopeRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RoleManagementRbacApplicationApiService.RoleManagementDirectoryRoleAssignmentsDeleteRefDirectoryScope")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/directoryScope/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"unifiedRoleAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.unifiedRoleAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRoleManagementDirectoryRoleAssignmentsDeleteRefPrincipalRequest struct {
	ctx _context.Context
	ApiService *RoleManagementRbacApplicationApiService
	unifiedRoleAssignmentId string
	ifMatch *string
}

// ETag
func (r ApiRoleManagementDirectoryRoleAssignmentsDeleteRefPrincipalRequest) IfMatch(ifMatch string) ApiRoleManagementDirectoryRoleAssignmentsDeleteRefPrincipalRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiRoleManagementDirectoryRoleAssignmentsDeleteRefPrincipalRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.RoleManagementDirectoryRoleAssignmentsDeleteRefPrincipalExecute(r)
}

/*
RoleManagementDirectoryRoleAssignmentsDeleteRefPrincipal Delete ref of navigation property principal for roleManagement

Referencing the assigned principal. Read-only. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param unifiedRoleAssignmentId key: id of unifiedRoleAssignment
 @return ApiRoleManagementDirectoryRoleAssignmentsDeleteRefPrincipalRequest
*/
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryRoleAssignmentsDeleteRefPrincipal(ctx _context.Context, unifiedRoleAssignmentId string) ApiRoleManagementDirectoryRoleAssignmentsDeleteRefPrincipalRequest {
	return ApiRoleManagementDirectoryRoleAssignmentsDeleteRefPrincipalRequest{
		ApiService: a,
		ctx: ctx,
		unifiedRoleAssignmentId: unifiedRoleAssignmentId,
	}
}

// Execute executes the request
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryRoleAssignmentsDeleteRefPrincipalExecute(r ApiRoleManagementDirectoryRoleAssignmentsDeleteRefPrincipalRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RoleManagementRbacApplicationApiService.RoleManagementDirectoryRoleAssignmentsDeleteRefPrincipal")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/principal/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"unifiedRoleAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.unifiedRoleAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRoleManagementDirectoryRoleAssignmentsDeleteRefRoleDefinitionRequest struct {
	ctx _context.Context
	ApiService *RoleManagementRbacApplicationApiService
	unifiedRoleAssignmentId string
	ifMatch *string
}

// ETag
func (r ApiRoleManagementDirectoryRoleAssignmentsDeleteRefRoleDefinitionRequest) IfMatch(ifMatch string) ApiRoleManagementDirectoryRoleAssignmentsDeleteRefRoleDefinitionRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiRoleManagementDirectoryRoleAssignmentsDeleteRefRoleDefinitionRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.RoleManagementDirectoryRoleAssignmentsDeleteRefRoleDefinitionExecute(r)
}

/*
RoleManagementDirectoryRoleAssignmentsDeleteRefRoleDefinition Delete ref of navigation property roleDefinition for roleManagement

The roleDefinition the assignment is for.  Supports $expand. roleDefinition.Id will be auto expanded.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param unifiedRoleAssignmentId key: id of unifiedRoleAssignment
 @return ApiRoleManagementDirectoryRoleAssignmentsDeleteRefRoleDefinitionRequest
*/
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryRoleAssignmentsDeleteRefRoleDefinition(ctx _context.Context, unifiedRoleAssignmentId string) ApiRoleManagementDirectoryRoleAssignmentsDeleteRefRoleDefinitionRequest {
	return ApiRoleManagementDirectoryRoleAssignmentsDeleteRefRoleDefinitionRequest{
		ApiService: a,
		ctx: ctx,
		unifiedRoleAssignmentId: unifiedRoleAssignmentId,
	}
}

// Execute executes the request
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryRoleAssignmentsDeleteRefRoleDefinitionExecute(r ApiRoleManagementDirectoryRoleAssignmentsDeleteRefRoleDefinitionRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RoleManagementRbacApplicationApiService.RoleManagementDirectoryRoleAssignmentsDeleteRefRoleDefinition")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/roleDefinition/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"unifiedRoleAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.unifiedRoleAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRoleManagementDirectoryRoleAssignmentsGetAppScopeRequest struct {
	ctx _context.Context
	ApiService *RoleManagementRbacApplicationApiService
	unifiedRoleAssignmentId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiRoleManagementDirectoryRoleAssignmentsGetAppScopeRequest) Select_(select_ []string) ApiRoleManagementDirectoryRoleAssignmentsGetAppScopeRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiRoleManagementDirectoryRoleAssignmentsGetAppScopeRequest) Expand(expand []string) ApiRoleManagementDirectoryRoleAssignmentsGetAppScopeRequest {
	r.expand = &expand
	return r
}

func (r ApiRoleManagementDirectoryRoleAssignmentsGetAppScopeRequest) Execute() (MicrosoftGraphAppScope, *_nethttp.Response, error) {
	return r.ApiService.RoleManagementDirectoryRoleAssignmentsGetAppScopeExecute(r)
}

/*
RoleManagementDirectoryRoleAssignmentsGetAppScope Get appScope from roleManagement

Read-only property with details of the app specific scope when the assignment scope is app specific. Containment entity. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param unifiedRoleAssignmentId key: id of unifiedRoleAssignment
 @return ApiRoleManagementDirectoryRoleAssignmentsGetAppScopeRequest
*/
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryRoleAssignmentsGetAppScope(ctx _context.Context, unifiedRoleAssignmentId string) ApiRoleManagementDirectoryRoleAssignmentsGetAppScopeRequest {
	return ApiRoleManagementDirectoryRoleAssignmentsGetAppScopeRequest{
		ApiService: a,
		ctx: ctx,
		unifiedRoleAssignmentId: unifiedRoleAssignmentId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphAppScope
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryRoleAssignmentsGetAppScopeExecute(r ApiRoleManagementDirectoryRoleAssignmentsGetAppScopeRequest) (MicrosoftGraphAppScope, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphAppScope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RoleManagementRbacApplicationApiService.RoleManagementDirectoryRoleAssignmentsGetAppScope")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/appScope"
	localVarPath = strings.Replace(localVarPath, "{"+"unifiedRoleAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.unifiedRoleAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRoleManagementDirectoryRoleAssignmentsGetDirectoryScopeRequest struct {
	ctx _context.Context
	ApiService *RoleManagementRbacApplicationApiService
	unifiedRoleAssignmentId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiRoleManagementDirectoryRoleAssignmentsGetDirectoryScopeRequest) Select_(select_ []string) ApiRoleManagementDirectoryRoleAssignmentsGetDirectoryScopeRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiRoleManagementDirectoryRoleAssignmentsGetDirectoryScopeRequest) Expand(expand []string) ApiRoleManagementDirectoryRoleAssignmentsGetDirectoryScopeRequest {
	r.expand = &expand
	return r
}

func (r ApiRoleManagementDirectoryRoleAssignmentsGetDirectoryScopeRequest) Execute() (MicrosoftGraphDirectoryObject, *_nethttp.Response, error) {
	return r.ApiService.RoleManagementDirectoryRoleAssignmentsGetDirectoryScopeExecute(r)
}

/*
RoleManagementDirectoryRoleAssignmentsGetDirectoryScope Get directoryScope from roleManagement

The directory object that is the scope of the assignment. Read-only. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param unifiedRoleAssignmentId key: id of unifiedRoleAssignment
 @return ApiRoleManagementDirectoryRoleAssignmentsGetDirectoryScopeRequest
*/
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryRoleAssignmentsGetDirectoryScope(ctx _context.Context, unifiedRoleAssignmentId string) ApiRoleManagementDirectoryRoleAssignmentsGetDirectoryScopeRequest {
	return ApiRoleManagementDirectoryRoleAssignmentsGetDirectoryScopeRequest{
		ApiService: a,
		ctx: ctx,
		unifiedRoleAssignmentId: unifiedRoleAssignmentId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphDirectoryObject
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryRoleAssignmentsGetDirectoryScopeExecute(r ApiRoleManagementDirectoryRoleAssignmentsGetDirectoryScopeRequest) (MicrosoftGraphDirectoryObject, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphDirectoryObject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RoleManagementRbacApplicationApiService.RoleManagementDirectoryRoleAssignmentsGetDirectoryScope")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/directoryScope"
	localVarPath = strings.Replace(localVarPath, "{"+"unifiedRoleAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.unifiedRoleAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRoleManagementDirectoryRoleAssignmentsGetPrincipalRequest struct {
	ctx _context.Context
	ApiService *RoleManagementRbacApplicationApiService
	unifiedRoleAssignmentId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiRoleManagementDirectoryRoleAssignmentsGetPrincipalRequest) Select_(select_ []string) ApiRoleManagementDirectoryRoleAssignmentsGetPrincipalRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiRoleManagementDirectoryRoleAssignmentsGetPrincipalRequest) Expand(expand []string) ApiRoleManagementDirectoryRoleAssignmentsGetPrincipalRequest {
	r.expand = &expand
	return r
}

func (r ApiRoleManagementDirectoryRoleAssignmentsGetPrincipalRequest) Execute() (MicrosoftGraphDirectoryObject, *_nethttp.Response, error) {
	return r.ApiService.RoleManagementDirectoryRoleAssignmentsGetPrincipalExecute(r)
}

/*
RoleManagementDirectoryRoleAssignmentsGetPrincipal Get principal from roleManagement

Referencing the assigned principal. Read-only. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param unifiedRoleAssignmentId key: id of unifiedRoleAssignment
 @return ApiRoleManagementDirectoryRoleAssignmentsGetPrincipalRequest
*/
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryRoleAssignmentsGetPrincipal(ctx _context.Context, unifiedRoleAssignmentId string) ApiRoleManagementDirectoryRoleAssignmentsGetPrincipalRequest {
	return ApiRoleManagementDirectoryRoleAssignmentsGetPrincipalRequest{
		ApiService: a,
		ctx: ctx,
		unifiedRoleAssignmentId: unifiedRoleAssignmentId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphDirectoryObject
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryRoleAssignmentsGetPrincipalExecute(r ApiRoleManagementDirectoryRoleAssignmentsGetPrincipalRequest) (MicrosoftGraphDirectoryObject, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphDirectoryObject
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RoleManagementRbacApplicationApiService.RoleManagementDirectoryRoleAssignmentsGetPrincipal")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/principal"
	localVarPath = strings.Replace(localVarPath, "{"+"unifiedRoleAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.unifiedRoleAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRoleManagementDirectoryRoleAssignmentsGetRefDirectoryScopeRequest struct {
	ctx _context.Context
	ApiService *RoleManagementRbacApplicationApiService
	unifiedRoleAssignmentId string
}


func (r ApiRoleManagementDirectoryRoleAssignmentsGetRefDirectoryScopeRequest) Execute() (string, *_nethttp.Response, error) {
	return r.ApiService.RoleManagementDirectoryRoleAssignmentsGetRefDirectoryScopeExecute(r)
}

/*
RoleManagementDirectoryRoleAssignmentsGetRefDirectoryScope Get ref of directoryScope from roleManagement

The directory object that is the scope of the assignment. Read-only. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param unifiedRoleAssignmentId key: id of unifiedRoleAssignment
 @return ApiRoleManagementDirectoryRoleAssignmentsGetRefDirectoryScopeRequest
*/
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryRoleAssignmentsGetRefDirectoryScope(ctx _context.Context, unifiedRoleAssignmentId string) ApiRoleManagementDirectoryRoleAssignmentsGetRefDirectoryScopeRequest {
	return ApiRoleManagementDirectoryRoleAssignmentsGetRefDirectoryScopeRequest{
		ApiService: a,
		ctx: ctx,
		unifiedRoleAssignmentId: unifiedRoleAssignmentId,
	}
}

// Execute executes the request
//  @return string
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryRoleAssignmentsGetRefDirectoryScopeExecute(r ApiRoleManagementDirectoryRoleAssignmentsGetRefDirectoryScopeRequest) (string, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RoleManagementRbacApplicationApiService.RoleManagementDirectoryRoleAssignmentsGetRefDirectoryScope")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/directoryScope/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"unifiedRoleAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.unifiedRoleAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRoleManagementDirectoryRoleAssignmentsGetRefPrincipalRequest struct {
	ctx _context.Context
	ApiService *RoleManagementRbacApplicationApiService
	unifiedRoleAssignmentId string
}


func (r ApiRoleManagementDirectoryRoleAssignmentsGetRefPrincipalRequest) Execute() (string, *_nethttp.Response, error) {
	return r.ApiService.RoleManagementDirectoryRoleAssignmentsGetRefPrincipalExecute(r)
}

/*
RoleManagementDirectoryRoleAssignmentsGetRefPrincipal Get ref of principal from roleManagement

Referencing the assigned principal. Read-only. Supports $expand.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param unifiedRoleAssignmentId key: id of unifiedRoleAssignment
 @return ApiRoleManagementDirectoryRoleAssignmentsGetRefPrincipalRequest
*/
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryRoleAssignmentsGetRefPrincipal(ctx _context.Context, unifiedRoleAssignmentId string) ApiRoleManagementDirectoryRoleAssignmentsGetRefPrincipalRequest {
	return ApiRoleManagementDirectoryRoleAssignmentsGetRefPrincipalRequest{
		ApiService: a,
		ctx: ctx,
		unifiedRoleAssignmentId: unifiedRoleAssignmentId,
	}
}

// Execute executes the request
//  @return string
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryRoleAssignmentsGetRefPrincipalExecute(r ApiRoleManagementDirectoryRoleAssignmentsGetRefPrincipalRequest) (string, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RoleManagementRbacApplicationApiService.RoleManagementDirectoryRoleAssignmentsGetRefPrincipal")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/principal/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"unifiedRoleAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.unifiedRoleAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRoleManagementDirectoryRoleAssignmentsGetRefRoleDefinitionRequest struct {
	ctx _context.Context
	ApiService *RoleManagementRbacApplicationApiService
	unifiedRoleAssignmentId string
}


func (r ApiRoleManagementDirectoryRoleAssignmentsGetRefRoleDefinitionRequest) Execute() (string, *_nethttp.Response, error) {
	return r.ApiService.RoleManagementDirectoryRoleAssignmentsGetRefRoleDefinitionExecute(r)
}

/*
RoleManagementDirectoryRoleAssignmentsGetRefRoleDefinition Get ref of roleDefinition from roleManagement

The roleDefinition the assignment is for.  Supports $expand. roleDefinition.Id will be auto expanded.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param unifiedRoleAssignmentId key: id of unifiedRoleAssignment
 @return ApiRoleManagementDirectoryRoleAssignmentsGetRefRoleDefinitionRequest
*/
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryRoleAssignmentsGetRefRoleDefinition(ctx _context.Context, unifiedRoleAssignmentId string) ApiRoleManagementDirectoryRoleAssignmentsGetRefRoleDefinitionRequest {
	return ApiRoleManagementDirectoryRoleAssignmentsGetRefRoleDefinitionRequest{
		ApiService: a,
		ctx: ctx,
		unifiedRoleAssignmentId: unifiedRoleAssignmentId,
	}
}

// Execute executes the request
//  @return string
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryRoleAssignmentsGetRefRoleDefinitionExecute(r ApiRoleManagementDirectoryRoleAssignmentsGetRefRoleDefinitionRequest) (string, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RoleManagementRbacApplicationApiService.RoleManagementDirectoryRoleAssignmentsGetRefRoleDefinition")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/roleDefinition/$ref"
	localVarPath = strings.Replace(localVarPath, "{"+"unifiedRoleAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.unifiedRoleAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRoleManagementDirectoryRoleAssignmentsGetRoleDefinitionRequest struct {
	ctx _context.Context
	ApiService *RoleManagementRbacApplicationApiService
	unifiedRoleAssignmentId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiRoleManagementDirectoryRoleAssignmentsGetRoleDefinitionRequest) Select_(select_ []string) ApiRoleManagementDirectoryRoleAssignmentsGetRoleDefinitionRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiRoleManagementDirectoryRoleAssignmentsGetRoleDefinitionRequest) Expand(expand []string) ApiRoleManagementDirectoryRoleAssignmentsGetRoleDefinitionRequest {
	r.expand = &expand
	return r
}

func (r ApiRoleManagementDirectoryRoleAssignmentsGetRoleDefinitionRequest) Execute() (MicrosoftGraphUnifiedRoleDefinition, *_nethttp.Response, error) {
	return r.ApiService.RoleManagementDirectoryRoleAssignmentsGetRoleDefinitionExecute(r)
}

/*
RoleManagementDirectoryRoleAssignmentsGetRoleDefinition Get roleDefinition from roleManagement

The roleDefinition the assignment is for.  Supports $expand. roleDefinition.Id will be auto expanded.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param unifiedRoleAssignmentId key: id of unifiedRoleAssignment
 @return ApiRoleManagementDirectoryRoleAssignmentsGetRoleDefinitionRequest
*/
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryRoleAssignmentsGetRoleDefinition(ctx _context.Context, unifiedRoleAssignmentId string) ApiRoleManagementDirectoryRoleAssignmentsGetRoleDefinitionRequest {
	return ApiRoleManagementDirectoryRoleAssignmentsGetRoleDefinitionRequest{
		ApiService: a,
		ctx: ctx,
		unifiedRoleAssignmentId: unifiedRoleAssignmentId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphUnifiedRoleDefinition
func (a *RoleManagementRbacApplicationApiService) RoleManagementDirectoryRoleAssignmentsGetRoleDefinitionExecute(r ApiRoleManagementDirectoryRoleAssignmentsGetRoleDefinitionRequest) (MicrosoftGraphUnifiedRoleDefinition, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphUnifiedRoleDefinition
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RoleManagementRbacApplicationApiService.RoleManagementDirectoryRoleAssignmentsGetRoleDefinition")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/roleDefinition"
	localVarPath = strings.Replace(localVarPath, "{"+"unifiedRoleAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.unifiedRoleAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
[...]
