/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// PrintPrintConnectorApiService PrintPrintConnectorApi service
type PrintPrintConnectorApiService service

type ApiPrintCreateConnectorsRequest struct {
	ctx _context.Context
	ApiService *PrintPrintConnectorApiService
	microsoftGraphPrintConnector *MicrosoftGraphPrintConnector
}

// New navigation property
func (r ApiPrintCreateConnectorsRequest) MicrosoftGraphPrintConnector(microsoftGraphPrintConnector MicrosoftGraphPrintConnector) ApiPrintCreateConnectorsRequest {
	r.microsoftGraphPrintConnector = &microsoftGraphPrintConnector
	return r
}

func (r ApiPrintCreateConnectorsRequest) Execute() (MicrosoftGraphPrintConnector, *_nethttp.Response, error) {
	return r.ApiService.PrintCreateConnectorsExecute(r)
}

/*
PrintCreateConnectors Create new navigation property to connectors for print

The list of available print connectors.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPrintCreateConnectorsRequest
*/
func (a *PrintPrintConnectorApiService) PrintCreateConnectors(ctx _context.Context) ApiPrintCreateConnectorsRequest {
	return ApiPrintCreateConnectorsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphPrintConnector
func (a *PrintPrintConnectorApiService) PrintCreateConnectorsExecute(r ApiPrintCreateConnectorsRequest) (MicrosoftGraphPrintConnector, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphPrintConnector
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrintPrintConnectorApiService.PrintCreateConnectors")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/print/connectors"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphPrintConnector == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphPrintConnector is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphPrintConnector
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPrintDeleteConnectorsRequest struct {
	ctx _context.Context
	ApiService *PrintPrintConnectorApiService
	printConnectorId string
	ifMatch *string
}

// ETag
func (r ApiPrintDeleteConnectorsRequest) IfMatch(ifMatch string) ApiPrintDeleteConnectorsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiPrintDeleteConnectorsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.PrintDeleteConnectorsExecute(r)
}

/*
PrintDeleteConnectors Delete navigation property connectors for print

The list of available print connectors.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param printConnectorId key: id of printConnector
 @return ApiPrintDeleteConnectorsRequest
*/
func (a *PrintPrintConnectorApiService) PrintDeleteConnectors(ctx _context.Context, printConnectorId string) ApiPrintDeleteConnectorsRequest {
	return ApiPrintDeleteConnectorsRequest{
		ApiService: a,
		ctx: ctx,
		printConnectorId: printConnectorId,
	}
}

// Execute executes the request
func (a *PrintPrintConnectorApiService) PrintDeleteConnectorsExecute(r ApiPrintDeleteConnectorsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrintPrintConnectorApiService.PrintDeleteConnectors")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/print/connectors/{printConnector-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"printConnector-id"+"}", _neturl.PathEscape(parameterToString(r.printConnectorId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPrintGetConnectorsRequest struct {
	ctx _context.Context
	ApiService *PrintPrintConnectorApiService
	printConnectorId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiPrintGetConnectorsRequest) Select_(select_ []string) ApiPrintGetConnectorsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiPrintGetConnectorsRequest) Expand(expand []string) ApiPrintGetConnectorsRequest {
	r.expand = &expand
	return r
}

func (r ApiPrintGetConnectorsRequest) Execute() (MicrosoftGraphPrintConnector, *_nethttp.Response, error) {
	return r.ApiService.PrintGetConnectorsExecute(r)
}

/*
PrintGetConnectors Get connectors from print

The list of available print connectors.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param printConnectorId key: id of printConnector
 @return ApiPrintGetConnectorsRequest
*/
func (a *PrintPrintConnectorApiService) PrintGetConnectors(ctx _context.Context, printConnectorId string) ApiPrintGetConnectorsRequest {
	return ApiPrintGetConnectorsRequest{
		ApiService: a,
		ctx: ctx,
		printConnectorId: printConnectorId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphPrintConnector
func (a *PrintPrintConnectorApiService) PrintGetConnectorsExecute(r ApiPrintGetConnectorsRequest) (MicrosoftGraphPrintConnector, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphPrintConnector
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrintPrintConnectorApiService.PrintGetConnectors")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/print/connectors/{printConnector-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"printConnector-id"+"}", _neturl.PathEscape(parameterToString(r.printConnectorId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPrintListConnectorsRequest struct {
	ctx _context.Context
	ApiService *PrintPrintConnectorApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiPrintListConnectorsRequest) Top(top int32) ApiPrintListConnectorsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiPrintListConnectorsRequest) Skip(skip int32) ApiPrintListConnectorsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiPrintListConnectorsRequest) Search(search string) ApiPrintListConnectorsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiPrintListConnectorsRequest) Filter(filter string) ApiPrintListConnectorsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiPrintListConnectorsRequest) Count(count bool) ApiPrintListConnectorsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiPrintListConnectorsRequest) Orderby(orderby []string) ApiPrintListConnectorsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiPrintListConnectorsRequest) Select_(select_ []string) ApiPrintListConnectorsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiPrintListConnectorsRequest) Expand(expand []string) ApiPrintListConnectorsRequest {
	r.expand = &expand
	return r
}

func (r ApiPrintListConnectorsRequest) Execute() (CollectionOfPrintConnector, *_nethttp.Response, error) {
	return r.ApiService.PrintListConnectorsExecute(r)
}

/*
PrintListConnectors Get connectors from print

The list of available print connectors.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPrintListConnectorsRequest
*/
func (a *PrintPrintConnectorApiService) PrintListConnectors(ctx _context.Context) ApiPrintListConnectorsRequest {
	return ApiPrintListConnectorsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfPrintConnector
func (a *PrintPrintConnectorApiService) PrintListConnectorsExecute(r ApiPrintListConnectorsRequest) (CollectionOfPrintConnector, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfPrintConnector
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrintPrintConnectorApiService.PrintListConnectors")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/print/connectors"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPrintUpdateConnectorsRequest struct {
	ctx _context.Context
	ApiService *PrintPrintConnectorApiService
	printConnectorId string
	microsoftGraphPrintConnector *MicrosoftGraphPrintConnector
}

// New navigation property values
func (r ApiPrintUpdateConnectorsRequest) MicrosoftGraphPrintConnector(microsoftGraphPrintConnector MicrosoftGraphPrintConnector) ApiPrintUpdateConnectorsRequest {
	r.microsoftGraphPrintConnector = &microsoftGraphPrintConnector
	return r
}

func (r ApiPrintUpdateConnectorsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.PrintUpdateConnectorsExecute(r)
}

/*
PrintUpdateConnectors Update the navigation property connectors in print

The list of available print connectors.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param printConnectorId key: id of printConnector
 @return ApiPrintUpdateConnectorsRequest
*/
func (a *PrintPrintConnectorApiService) PrintUpdateConnectors(ctx _context.Context, printConnectorId string) ApiPrintUpdateConnectorsRequest {
	return ApiPrintUpdateConnectorsRequest{
		ApiService: a,
		ctx: ctx,
		printConnectorId: printConnectorId,
	}
}

// Execute executes the request
func (a *PrintPrintConnectorApiService) PrintUpdateConnectorsExecute(r ApiPrintUpdateConnectorsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PrintPrintConnectorApiService.PrintUpdateConnectors")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/print/connectors/{printConnector-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"printConnector-id"+"}", _neturl.PathEscape(parameterToString(r.printConnectorId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphPrintConnector == nil {
		return nil, reportError("microsoftGraphPrintConnector is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphPrintConnector
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
