/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// DeviceAppManagementMobileAppCategoryApiService DeviceAppManagementMobileAppCategoryApi service
type DeviceAppManagementMobileAppCategoryApiService service

type ApiDeviceAppManagementCreateMobileAppCategoriesRequest struct {
	ctx _context.Context
	ApiService *DeviceAppManagementMobileAppCategoryApiService
	microsoftGraphMobileAppCategory *MicrosoftGraphMobileAppCategory
}

// New navigation property
func (r ApiDeviceAppManagementCreateMobileAppCategoriesRequest) MicrosoftGraphMobileAppCategory(microsoftGraphMobileAppCategory MicrosoftGraphMobileAppCategory) ApiDeviceAppManagementCreateMobileAppCategoriesRequest {
	r.microsoftGraphMobileAppCategory = &microsoftGraphMobileAppCategory
	return r
}

func (r ApiDeviceAppManagementCreateMobileAppCategoriesRequest) Execute() (MicrosoftGraphMobileAppCategory, *_nethttp.Response, error) {
	return r.ApiService.DeviceAppManagementCreateMobileAppCategoriesExecute(r)
}

/*
DeviceAppManagementCreateMobileAppCategories Create new navigation property to mobileAppCategories for deviceAppManagement

The mobile app categories.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceAppManagementCreateMobileAppCategoriesRequest
*/
func (a *DeviceAppManagementMobileAppCategoryApiService) DeviceAppManagementCreateMobileAppCategories(ctx _context.Context) ApiDeviceAppManagementCreateMobileAppCategoriesRequest {
	return ApiDeviceAppManagementCreateMobileAppCategoriesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphMobileAppCategory
func (a *DeviceAppManagementMobileAppCategoryApiService) DeviceAppManagementCreateMobileAppCategoriesExecute(r ApiDeviceAppManagementCreateMobileAppCategoriesRequest) (MicrosoftGraphMobileAppCategory, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphMobileAppCategory
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceAppManagementMobileAppCategoryApiService.DeviceAppManagementCreateMobileAppCategories")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceAppManagement/mobileAppCategories"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphMobileAppCategory == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphMobileAppCategory is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphMobileAppCategory
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceAppManagementDeleteMobileAppCategoriesRequest struct {
	ctx _context.Context
	ApiService *DeviceAppManagementMobileAppCategoryApiService
	mobileAppCategoryId string
	ifMatch *string
}

// ETag
func (r ApiDeviceAppManagementDeleteMobileAppCategoriesRequest) IfMatch(ifMatch string) ApiDeviceAppManagementDeleteMobileAppCategoriesRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiDeviceAppManagementDeleteMobileAppCategoriesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceAppManagementDeleteMobileAppCategoriesExecute(r)
}

/*
DeviceAppManagementDeleteMobileAppCategories Delete navigation property mobileAppCategories for deviceAppManagement

The mobile app categories.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mobileAppCategoryId key: id of mobileAppCategory
 @return ApiDeviceAppManagementDeleteMobileAppCategoriesRequest
*/
func (a *DeviceAppManagementMobileAppCategoryApiService) DeviceAppManagementDeleteMobileAppCategories(ctx _context.Context, mobileAppCategoryId string) ApiDeviceAppManagementDeleteMobileAppCategoriesRequest {
	return ApiDeviceAppManagementDeleteMobileAppCategoriesRequest{
		ApiService: a,
		ctx: ctx,
		mobileAppCategoryId: mobileAppCategoryId,
	}
}

// Execute executes the request
func (a *DeviceAppManagementMobileAppCategoryApiService) DeviceAppManagementDeleteMobileAppCategoriesExecute(r ApiDeviceAppManagementDeleteMobileAppCategoriesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceAppManagementMobileAppCategoryApiService.DeviceAppManagementDeleteMobileAppCategories")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceAppManagement/mobileAppCategories/{mobileAppCategory-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"mobileAppCategory-id"+"}", _neturl.PathEscape(parameterToString(r.mobileAppCategoryId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeviceAppManagementGetMobileAppCategoriesRequest struct {
	ctx _context.Context
	ApiService *DeviceAppManagementMobileAppCategoryApiService
	mobileAppCategoryId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiDeviceAppManagementGetMobileAppCategoriesRequest) Select_(select_ []string) ApiDeviceAppManagementGetMobileAppCategoriesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceAppManagementGetMobileAppCategoriesRequest) Expand(expand []string) ApiDeviceAppManagementGetMobileAppCategoriesRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceAppManagementGetMobileAppCategoriesRequest) Execute() (MicrosoftGraphMobileAppCategory, *_nethttp.Response, error) {
	return r.ApiService.DeviceAppManagementGetMobileAppCategoriesExecute(r)
}

/*
DeviceAppManagementGetMobileAppCategories Get mobileAppCategories from deviceAppManagement

The mobile app categories.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mobileAppCategoryId key: id of mobileAppCategory
 @return ApiDeviceAppManagementGetMobileAppCategoriesRequest
*/
func (a *DeviceAppManagementMobileAppCategoryApiService) DeviceAppManagementGetMobileAppCategories(ctx _context.Context, mobileAppCategoryId string) ApiDeviceAppManagementGetMobileAppCategoriesRequest {
	return ApiDeviceAppManagementGetMobileAppCategoriesRequest{
		ApiService: a,
		ctx: ctx,
		mobileAppCategoryId: mobileAppCategoryId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphMobileAppCategory
func (a *DeviceAppManagementMobileAppCategoryApiService) DeviceAppManagementGetMobileAppCategoriesExecute(r ApiDeviceAppManagementGetMobileAppCategoriesRequest) (MicrosoftGraphMobileAppCategory, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphMobileAppCategory
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceAppManagementMobileAppCategoryApiService.DeviceAppManagementGetMobileAppCategories")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceAppManagement/mobileAppCategories/{mobileAppCategory-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"mobileAppCategory-id"+"}", _neturl.PathEscape(parameterToString(r.mobileAppCategoryId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceAppManagementListMobileAppCategoriesRequest struct {
	ctx _context.Context
	ApiService *DeviceAppManagementMobileAppCategoryApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiDeviceAppManagementListMobileAppCategoriesRequest) Top(top int32) ApiDeviceAppManagementListMobileAppCategoriesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiDeviceAppManagementListMobileAppCategoriesRequest) Skip(skip int32) ApiDeviceAppManagementListMobileAppCategoriesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiDeviceAppManagementListMobileAppCategoriesRequest) Search(search string) ApiDeviceAppManagementListMobileAppCategoriesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiDeviceAppManagementListMobileAppCategoriesRequest) Filter(filter string) ApiDeviceAppManagementListMobileAppCategoriesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiDeviceAppManagementListMobileAppCategoriesRequest) Count(count bool) ApiDeviceAppManagementListMobileAppCategoriesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiDeviceAppManagementListMobileAppCategoriesRequest) Orderby(orderby []string) ApiDeviceAppManagementListMobileAppCategoriesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiDeviceAppManagementListMobileAppCategoriesRequest) Select_(select_ []string) ApiDeviceAppManagementListMobileAppCategoriesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceAppManagementListMobileAppCategoriesRequest) Expand(expand []string) ApiDeviceAppManagementListMobileAppCategoriesRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceAppManagementListMobileAppCategoriesRequest) Execute() (CollectionOfMobileAppCategory, *_nethttp.Response, error) {
	return r.ApiService.DeviceAppManagementListMobileAppCategoriesExecute(r)
}

/*
DeviceAppManagementListMobileAppCategories Get mobileAppCategories from deviceAppManagement

The mobile app categories.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceAppManagementListMobileAppCategoriesRequest
*/
func (a *DeviceAppManagementMobileAppCategoryApiService) DeviceAppManagementListMobileAppCategories(ctx _context.Context) ApiDeviceAppManagementListMobileAppCategoriesRequest {
	return ApiDeviceAppManagementListMobileAppCategoriesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfMobileAppCategory
func (a *DeviceAppManagementMobileAppCategoryApiService) DeviceAppManagementListMobileAppCategoriesExecute(r ApiDeviceAppManagementListMobileAppCategoriesRequest) (CollectionOfMobileAppCategory, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfMobileAppCategory
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceAppManagementMobileAppCategoryApiService.DeviceAppManagementListMobileAppCategories")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceAppManagement/mobileAppCategories"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceAppManagementUpdateMobileAppCategoriesRequest struct {
	ctx _context.Context
	ApiService *DeviceAppManagementMobileAppCategoryApiService
	mobileAppCategoryId string
	microsoftGraphMobileAppCategory *MicrosoftGraphMobileAppCategory
}

// New navigation property values
func (r ApiDeviceAppManagementUpdateMobileAppCategoriesRequest) MicrosoftGraphMobileAppCategory(microsoftGraphMobileAppCategory MicrosoftGraphMobileAppCategory) ApiDeviceAppManagementUpdateMobileAppCategoriesRequest {
	r.microsoftGraphMobileAppCategory = &microsoftGraphMobileAppCategory
	return r
}

func (r ApiDeviceAppManagementUpdateMobileAppCategoriesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceAppManagementUpdateMobileAppCategoriesExecute(r)
}

/*
DeviceAppManagementUpdateMobileAppCategories Update the navigation property mobileAppCategories in deviceAppManagement

The mobile app categories.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param mobileAppCategoryId key: id of mobileAppCategory
 @return ApiDeviceAppManagementUpdateMobileAppCategoriesRequest
*/
func (a *DeviceAppManagementMobileAppCategoryApiService) DeviceAppManagementUpdateMobileAppCategories(ctx _context.Context, mobileAppCategoryId string) ApiDeviceAppManagementUpdateMobileAppCategoriesRequest {
	return ApiDeviceAppManagementUpdateMobileAppCategoriesRequest{
		ApiService: a,
		ctx: ctx,
		mobileAppCategoryId: mobileAppCategoryId,
	}
}

// Execute executes the request
func (a *DeviceAppManagementMobileAppCategoryApiService) DeviceAppManagementUpdateMobileAppCategoriesExecute(r ApiDeviceAppManagementUpdateMobileAppCategoriesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceAppManagementMobileAppCategoryApiService.DeviceAppManagementUpdateMobileAppCategories")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceAppManagement/mobileAppCategories/{mobileAppCategory-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"mobileAppCategory-id"+"}", _neturl.PathEscape(parameterToString(r.mobileAppCategoryId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphMobileAppCategory == nil {
		return nil, reportError("microsoftGraphMobileAppCategory is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphMobileAppCategory
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
