/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package msgraph

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// DeviceManagementTelecomExpenseManagementPartnerApiService DeviceManagementTelecomExpenseManagementPartnerApi service
type DeviceManagementTelecomExpenseManagementPartnerApiService service

type ApiDeviceManagementCreateTelecomExpenseManagementPartnersRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementTelecomExpenseManagementPartnerApiService
	microsoftGraphTelecomExpenseManagementPartner *MicrosoftGraphTelecomExpenseManagementPartner
}

// New navigation property
func (r ApiDeviceManagementCreateTelecomExpenseManagementPartnersRequest) MicrosoftGraphTelecomExpenseManagementPartner(microsoftGraphTelecomExpenseManagementPartner MicrosoftGraphTelecomExpenseManagementPartner) ApiDeviceManagementCreateTelecomExpenseManagementPartnersRequest {
	r.microsoftGraphTelecomExpenseManagementPartner = &microsoftGraphTelecomExpenseManagementPartner
	return r
}

func (r ApiDeviceManagementCreateTelecomExpenseManagementPartnersRequest) Execute() (MicrosoftGraphTelecomExpenseManagementPartner, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementCreateTelecomExpenseManagementPartnersExecute(r)
}

/*
DeviceManagementCreateTelecomExpenseManagementPartners Create new navigation property to telecomExpenseManagementPartners for deviceManagement

The telecom expense management partners.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceManagementCreateTelecomExpenseManagementPartnersRequest
*/
func (a *DeviceManagementTelecomExpenseManagementPartnerApiService) DeviceManagementCreateTelecomExpenseManagementPartners(ctx _context.Context) ApiDeviceManagementCreateTelecomExpenseManagementPartnersRequest {
	return ApiDeviceManagementCreateTelecomExpenseManagementPartnersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphTelecomExpenseManagementPartner
func (a *DeviceManagementTelecomExpenseManagementPartnerApiService) DeviceManagementCreateTelecomExpenseManagementPartnersExecute(r ApiDeviceManagementCreateTelecomExpenseManagementPartnersRequest) (MicrosoftGraphTelecomExpenseManagementPartner, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphTelecomExpenseManagementPartner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementTelecomExpenseManagementPartnerApiService.DeviceManagementCreateTelecomExpenseManagementPartners")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/telecomExpenseManagementPartners"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphTelecomExpenseManagementPartner == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphTelecomExpenseManagementPartner is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphTelecomExpenseManagementPartner
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementDeleteTelecomExpenseManagementPartnersRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementTelecomExpenseManagementPartnerApiService
	telecomExpenseManagementPartnerId string
	ifMatch *string
}

// ETag
func (r ApiDeviceManagementDeleteTelecomExpenseManagementPartnersRequest) IfMatch(ifMatch string) ApiDeviceManagementDeleteTelecomExpenseManagementPartnersRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiDeviceManagementDeleteTelecomExpenseManagementPartnersRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceManagementDeleteTelecomExpenseManagementPartnersExecute(r)
}

/*
DeviceManagementDeleteTelecomExpenseManagementPartners Delete navigation property telecomExpenseManagementPartners for deviceManagement

The telecom expense management partners.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param telecomExpenseManagementPartnerId key: id of telecomExpenseManagementPartner
 @return ApiDeviceManagementDeleteTelecomExpenseManagementPartnersRequest
*/
func (a *DeviceManagementTelecomExpenseManagementPartnerApiService) DeviceManagementDeleteTelecomExpenseManagementPartners(ctx _context.Context, telecomExpenseManagementPartnerId string) ApiDeviceManagementDeleteTelecomExpenseManagementPartnersRequest {
	return ApiDeviceManagementDeleteTelecomExpenseManagementPartnersRequest{
		ApiService: a,
		ctx: ctx,
		telecomExpenseManagementPartnerId: telecomExpenseManagementPartnerId,
	}
}

// Execute executes the request
func (a *DeviceManagementTelecomExpenseManagementPartnerApiService) DeviceManagementDeleteTelecomExpenseManagementPartnersExecute(r ApiDeviceManagementDeleteTelecomExpenseManagementPartnersRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementTelecomExpenseManagementPartnerApiService.DeviceManagementDeleteTelecomExpenseManagementPartners")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/telecomExpenseManagementPartners/{telecomExpenseManagementPartner-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"telecomExpenseManagementPartner-id"+"}", _neturl.PathEscape(parameterToString(r.telecomExpenseManagementPartnerId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeviceManagementGetTelecomExpenseManagementPartnersRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementTelecomExpenseManagementPartnerApiService
	telecomExpenseManagementPartnerId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiDeviceManagementGetTelecomExpenseManagementPartnersRequest) Select_(select_ []string) ApiDeviceManagementGetTelecomExpenseManagementPartnersRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceManagementGetTelecomExpenseManagementPartnersRequest) Expand(expand []string) ApiDeviceManagementGetTelecomExpenseManagementPartnersRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceManagementGetTelecomExpenseManagementPartnersRequest) Execute() (MicrosoftGraphTelecomExpenseManagementPartner, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementGetTelecomExpenseManagementPartnersExecute(r)
}

/*
DeviceManagementGetTelecomExpenseManagementPartners Get telecomExpenseManagementPartners from deviceManagement

The telecom expense management partners.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param telecomExpenseManagementPartnerId key: id of telecomExpenseManagementPartner
 @return ApiDeviceManagementGetTelecomExpenseManagementPartnersRequest
*/
func (a *DeviceManagementTelecomExpenseManagementPartnerApiService) DeviceManagementGetTelecomExpenseManagementPartners(ctx _context.Context, telecomExpenseManagementPartnerId string) ApiDeviceManagementGetTelecomExpenseManagementPartnersRequest {
	return ApiDeviceManagementGetTelecomExpenseManagementPartnersRequest{
		ApiService: a,
		ctx: ctx,
		telecomExpenseManagementPartnerId: telecomExpenseManagementPartnerId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphTelecomExpenseManagementPartner
func (a *DeviceManagementTelecomExpenseManagementPartnerApiService) DeviceManagementGetTelecomExpenseManagementPartnersExecute(r ApiDeviceManagementGetTelecomExpenseManagementPartnersRequest) (MicrosoftGraphTelecomExpenseManagementPartner, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphTelecomExpenseManagementPartner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementTelecomExpenseManagementPartnerApiService.DeviceManagementGetTelecomExpenseManagementPartners")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/telecomExpenseManagementPartners/{telecomExpenseManagementPartner-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"telecomExpenseManagementPartner-id"+"}", _neturl.PathEscape(parameterToString(r.telecomExpenseManagementPartnerId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementListTelecomExpenseManagementPartnersRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementTelecomExpenseManagementPartnerApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiDeviceManagementListTelecomExpenseManagementPartnersRequest) Top(top int32) ApiDeviceManagementListTelecomExpenseManagementPartnersRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiDeviceManagementListTelecomExpenseManagementPartnersRequest) Skip(skip int32) ApiDeviceManagementListTelecomExpenseManagementPartnersRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiDeviceManagementListTelecomExpenseManagementPartnersRequest) Search(search string) ApiDeviceManagementListTelecomExpenseManagementPartnersRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiDeviceManagementListTelecomExpenseManagementPartnersRequest) Filter(filter string) ApiDeviceManagementListTelecomExpenseManagementPartnersRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiDeviceManagementListTelecomExpenseManagementPartnersRequest) Count(count bool) ApiDeviceManagementListTelecomExpenseManagementPartnersRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiDeviceManagementListTelecomExpenseManagementPartnersRequest) Orderby(orderby []string) ApiDeviceManagementListTelecomExpenseManagementPartnersRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiDeviceManagementListTelecomExpenseManagementPartnersRequest) Select_(select_ []string) ApiDeviceManagementListTelecomExpenseManagementPartnersRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiDeviceManagementListTelecomExpenseManagementPartnersRequest) Expand(expand []string) ApiDeviceManagementListTelecomExpenseManagementPartnersRequest {
	r.expand = &expand
	return r
}

func (r ApiDeviceManagementListTelecomExpenseManagementPartnersRequest) Execute() (CollectionOfTelecomExpenseManagementPartner, *_nethttp.Response, error) {
	return r.ApiService.DeviceManagementListTelecomExpenseManagementPartnersExecute(r)
}

/*
DeviceManagementListTelecomExpenseManagementPartners Get telecomExpenseManagementPartners from deviceManagement

The telecom expense management partners.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviceManagementListTelecomExpenseManagementPartnersRequest
*/
func (a *DeviceManagementTelecomExpenseManagementPartnerApiService) DeviceManagementListTelecomExpenseManagementPartners(ctx _context.Context) ApiDeviceManagementListTelecomExpenseManagementPartnersRequest {
	return ApiDeviceManagementListTelecomExpenseManagementPartnersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfTelecomExpenseManagementPartner
func (a *DeviceManagementTelecomExpenseManagementPartnerApiService) DeviceManagementListTelecomExpenseManagementPartnersExecute(r ApiDeviceManagementListTelecomExpenseManagementPartnersRequest) (CollectionOfTelecomExpenseManagementPartner, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfTelecomExpenseManagementPartner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementTelecomExpenseManagementPartnerApiService.DeviceManagementListTelecomExpenseManagementPartners")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/telecomExpenseManagementPartners"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviceManagementUpdateTelecomExpenseManagementPartnersRequest struct {
	ctx _context.Context
	ApiService *DeviceManagementTelecomExpenseManagementPartnerApiService
	telecomExpenseManagementPartnerId string
	microsoftGraphTelecomExpenseManagementPartner *MicrosoftGraphTelecomExpenseManagementPartner
}

// New navigation property values
func (r ApiDeviceManagementUpdateTelecomExpenseManagementPartnersRequest) MicrosoftGraphTelecomExpenseManagementPartner(microsoftGraphTelecomExpenseManagementPartner MicrosoftGraphTelecomExpenseManagementPartner) ApiDeviceManagementUpdateTelecomExpenseManagementPartnersRequest {
	r.microsoftGraphTelecomExpenseManagementPartner = &microsoftGraphTelecomExpenseManagementPartner
	return r
}

func (r ApiDeviceManagementUpdateTelecomExpenseManagementPartnersRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeviceManagementUpdateTelecomExpenseManagementPartnersExecute(r)
}

/*
DeviceManagementUpdateTelecomExpenseManagementPartners Update the navigation property telecomExpenseManagementPartners in deviceManagement

The telecom expense management partners.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param telecomExpenseManagementPartnerId key: id of telecomExpenseManagementPartner
 @return ApiDeviceManagementUpdateTelecomExpenseManagementPartnersRequest
*/
func (a *DeviceManagementTelecomExpenseManagementPartnerApiService) DeviceManagementUpdateTelecomExpenseManagementPartners(ctx _context.Context, telecomExpenseManagementPartnerId string) ApiDeviceManagementUpdateTelecomExpenseManagementPartnersRequest {
	return ApiDeviceManagementUpdateTelecomExpenseManagementPartnersRequest{
		ApiService: a,
		ctx: ctx,
		telecomExpenseManagementPartnerId: telecomExpenseManagementPartnerId,
	}
}

// Execute executes the request
func (a *DeviceManagementTelecomExpenseManagementPartnerApiService) DeviceManagementUpdateTelecomExpenseManagementPartnersExecute(r ApiDeviceManagementUpdateTelecomExpenseManagementPartnersRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviceManagementTelecomExpenseManagementPartnerApiService.DeviceManagementUpdateTelecomExpenseManagementPartners")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deviceManagement/telecomExpenseManagementPartners/{telecomExpenseManagementPartner-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"telecomExpenseManagementPartner-id"+"}", _neturl.PathEscape(parameterToString(r.telecomExpenseManagementPartnerId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphTelecomExpenseManagementPartner == nil {
		return nil, reportError("microsoftGraphTelecomExpenseManagementPartner is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphTelecomExpenseManagementPartner
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
