/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// CommunicationsPresenceApiService CommunicationsPresenceApi service
type CommunicationsPresenceApiService service

type ApiCommunicationsCreatePresencesRequest struct {
	ctx _context.Context
	ApiService *CommunicationsPresenceApiService
	microsoftGraphPresence *MicrosoftGraphPresence
}

// New navigation property
func (r ApiCommunicationsCreatePresencesRequest) MicrosoftGraphPresence(microsoftGraphPresence MicrosoftGraphPresence) ApiCommunicationsCreatePresencesRequest {
	r.microsoftGraphPresence = &microsoftGraphPresence
	return r
}

func (r ApiCommunicationsCreatePresencesRequest) Execute() (MicrosoftGraphPresence, *_nethttp.Response, error) {
	return r.ApiService.CommunicationsCreatePresencesExecute(r)
}

/*
CommunicationsCreatePresences Create new navigation property to presences for communications

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCommunicationsCreatePresencesRequest
*/
func (a *CommunicationsPresenceApiService) CommunicationsCreatePresences(ctx _context.Context) ApiCommunicationsCreatePresencesRequest {
	return ApiCommunicationsCreatePresencesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MicrosoftGraphPresence
func (a *CommunicationsPresenceApiService) CommunicationsCreatePresencesExecute(r ApiCommunicationsCreatePresencesRequest) (MicrosoftGraphPresence, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphPresence
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommunicationsPresenceApiService.CommunicationsCreatePresences")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/communications/presences"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphPresence == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphPresence is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphPresence
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCommunicationsDeletePresencesRequest struct {
	ctx _context.Context
	ApiService *CommunicationsPresenceApiService
	presenceId string
	ifMatch *string
}

// ETag
func (r ApiCommunicationsDeletePresencesRequest) IfMatch(ifMatch string) ApiCommunicationsDeletePresencesRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiCommunicationsDeletePresencesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.CommunicationsDeletePresencesExecute(r)
}

/*
CommunicationsDeletePresences Delete navigation property presences for communications

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param presenceId key: id of presence
 @return ApiCommunicationsDeletePresencesRequest
*/
func (a *CommunicationsPresenceApiService) CommunicationsDeletePresences(ctx _context.Context, presenceId string) ApiCommunicationsDeletePresencesRequest {
	return ApiCommunicationsDeletePresencesRequest{
		ApiService: a,
		ctx: ctx,
		presenceId: presenceId,
	}
}

// Execute executes the request
func (a *CommunicationsPresenceApiService) CommunicationsDeletePresencesExecute(r ApiCommunicationsDeletePresencesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommunicationsPresenceApiService.CommunicationsDeletePresences")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/communications/presences/{presence-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"presence-id"+"}", _neturl.PathEscape(parameterToString(r.presenceId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCommunicationsGetPresencesRequest struct {
	ctx _context.Context
	ApiService *CommunicationsPresenceApiService
	presenceId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiCommunicationsGetPresencesRequest) Select_(select_ []string) ApiCommunicationsGetPresencesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiCommunicationsGetPresencesRequest) Expand(expand []string) ApiCommunicationsGetPresencesRequest {
	r.expand = &expand
	return r
}

func (r ApiCommunicationsGetPresencesRequest) Execute() (MicrosoftGraphPresence, *_nethttp.Response, error) {
	return r.ApiService.CommunicationsGetPresencesExecute(r)
}

/*
CommunicationsGetPresences Get presences from communications

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param presenceId key: id of presence
 @return ApiCommunicationsGetPresencesRequest
*/
func (a *CommunicationsPresenceApiService) CommunicationsGetPresences(ctx _context.Context, presenceId string) ApiCommunicationsGetPresencesRequest {
	return ApiCommunicationsGetPresencesRequest{
		ApiService: a,
		ctx: ctx,
		presenceId: presenceId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphPresence
func (a *CommunicationsPresenceApiService) CommunicationsGetPresencesExecute(r ApiCommunicationsGetPresencesRequest) (MicrosoftGraphPresence, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphPresence
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommunicationsPresenceApiService.CommunicationsGetPresences")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/communications/presences/{presence-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"presence-id"+"}", _neturl.PathEscape(parameterToString(r.presenceId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCommunicationsListPresencesRequest struct {
	ctx _context.Context
	ApiService *CommunicationsPresenceApiService
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiCommunicationsListPresencesRequest) Top(top int32) ApiCommunicationsListPresencesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiCommunicationsListPresencesRequest) Skip(skip int32) ApiCommunicationsListPresencesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiCommunicationsListPresencesRequest) Search(search string) ApiCommunicationsListPresencesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiCommunicationsListPresencesRequest) Filter(filter string) ApiCommunicationsListPresencesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiCommunicationsListPresencesRequest) Count(count bool) ApiCommunicationsListPresencesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiCommunicationsListPresencesRequest) Orderby(orderby []string) ApiCommunicationsListPresencesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiCommunicationsListPresencesRequest) Select_(select_ []string) ApiCommunicationsListPresencesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiCommunicationsListPresencesRequest) Expand(expand []string) ApiCommunicationsListPresencesRequest {
	r.expand = &expand
	return r
}

func (r ApiCommunicationsListPresencesRequest) Execute() (CollectionOfPresence, *_nethttp.Response, error) {
	return r.ApiService.CommunicationsListPresencesExecute(r)
}

/*
CommunicationsListPresences Get presences from communications

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCommunicationsListPresencesRequest
*/
func (a *CommunicationsPresenceApiService) CommunicationsListPresences(ctx _context.Context) ApiCommunicationsListPresencesRequest {
	return ApiCommunicationsListPresencesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CollectionOfPresence
func (a *CommunicationsPresenceApiService) CommunicationsListPresencesExecute(r ApiCommunicationsListPresencesRequest) (CollectionOfPresence, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfPresence
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommunicationsPresenceApiService.CommunicationsListPresences")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/communications/presences"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCommunicationsUpdatePresencesRequest struct {
	ctx _context.Context
	ApiService *CommunicationsPresenceApiService
	presenceId string
	microsoftGraphPresence *MicrosoftGraphPresence
}

// New navigation property values
func (r ApiCommunicationsUpdatePresencesRequest) MicrosoftGraphPresence(microsoftGraphPresence MicrosoftGraphPresence) ApiCommunicationsUpdatePresencesRequest {
	r.microsoftGraphPresence = &microsoftGraphPresence
	return r
}

func (r ApiCommunicationsUpdatePresencesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.CommunicationsUpdatePresencesExecute(r)
}

/*
CommunicationsUpdatePresences Update the navigation property presences in communications

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param presenceId key: id of presence
 @return ApiCommunicationsUpdatePresencesRequest
*/
func (a *CommunicationsPresenceApiService) CommunicationsUpdatePresences(ctx _context.Context, presenceId string) ApiCommunicationsUpdatePresencesRequest {
	return ApiCommunicationsUpdatePresencesRequest{
		ApiService: a,
		ctx: ctx,
		presenceId: presenceId,
	}
}

// Execute executes the request
func (a *CommunicationsPresenceApiService) CommunicationsUpdatePresencesExecute(r ApiCommunicationsUpdatePresencesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CommunicationsPresenceApiService.CommunicationsUpdatePresences")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/communications/presences/{presence-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"presence-id"+"}", _neturl.PathEscape(parameterToString(r.presenceId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphPresence == nil {
		return nil, reportError("microsoftGraphPresence is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphPresence
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
