/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
	"os"
)

// Linger please
var (
	_ _context.Context
)

// MeContactFolderApiService MeContactFolderApi service
type MeContactFolderApiService service

type ApiMeContactFoldersContactsCreateExtensionsRequest struct {
	ctx _context.Context
	ApiService *MeContactFolderApiService
	contactFolderId string
	contactId string
	microsoftGraphExtension *MicrosoftGraphExtension
}

// New navigation property
func (r ApiMeContactFoldersContactsCreateExtensionsRequest) MicrosoftGraphExtension(microsoftGraphExtension MicrosoftGraphExtension) ApiMeContactFoldersContactsCreateExtensionsRequest {
	r.microsoftGraphExtension = &microsoftGraphExtension
	return r
}

func (r ApiMeContactFoldersContactsCreateExtensionsRequest) Execute() (MicrosoftGraphExtension, *_nethttp.Response, error) {
	return r.ApiService.MeContactFoldersContactsCreateExtensionsExecute(r)
}

/*
MeContactFoldersContactsCreateExtensions Create new navigation property to extensions for me

The collection of open extensions defined for the contact. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param contactFolderId key: id of contactFolder
 @param contactId key: id of contact
 @return ApiMeContactFoldersContactsCreateExtensionsRequest
*/
func (a *MeContactFolderApiService) MeContactFoldersContactsCreateExtensions(ctx _context.Context, contactFolderId string, contactId string) ApiMeContactFoldersContactsCreateExtensionsRequest {
	return ApiMeContactFoldersContactsCreateExtensionsRequest{
		ApiService: a,
		ctx: ctx,
		contactFolderId: contactFolderId,
		contactId: contactId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphExtension
func (a *MeContactFolderApiService) MeContactFoldersContactsCreateExtensionsExecute(r ApiMeContactFoldersContactsCreateExtensionsRequest) (MicrosoftGraphExtension, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphExtension
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeContactFolderApiService.MeContactFoldersContactsCreateExtensions")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/contactFolders/{contactFolder-id}/contacts/{contact-id}/extensions"
	localVarPath = strings.Replace(localVarPath, "{"+"contactFolder-id"+"}", _neturl.PathEscape(parameterToString(r.contactFolderId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"contact-id"+"}", _neturl.PathEscape(parameterToString(r.contactId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphExtension == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphExtension is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphExtension
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeContactFoldersContactsCreateMultiValueExtendedPropertiesRequest struct {
	ctx _context.Context
	ApiService *MeContactFolderApiService
	contactFolderId string
	contactId string
	microsoftGraphMultiValueLegacyExtendedProperty *MicrosoftGraphMultiValueLegacyExtendedProperty
}

// New navigation property
func (r ApiMeContactFoldersContactsCreateMultiValueExtendedPropertiesRequest) MicrosoftGraphMultiValueLegacyExtendedProperty(microsoftGraphMultiValueLegacyExtendedProperty MicrosoftGraphMultiValueLegacyExtendedProperty) ApiMeContactFoldersContactsCreateMultiValueExtendedPropertiesRequest {
	r.microsoftGraphMultiValueLegacyExtendedProperty = &microsoftGraphMultiValueLegacyExtendedProperty
	return r
}

func (r ApiMeContactFoldersContactsCreateMultiValueExtendedPropertiesRequest) Execute() (MicrosoftGraphMultiValueLegacyExtendedProperty, *_nethttp.Response, error) {
	return r.ApiService.MeContactFoldersContactsCreateMultiValueExtendedPropertiesExecute(r)
}

/*
MeContactFoldersContactsCreateMultiValueExtendedProperties Create new navigation property to multiValueExtendedProperties for me

The collection of multi-value extended properties defined for the contact. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param contactFolderId key: id of contactFolder
 @param contactId key: id of contact
 @return ApiMeContactFoldersContactsCreateMultiValueExtendedPropertiesRequest
*/
func (a *MeContactFolderApiService) MeContactFoldersContactsCreateMultiValueExtendedProperties(ctx _context.Context, contactFolderId string, contactId string) ApiMeContactFoldersContactsCreateMultiValueExtendedPropertiesRequest {
	return ApiMeContactFoldersContactsCreateMultiValueExtendedPropertiesRequest{
		ApiService: a,
		ctx: ctx,
		contactFolderId: contactFolderId,
		contactId: contactId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphMultiValueLegacyExtendedProperty
func (a *MeContactFolderApiService) MeContactFoldersContactsCreateMultiValueExtendedPropertiesExecute(r ApiMeContactFoldersContactsCreateMultiValueExtendedPropertiesRequest) (MicrosoftGraphMultiValueLegacyExtendedProperty, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphMultiValueLegacyExtendedProperty
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeContactFolderApiService.MeContactFoldersContactsCreateMultiValueExtendedProperties")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/contactFolders/{contactFolder-id}/contacts/{contact-id}/multiValueExtendedProperties"
	localVarPath = strings.Replace(localVarPath, "{"+"contactFolder-id"+"}", _neturl.PathEscape(parameterToString(r.contactFolderId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"contact-id"+"}", _neturl.PathEscape(parameterToString(r.contactId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphMultiValueLegacyExtendedProperty == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphMultiValueLegacyExtendedProperty is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphMultiValueLegacyExtendedProperty
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeContactFoldersContactsCreateSingleValueExtendedPropertiesRequest struct {
	ctx _context.Context
	ApiService *MeContactFolderApiService
	contactFolderId string
	contactId string
	microsoftGraphSingleValueLegacyExtendedProperty *MicrosoftGraphSingleValueLegacyExtendedProperty
}

// New navigation property
func (r ApiMeContactFoldersContactsCreateSingleValueExtendedPropertiesRequest) MicrosoftGraphSingleValueLegacyExtendedProperty(microsoftGraphSingleValueLegacyExtendedProperty MicrosoftGraphSingleValueLegacyExtendedProperty) ApiMeContactFoldersContactsCreateSingleValueExtendedPropertiesRequest {
	r.microsoftGraphSingleValueLegacyExtendedProperty = &microsoftGraphSingleValueLegacyExtendedProperty
	return r
}

func (r ApiMeContactFoldersContactsCreateSingleValueExtendedPropertiesRequest) Execute() (MicrosoftGraphSingleValueLegacyExtendedProperty, *_nethttp.Response, error) {
	return r.ApiService.MeContactFoldersContactsCreateSingleValueExtendedPropertiesExecute(r)
}

/*
MeContactFoldersContactsCreateSingleValueExtendedProperties Create new navigation property to singleValueExtendedProperties for me

The collection of single-value extended properties defined for the contact. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param contactFolderId key: id of contactFolder
 @param contactId key: id of contact
 @return ApiMeContactFoldersContactsCreateSingleValueExtendedPropertiesRequest
*/
func (a *MeContactFolderApiService) MeContactFoldersContactsCreateSingleValueExtendedProperties(ctx _context.Context, contactFolderId string, contactId string) ApiMeContactFoldersContactsCreateSingleValueExtendedPropertiesRequest {
	return ApiMeContactFoldersContactsCreateSingleValueExtendedPropertiesRequest{
		ApiService: a,
		ctx: ctx,
		contactFolderId: contactFolderId,
		contactId: contactId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphSingleValueLegacyExtendedProperty
func (a *MeContactFolderApiService) MeContactFoldersContactsCreateSingleValueExtendedPropertiesExecute(r ApiMeContactFoldersContactsCreateSingleValueExtendedPropertiesRequest) (MicrosoftGraphSingleValueLegacyExtendedProperty, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphSingleValueLegacyExtendedProperty
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeContactFolderApiService.MeContactFoldersContactsCreateSingleValueExtendedProperties")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/contactFolders/{contactFolder-id}/contacts/{contact-id}/singleValueExtendedProperties"
	localVarPath = strings.Replace(localVarPath, "{"+"contactFolder-id"+"}", _neturl.PathEscape(parameterToString(r.contactFolderId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"contact-id"+"}", _neturl.PathEscape(parameterToString(r.contactId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphSingleValueLegacyExtendedProperty == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphSingleValueLegacyExtendedProperty is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphSingleValueLegacyExtendedProperty
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeContactFoldersContactsDeleteExtensionsRequest struct {
	ctx _context.Context
	ApiService *MeContactFolderApiService
	contactFolderId string
	contactId string
	extensionId string
	ifMatch *string
}

// ETag
func (r ApiMeContactFoldersContactsDeleteExtensionsRequest) IfMatch(ifMatch string) ApiMeContactFoldersContactsDeleteExtensionsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiMeContactFoldersContactsDeleteExtensionsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.MeContactFoldersContactsDeleteExtensionsExecute(r)
}

/*
MeContactFoldersContactsDeleteExtensions Delete navigation property extensions for me

The collection of open extensions defined for the contact. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param contactFolderId key: id of contactFolder
 @param contactId key: id of contact
 @param extensionId key: id of extension
 @return ApiMeContactFoldersContactsDeleteExtensionsRequest
*/
func (a *MeContactFolderApiService) MeContactFoldersContactsDeleteExtensions(ctx _context.Context, contactFolderId string, contactId string, extensionId string) ApiMeContactFoldersContactsDeleteExtensionsRequest {
	return ApiMeContactFoldersContactsDeleteExtensionsRequest{
		ApiService: a,
		ctx: ctx,
		contactFolderId: contactFolderId,
		contactId: contactId,
		extensionId: extensionId,
	}
}

// Execute executes the request
func (a *MeContactFolderApiService) MeContactFoldersContactsDeleteExtensionsExecute(r ApiMeContactFoldersContactsDeleteExtensionsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeContactFolderApiService.MeContactFoldersContactsDeleteExtensions")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/contactFolders/{contactFolder-id}/contacts/{contact-id}/extensions/{extension-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"contactFolder-id"+"}", _neturl.PathEscape(parameterToString(r.contactFolderId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"contact-id"+"}", _neturl.PathEscape(parameterToString(r.contactId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"extension-id"+"}", _neturl.PathEscape(parameterToString(r.extensionId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiMeContactFoldersContactsDeleteMultiValueExtendedPropertiesRequest struct {
	ctx _context.Context
	ApiService *MeContactFolderApiService
	contactFolderId string
	contactId string
	multiValueLegacyExtendedPropertyId string
	ifMatch *string
}

// ETag
func (r ApiMeContactFoldersContactsDeleteMultiValueExtendedPropertiesRequest) IfMatch(ifMatch string) ApiMeContactFoldersContactsDeleteMultiValueExtendedPropertiesRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiMeContactFoldersContactsDeleteMultiValueExtendedPropertiesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.MeContactFoldersContactsDeleteMultiValueExtendedPropertiesExecute(r)
}

/*
MeContactFoldersContactsDeleteMultiValueExtendedProperties Delete navigation property multiValueExtendedProperties for me

The collection of multi-value extended properties defined for the contact. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param contactFolderId key: id of contactFolder
 @param contactId key: id of contact
 @param multiValueLegacyExtendedPropertyId key: id of multiValueLegacyExtendedProperty
 @return ApiMeContactFoldersContactsDeleteMultiValueExtendedPropertiesRequest
*/
func (a *MeContactFolderApiService) MeContactFoldersContactsDeleteMultiValueExtendedProperties(ctx _context.Context, contactFolderId string, contactId string, multiValueLegacyExtendedPropertyId string) ApiMeContactFoldersContactsDeleteMultiValueExtendedPropertiesRequest {
	return ApiMeContactFoldersContactsDeleteMultiValueExtendedPropertiesRequest{
		ApiService: a,
		ctx: ctx,
		contactFolderId: contactFolderId,
		contactId: contactId,
		multiValueLegacyExtendedPropertyId: multiValueLegacyExtendedPropertyId,
	}
}

// Execute executes the request
func (a *MeContactFolderApiService) MeContactFoldersContactsDeleteMultiValueExtendedPropertiesExecute(r ApiMeContactFoldersContactsDeleteMultiValueExtendedPropertiesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeContactFolderApiService.MeContactFoldersContactsDeleteMultiValueExtendedProperties")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/contactFolders/{contactFolder-id}/contacts/{contact-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"contactFolder-id"+"}", _neturl.PathEscape(parameterToString(r.contactFolderId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"contact-id"+"}", _neturl.PathEscape(parameterToString(r.contactId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"multiValueLegacyExtendedProperty-id"+"}", _neturl.PathEscape(parameterToString(r.multiValueLegacyExtendedPropertyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiMeContactFoldersContactsDeletePhotoRequest struct {
	ctx _context.Context
	ApiService *MeContactFolderApiService
	contactFolderId string
	contactId string
	ifMatch *string
}

// ETag
func (r ApiMeContactFoldersContactsDeletePhotoRequest) IfMatch(ifMatch string) ApiMeContactFoldersContactsDeletePhotoRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiMeContactFoldersContactsDeletePhotoRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.MeContactFoldersContactsDeletePhotoExecute(r)
}

/*
MeContactFoldersContactsDeletePhoto Delete navigation property photo for me

Optional contact picture. You can get or set a photo for a contact.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param contactFolderId key: id of contactFolder
 @param contactId key: id of contact
 @return ApiMeContactFoldersContactsDeletePhotoRequest
*/
func (a *MeContactFolderApiService) MeContactFoldersContactsDeletePhoto(ctx _context.Context, contactFolderId string, contactId string) ApiMeContactFoldersContactsDeletePhotoRequest {
	return ApiMeContactFoldersContactsDeletePhotoRequest{
		ApiService: a,
		ctx: ctx,
		contactFolderId: contactFolderId,
		contactId: contactId,
	}
}

// Execute executes the request
func (a *MeContactFolderApiService) MeContactFoldersContactsDeletePhotoExecute(r ApiMeContactFoldersContactsDeletePhotoRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeContactFolderApiService.MeContactFoldersContactsDeletePhoto")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/contactFolders/{contactFolder-id}/contacts/{contact-id}/photo"
	localVarPath = strings.Replace(localVarPath, "{"+"contactFolder-id"+"}", _neturl.PathEscape(parameterToString(r.contactFolderId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"contact-id"+"}", _neturl.PathEscape(parameterToString(r.contactId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiMeContactFoldersContactsDeleteSingleValueExtendedPropertiesRequest struct {
	ctx _context.Context
	ApiService *MeContactFolderApiService
	contactFolderId string
	contactId string
	singleValueLegacyExtendedPropertyId string
	ifMatch *string
}

// ETag
func (r ApiMeContactFoldersContactsDeleteSingleValueExtendedPropertiesRequest) IfMatch(ifMatch string) ApiMeContactFoldersContactsDeleteSingleValueExtendedPropertiesRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiMeContactFoldersContactsDeleteSingleValueExtendedPropertiesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.MeContactFoldersContactsDeleteSingleValueExtendedPropertiesExecute(r)
}

/*
MeContactFoldersContactsDeleteSingleValueExtendedProperties Delete navigation property singleValueExtendedProperties for me

The collection of single-value extended properties defined for the contact. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param contactFolderId key: id of contactFolder
 @param contactId key: id of contact
 @param singleValueLegacyExtendedPropertyId key: id of singleValueLegacyExtendedProperty
 @return ApiMeContactFoldersContactsDeleteSingleValueExtendedPropertiesRequest
*/
func (a *MeContactFolderApiService) MeContactFoldersContactsDeleteSingleValueExtendedProperties(ctx _context.Context, contactFolderId string, contactId string, singleValueLegacyExtendedPropertyId string) ApiMeContactFoldersContactsDeleteSingleValueExtendedPropertiesRequest {
	return ApiMeContactFoldersContactsDeleteSingleValueExtendedPropertiesRequest{
		ApiService: a,
		ctx: ctx,
		contactFolderId: contactFolderId,
		contactId: contactId,
		singleValueLegacyExtendedPropertyId: singleValueLegacyExtendedPropertyId,
	}
}

// Execute executes the request
func (a *MeContactFolderApiService) MeContactFoldersContactsDeleteSingleValueExtendedPropertiesExecute(r ApiMeContactFoldersContactsDeleteSingleValueExtendedPropertiesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeContactFolderApiService.MeContactFoldersContactsDeleteSingleValueExtendedProperties")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/contactFolders/{contactFolder-id}/contacts/{contact-id}/singleValueExtendedProperties/{singleValueLegacyExtendedProperty-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"contactFolder-id"+"}", _neturl.PathEscape(parameterToString(r.contactFolderId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"contact-id"+"}", _neturl.PathEscape(parameterToString(r.contactId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"singleValueLegacyExtendedProperty-id"+"}", _neturl.PathEscape(parameterToString(r.singleValueLegacyExtendedPropertyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiMeContactFoldersContactsGetExtensionsRequest struct {
	ctx _context.Context
	ApiService *MeContactFolderApiService
	contactFolderId string
	contactId string
	extensionId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiMeContactFoldersContactsGetExtensionsRequest) Select_(select_ []string) ApiMeContactFoldersContactsGetExtensionsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiMeContactFoldersContactsGetExtensionsRequest) Expand(expand []string) ApiMeContactFoldersContactsGetExtensionsRequest {
	r.expand = &expand
	return r
}

func (r ApiMeContactFoldersContactsGetExtensionsRequest) Execute() (MicrosoftGraphExtension, *_nethttp.Response, error) {
	return r.ApiService.MeContactFoldersContactsGetExtensionsExecute(r)
}

/*
MeContactFoldersContactsGetExtensions Get extensions from me

The collection of open extensions defined for the contact. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param contactFolderId key: id of contactFolder
 @param contactId key: id of contact
 @param extensionId key: id of extension
 @return ApiMeContactFoldersContactsGetExtensionsRequest
*/
func (a *MeContactFolderApiService) MeContactFoldersContactsGetExtensions(ctx _context.Context, contactFolderId string, contactId string, extensionId string) ApiMeContactFoldersContactsGetExtensionsRequest {
	return ApiMeContactFoldersContactsGetExtensionsRequest{
		ApiService: a,
		ctx: ctx,
		contactFolderId: contactFolderId,
		contactId: contactId,
		extensionId: extensionId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphExtension
func (a *MeContactFolderApiService) MeContactFoldersContactsGetExtensionsExecute(r ApiMeContactFoldersContactsGetExtensionsRequest) (MicrosoftGraphExtension, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphExtension
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeContactFolderApiService.MeContactFoldersContactsGetExtensions")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/contactFolders/{contactFolder-id}/contacts/{contact-id}/extensions/{extension-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"contactFolder-id"+"}", _neturl.PathEscape(parameterToString(r.contactFolderId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"contact-id"+"}", _neturl.PathEscape(parameterToString(r.contactId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"extension-id"+"}", _neturl.PathEscape(parameterToString(r.extensionId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeContactFoldersContactsGetMultiValueExtendedPropertiesRequest struct {
	ctx _context.Context
	ApiService *MeContactFolderApiService
	contactFolderId string
	contactId string
	multiValueLegacyExtendedPropertyId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiMeContactFoldersContactsGetMultiValueExtendedPropertiesRequest) Select_(select_ []string) ApiMeContactFoldersContactsGetMultiValueExtendedPropertiesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiMeContactFoldersContactsGetMultiValueExtendedPropertiesRequest) Expand(expand []string) ApiMeContactFoldersContactsGetMultiValueExtendedPropertiesRequest {
	r.expand = &expand
	return r
}

func (r ApiMeContactFoldersContactsGetMultiValueExtendedPropertiesRequest) Execute() (MicrosoftGraphMultiValueLegacyExtendedProperty, *_nethttp.Response, error) {
	return r.ApiService.MeContactFoldersContactsGetMultiValueExtendedPropertiesExecute(r)
}

/*
MeContactFoldersContactsGetMultiValueExtendedProperties Get multiValueExtendedProperties from me

The collection of multi-value extended properties defined for the contact. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param contactFolderId key: id of contactFolder
 @param contactId key: id of contact
 @param multiValueLegacyExtendedPropertyId key: id of multiValueLegacyExtendedProperty
 @return ApiMeContactFoldersContactsGetMultiValueExtendedPropertiesRequest
*/
func (a *MeContactFolderApiService) MeContactFoldersContactsGetMultiValueExtendedProperties(ctx _context.Context, contactFolderId string, contactId string, multiValueLegacyExtendedPropertyId string) ApiMeContactFoldersContactsGetMultiValueExtendedPropertiesRequest {
	return ApiMeContactFoldersContactsGetMultiValueExtendedPropertiesRequest{
		ApiService: a,
		ctx: ctx,
		contactFolderId: contactFolderId,
		contactId: contactId,
		multiValueLegacyExtendedPropertyId: multiValueLegacyExtendedPropertyId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphMultiValueLegacyExtendedProperty
func (a *MeContactFolderApiService) MeContactFoldersContactsGetMultiValueExtendedPropertiesExecute(r ApiMeContactFoldersContactsGetMultiValueExtendedPropertiesRequest) (MicrosoftGraphMultiValueLegacyExtendedProperty, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphMultiValueLegacyExtendedProperty
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeContactFolderApiService.MeContactFoldersContactsGetMultiValueExtendedProperties")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/contactFolders/{contactFolder-id}/contacts/{contact-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"contactFolder-id"+"}", _neturl.PathEscape(parameterToString(r.contactFolderId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"contact-id"+"}", _neturl.PathEscape(parameterToString(r.contactId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"multiValueLegacyExtendedProperty-id"+"}", _neturl.PathEscape(parameterToString(r.multiValueLegacyExtendedPropertyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeContactFoldersContactsGetPhotoRequest struct {
	ctx _context.Context
	ApiService *MeContactFolderApiService
	contactFolderId string
	contactId string
	select_ *[]string
}

// Select properties to be returned
func (r ApiMeContactFoldersContactsGetPhotoRequest) Select_(select_ []string) ApiMeContactFoldersContactsGetPhotoRequest {
	r.select_ = &select_
	return r
}

func (r ApiMeContactFoldersContactsGetPhotoRequest) Execute() (MicrosoftGraphProfilePhoto, *_nethttp.Response, error) {
	return r.ApiService.MeContactFoldersContactsGetPhotoExecute(r)
}

/*
MeContactFoldersContactsGetPhoto Get photo from me

Optional contact picture. You can get or set a photo for a contact.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param contactFolderId key: id of contactFolder
 @param contactId key: id of contact
 @return ApiMeContactFoldersContactsGetPhotoRequest
*/
func (a *MeContactFolderApiService) MeContactFoldersContactsGetPhoto(ctx _context.Context, contactFolderId string, contactId string) ApiMeContactFoldersContactsGetPhotoRequest {
	return ApiMeContactFoldersContactsGetPhotoRequest{
		ApiService: a,
		ctx: ctx,
		contactFolderId: contactFolderId,
		contactId: contactId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphProfilePhoto
func (a *MeContactFolderApiService) MeContactFoldersContactsGetPhotoExecute(r ApiMeContactFoldersContactsGetPhotoRequest) (MicrosoftGraphProfilePhoto, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphProfilePhoto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeContactFolderApiService.MeContactFoldersContactsGetPhoto")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/contactFolders/{contactFolder-id}/contacts/{contact-id}/photo"
	localVarPath = strings.Replace(localVarPath, "{"+"contactFolder-id"+"}", _neturl.PathEscape(parameterToString(r.contactFolderId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"contact-id"+"}", _neturl.PathEscape(parameterToString(r.contactId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeContactFoldersContactsGetPhotoContentRequest struct {
	ctx _context.Context
	ApiService *MeContactFolderApiService
	contactFolderId string
	contactId string
}


func (r ApiMeContactFoldersContactsGetPhotoContentRequest) Execute() (*os.File, *_nethttp.Response, error) {
	return r.ApiService.MeContactFoldersContactsGetPhotoContentExecute(r)
}

/*
MeContactFoldersContactsGetPhotoContent Get media content for the navigation property photo from me

The user's profile photo. Read-only.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param contactFolderId key: id of contactFolder
 @param contactId key: id of contact
 @return ApiMeContactFoldersContactsGetPhotoContentRequest
*/
func (a *MeContactFolderApiService) MeContactFoldersContactsGetPhotoContent(ctx _context.Context, contactFolderId string, contactId string) ApiMeContactFoldersContactsGetPhotoContentRequest {
	return ApiMeContactFoldersContactsGetPhotoContentRequest{
		ApiService: a,
		ctx: ctx,
		contactFolderId: contactFolderId,
		contactId: contactId,
	}
}

// Execute executes the request
//  @return *os.File
func (a *MeContactFolderApiService) MeContactFoldersContactsGetPhotoContentExecute(r ApiMeContactFoldersContactsGetPhotoContentRequest) (*os.File, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeContactFolderApiService.MeContactFoldersContactsGetPhotoContent")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/contactFolders/{contactFolder-id}/contacts/{contact-id}/photo/$value"
	localVarPath = strings.Replace(localVarPath, "{"+"contactFolder-id"+"}", _neturl.PathEscape(parameterToString(r.contactFolderId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"contact-id"+"}", _neturl.PathEscape(parameterToString(r.contactId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/octet-stream", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeContactFoldersContactsGetSingleValueExtendedPropertiesRequest struct {
	ctx _context.Context
	ApiService *MeContactFolderApiService
	contactFolderId string
	contactId string
	singleValueLegacyExtendedPropertyId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiMeContactFoldersContactsGetSingleValueExtendedPropertiesRequest) Select_(select_ []string) ApiMeContactFoldersContactsGetSingleValueExtendedPropertiesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiMeContactFoldersContactsGetSingleValueExtendedPropertiesRequest) Expand(expand []string) ApiMeContactFoldersContactsGetSingleValueExtendedPropertiesRequest {
	r.expand = &expand
	return r
}

func (r ApiMeContactFoldersContactsGetSingleValueExtendedPropertiesRequest) Execute() (MicrosoftGraphSingleValueLegacyExtendedProperty, *_nethttp.Response, error) {
	return r.ApiService.MeContactFoldersContactsGetSingleValueExtendedPropertiesExecute(r)
}

/*
MeContactFoldersContactsGetSingleValueExtendedProperties Get singleValueExtendedProperties from me

The collection of single-value extended properties defined for the contact. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param contactFolderId key: id of contactFolder
 @param contactId key: id of contact
 @param singleValueLegacyExtendedPropertyId key: id of singleValueLegacyExtendedProperty
 @return ApiMeContactFoldersContactsGetSingleValueExtendedPropertiesRequest
*/
func (a *MeContactFolderApiService) MeContactFoldersContactsGetSingleValueExtendedProperties(ctx _context.Context, contactFolderId string, contactId string, singleValueLegacyExtendedPropertyId string) ApiMeContactFoldersContactsGetSingleValueExtendedPropertiesRequest {
	return ApiMeContactFoldersContactsGetSingleValueExtendedPropertiesRequest{
		ApiService: a,
		ctx: ctx,
		contactFolderId: contactFolderId,
		contactId: contactId,
		singleValueLegacyExtendedPropertyId: singleValueLegacyExtendedPropertyId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphSingleValueLegacyExtendedProperty
func (a *MeContactFolderApiService) MeContactFoldersContactsGetSingleValueExtendedPropertiesExecute(r ApiMeContactFoldersContactsGetSingleValueExtendedPropertiesRequest) (MicrosoftGraphSingleValueLegacyExtendedProperty, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphSingleValueLegacyExtendedProperty
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeContactFolderApiService.MeContactFoldersContactsGetSingleValueExtendedProperties")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/contactFolders/{contactFolder-id}/contacts/{contact-id}/singleValueExtendedProperties/{singleValueLegacyExtendedProperty-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"contactFolder-id"+"}", _neturl.PathEscape(parameterToString(r.contactFolderId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"contact-id"+"}", _neturl.PathEscape(parameterToString(r.contactId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"singleValueLegacyExtendedProperty-id"+"}", _neturl.PathEscape(parameterToString(r.singleValueLegacyExtendedPropertyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeContactFoldersContactsListExtensionsRequest struct {
	ctx _context.Context
	ApiService *MeContactFolderApiService
	contactFolderId string
	contactId string
	top *int32
	skip *int32
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiMeContactFoldersContactsListExtensionsRequest) Top(top int32) ApiMeContactFoldersContactsListExtensionsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiMeContactFoldersContactsListExtensionsRequest) Skip(skip int32) ApiMeContactFoldersContactsListExtensionsRequest {
	r.skip = &skip
	return r
}
// Filter items by property values
func (r ApiMeContactFoldersContactsListExtensionsRequest) Filter(filter string) ApiMeContactFoldersContactsListExtensionsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiMeContactFoldersContactsListExtensionsRequest) Count(count bool) ApiMeContactFoldersContactsListExtensionsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiMeContactFoldersContactsListExtensionsRequest) Orderby(orderby []string) ApiMeContactFoldersContactsListExtensionsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiMeContactFoldersContactsListExtensionsRequest) Select_(select_ []string) ApiMeContactFoldersContactsListExtensionsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiMeContactFoldersContactsListExtensionsRequest) Expand(expand []string) ApiMeContactFoldersContactsListExtensionsRequest {
	r.expand = &expand
	return r
}

func (r ApiMeContactFoldersContactsListExtensionsRequest) Execute() (CollectionOfExtension, *_nethttp.Response, error) {
	return r.ApiService.MeContactFoldersContactsListExtensionsExecute(r)
}

/*
MeContactFoldersContactsListExtensions Get extensions from me

The collection of open extensions defined for the contact. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param contactFolderId key: id of contactFolder
 @param contactId key: id of contact
 @return ApiMeContactFoldersContactsListExtensionsRequest
*/
func (a *MeContactFolderApiService) MeContactFoldersContactsListExtensions(ctx _context.Context, contactFolderId string, contactId string) ApiMeContactFoldersContactsListExtensionsRequest {
	return ApiMeContactFoldersContactsListExtensionsRequest{
		ApiService: a,
		ctx: ctx,
		contactFolderId: contactFolderId,
		contactId: contactId,
	}
}

// Execute executes the request
//  @return CollectionOfExtension
func (a *MeContactFolderApiService) MeContactFoldersContactsListExtensionsExecute(r ApiMeContactFoldersContactsListExtensionsRequest) (CollectionOfExtension, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfExtension
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeContactFolderApiService.MeContactFoldersContactsListExtensions")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/contactFolders/{contactFolder-id}/contacts/{contact-id}/extensions"
	localVarPath = strings.Replace(localVarPath, "{"+"contactFolder-id"+"}", _neturl.PathEscape(parameterToString(r.contactFolderId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"contact-id"+"}", _neturl.PathEscape(parameterToString(r.contactId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeContactFoldersContactsListMultiValueExtendedPropertiesRequest struct {
	ctx _context.Context
	ApiService *MeContactFolderApiService
	contactFolderId string
	contactId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiMeContactFoldersContactsListMultiValueExtendedPropertiesRequest) Top(top int32) ApiMeContactFoldersContactsListMultiValueExtendedPropertiesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiMeContactFoldersContactsListMultiValueExtendedPropertiesRequest) Skip(skip int32) ApiMeContactFoldersContactsListMultiValueExtendedPropertiesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiMeContactFoldersContactsListMultiValueExtendedPropertiesRequest) Search(search string) ApiMeContactFoldersContactsListMultiValueExtendedPropertiesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiMeContactFoldersContactsListMultiValueExtendedPropertiesRequest) Filter(filter string) ApiMeContactFoldersContactsListMultiValueExtendedPropertiesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiMeContactFoldersContactsListMultiValueExtendedPropertiesRequest) Count(count bool) ApiMeContactFoldersContactsListMultiValueExtendedPropertiesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiMeContactFoldersContactsListMultiValueExtendedPropertiesRequest) Orderby(orderby []string) ApiMeContactFoldersContactsListMultiValueExtendedPropertiesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiMeContactFoldersContactsListMultiValueExtendedPropertiesRequest) Select_(select_ []string) ApiMeContactFoldersContactsListMultiValueExtendedPropertiesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiMeContactFoldersContactsListMultiValueExtendedPropertiesRequest) Expand(expand []string) ApiMeContactFoldersContactsListMultiValueExtendedPropertiesRequest {
	r.expand = &expand
	return r
}

func (r ApiMeContactFoldersContactsListMultiValueExtendedPropertiesRequest) Execute() (CollectionOfMultiValueLegacyExtendedProperty, *_nethttp.Response, error) {
	return r.ApiService.MeContactFoldersContactsListMultiValueExtendedPropertiesExecute(r)
}

/*
MeContactFoldersContactsListMultiValueExtendedProperties Get multiValueExtendedProperties from me

The collection of multi-value extended properties defined for the contact. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param contactFolderId key: id of contactFolder
 @param contactId key: id of contact
 @return ApiMeContactFoldersContactsListMultiValueExtendedPropertiesRequest
*/
func (a *MeContactFolderApiService) MeContactFoldersContactsListMultiValueExtendedProperties(ctx _context.Context, contactFolderId string, contactId string) ApiMeContactFoldersContactsListMultiValueExtendedPropertiesRequest {
	return ApiMeContactFoldersContactsListMultiValueExtendedPropertiesRequest{
		ApiService: a,
		ctx: ctx,
		contactFolderId: contactFolderId,
		contactId: contactId,
	}
}

// Execute executes the request
//  @return CollectionOfMultiValueLegacyExtendedProperty
func (a *MeContactFolderApiService) MeContactFoldersContactsListMultiValueExtendedPropertiesExecute(r ApiMeContactFoldersContactsListMultiValueExtendedPropertiesRequest) (CollectionOfMultiValueLegacyExtendedProperty, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfMultiValueLegacyExtendedProperty
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeContactFolderApiService.MeContactFoldersContactsListMultiValueExtendedProperties")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/contactFolders/{contactFolder-id}/contacts/{contact-id}/multiValueExtendedProperties"
	localVarPath = strings.Replace(localVarPath, "{"+"contactFolder-id"+"}", _neturl.PathEscape(parameterToString(r.contactFolderId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"contact-id"+"}", _neturl.PathEscape(parameterToString(r.contactId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeContactFoldersContactsListSingleValueExtendedPropertiesRequest struct {
	ctx _context.Context
	ApiService *MeContactFolderApiService
	contactFolderId string
	contactId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiMeContactFoldersContactsListSingleValueExtendedPropertiesRequest) Top(top int32) ApiMeContactFoldersContactsListSingleValueExtendedPropertiesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiMeContactFoldersContactsListSingleValueExtendedPropertiesRequest) Skip(skip int32) ApiMeContactFoldersContactsListSingleValueExtendedPropertiesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiMeContactFoldersContactsListSingleValueExtendedPropertiesRequest) Search(search string) ApiMeContactFoldersContactsListSingleValueExtendedPropertiesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiMeContactFoldersContactsListSingleValueExtendedPropertiesRequest) Filter(filter string) ApiMeContactFoldersContactsListSingleValueExtendedPropertiesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiMeContactFoldersContactsListSingleValueExtendedPropertiesRequest) Count(count bool) ApiMeContactFoldersContactsListSingleValueExtendedPropertiesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiMeContactFoldersContactsListSingleValueExtendedPropertiesRequest) Orderby(orderby []string) ApiMeContactFoldersContactsListSingleValueExtendedPropertiesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiMeContactFoldersContactsListSingleValueExtendedPropertiesRequest) Select_(select_ []string) ApiMeContactFoldersContactsListSingleValueExtendedPropertiesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiMeContactFoldersContactsListSingleValueExtendedPropertiesRequest) Expand(expand []string) ApiMeContactFoldersContactsListSingleValueExtendedPropertiesRequest {
	r.expand = &expand
	return r
}

func (r ApiMeContactFoldersContactsListSingleValueExtendedPropertiesRequest) Execute() (CollectionOfSingleValueLegacyExtendedProperty, *_nethttp.Response, error) {
	return r.ApiService.MeContactFoldersContactsListSingleValueExtendedPropertiesExecute(r)
}

/*
MeContactFoldersContactsListSingleValueExtendedProperties Get singleValueExtendedProperties from me

The collection of single-value extended properties defined for the contact. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param contactFolderId key: id of contactFolder
 @param contactId key: id of contact
 @return ApiMeContactFoldersContactsListSingleValueExtendedPropertiesRequest
*/
func (a *MeContactFolderApiService) MeContactFoldersContactsListSingleValueExtendedProperties(ctx _context.Context, contactFolderId string, contactId string) ApiMeContactFoldersContactsListSingleValueExtendedPropertiesRequest {
	return ApiMeContactFoldersContactsListSingleValueExtendedPropertiesRequest{
		ApiService: a,
		ctx: ctx,
		contactFolderId: contactFolderId,
		contactId: contactId,
	}
}

// Execute executes the request
//  @return CollectionOfSingleValueLegacyExtendedProperty
func (a *MeContactFolderApiService) MeContactFoldersContactsListSingleValueExtendedPropertiesExecute(r ApiMeContactFoldersContactsListSingleValueExtendedPropertiesRequest) (CollectionOfSingleValueLegacyExtendedProperty, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfSingleValueLegacyExtendedProperty
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeContactFolderApiService.MeContactFoldersContactsListSingleValueExtendedProperties")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/contactFolders/{contactFolder-id}/contacts/{contact-id}/singleValueExtendedProperties"
	localVarPath = strings.Replace(localVarPath, "{"+"contactFolder-id"+"}", _neturl.PathEscape(parameterToString(r.contactFolderId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"contact-id"+"}", _neturl.PathEscape(parameterToString(r.contactId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMeContactFoldersContactsUpdateExtensionsRequest struct {
	ctx _context.Context
	ApiService *MeContactFolderApiService
	contactFolderId string
	contactId string
	extensionId string
	microsoftGraphExtension *MicrosoftGraphExtension
}

// New navigation property values
func (r ApiMeContactFoldersContactsUpdateExtensionsRequest) MicrosoftGraphExtension(microsoftGraphExtension MicrosoftGraphExtension) ApiMeContactFoldersContactsUpdateExtensionsRequest {
	r.microsoftGraphExtension = &microsoftGraphExtension
	return r
}

func (r ApiMeContactFoldersContactsUpdateExtensionsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.MeContactFoldersContactsUpdateExtensionsExecute(r)
}

/*
MeContactFoldersContactsUpdateExtensions Update the navigation property extensions in me

The collection of open extensions defined for the contact. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param contactFolderId key: id of contactFolder
 @param contactId key: id of contact
 @param extensionId key: id of extension
 @return ApiMeContactFoldersContactsUpdateExtensionsRequest
*/
func (a *MeContactFolderApiService) MeContactFoldersContactsUpdateExtensions(ctx _context.Context, contactFolderId string, contactId string, extensionId string) ApiMeContactFoldersContactsUpdateExtensionsRequest {
	return ApiMeContactFoldersContactsUpdateExtensionsRequest{
		ApiService: a,
		ctx: ctx,
		contactFolderId: contactFolderId,
		contactId: contactId,
		extensionId: extensionId,
	}
}

// Execute executes the request
func (a *MeContactFolderApiService) MeContactFoldersContactsUpdateExtensionsExecute(r ApiMeContactFoldersContactsUpdateExtensionsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeContactFolderApiService.MeContactFoldersContactsUpdateExtensions")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/contactFolders/{contactFolder-id}/contacts/{contact-id}/extensions/{extension-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"contactFolder-id"+"}", _neturl.PathEscape(parameterToString(r.contactFolderId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"contact-id"+"}", _neturl.PathEscape(parameterToString(r.contactId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"extension-id"+"}", _neturl.PathEscape(parameterToString(r.extensionId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphExtension == nil {
		return nil, reportError("microsoftGraphExtension is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphExtension
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiMeContactFoldersContactsUpdateMultiValueExtendedPropertiesRequest struct {
	ctx _context.Context
	ApiService *MeContactFolderApiService
	contactFolderId string
	contactId string
	multiValueLegacyExtendedPropertyId string
	microsoftGraphMultiValueLegacyExtendedProperty *MicrosoftGraphMultiValueLegacyExtendedProperty
}

// New navigation property values
func (r ApiMeContactFoldersContactsUpdateMultiValueExtendedPropertiesRequest) MicrosoftGraphMultiValueLegacyExtendedProperty(microsoftGraphMultiValueLegacyExtendedProperty MicrosoftGraphMultiValueLegacyExtendedProperty) ApiMeContactFoldersContactsUpdateMultiValueExtendedPropertiesRequest {
	r.microsoftGraphMultiValueLegacyExtendedProperty = &microsoftGraphMultiValueLegacyExtendedProperty
	return r
}

func (r ApiMeContactFoldersContactsUpdateMultiValueExtendedPropertiesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.MeContactFoldersContactsUpdateMultiValueExtendedPropertiesExecute(r)
}

/*
MeContactFoldersContactsUpdateMultiValueExtendedProperties Update the navigation property multiValueExtendedProperties in me

The collection of multi-value extended properties defined for the contact. Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param contactFolderId key: id of contactFolder
 @param contactId key: id of contact
 @param multiValueLegacyExtendedPropertyId key: id of multiValueLegacyExtendedProperty
 @return ApiMeContactFoldersContactsUpdateMultiValueExtendedPropertiesRequest
*/
func (a *MeContactFolderApiService) MeContactFoldersContactsUpdateMultiValueExtendedProperties(ctx _context.Context, contactFolderId string, contactId string, multiValueLegacyExtendedPropertyId string) ApiMeContactFoldersContactsUpdateMultiValueExtendedPropertiesRequest {
	return ApiMeContactFoldersContactsUpdateMultiValueExtendedPropertiesRequest{
		ApiService: a,
		ctx: ctx,
		contactFolderId: contactFolderId,
		contactId: contactId,
		multiValueLegacyExtendedPropertyId: multiValueLegacyExtendedPropertyId,
	}
}

// Execute executes the request
func (a *MeContactFolderApiService) MeContactFoldersContactsUpdateMultiValueExtendedPropertiesExecute(r ApiMeContactFoldersContactsUpdateMultiValueExtendedPropertiesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeContactFolderApiService.MeContactFoldersContactsUpdateMultiValueExtendedProperties")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/contactFolders/{contactFolder-id}/contacts/{contact-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"contactFolder-id"+"}", _neturl.PathEscape(parameterToString(r.contactFolderId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"contact-id"+"}", _neturl.PathEscape(parameterToString(r.contactId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"multiValueLegacyExtendedProperty-id"+"}", _neturl.PathEscape(parameterToString(r.multiValueLegacyExtendedPropertyId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphMultiValueLegacyExtendedProperty == nil {
		return nil, reportError("microsoftGraphMultiValueLegacyExtendedProperty is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphMultiValueLegacyExtendedProperty
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiMeContactFoldersContactsUpdatePhotoRequest struct {
	ctx _context.Context
	ApiService *MeContactFolderApiService
	contactFolderId string
	contactId string
	microsoftGraphProfilePhoto *MicrosoftGraphProfilePhoto
}

// New navigation property values
func (r ApiMeContactFoldersContactsUpdatePhotoRequest) MicrosoftGraphProfilePhoto(microsoftGraphProfilePhoto MicrosoftGraphProfilePhoto) ApiMeContactFoldersContactsUpdatePhotoRequest {
	r.microsoftGraphProfilePhoto = &microsoftGraphProfilePhoto
	return r
}

func (r ApiMeContactFoldersContactsUpdatePhotoRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.MeContactFoldersContactsUpdatePhotoExecute(r)
}

/*
MeContactFoldersContactsUpdatePhoto Update the navigation property photo in me

Optional contact picture. You can get or set a photo for a contact.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param contactFolderId key: id of contactFolder
 @param contactId key: id of contact
 @return ApiMeContactFoldersContactsUpdatePhotoRequest
*/
func (a *MeContactFolderApiService) MeContactFoldersContactsUpdatePhoto(ctx _context.Context, contactFolderId string, contactId string) ApiMeContactFoldersContactsUpdatePhotoRequest {
	return ApiMeContactFoldersContactsUpdatePhotoRequest{
		ApiService: a,
		ctx: ctx,
		contactFolderId: contactFolderId,
		contactId: contactId,
	}
}

// Execute executes the request
func (a *MeContactFolderApiService) MeContactFoldersContactsUpdatePhotoExecute(r ApiMeContactFoldersContactsUpdatePhotoRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPatch
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeContactFolderApiService.MeContactFoldersContactsUpdatePhoto")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/contactFolders/{contactFolder-id}/contacts/{contact-id}/photo"
	localVarPath = strings.Replace(localVarPath, "{"+"contactFolder-id"+"}", _neturl.PathEscape(parameterToString(r.contactFolderId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"contact-id"+"}", _neturl.PathEscape(parameterToString(r.contactId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphProfilePhoto == nil {
		return nil, reportError("microsoftGraphProfilePhoto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphProfilePhoto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiMeContactFoldersContactsUpdatePhotoContentRequest struct {
	ctx _context.Context
	ApiService *MeContactFolderApiService
	contactFolderId string
	contactId string
	body **os.File
}

// New media content.
func (r ApiMeContactFoldersContactsUpdatePhotoContentRequest) Body(body *os.File) ApiMeContactFoldersContactsUpdatePhotoContentRequest {
	r.body = &body
	return r
}

func (r ApiMeContactFoldersContactsUpdatePhotoContentRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.MeContactFoldersContactsUpdatePhotoContentExecute(r)
}

/*
MeContactFoldersContactsUpdatePhotoContent Update media content for the navigation property photo in me

The user's profile photo. Read-only.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param contactFolderId key: id of contactFolder
 @param contactId key: id of contact
 @return ApiMeContactFoldersContactsUpdatePhotoContentRequest
*/
func (a *MeContactFolderApiService) MeContactFoldersContactsUpdatePhotoContent(ctx _context.Context, contactFolderId string, contactId string) ApiMeContactFoldersContactsUpdatePhotoContentRequest {
	return ApiMeContactFoldersContactsUpdatePhotoContentRequest{
		ApiService: a,
		ctx: ctx,
		contactFolderId: contactFolderId,
		contactId: contactId,
	}
}

// Execute executes the request
func (a *MeContactFolderApiService) MeContactFoldersContactsUpdatePhotoContentExecute(r ApiMeContactFoldersContactsUpdatePhotoContentRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPut
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MeContactFolderApiService.MeContactFoldersContactsUpdatePhotoContent")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/me/contactFolders/{contactFolder-id}/contacts/{contact-id}/photo/$value"
[...]
