/*
Partial Graph API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// EducationEducationClassApiService EducationEducationClassApi service
type EducationEducationClassApiService service

type ApiEducationClassesAssignmentsCreateCategoriesRequest struct {
	ctx _context.Context
	ApiService *EducationEducationClassApiService
	educationClassId string
	educationAssignmentId string
	microsoftGraphEducationCategory *MicrosoftGraphEducationCategory
}

// New navigation property
func (r ApiEducationClassesAssignmentsCreateCategoriesRequest) MicrosoftGraphEducationCategory(microsoftGraphEducationCategory MicrosoftGraphEducationCategory) ApiEducationClassesAssignmentsCreateCategoriesRequest {
	r.microsoftGraphEducationCategory = &microsoftGraphEducationCategory
	return r
}

func (r ApiEducationClassesAssignmentsCreateCategoriesRequest) Execute() (MicrosoftGraphEducationCategory, *_nethttp.Response, error) {
	return r.ApiService.EducationClassesAssignmentsCreateCategoriesExecute(r)
}

/*
EducationClassesAssignmentsCreateCategories Create new navigation property to categories for education

When set, enables users to easily find assignments of a given type.  Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param educationClassId key: id of educationClass
 @param educationAssignmentId key: id of educationAssignment
 @return ApiEducationClassesAssignmentsCreateCategoriesRequest
*/
func (a *EducationEducationClassApiService) EducationClassesAssignmentsCreateCategories(ctx _context.Context, educationClassId string, educationAssignmentId string) ApiEducationClassesAssignmentsCreateCategoriesRequest {
	return ApiEducationClassesAssignmentsCreateCategoriesRequest{
		ApiService: a,
		ctx: ctx,
		educationClassId: educationClassId,
		educationAssignmentId: educationAssignmentId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphEducationCategory
func (a *EducationEducationClassApiService) EducationClassesAssignmentsCreateCategoriesExecute(r ApiEducationClassesAssignmentsCreateCategoriesRequest) (MicrosoftGraphEducationCategory, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphEducationCategory
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationEducationClassApiService.EducationClassesAssignmentsCreateCategories")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/categories"
	localVarPath = strings.Replace(localVarPath, "{"+"educationClass-id"+"}", _neturl.PathEscape(parameterToString(r.educationClassId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.educationAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphEducationCategory == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphEducationCategory is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphEducationCategory
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEducationClassesAssignmentsCreateResourcesRequest struct {
	ctx _context.Context
	ApiService *EducationEducationClassApiService
	educationClassId string
	educationAssignmentId string
	microsoftGraphEducationAssignmentResource *MicrosoftGraphEducationAssignmentResource
}

// New navigation property
func (r ApiEducationClassesAssignmentsCreateResourcesRequest) MicrosoftGraphEducationAssignmentResource(microsoftGraphEducationAssignmentResource MicrosoftGraphEducationAssignmentResource) ApiEducationClassesAssignmentsCreateResourcesRequest {
	r.microsoftGraphEducationAssignmentResource = &microsoftGraphEducationAssignmentResource
	return r
}

func (r ApiEducationClassesAssignmentsCreateResourcesRequest) Execute() (MicrosoftGraphEducationAssignmentResource, *_nethttp.Response, error) {
	return r.ApiService.EducationClassesAssignmentsCreateResourcesExecute(r)
}

/*
EducationClassesAssignmentsCreateResources Create new navigation property to resources for education

Learning objects that are associated with this assignment.  Only teachers can modify this list. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param educationClassId key: id of educationClass
 @param educationAssignmentId key: id of educationAssignment
 @return ApiEducationClassesAssignmentsCreateResourcesRequest
*/
func (a *EducationEducationClassApiService) EducationClassesAssignmentsCreateResources(ctx _context.Context, educationClassId string, educationAssignmentId string) ApiEducationClassesAssignmentsCreateResourcesRequest {
	return ApiEducationClassesAssignmentsCreateResourcesRequest{
		ApiService: a,
		ctx: ctx,
		educationClassId: educationClassId,
		educationAssignmentId: educationAssignmentId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphEducationAssignmentResource
func (a *EducationEducationClassApiService) EducationClassesAssignmentsCreateResourcesExecute(r ApiEducationClassesAssignmentsCreateResourcesRequest) (MicrosoftGraphEducationAssignmentResource, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphEducationAssignmentResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationEducationClassApiService.EducationClassesAssignmentsCreateResources")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/resources"
	localVarPath = strings.Replace(localVarPath, "{"+"educationClass-id"+"}", _neturl.PathEscape(parameterToString(r.educationClassId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.educationAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphEducationAssignmentResource == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphEducationAssignmentResource is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphEducationAssignmentResource
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEducationClassesAssignmentsCreateSubmissionsRequest struct {
	ctx _context.Context
	ApiService *EducationEducationClassApiService
	educationClassId string
	educationAssignmentId string
	microsoftGraphEducationSubmission *MicrosoftGraphEducationSubmission
}

// New navigation property
func (r ApiEducationClassesAssignmentsCreateSubmissionsRequest) MicrosoftGraphEducationSubmission(microsoftGraphEducationSubmission MicrosoftGraphEducationSubmission) ApiEducationClassesAssignmentsCreateSubmissionsRequest {
	r.microsoftGraphEducationSubmission = &microsoftGraphEducationSubmission
	return r
}

func (r ApiEducationClassesAssignmentsCreateSubmissionsRequest) Execute() (MicrosoftGraphEducationSubmission, *_nethttp.Response, error) {
	return r.ApiService.EducationClassesAssignmentsCreateSubmissionsExecute(r)
}

/*
EducationClassesAssignmentsCreateSubmissions Create new navigation property to submissions for education

Once published, there is a submission object for each student representing their work and grade.  Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param educationClassId key: id of educationClass
 @param educationAssignmentId key: id of educationAssignment
 @return ApiEducationClassesAssignmentsCreateSubmissionsRequest
*/
func (a *EducationEducationClassApiService) EducationClassesAssignmentsCreateSubmissions(ctx _context.Context, educationClassId string, educationAssignmentId string) ApiEducationClassesAssignmentsCreateSubmissionsRequest {
	return ApiEducationClassesAssignmentsCreateSubmissionsRequest{
		ApiService: a,
		ctx: ctx,
		educationClassId: educationClassId,
		educationAssignmentId: educationAssignmentId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphEducationSubmission
func (a *EducationEducationClassApiService) EducationClassesAssignmentsCreateSubmissionsExecute(r ApiEducationClassesAssignmentsCreateSubmissionsRequest) (MicrosoftGraphEducationSubmission, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphEducationSubmission
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationEducationClassApiService.EducationClassesAssignmentsCreateSubmissions")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions"
	localVarPath = strings.Replace(localVarPath, "{"+"educationClass-id"+"}", _neturl.PathEscape(parameterToString(r.educationClassId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.educationAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphEducationSubmission == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphEducationSubmission is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphEducationSubmission
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEducationClassesAssignmentsDeleteCategoriesRequest struct {
	ctx _context.Context
	ApiService *EducationEducationClassApiService
	educationClassId string
	educationAssignmentId string
	educationCategoryId string
	ifMatch *string
}

// ETag
func (r ApiEducationClassesAssignmentsDeleteCategoriesRequest) IfMatch(ifMatch string) ApiEducationClassesAssignmentsDeleteCategoriesRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiEducationClassesAssignmentsDeleteCategoriesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.EducationClassesAssignmentsDeleteCategoriesExecute(r)
}

/*
EducationClassesAssignmentsDeleteCategories Delete navigation property categories for education

When set, enables users to easily find assignments of a given type.  Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param educationClassId key: id of educationClass
 @param educationAssignmentId key: id of educationAssignment
 @param educationCategoryId key: id of educationCategory
 @return ApiEducationClassesAssignmentsDeleteCategoriesRequest
*/
func (a *EducationEducationClassApiService) EducationClassesAssignmentsDeleteCategories(ctx _context.Context, educationClassId string, educationAssignmentId string, educationCategoryId string) ApiEducationClassesAssignmentsDeleteCategoriesRequest {
	return ApiEducationClassesAssignmentsDeleteCategoriesRequest{
		ApiService: a,
		ctx: ctx,
		educationClassId: educationClassId,
		educationAssignmentId: educationAssignmentId,
		educationCategoryId: educationCategoryId,
	}
}

// Execute executes the request
func (a *EducationEducationClassApiService) EducationClassesAssignmentsDeleteCategoriesExecute(r ApiEducationClassesAssignmentsDeleteCategoriesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationEducationClassApiService.EducationClassesAssignmentsDeleteCategories")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/categories/{educationCategory-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"educationClass-id"+"}", _neturl.PathEscape(parameterToString(r.educationClassId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.educationAssignmentId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationCategory-id"+"}", _neturl.PathEscape(parameterToString(r.educationCategoryId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEducationClassesAssignmentsDeleteResourcesRequest struct {
	ctx _context.Context
	ApiService *EducationEducationClassApiService
	educationClassId string
	educationAssignmentId string
	educationAssignmentResourceId string
	ifMatch *string
}

// ETag
func (r ApiEducationClassesAssignmentsDeleteResourcesRequest) IfMatch(ifMatch string) ApiEducationClassesAssignmentsDeleteResourcesRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiEducationClassesAssignmentsDeleteResourcesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.EducationClassesAssignmentsDeleteResourcesExecute(r)
}

/*
EducationClassesAssignmentsDeleteResources Delete navigation property resources for education

Learning objects that are associated with this assignment.  Only teachers can modify this list. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param educationClassId key: id of educationClass
 @param educationAssignmentId key: id of educationAssignment
 @param educationAssignmentResourceId key: id of educationAssignmentResource
 @return ApiEducationClassesAssignmentsDeleteResourcesRequest
*/
func (a *EducationEducationClassApiService) EducationClassesAssignmentsDeleteResources(ctx _context.Context, educationClassId string, educationAssignmentId string, educationAssignmentResourceId string) ApiEducationClassesAssignmentsDeleteResourcesRequest {
	return ApiEducationClassesAssignmentsDeleteResourcesRequest{
		ApiService: a,
		ctx: ctx,
		educationClassId: educationClassId,
		educationAssignmentId: educationAssignmentId,
		educationAssignmentResourceId: educationAssignmentResourceId,
	}
}

// Execute executes the request
func (a *EducationEducationClassApiService) EducationClassesAssignmentsDeleteResourcesExecute(r ApiEducationClassesAssignmentsDeleteResourcesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationEducationClassApiService.EducationClassesAssignmentsDeleteResources")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/resources/{educationAssignmentResource-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"educationClass-id"+"}", _neturl.PathEscape(parameterToString(r.educationClassId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.educationAssignmentId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationAssignmentResource-id"+"}", _neturl.PathEscape(parameterToString(r.educationAssignmentResourceId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEducationClassesAssignmentsDeleteRubricRequest struct {
	ctx _context.Context
	ApiService *EducationEducationClassApiService
	educationClassId string
	educationAssignmentId string
	ifMatch *string
}

// ETag
func (r ApiEducationClassesAssignmentsDeleteRubricRequest) IfMatch(ifMatch string) ApiEducationClassesAssignmentsDeleteRubricRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiEducationClassesAssignmentsDeleteRubricRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.EducationClassesAssignmentsDeleteRubricExecute(r)
}

/*
EducationClassesAssignmentsDeleteRubric Delete navigation property rubric for education

When set, the grading rubric attached to this assignment.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param educationClassId key: id of educationClass
 @param educationAssignmentId key: id of educationAssignment
 @return ApiEducationClassesAssignmentsDeleteRubricRequest
*/
func (a *EducationEducationClassApiService) EducationClassesAssignmentsDeleteRubric(ctx _context.Context, educationClassId string, educationAssignmentId string) ApiEducationClassesAssignmentsDeleteRubricRequest {
	return ApiEducationClassesAssignmentsDeleteRubricRequest{
		ApiService: a,
		ctx: ctx,
		educationClassId: educationClassId,
		educationAssignmentId: educationAssignmentId,
	}
}

// Execute executes the request
func (a *EducationEducationClassApiService) EducationClassesAssignmentsDeleteRubricExecute(r ApiEducationClassesAssignmentsDeleteRubricRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationEducationClassApiService.EducationClassesAssignmentsDeleteRubric")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/rubric"
	localVarPath = strings.Replace(localVarPath, "{"+"educationClass-id"+"}", _neturl.PathEscape(parameterToString(r.educationClassId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.educationAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEducationClassesAssignmentsDeleteSubmissionsRequest struct {
	ctx _context.Context
	ApiService *EducationEducationClassApiService
	educationClassId string
	educationAssignmentId string
	educationSubmissionId string
	ifMatch *string
}

// ETag
func (r ApiEducationClassesAssignmentsDeleteSubmissionsRequest) IfMatch(ifMatch string) ApiEducationClassesAssignmentsDeleteSubmissionsRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiEducationClassesAssignmentsDeleteSubmissionsRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.EducationClassesAssignmentsDeleteSubmissionsExecute(r)
}

/*
EducationClassesAssignmentsDeleteSubmissions Delete navigation property submissions for education

Once published, there is a submission object for each student representing their work and grade.  Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param educationClassId key: id of educationClass
 @param educationAssignmentId key: id of educationAssignment
 @param educationSubmissionId key: id of educationSubmission
 @return ApiEducationClassesAssignmentsDeleteSubmissionsRequest
*/
func (a *EducationEducationClassApiService) EducationClassesAssignmentsDeleteSubmissions(ctx _context.Context, educationClassId string, educationAssignmentId string, educationSubmissionId string) ApiEducationClassesAssignmentsDeleteSubmissionsRequest {
	return ApiEducationClassesAssignmentsDeleteSubmissionsRequest{
		ApiService: a,
		ctx: ctx,
		educationClassId: educationClassId,
		educationAssignmentId: educationAssignmentId,
		educationSubmissionId: educationSubmissionId,
	}
}

// Execute executes the request
func (a *EducationEducationClassApiService) EducationClassesAssignmentsDeleteSubmissionsExecute(r ApiEducationClassesAssignmentsDeleteSubmissionsRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationEducationClassApiService.EducationClassesAssignmentsDeleteSubmissions")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions/{educationSubmission-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"educationClass-id"+"}", _neturl.PathEscape(parameterToString(r.educationClassId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.educationAssignmentId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationSubmission-id"+"}", _neturl.PathEscape(parameterToString(r.educationSubmissionId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ifMatch != nil {
		localVarHeaderParams["If-Match"] = parameterToString(*r.ifMatch, "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEducationClassesAssignmentsGetCategoriesRequest struct {
	ctx _context.Context
	ApiService *EducationEducationClassApiService
	educationClassId string
	educationAssignmentId string
	educationCategoryId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiEducationClassesAssignmentsGetCategoriesRequest) Select_(select_ []string) ApiEducationClassesAssignmentsGetCategoriesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiEducationClassesAssignmentsGetCategoriesRequest) Expand(expand []string) ApiEducationClassesAssignmentsGetCategoriesRequest {
	r.expand = &expand
	return r
}

func (r ApiEducationClassesAssignmentsGetCategoriesRequest) Execute() (MicrosoftGraphEducationCategory, *_nethttp.Response, error) {
	return r.ApiService.EducationClassesAssignmentsGetCategoriesExecute(r)
}

/*
EducationClassesAssignmentsGetCategories Get categories from education

When set, enables users to easily find assignments of a given type.  Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param educationClassId key: id of educationClass
 @param educationAssignmentId key: id of educationAssignment
 @param educationCategoryId key: id of educationCategory
 @return ApiEducationClassesAssignmentsGetCategoriesRequest
*/
func (a *EducationEducationClassApiService) EducationClassesAssignmentsGetCategories(ctx _context.Context, educationClassId string, educationAssignmentId string, educationCategoryId string) ApiEducationClassesAssignmentsGetCategoriesRequest {
	return ApiEducationClassesAssignmentsGetCategoriesRequest{
		ApiService: a,
		ctx: ctx,
		educationClassId: educationClassId,
		educationAssignmentId: educationAssignmentId,
		educationCategoryId: educationCategoryId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphEducationCategory
func (a *EducationEducationClassApiService) EducationClassesAssignmentsGetCategoriesExecute(r ApiEducationClassesAssignmentsGetCategoriesRequest) (MicrosoftGraphEducationCategory, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphEducationCategory
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationEducationClassApiService.EducationClassesAssignmentsGetCategories")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/categories/{educationCategory-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"educationClass-id"+"}", _neturl.PathEscape(parameterToString(r.educationClassId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.educationAssignmentId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationCategory-id"+"}", _neturl.PathEscape(parameterToString(r.educationCategoryId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEducationClassesAssignmentsGetResourcesRequest struct {
	ctx _context.Context
	ApiService *EducationEducationClassApiService
	educationClassId string
	educationAssignmentId string
	educationAssignmentResourceId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiEducationClassesAssignmentsGetResourcesRequest) Select_(select_ []string) ApiEducationClassesAssignmentsGetResourcesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiEducationClassesAssignmentsGetResourcesRequest) Expand(expand []string) ApiEducationClassesAssignmentsGetResourcesRequest {
	r.expand = &expand
	return r
}

func (r ApiEducationClassesAssignmentsGetResourcesRequest) Execute() (MicrosoftGraphEducationAssignmentResource, *_nethttp.Response, error) {
	return r.ApiService.EducationClassesAssignmentsGetResourcesExecute(r)
}

/*
EducationClassesAssignmentsGetResources Get resources from education

Learning objects that are associated with this assignment.  Only teachers can modify this list. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param educationClassId key: id of educationClass
 @param educationAssignmentId key: id of educationAssignment
 @param educationAssignmentResourceId key: id of educationAssignmentResource
 @return ApiEducationClassesAssignmentsGetResourcesRequest
*/
func (a *EducationEducationClassApiService) EducationClassesAssignmentsGetResources(ctx _context.Context, educationClassId string, educationAssignmentId string, educationAssignmentResourceId string) ApiEducationClassesAssignmentsGetResourcesRequest {
	return ApiEducationClassesAssignmentsGetResourcesRequest{
		ApiService: a,
		ctx: ctx,
		educationClassId: educationClassId,
		educationAssignmentId: educationAssignmentId,
		educationAssignmentResourceId: educationAssignmentResourceId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphEducationAssignmentResource
func (a *EducationEducationClassApiService) EducationClassesAssignmentsGetResourcesExecute(r ApiEducationClassesAssignmentsGetResourcesRequest) (MicrosoftGraphEducationAssignmentResource, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphEducationAssignmentResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationEducationClassApiService.EducationClassesAssignmentsGetResources")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/resources/{educationAssignmentResource-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"educationClass-id"+"}", _neturl.PathEscape(parameterToString(r.educationClassId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.educationAssignmentId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationAssignmentResource-id"+"}", _neturl.PathEscape(parameterToString(r.educationAssignmentResourceId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEducationClassesAssignmentsGetRubricRequest struct {
	ctx _context.Context
	ApiService *EducationEducationClassApiService
	educationClassId string
	educationAssignmentId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiEducationClassesAssignmentsGetRubricRequest) Select_(select_ []string) ApiEducationClassesAssignmentsGetRubricRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiEducationClassesAssignmentsGetRubricRequest) Expand(expand []string) ApiEducationClassesAssignmentsGetRubricRequest {
	r.expand = &expand
	return r
}

func (r ApiEducationClassesAssignmentsGetRubricRequest) Execute() (MicrosoftGraphEducationRubric, *_nethttp.Response, error) {
	return r.ApiService.EducationClassesAssignmentsGetRubricExecute(r)
}

/*
EducationClassesAssignmentsGetRubric Get rubric from education

When set, the grading rubric attached to this assignment.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param educationClassId key: id of educationClass
 @param educationAssignmentId key: id of educationAssignment
 @return ApiEducationClassesAssignmentsGetRubricRequest
*/
func (a *EducationEducationClassApiService) EducationClassesAssignmentsGetRubric(ctx _context.Context, educationClassId string, educationAssignmentId string) ApiEducationClassesAssignmentsGetRubricRequest {
	return ApiEducationClassesAssignmentsGetRubricRequest{
		ApiService: a,
		ctx: ctx,
		educationClassId: educationClassId,
		educationAssignmentId: educationAssignmentId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphEducationRubric
func (a *EducationEducationClassApiService) EducationClassesAssignmentsGetRubricExecute(r ApiEducationClassesAssignmentsGetRubricRequest) (MicrosoftGraphEducationRubric, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphEducationRubric
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationEducationClassApiService.EducationClassesAssignmentsGetRubric")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/rubric"
	localVarPath = strings.Replace(localVarPath, "{"+"educationClass-id"+"}", _neturl.PathEscape(parameterToString(r.educationClassId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.educationAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEducationClassesAssignmentsGetSubmissionsRequest struct {
	ctx _context.Context
	ApiService *EducationEducationClassApiService
	educationClassId string
	educationAssignmentId string
	educationSubmissionId string
	select_ *[]string
	expand *[]string
}

// Select properties to be returned
func (r ApiEducationClassesAssignmentsGetSubmissionsRequest) Select_(select_ []string) ApiEducationClassesAssignmentsGetSubmissionsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiEducationClassesAssignmentsGetSubmissionsRequest) Expand(expand []string) ApiEducationClassesAssignmentsGetSubmissionsRequest {
	r.expand = &expand
	return r
}

func (r ApiEducationClassesAssignmentsGetSubmissionsRequest) Execute() (MicrosoftGraphEducationSubmission, *_nethttp.Response, error) {
	return r.ApiService.EducationClassesAssignmentsGetSubmissionsExecute(r)
}

/*
EducationClassesAssignmentsGetSubmissions Get submissions from education

Once published, there is a submission object for each student representing their work and grade.  Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param educationClassId key: id of educationClass
 @param educationAssignmentId key: id of educationAssignment
 @param educationSubmissionId key: id of educationSubmission
 @return ApiEducationClassesAssignmentsGetSubmissionsRequest
*/
func (a *EducationEducationClassApiService) EducationClassesAssignmentsGetSubmissions(ctx _context.Context, educationClassId string, educationAssignmentId string, educationSubmissionId string) ApiEducationClassesAssignmentsGetSubmissionsRequest {
	return ApiEducationClassesAssignmentsGetSubmissionsRequest{
		ApiService: a,
		ctx: ctx,
		educationClassId: educationClassId,
		educationAssignmentId: educationAssignmentId,
		educationSubmissionId: educationSubmissionId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphEducationSubmission
func (a *EducationEducationClassApiService) EducationClassesAssignmentsGetSubmissionsExecute(r ApiEducationClassesAssignmentsGetSubmissionsRequest) (MicrosoftGraphEducationSubmission, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphEducationSubmission
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationEducationClassApiService.EducationClassesAssignmentsGetSubmissions")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions/{educationSubmission-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"educationClass-id"+"}", _neturl.PathEscape(parameterToString(r.educationClassId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.educationAssignmentId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationSubmission-id"+"}", _neturl.PathEscape(parameterToString(r.educationSubmissionId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEducationClassesAssignmentsListCategoriesRequest struct {
	ctx _context.Context
	ApiService *EducationEducationClassApiService
	educationClassId string
	educationAssignmentId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiEducationClassesAssignmentsListCategoriesRequest) Top(top int32) ApiEducationClassesAssignmentsListCategoriesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiEducationClassesAssignmentsListCategoriesRequest) Skip(skip int32) ApiEducationClassesAssignmentsListCategoriesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiEducationClassesAssignmentsListCategoriesRequest) Search(search string) ApiEducationClassesAssignmentsListCategoriesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiEducationClassesAssignmentsListCategoriesRequest) Filter(filter string) ApiEducationClassesAssignmentsListCategoriesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiEducationClassesAssignmentsListCategoriesRequest) Count(count bool) ApiEducationClassesAssignmentsListCategoriesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiEducationClassesAssignmentsListCategoriesRequest) Orderby(orderby []string) ApiEducationClassesAssignmentsListCategoriesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiEducationClassesAssignmentsListCategoriesRequest) Select_(select_ []string) ApiEducationClassesAssignmentsListCategoriesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiEducationClassesAssignmentsListCategoriesRequest) Expand(expand []string) ApiEducationClassesAssignmentsListCategoriesRequest {
	r.expand = &expand
	return r
}

func (r ApiEducationClassesAssignmentsListCategoriesRequest) Execute() (CollectionOfEducationCategory, *_nethttp.Response, error) {
	return r.ApiService.EducationClassesAssignmentsListCategoriesExecute(r)
}

/*
EducationClassesAssignmentsListCategories Get categories from education

When set, enables users to easily find assignments of a given type.  Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param educationClassId key: id of educationClass
 @param educationAssignmentId key: id of educationAssignment
 @return ApiEducationClassesAssignmentsListCategoriesRequest
*/
func (a *EducationEducationClassApiService) EducationClassesAssignmentsListCategories(ctx _context.Context, educationClassId string, educationAssignmentId string) ApiEducationClassesAssignmentsListCategoriesRequest {
	return ApiEducationClassesAssignmentsListCategoriesRequest{
		ApiService: a,
		ctx: ctx,
		educationClassId: educationClassId,
		educationAssignmentId: educationAssignmentId,
	}
}

// Execute executes the request
//  @return CollectionOfEducationCategory
func (a *EducationEducationClassApiService) EducationClassesAssignmentsListCategoriesExecute(r ApiEducationClassesAssignmentsListCategoriesRequest) (CollectionOfEducationCategory, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfEducationCategory
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationEducationClassApiService.EducationClassesAssignmentsListCategories")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/categories"
	localVarPath = strings.Replace(localVarPath, "{"+"educationClass-id"+"}", _neturl.PathEscape(parameterToString(r.educationClassId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.educationAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEducationClassesAssignmentsListResourcesRequest struct {
	ctx _context.Context
	ApiService *EducationEducationClassApiService
	educationClassId string
	educationAssignmentId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiEducationClassesAssignmentsListResourcesRequest) Top(top int32) ApiEducationClassesAssignmentsListResourcesRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiEducationClassesAssignmentsListResourcesRequest) Skip(skip int32) ApiEducationClassesAssignmentsListResourcesRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiEducationClassesAssignmentsListResourcesRequest) Search(search string) ApiEducationClassesAssignmentsListResourcesRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiEducationClassesAssignmentsListResourcesRequest) Filter(filter string) ApiEducationClassesAssignmentsListResourcesRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiEducationClassesAssignmentsListResourcesRequest) Count(count bool) ApiEducationClassesAssignmentsListResourcesRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiEducationClassesAssignmentsListResourcesRequest) Orderby(orderby []string) ApiEducationClassesAssignmentsListResourcesRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiEducationClassesAssignmentsListResourcesRequest) Select_(select_ []string) ApiEducationClassesAssignmentsListResourcesRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiEducationClassesAssignmentsListResourcesRequest) Expand(expand []string) ApiEducationClassesAssignmentsListResourcesRequest {
	r.expand = &expand
	return r
}

func (r ApiEducationClassesAssignmentsListResourcesRequest) Execute() (CollectionOfEducationAssignmentResource, *_nethttp.Response, error) {
	return r.ApiService.EducationClassesAssignmentsListResourcesExecute(r)
}

/*
EducationClassesAssignmentsListResources Get resources from education

Learning objects that are associated with this assignment.  Only teachers can modify this list. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param educationClassId key: id of educationClass
 @param educationAssignmentId key: id of educationAssignment
 @return ApiEducationClassesAssignmentsListResourcesRequest
*/
func (a *EducationEducationClassApiService) EducationClassesAssignmentsListResources(ctx _context.Context, educationClassId string, educationAssignmentId string) ApiEducationClassesAssignmentsListResourcesRequest {
	return ApiEducationClassesAssignmentsListResourcesRequest{
		ApiService: a,
		ctx: ctx,
		educationClassId: educationClassId,
		educationAssignmentId: educationAssignmentId,
	}
}

// Execute executes the request
//  @return CollectionOfEducationAssignmentResource
func (a *EducationEducationClassApiService) EducationClassesAssignmentsListResourcesExecute(r ApiEducationClassesAssignmentsListResourcesRequest) (CollectionOfEducationAssignmentResource, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfEducationAssignmentResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationEducationClassApiService.EducationClassesAssignmentsListResources")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/resources"
	localVarPath = strings.Replace(localVarPath, "{"+"educationClass-id"+"}", _neturl.PathEscape(parameterToString(r.educationClassId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.educationAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEducationClassesAssignmentsListSubmissionsRequest struct {
	ctx _context.Context
	ApiService *EducationEducationClassApiService
	educationClassId string
	educationAssignmentId string
	top *int32
	skip *int32
	search *string
	filter *string
	count *bool
	orderby *[]string
	select_ *[]string
	expand *[]string
}

// Show only the first n items
func (r ApiEducationClassesAssignmentsListSubmissionsRequest) Top(top int32) ApiEducationClassesAssignmentsListSubmissionsRequest {
	r.top = &top
	return r
}
// Skip the first n items
func (r ApiEducationClassesAssignmentsListSubmissionsRequest) Skip(skip int32) ApiEducationClassesAssignmentsListSubmissionsRequest {
	r.skip = &skip
	return r
}
// Search items by search phrases
func (r ApiEducationClassesAssignmentsListSubmissionsRequest) Search(search string) ApiEducationClassesAssignmentsListSubmissionsRequest {
	r.search = &search
	return r
}
// Filter items by property values
func (r ApiEducationClassesAssignmentsListSubmissionsRequest) Filter(filter string) ApiEducationClassesAssignmentsListSubmissionsRequest {
	r.filter = &filter
	return r
}
// Include count of items
func (r ApiEducationClassesAssignmentsListSubmissionsRequest) Count(count bool) ApiEducationClassesAssignmentsListSubmissionsRequest {
	r.count = &count
	return r
}
// Order items by property values
func (r ApiEducationClassesAssignmentsListSubmissionsRequest) Orderby(orderby []string) ApiEducationClassesAssignmentsListSubmissionsRequest {
	r.orderby = &orderby
	return r
}
// Select properties to be returned
func (r ApiEducationClassesAssignmentsListSubmissionsRequest) Select_(select_ []string) ApiEducationClassesAssignmentsListSubmissionsRequest {
	r.select_ = &select_
	return r
}
// Expand related entities
func (r ApiEducationClassesAssignmentsListSubmissionsRequest) Expand(expand []string) ApiEducationClassesAssignmentsListSubmissionsRequest {
	r.expand = &expand
	return r
}

func (r ApiEducationClassesAssignmentsListSubmissionsRequest) Execute() (CollectionOfEducationSubmission, *_nethttp.Response, error) {
	return r.ApiService.EducationClassesAssignmentsListSubmissionsExecute(r)
}

/*
EducationClassesAssignmentsListSubmissions Get submissions from education

Once published, there is a submission object for each student representing their work and grade.  Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param educationClassId key: id of educationClass
 @param educationAssignmentId key: id of educationAssignment
 @return ApiEducationClassesAssignmentsListSubmissionsRequest
*/
func (a *EducationEducationClassApiService) EducationClassesAssignmentsListSubmissions(ctx _context.Context, educationClassId string, educationAssignmentId string) ApiEducationClassesAssignmentsListSubmissionsRequest {
	return ApiEducationClassesAssignmentsListSubmissionsRequest{
		ApiService: a,
		ctx: ctx,
		educationClassId: educationClassId,
		educationAssignmentId: educationAssignmentId,
	}
}

// Execute executes the request
//  @return CollectionOfEducationSubmission
func (a *EducationEducationClassApiService) EducationClassesAssignmentsListSubmissionsExecute(r ApiEducationClassesAssignmentsListSubmissionsRequest) (CollectionOfEducationSubmission, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CollectionOfEducationSubmission
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationEducationClassApiService.EducationClassesAssignmentsListSubmissions")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions"
	localVarPath = strings.Replace(localVarPath, "{"+"educationClass-id"+"}", _neturl.PathEscape(parameterToString(r.educationClassId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.educationAssignmentId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.top != nil {
		localVarQueryParams.Add("$top", parameterToString(*r.top, ""))
	}
	if r.skip != nil {
		localVarQueryParams.Add("$skip", parameterToString(*r.skip, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("$search", parameterToString(*r.search, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("$filter", parameterToString(*r.filter, ""))
	}
	if r.count != nil {
		localVarQueryParams.Add("$count", parameterToString(*r.count, ""))
	}
	if r.orderby != nil {
		localVarQueryParams.Add("$orderby", parameterToString(*r.orderby, "csv"))
	}
	if r.select_ != nil {
		localVarQueryParams.Add("$select", parameterToString(*r.select_, "csv"))
	}
	if r.expand != nil {
		localVarQueryParams.Add("$expand", parameterToString(*r.expand, "csv"))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEducationClassesAssignmentsSubmissionsCreateOutcomesRequest struct {
	ctx _context.Context
	ApiService *EducationEducationClassApiService
	educationClassId string
	educationAssignmentId string
	educationSubmissionId string
	microsoftGraphEducationOutcome *MicrosoftGraphEducationOutcome
}

// New navigation property
func (r ApiEducationClassesAssignmentsSubmissionsCreateOutcomesRequest) MicrosoftGraphEducationOutcome(microsoftGraphEducationOutcome MicrosoftGraphEducationOutcome) ApiEducationClassesAssignmentsSubmissionsCreateOutcomesRequest {
	r.microsoftGraphEducationOutcome = &microsoftGraphEducationOutcome
	return r
}

func (r ApiEducationClassesAssignmentsSubmissionsCreateOutcomesRequest) Execute() (MicrosoftGraphEducationOutcome, *_nethttp.Response, error) {
	return r.ApiService.EducationClassesAssignmentsSubmissionsCreateOutcomesExecute(r)
}

/*
EducationClassesAssignmentsSubmissionsCreateOutcomes Create new navigation property to outcomes for education

Read-Write. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param educationClassId key: id of educationClass
 @param educationAssignmentId key: id of educationAssignment
 @param educationSubmissionId key: id of educationSubmission
 @return ApiEducationClassesAssignmentsSubmissionsCreateOutcomesRequest
*/
func (a *EducationEducationClassApiService) EducationClassesAssignmentsSubmissionsCreateOutcomes(ctx _context.Context, educationClassId string, educationAssignmentId string, educationSubmissionId string) ApiEducationClassesAssignmentsSubmissionsCreateOutcomesRequest {
	return ApiEducationClassesAssignmentsSubmissionsCreateOutcomesRequest{
		ApiService: a,
		ctx: ctx,
		educationClassId: educationClassId,
		educationAssignmentId: educationAssignmentId,
		educationSubmissionId: educationSubmissionId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphEducationOutcome
func (a *EducationEducationClassApiService) EducationClassesAssignmentsSubmissionsCreateOutcomesExecute(r ApiEducationClassesAssignmentsSubmissionsCreateOutcomesRequest) (MicrosoftGraphEducationOutcome, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphEducationOutcome
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationEducationClassApiService.EducationClassesAssignmentsSubmissionsCreateOutcomes")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions/{educationSubmission-id}/outcomes"
	localVarPath = strings.Replace(localVarPath, "{"+"educationClass-id"+"}", _neturl.PathEscape(parameterToString(r.educationClassId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.educationAssignmentId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationSubmission-id"+"}", _neturl.PathEscape(parameterToString(r.educationSubmissionId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphEducationOutcome == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphEducationOutcome is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphEducationOutcome
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEducationClassesAssignmentsSubmissionsCreateResourcesRequest struct {
	ctx _context.Context
	ApiService *EducationEducationClassApiService
	educationClassId string
	educationAssignmentId string
	educationSubmissionId string
	microsoftGraphEducationSubmissionResource *MicrosoftGraphEducationSubmissionResource
}

// New navigation property
func (r ApiEducationClassesAssignmentsSubmissionsCreateResourcesRequest) MicrosoftGraphEducationSubmissionResource(microsoftGraphEducationSubmissionResource MicrosoftGraphEducationSubmissionResource) ApiEducationClassesAssignmentsSubmissionsCreateResourcesRequest {
	r.microsoftGraphEducationSubmissionResource = &microsoftGraphEducationSubmissionResource
	return r
}

func (r ApiEducationClassesAssignmentsSubmissionsCreateResourcesRequest) Execute() (MicrosoftGraphEducationSubmissionResource, *_nethttp.Response, error) {
	return r.ApiService.EducationClassesAssignmentsSubmissionsCreateResourcesExecute(r)
}

/*
EducationClassesAssignmentsSubmissionsCreateResources Create new navigation property to resources for education

Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param educationClassId key: id of educationClass
 @param educationAssignmentId key: id of educationAssignment
 @param educationSubmissionId key: id of educationSubmission
 @return ApiEducationClassesAssignmentsSubmissionsCreateResourcesRequest
*/
func (a *EducationEducationClassApiService) EducationClassesAssignmentsSubmissionsCreateResources(ctx _context.Context, educationClassId string, educationAssignmentId string, educationSubmissionId string) ApiEducationClassesAssignmentsSubmissionsCreateResourcesRequest {
	return ApiEducationClassesAssignmentsSubmissionsCreateResourcesRequest{
		ApiService: a,
		ctx: ctx,
		educationClassId: educationClassId,
		educationAssignmentId: educationAssignmentId,
		educationSubmissionId: educationSubmissionId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphEducationSubmissionResource
func (a *EducationEducationClassApiService) EducationClassesAssignmentsSubmissionsCreateResourcesExecute(r ApiEducationClassesAssignmentsSubmissionsCreateResourcesRequest) (MicrosoftGraphEducationSubmissionResource, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphEducationSubmissionResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationEducationClassApiService.EducationClassesAssignmentsSubmissionsCreateResources")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions/{educationSubmission-id}/resources"
	localVarPath = strings.Replace(localVarPath, "{"+"educationClass-id"+"}", _neturl.PathEscape(parameterToString(r.educationClassId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.educationAssignmentId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationSubmission-id"+"}", _neturl.PathEscape(parameterToString(r.educationSubmissionId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphEducationSubmissionResource == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphEducationSubmissionResource is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphEducationSubmissionResource
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEducationClassesAssignmentsSubmissionsCreateSubmittedResourcesRequest struct {
	ctx _context.Context
	ApiService *EducationEducationClassApiService
	educationClassId string
	educationAssignmentId string
	educationSubmissionId string
	microsoftGraphEducationSubmissionResource *MicrosoftGraphEducationSubmissionResource
}

// New navigation property
func (r ApiEducationClassesAssignmentsSubmissionsCreateSubmittedResourcesRequest) MicrosoftGraphEducationSubmissionResource(microsoftGraphEducationSubmissionResource MicrosoftGraphEducationSubmissionResource) ApiEducationClassesAssignmentsSubmissionsCreateSubmittedResourcesRequest {
	r.microsoftGraphEducationSubmissionResource = &microsoftGraphEducationSubmissionResource
	return r
}

func (r ApiEducationClassesAssignmentsSubmissionsCreateSubmittedResourcesRequest) Execute() (MicrosoftGraphEducationSubmissionResource, *_nethttp.Response, error) {
	return r.ApiService.EducationClassesAssignmentsSubmissionsCreateSubmittedResourcesExecute(r)
}

/*
EducationClassesAssignmentsSubmissionsCreateSubmittedResources Create new navigation property to submittedResources for education

Read-only. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param educationClassId key: id of educationClass
 @param educationAssignmentId key: id of educationAssignment
 @param educationSubmissionId key: id of educationSubmission
 @return ApiEducationClassesAssignmentsSubmissionsCreateSubmittedResourcesRequest
*/
func (a *EducationEducationClassApiService) EducationClassesAssignmentsSubmissionsCreateSubmittedResources(ctx _context.Context, educationClassId string, educationAssignmentId string, educationSubmissionId string) ApiEducationClassesAssignmentsSubmissionsCreateSubmittedResourcesRequest {
	return ApiEducationClassesAssignmentsSubmissionsCreateSubmittedResourcesRequest{
		ApiService: a,
		ctx: ctx,
		educationClassId: educationClassId,
		educationAssignmentId: educationAssignmentId,
		educationSubmissionId: educationSubmissionId,
	}
}

// Execute executes the request
//  @return MicrosoftGraphEducationSubmissionResource
func (a *EducationEducationClassApiService) EducationClassesAssignmentsSubmissionsCreateSubmittedResourcesExecute(r ApiEducationClassesAssignmentsSubmissionsCreateSubmittedResourcesRequest) (MicrosoftGraphEducationSubmissionResource, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  MicrosoftGraphEducationSubmissionResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationEducationClassApiService.EducationClassesAssignmentsSubmissionsCreateSubmittedResources")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions/{educationSubmission-id}/submittedResources"
	localVarPath = strings.Replace(localVarPath, "{"+"educationClass-id"+"}", _neturl.PathEscape(parameterToString(r.educationClassId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationAssignment-id"+"}", _neturl.PathEscape(parameterToString(r.educationAssignmentId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"educationSubmission-id"+"}", _neturl.PathEscape(parameterToString(r.educationSubmissionId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.microsoftGraphEducationSubmissionResource == nil {
		return localVarReturnValue, nil, reportError("microsoftGraphEducationSubmissionResource is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.microsoftGraphEducationSubmissionResource
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v OdataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEducationClassesAssignmentsSubmissionsDeleteOutcomesRequest struct {
	ctx _context.Context
	ApiService *EducationEducationClassApiService
	educationClassId string
	educationAssignmentId string
	educationSubmissionId string
	educationOutcomeId string
	ifMatch *string
}

// ETag
func (r ApiEducationClassesAssignmentsSubmissionsDeleteOutcomesRequest) IfMatch(ifMatch string) ApiEducationClassesAssignmentsSubmissionsDeleteOutcomesRequest {
	r.ifMatch = &ifMatch
	return r
}

func (r ApiEducationClassesAssignmentsSubmissionsDeleteOutcomesRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.EducationClassesAssignmentsSubmissionsDeleteOutcomesExecute(r)
}

/*
EducationClassesAssignmentsSubmissionsDeleteOutcomes Delete navigation property outcomes for education

Read-Write. Nullable.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param educationClassId key: id of educationClass
 @param educationAssignmentId key: id of educationAssignment
 @param educationSubmissionId key: id of educationSubmission
 @param educationOutcomeId key: id of educationOutcome
 @return ApiEducationClassesAssignmentsSubmissionsDeleteOutcomesRequest
*/
func (a *EducationEducationClassApiService) EducationClassesAssignmentsSubmissionsDeleteOutcomes(ctx _context.Context, educationClassId string, educationAssignmentId string, educationSubmissionId string, educationOutcomeId string) ApiEducationClassesAssignmentsSubmissionsDeleteOutcomesRequest {
	return ApiEducationClassesAssignmentsSubmissionsDeleteOutcomesRequest{
		ApiService: a,
		ctx: ctx,
		educationClassId: educationClassId,
		educationAssignmentId: educationAssignmentId,
		educationSubmissionId: educationSubmissionId,
		educationOutcomeId: educationOutcomeId,
	}
}

// Execute executes the request
func (a *EducationEducationClassApiService) EducationClassesAssignmentsSubmissionsDeleteOutcomesExecute(r ApiEducationClassesAssignmentsSubmissionsDeleteOutcomesRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EducationEducationClassApiService.EducationClassesAssignmentsSubmissionsDeleteOutcomes")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/education/classes/{educationClass-id}/assignments/{educationAssignment-id}/submissions/{educationSubmission-id}/outcomes/{educationOutcome-id}"
	localVarPath = strings.Replace(localVarPath, "{"+"educationClass-id"+"}", _neturl.PathEscape(parameterToString(r.educationClassId, "")), -1)
[...]
